workflows/02. Email Lead Managment v1.json
{
  "updatedAt": "2025-11-24T05:56:41.000Z",
  "createdAt": "2025-11-16T21:48:46.123Z",
  "id": "QxHJR6QuGk1QPXMT",
  "name": "02. Email Lead Managment v1",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        144
      ],
      "id": "9d047bf9-86ab-493c-a846-65d0efa7fe63",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Email Subject:  {{ $json.subject }}\nEmail Body: {{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Sliding Door Repair Lead – Optin Form",
              "description": "This email is a new lead enquiry submitted via the Sliding Door Repairs online opt-in form.\n\nTypical characteristics:\n\nFrom: info@windowrevival.com.au\nTo: windowrevival@gmail.com (or internal leads inbox)\nSubject: usually “Sliding Door Mobile” or “Sliding Door Desktop”\n\nLabels: \"3. Leads\" and \"3. Leads/3.2 SDR\"\n\nThe email body is structured and contains clearly labelled fields, such as:\n\nFirst Name\nLast Name\nEmail\nPhone Number\nSuburb and State\nEnquiry or “Enquiry details”\nI’d Like To Get My Project Underway (timeframe)\nHow did you hear about us\nQuantity\n\nUse this category when:\nThe email clearly form a submission, with labelled fields in a fixed layout, and\nThe enquiry relates to repairs or replacement of sliding doors or windows or other services (not a free-text email)."
            },
            {
              "category": "Windowrevival.NET ",
              "description": "This email is a new lead enquiry related to sliding door repairs.\nFrom: info@windowrevival.com.au\n\nSubject: Windowrevival.NET Desktop - Home Page, Windowrevival.NET Mobile - Home Page\n\nLabels: Leads, Leads/Winrev.net\n\nThe body contains typical customer lead information, including:\n\nFirst Name\nLast Name\nEmail\nPhone Number\nSuburb & State\nEnquiry details\n“I’d Like To Get My Project Underway” option\nHow they heard about us\nQuantity requested\n\nThis category should be applied when an email includes customer details and expresses interest in sliding door repair services."
            },
            {
              "category": "Winrev.com",
              "description": "This email is a new lead enquiry related to sliding door repairs.\nFrom: info@windowrevival.com.au\n\nSubject: WinRev Desktop, WinRev Mobile\n\n\nLabels: Leads, Leads/Winrev.com\n\nThe body contains typical customer lead information, including:\n\nFirst Name\nLast Name\nEmail\nPhone Number\nSuburb & State\nEnquiry details\n“I’d Like To Get My Project Underway” option\nDwelling Type\nNo of Windows\nNo Of Sliding Doors\nCurrent Colour\nComments/Questions:\nProduct Interest\nHow did yopu here about us\n\nThis category should be applied when an email includes customer details and expresses interest in sliding door repair services."
            },
            {
              "category": "Facebook Lead",
              "description": "This email is a new lead enquiry related to sliding door repairs.\nFrom: alerts-noreply@privyr.com\n\nSubject: New Lead **Name**\n\nLabels: Leads, Leads/Facebook\n\nThe body contains typical customer lead information, including:\n*Facebook Lead via Window Revival\n*Campaign: WR - Lead Gen\n*Adset: WR-LG-Open\n\nComments/Questions\nEmail\nFirst Name\nLast Name\nPhone Number\nPlease Select What You Want Fixing\nQuantity \nTime Frame For Repairs?\nWhich Suburb \n\nThis category should be applied when an email includes customer details and expresses interest in sliding door repair services."
            },
            {
              "category": "HiPages Lead",
              "description": "This email is a new lead enquiry related to sliding door repairs.\nFrom: support@mg.hipages.com.au\n\nSubject: **Leads Name**\n\nLabels: Leads, Leads/HIPages\n\nThe body contains typical customer lead information, including:\n*Facebook Lead via Window Revival\n*Campaign: WR - Lead Gen\n*Adset: WR-LG-Open\n\nName\nSuburb\nMobile Number\nEmail\n\nThis category should be applied when an email includes customer details and expresses interest in sliding door repair services."
            },
            {
              "category": "Repair Lead – Email Enquiry (Sliding / Window / Screen / Glass)",
              "description": "This category applies to direct email enquiries sent by a customer who is manually requesting help with repairs or replacement for:  Sliding doors  Sliding glass doors  Security doors / Crimsafe  Sliding aluminium windows  Window repair / leaks / seals / water ingress  Screen doors / screen repairs  Glass replacement or damaged glass  These emails are NOT from the web opt-in form. They are natural, conversational messages sent directly to a business inbox.  Typical characteristics of this category 1. Sender  Email comes from the customer, e.g.:  Grant Field <field.gr@gmail.com>  Anthony Herbert <anthonyherb@gmail.com>  Lisa <info@ldsvision.com.au>  Natalie <nholmes2@hotmail.com>  Robert Verhoef <robert.verhoef@jasonl.com.au>  2. Recipients  Commonly sent to:  sales@windowrevival.com.au  info@windowrevival.com.au  or any internal sales/team inbox.  3. Subjects commonly used  Customers write their own subjects, often containing words such as:  “Sliding Door Repairs”  “Sliding aluminium windows and door”  “Window seals measurements”  “Quote for fixing windows”  “Window repairs”  “Screen door repairs”  “Glass replacement”  Address-based subjects (e.g. “50 Ferry Road Southport”)  4. Body structure  The email body is free text, not structured. It usually contains:  Greeting: “Hi”, “Hi guys”, “Hi there”  Description of the problem  Examples from your real emails:  “I need someone to come and fix our sliding doors…”  “Security doors are out of alignment with the locks…”  “Sliding aluminium windows… a large door that needs repair…”  “Seals needing replacement…”  “Weep holes missing and have water ingress…”  “Attached photos…”  Customer location:  “We are located at Camp Hill.”  “60 Prospect St, Wynnum North QLD 4178”  “Located in Arundel”  or references to suburbs from Gold Coast / Brisbane.  Phone number in natural text:  “I can be contacted on 0400 950 319.”  “mob 0427 080 555”  “0434 292 434”  Customer name at the bottom:  “Regards, Grant Field”  “Kind regards, Anthony”  “Natalie Holmes”  5. Attachments  Customers may attach:  photos of doors/windows  measurements  track photos  screenshots  6. Intent  The customer is clearly asking for help, repairs, quotes, or inspection for:  sliding door issues  damaged or stiff windows  water ingress  broken locks  misaligned Crimsafe/security doors  seals needing replacement  track repairs  general glazing issues  When to choose this category  Use Repair Lead – Email Enquiry when ALL of these are true:  Email is not from the opt-in form  Email is written manually by a customer  Email describes a problem or repair request  Message relates to sliding doors, windows, screens, security doors, or glass  Do NOT choose this category when:  ❌ The email body contains form-style labelled fields:  “First Name:”  “Last Name:”  “Phone Number:”  “Quantity:” (this belongs in Sliding Door Repair Lead – Optin Form)  ❌ The email is about quotes unrelated to repairs (e.g., new installations) ❌ The email is fully automated or a marketing notification"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -384,
        144
      ],
      "id": "f1ba1bc8-34df-45ec-a898-b40b3b9c44bd",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -312,
        496
      ],
      "id": "d8c52741-4e83-49ad-b9e8-0cfcf2c5053d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "y50JkhvigpefblfD",
          "name": "WR: Google Gemini(PaLM) API Cccount"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0877a2a8-0862-4fec-abe3-6f5daeb23722",
              "name": "body",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        528
      ],
      "id": "ebbefc75-c309-4876-a481-a016570f1e0b",
      "name": "Set FB Email Text"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ",
          "mode": "list",
          "cachedResultName": "Leads Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "raw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.Timestamp }}",
            "Lead Type": "={{ $json[\"Lead Type\"] }}",
            "First Name": "={{ $json[\"First Name\"] }}",
            "Last Name": "={{ $json[\"Last Name\"] }}",
            "Mobile Number": "={{ $json[\"Mobile Number\"] }}",
            "Phone Number": "={{ $json[\"Phone Number\"] }}",
            "Email Address": "={{ $json[\"Email Address\"] }}",
            "Address": "={{ $json.Address }}",
            "State": "={{ $json.State }}",
            "Suburb": "={{ $json.Suburb }}",
            "Postal Code": "={{ $json[\"Postal Code\"] }}",
            "Enquiry": "={{ $json.Enquiry }}",
            "Quantity": "={{ $json.Quantity }}",
            "I’d Like To Get My Project Underway": "={{ $json[\"I’d Like To Get My Project Underway\"] }}",
            "How they heard about us": "={{ $json[\"How they heard about us\"] }}",
            "Id": "={{ $json.Id }}",
            "Lead Qualifier": "={{ $json['Lead Qualifier'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Type",
              "displayName": "Lead Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suburb",
              "displayName": "Suburb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Postal Code",
              "displayName": "Postal Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enquiry",
              "displayName": "Enquiry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I’d Like To Get My Project Underway",
              "displayName": "I’d Like To Get My Project Underway",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "How they heard about us",
              "displayName": "How they heard about us",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Qualifier",
              "displayName": "Lead Qualifier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        96
      ],
      "id": "e055da28-68ba-4c8c-909c-63f3cb8298e4",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4FmXrss6MgN5rzt",
          "name": "WR: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09TE5VASRJ",
          "mode": "list",
          "cachedResultName": "new-leads"
        },
        "text": "=Lead type: {{ $json['Lead Type'] }}\nTimestamp:{{ $json.Timestamp }}\nFirst Name: {{ $json['First Name'] }}\nLast Name: {{ $json['Last Name'] }}\nMobile Number: {{ $json['Mobile Number'] }}\nPhone Number: {{ $json['Phone Number'] }}\nEmail Address: {{ $json['Email Address'] }}\nAddress: {{ $json.Address }}\nState: {{ $json.State }}\nSuburb: {{ $json.Suburb }}\nPostal Code: {{ $json['Postal Code'] }}\nEnquiry: {{ $json.Enquiry }}\nQuantity: {{ $json.Quantity }}\nI'd Like to Get My Project Underway: {{ $json['I’d Like To Get My Project Underway'] }}\nHow they heard about us: {{ $json['How they heard about us'] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        640,
        -96
      ],
      "id": "fe970baf-a6cc-4c6b-b10a-0e105bf47ba5",
      "name": "Send a message",
      "webhookId": "09f9c0a5-4be0-488a-b0f5-3a95431fb01e",
      "credentials": {
        "slackOAuth2Api": {
          "id": "QijDqsPqSpMnEZMR",
          "name": "WR: Slack Send Acount"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4828cfc8-543b-4c02-8456-60015c8f680c",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "0877a2a8-0862-4fec-abe3-6f5daeb23722",
              "name": "body",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -96
      ],
      "id": "cdb6128d-3be7-4f35-886f-d9ee2850b1c2",
      "name": "Set Windowrevival.Net Lead"
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $json.Id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1088,
        0
      ],
      "id": "ecb86c62-3736-4baa-b927-a4ac77e13144",
      "name": "Delete spam message by id",
      "webhookId": "7ad9f1d7-afce-4b84-8e65-7ca8b2396ec1",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4828cfc8-543b-4c02-8456-60015c8f680c",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "0877a2a8-0862-4fec-abe3-6f5daeb23722",
              "name": "body",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -336
      ],
      "id": "aef75a01-bb36-4d51-b92c-39b75c79c167",
      "name": "Set Sliding Door Repair Lead"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0877a2a8-0862-4fec-abe3-6f5daeb23722",
              "name": "body",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        144
      ],
      "id": "e6dd54d5-f815-477b-8471-c345c4332ff6",
      "name": "Set HiPages "
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2229175-ff39-4804-85b4-bb4ab0905064",
              "leftValue": "={{ $json[\"Lead Qualifier\"] }}",
              "rightValue": "=Good",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        144
      ],
      "id": "0a944862-6b3e-411b-933a-4164b7d7d149",
      "name": "If HIpages is Good Lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2229175-ff39-4804-85b4-bb4ab0905064",
              "leftValue": "={{ $json[\"Lead Qualifier\"] }}",
              "rightValue": "=Good",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        -96
      ],
      "id": "81e9e79e-d834-4eca-8a8a-92f3c693e594",
      "name": "If WRnet is Good Lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2229175-ff39-4804-85b4-bb4ab0905064",
              "leftValue": "={{ $json[\"Lead Qualifier\"] }}",
              "rightValue": "=Good",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        -336
      ],
      "id": "9ebc84bf-0d52-49fe-9a36-c7e719b387e9",
      "name": "If SDR is a Good Lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2229175-ff39-4804-85b4-bb4ab0905064",
              "leftValue": "={{ $json[\"Lead Qualifier\"] }}",
              "rightValue": "=Good",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        528
      ],
      "id": "6ba1fc38-9136-458d-b5c5-cf66c0b0d553",
      "name": "If FB Lead is Good Lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2229175-ff39-4804-85b4-bb4ab0905064",
              "leftValue": "={{ $json['Lead Qualifier'] }}",
              "rightValue": "=Spam",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        0
      ],
      "id": "af6d1e05-dad3-49c4-b1b6-3e032c57d861",
      "name": "If Spam Lead"
    },
    {
      "parameters": {
        "jsCode": "// ---------- 1. Get input ----------\nconst messageId = $('Gmail Trigger').first().json.id || \"\";\nconst body = $input.first().json.body || \"\";\n\n// ---------- 2. Clean lines ----------\nconst rawLines = body.split('\\n');\n\n// Remove [image: ...] fragments from each line, trim, drop empty\nconst lines = rawLines\n  .map(l =>\n    l\n      .replace(/\\r/g, \"\")\n      .replace(/\\[image:[^\\]]*]/g, \"\") // remove [image: ...]\n      .trim()\n  )\n  .filter(l => l); // keep non-empty\n\n// Helper to clean values (strip leading/trailing \">\")\nfunction cleanValue(v) {\n  return (v || \"\")\n    .replace(/^\\s*>+\\s*/, \"\")   // leading >\n    .replace(/\\s*>+\\s*$/, \"\")   // trailing >\n    .trim();\n}\n\n// ---------- 3. Find contact block: name, address, phone, email ----------\n\nlet emailFromBlock = \"\";\nlet emailIndex = -1;\nfor (let i = 0; i < lines.length; i++) {\n  const m = lines[i].match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  if (m) {\n    emailFromBlock = cleanValue(m[0]);\n    emailIndex = i;\n    break;\n  }\n}\n\nlet phoneFromBlock = \"\";\nlet phoneIndex = -1;\nfor (let i = 0; i < lines.length; i++) {\n  const m = lines[i].match(/\\b0\\d{8,9}\\b/); // e.g. 0488080748\n  if (m) {\n    phoneFromBlock = cleanValue(m[0]);\n    phoneIndex = i;\n    break;\n  }\n}\n\nlet suburb = \"\";\nlet postalCode = \"\";\nlet addrIndex = -1;\nfor (let i = 0; i < lines.length; i++) {\n  // Example: \"Springwood, 4127\"\n  const m = lines[i].match(/^(.*?),\\s*(\\d{4})\\b/);\n  if (m) {\n    suburb = cleanValue(m[1]);\n    postalCode = cleanValue(m[2]);\n    addrIndex = i;\n    break;\n  }\n}\n\nlet fullName = \"\";\nif (addrIndex > 0) {\n  // Assume the line before the address is the name\n  fullName = cleanValue(lines[addrIndex - 1]);\n}\n\n// Split name into first / last\nlet firstName = \"\";\nlet lastName = \"\";\nif (fullName) {\n  const parts = fullName.split(/\\s+/);\n  firstName = parts[0] || \"\";\n  lastName = parts.slice(1).join(\" \") || \"\";\n}\n\n// ---------- 4. Colon-based parsing for job details ----------\nconst colonParsed = {};\n\nfor (const line of lines) {\n  const idx = line.indexOf(':');\n  if (idx === -1) continue;\n\n  const rawKey = line.slice(0, idx).trim();\n  const rawValue = line.slice(idx + 1).trim();\n\n  const key = rawKey\n    .toLowerCase()\n    .replace(/[?*]/g, '')\n    .replace(/[^a-z0-9]+(.)/g, (m, chr) => chr.toUpperCase());\n\n  colonParsed[key] = cleanValue(rawValue);\n}\n\n// Expected keys in this HiPages email:\nconst category       = colonParsed.category || \"\";                      // \"Handyman\"\nconst jobDescription = colonParsed.jobDescription || \"\";                // \"Handyman I need to repair...\"\nconst residential    = colonParsed.residentialOrCommercialJob || \"\";    // \"Residential\"\nconst typeOfWork     = colonParsed.typeOfWork || \"\";                    // \"Repairs\"\nconst amountOfWork   = colonParsed.amountOfWork || \"\";                  // \"A single project\"\n\n// ---------- 5. Build Enquiry field ----------\nconst enquiryParts = [];\nif (jobDescription) enquiryParts.push(jobDescription);\nif (category) enquiryParts.push(`Category: ${category}`);\nif (typeOfWork) enquiryParts.push(`Type of work: ${typeOfWork}`);\nif (amountOfWork) enquiryParts.push(`Amount of work: ${amountOfWork}`);\nif (residential) enquiryParts.push(`Job type: ${residential}`);\n\nconst enquiry = enquiryParts.join(\" | \");\n\n// ---------- 6. Phone handling (AU / QLD) ----------\nfunction formatAuLandline(num) {\n  const digits = num.replace(/\\D/g, '');\n  if (digits.startsWith('07') && digits.length === 10) {\n    return `07 ${digits.slice(2, 6)} ${digits.slice(6)}`;\n  }\n  return num;\n}\n\nlet mobileNumber = \"\";\nlet phoneNumber = \"\";\n\nif (phoneFromBlock) {\n  const compact = phoneFromBlock.replace(/\\s+/g, '');\n  if (compact.startsWith('+614') || compact.startsWith('04') || /^4\\d{8}$/.test(compact)) {\n    // Mobile\n    mobileNumber = phoneFromBlock;\n  } else if (compact.startsWith('07')) {\n    // Landline\n    phoneNumber = formatAuLandline(phoneFromBlock);\n  } else {\n    // Fallback: treat as mobile\n    mobileNumber = phoneFromBlock;\n  }\n}\n\n// ---------- 7. Spam / lead detection ----------\n\nfunction isWeirdName(name) {\n  if (!name) return false;\n\n  const hasDigits = /\\d/.test(name);\n  const cleaned = name.replace(/[^a-z]/gi, \"\");\n  if (cleaned.length < 8) {\n    // Short names are generally fine; only suspicious if they contain digits\n    return hasDigits;\n  }\n\n  const vowels = (cleaned.match(/[aeiou]/gi) || []).length;\n  const vowelRatio = vowels / cleaned.length;\n  const consonantRun = cleaned.match(/[^aeiou]{6,}/gi);\n\n  if (consonantRun) return true;\n  if (cleaned.length >= 12 && vowelRatio < 0.25) return true;\n\n  return hasDigits;\n}\n\nfunction isValidAuPhone(num) {\n  if (!num) return false;\n  const digits = num.replace(/\\D/g, \"\");\n\n  // Normal AU mobile: 04xxxxxxxx\n  if (/^04\\d{8}$/.test(digits)) return true;\n\n  // Some people drop the leading 0: 4xxxxxxxx\n  if (/^4\\d{8}$/.test(digits)) return true;\n\n  // QLD landline: 07xxxxxxxx\n  if (/^07\\d{8}$/.test(digits)) return true;\n\n  // International-style AU mobile: 614xxxxxxxx\n  if (/^614\\d{8}$/.test(digits)) return true;\n\n  return false;\n}\n\nconst spamName    = isWeirdName(firstName) || isWeirdName(lastName);\nconst mainPhone   = mobileNumber || phoneNumber || \"\";\nconst spamPhone   = mainPhone && !isValidAuPhone(mainPhone);\nconst spamEnquiry = !enquiry || enquiry.trim().length < 10;\n\n// Require at least TWO red flags to mark as spam\nlet spamScore = 0;\nif (spamName) spamScore += 1;\nif (spamPhone) spamScore += 1;\nif (spamEnquiry) spamScore += 1;\n\nconst leadIsSpam    = spamScore >= 2;\nconst leadQualifier = leadIsSpam ? \"Spam\" : \"Good\";\n\n// ---------- 8. Timestamp (Brisbane) -> Google Sheets friendly ----------\nlet timestamp;\ntry {\n  timestamp = $now\n    .setZone(\"Australia/Brisbane\")\n    .toFormat(\"yyyy-LL-dd HH:mm:ss\");\n} catch (e) {\n  const d = new Date();\n  const pad = (n) => String(n).padStart(2, '0');\n  timestamp =\n    `${d.getFullYear()}-${pad(d.getMonth() + 1)}-${pad(d.getDate())} ` +\n    `${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\n}\n\n// ---------- 9. Final mapped output ----------\nconst output = {\n  \"Id\": messageId,\n  \"Timestamp\": timestamp,\n  \"Lead Type\": \"HiPages Lead\",\n  \"First Name\": firstName,\n  \"Last Name\": lastName,\n  \"Mobile Number\": mobileNumber,\n  \"Phone Number\": phoneNumber,\n  \"Email Address\": emailFromBlock || \"\",\n  \"Address\": \"\",\n  \"State\": \"\",\n  \"Suburb\": suburb || \"\",\n  \"Postal Code\": postalCode || \"\",\n  \"Enquiry\": enquiry || \"\",\n  \"Quantity\": \"\",\n  \"I’d Like To Get My Project Underway\": \"\",\n  \"How they heard about us\": \"HiPages\",\n  \"Lead Qualifier\": leadQualifier\n};\n\nreturn [{ json: output }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        144
      ],
      "id": "2fab7a5f-cf8b-424c-bc2b-e5e3a1ee570c",
      "name": "HiLead Parsing"
    },
    {
      "parameters": {
        "jsCode": "const id = $('Gmail Trigger').first().json.id\n\n// ---------- 1. Get the email body ----------\nconst body = $input.first().json.body || \"\";\n\n// ---------- 2. Split into lines ----------\nconst lines = body.split('\\n');\n\n// ---------- 3. Helper to clean values (remove leading/trailing \">\" etc.) ----------\nfunction cleanValue(v) {\n  return (v || \"\")\n    .replace(/^\\s*>+\\s*/, \"\")  // leading >\n    .replace(/\\s*>+\\s*$/, \"\")  // trailing >\n    .trim();\n}\n\n// We'll also keep a \"cleanLines\" array for fallback matching\nconst cleanLines = lines.map(l =>\n  l.replace(/\\r/g, \"\")\n   .replace(/^\\s*>+\\s*/, \"\")  // remove leading >\n   .trim()\n);\n\n// ---------- 4. Parse \"Label: Value\" lines into a key/value object ----------\nconst parsed = {};\n\nfor (const rawLine of lines) {\n  const line = rawLine.trim();\n  if (!line.includes(':')) continue;\n\n  // Split only on the first \":\" to handle \"::\"\n  const [rawKey, rawValue = \"\"] = line.split(/:(.+)/);\n\n  const key = rawKey\n    .replace(/[?*]/g, '')        // remove ? and *\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z0-9]+(.)/g, (m, chr) => chr.toUpperCase());\n\n  const value = cleanValue(rawValue);\n\n  parsed[key] = value;\n}\n\n// ---------- 5. Fallback extraction for when there is NO \":\" ----------\nfunction fallbackFind(labelVariants) {\n  for (const raw of cleanLines) {\n    if (!raw) continue;\n    for (const label of labelVariants) {\n      const lowerLabel = label.toLowerCase();\n      const lowerLine = raw.toLowerCase();\n      if (lowerLine.startsWith(lowerLabel)) {\n        let val = raw.slice(label.length);\n        // strip common separators like \":\", \"-\", spaces\n        val = val.replace(/^[:\\-–\\s]+/, \"\");\n        return cleanValue(val);\n      }\n    }\n  }\n  return \"\";\n}\n\n// If colon-based parse missed things, fill them with fallback\nparsed.firstName = parsed.firstName || fallbackFind([\"First Name\", \"First name\"]);\nparsed.lastName = parsed.lastName || fallbackFind([\"Last Name\", \"Last name\"]);\nparsed.email = parsed.email || fallbackFind([\"Email\", \"E-mail\", \"Email address\", \"Email Address\"]);\nparsed.mobileNumber = parsed.mobileNumber || fallbackFind([\"Mobile Number\", \"Mobile\", \"Phone (mobile)\"]);\nparsed.phoneNumber = parsed.phoneNumber || fallbackFind([\"Phone Number\", \"Phone number\", \"Phone\", \"Phone (home)\"]);\nparsed.whichSuburb = parsed.whichSuburb || fallbackFind([\"Which suburb?\", \"Which suburb\"]);\nparsed.timeFrameForRepairs = parsed.timeFrameForRepairs || fallbackFind([\"Time frame for repairs?\", \"Time frame for repairs\"]);\nparsed.pleaseSelectWhatYouWantFixing =\n  parsed.pleaseSelectWhatYouWantFixing ||\n  fallbackFind([\"Please select what you want fixing:\", \"Please select what you want fixing\"]);\nparsed.commentsQuestions =\n  parsed.commentsQuestions ||\n  fallbackFind([\"Comments / Questions\", \"Comments/Questions\", \"Comments or Questions\"]);\nparsed.quantity = parsed.quantity || fallbackFind([\"Quantity\"]);\n\n// Clean up special ones\nif (parsed.pleaseSelectWhatYouWantFixing?.startsWith(':')) {\n  parsed.pleaseSelectWhatYouWantFixing =\n    parsed.pleaseSelectWhatYouWantFixing.slice(1).trim();\n}\n\n// ---------- 6. Build Enquiry field from multiple bits ----------\nconst enquiryParts = [];\nif (parsed.commentsQuestions) enquiryParts.push(parsed.commentsQuestions);\nif (parsed.pleaseSelectWhatYouWantFixing) enquiryParts.push(`Fixing: ${parsed.pleaseSelectWhatYouWantFixing}`);\nif (parsed.timeFrameForRepairs) enquiryParts.push(`Time frame: ${parsed.timeFrameForRepairs}`);\n\nconst enquiry = enquiryParts.join(' | ');\n\n// ---------- 7. MOBILE / PHONE LOGIC (QLD) ----------\n\nlet rawMobile = parsed.mobileNumber || \"\";\nlet rawPhone = parsed.phoneNumber || \"\";\n\n// Helper to format AU QLD landline: 0712121242 -> 07 1212 1242\nfunction formatAuLandline(num) {\n  const digits = num.replace(/\\D/g, '');\n  if (digits.startsWith('07') && digits.length === 10) {\n    return `07 ${digits.slice(2, 6)} ${digits.slice(6)}`;\n  }\n  return num;\n}\n\nlet mobileNumber = \"\";\nlet phoneNumber = \"\";\n\n// If we already have a dedicated mobile field, use it\nif (rawMobile) {\n  mobileNumber = rawMobile;\n}\n\n// Use phone field to decide where it belongs\nif (rawPhone) {\n  const compact = rawPhone.replace(/\\s+/g, '');\n  if (compact.startsWith('+614')) {\n    // Mobile\n    if (!mobileNumber) mobileNumber = rawPhone;\n  } else if (compact.startsWith('07')) {\n    // Landline\n    phoneNumber = formatAuLandline(rawPhone);\n  } else {\n    // Unknown pattern, default to mobile if empty\n    if (!mobileNumber) mobileNumber = rawPhone;\n  }\n}\n\n// ---------- 8. SPAM / LEAD DETECTION ----------\n\nfunction isWeirdName(name) {\n  if (!name) return false;\n\n  const hasDigits = /\\d/.test(name);\n  const cleaned = name.replace(/[^a-z]/gi, \"\");\n  if (cleaned.length < 8) {\n    // Short names are generally fine; only suspicious if they contain digits\n    return hasDigits;\n  }\n\n  const vowels = (cleaned.match(/[aeiou]/gi) || []).length;\n  const vowelRatio = vowels / cleaned.length;\n  const consonantRun = cleaned.match(/[^aeiou]{6,}/gi);\n\n  if (consonantRun) return true;\n  if (cleaned.length >= 12 && vowelRatio < 0.25) return true;\n\n  return hasDigits;\n}\n\nfunction isValidAuPhone(num) {\n  if (!num) return false;\n  const digits = num.replace(/\\D/g, \"\");\n\n  // Normal AU mobile: 04xxxxxxxx\n  if (/^04\\d{8}$/.test(digits)) return true;\n\n  // Some people drop the leading 0: 4xxxxxxxx\n  if (/^4\\d{8}$/.test(digits)) return true;\n\n  // QLD landline: 07xxxxxxxx\n  if (/^07\\d{8}$/.test(digits)) return true;\n\n  // International-style AU mobile: 614xxxxxxxx\n  if (/^614\\d{8}$/.test(digits)) return true;\n\n  return false;\n}\n\nconst firstName = parsed.firstName || \"\";\nconst lastName  = parsed.lastName || \"\";\n\nconst spamName    = isWeirdName(firstName) || isWeirdName(lastName);\nconst mainPhone   = mobileNumber || phoneNumber || \"\";\nconst spamPhone   = mainPhone && !isValidAuPhone(mainPhone);\nconst spamEnquiry = !enquiry || enquiry.trim().length < 10;\n\n// Require at least TWO red flags to mark as spam\nlet spamScore = 0;\nif (spamName) spamScore += 1;\nif (spamPhone) spamScore += 1;\nif (spamEnquiry) spamScore += 1;\n\nconst leadIsSpam    = spamScore >= 2;\nconst leadQualifier = leadIsSpam ? \"Spam\" : \"Good\";\n\n// ---------- 9. Timestamp (Brisbane) -> Google Sheets friendly ----------\nlet timestamp;\ntry {\n  timestamp = $now\n    .setZone(\"Australia/Brisbane\")\n    .toFormat(\"yyyy-LL-dd HH:mm:ss\");\n} catch (e) {\n  const d = new Date();\n  const pad = (n) => String(n).padStart(2, '0');\n  timestamp =\n    `${d.getFullYear()}-${pad(d.getMonth() + 1)}-${pad(d.getDate())} ` +\n    `${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\n}\n\n// ---------- 10. MAP TO FINAL OUTPUT FIELDS ----------\nconst output = {\n  \"Id\": id,\n  \"Timestamp\": timestamp,\n  \"Lead Type\": \"Facebook Lead\", // hard-coded\n  \"First Name\": firstName,\n  \"Last Name\": lastName,\n  \"Mobile Number\": mobileNumber,\n  \"Phone Number\": phoneNumber,\n  \"Email Address\": parsed.email || \"\",\n  \"Address\": \"\",          // not in this email (for now)\n  \"State\": \"\",            // not in this email (for now)\n  \"Suburb\": parsed.whichSuburb || \"\",\n  \"Postal Code\": \"\",      // not in this email\n  \"Enquiry\": enquiry || \"\",\n  \"Quantity\": parsed.quantity || \"\",\n  \"I’d Like To Get My Project Underway\": parsed.timeFrameForRepairs || \"\",\n  \"How they heard about us\": \"Facebook\", // from lead source\n  \"Lead Qualifier\": leadQualifier,\n};\n\nreturn [{ json: output }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        528
      ],
      "id": "6cf6d3bb-b396-4bc1-9ccb-18b45556b03a",
      "name": "Facebook Lead Parsing"
    },
    {
      "parameters": {
        "jsCode": "// ---------- 1. Get input ----------\nconst id = $input.first().json.id || \"\";\nconst body = $input.first().json.body || \"\";\n\n// ---------- 2. Normalise body text ----------\nconst text = body\n  .replace(/\\r?\\n/g, \" \")\n  .replace(/\\s+/g, \" \")\n  .trim();\n\n// ---------- 3. Label definitions ----------\nconst labels = [\n  \"First Name\",\n  \"Last Name\",\n  \"Email\",\n  \"Phone Number\",\n  \"Suburb\",\n  \"State\",\n  \"Enquiry\",\n  \"I'd Like To Get My Project Underway...\",\n  \"How did yopu here about us\",\n  \"Brands\",\n  \"Services\",\n  \"Quantity\"\n];\n\n// Helper: clean value (remove leading/trailing \">\" and spaces)\nfunction cleanValue(v) {\n  return (v || \"\")\n    .replace(/^\\s*>+\\s*/, \"\")  // leading >\n    .replace(/\\s*>+\\s*$/, \"\")  // trailing >\n    .trim();\n}\n\n// Helper: extract values between labels\nfunction extractFields(text, labels) {\n  const positions = [];\n\n  for (const label of labels) {\n    const idx = text.indexOf(label);\n    if (idx !== -1) {\n      positions.push({ label, idx });\n    }\n  }\n\n  positions.sort((a, b) => a.idx - b.idx);\n\n  const values = {};\n  for (let i = 0; i < positions.length; i++) {\n    const { label, idx } = positions[i];\n    const start = idx + label.length;\n    const end = i + 1 < positions.length ? positions[i + 1].idx : text.length;\n    const rawValue = text.substring(start, end).trim();\n    values[label] = cleanValue(rawValue);\n  }\n\n  return values;\n}\n\nconst values = extractFields(text, labels);\n\n// ---------- 4. Pull out individual fields ----------\nconst firstName   = values[\"First Name\"] || \"\";\nconst lastName    = values[\"Last Name\"] || \"\";\nconst email       = values[\"Email\"] || \"\";\nconst phoneRaw    = values[\"Phone Number\"] || \"\";\nconst suburb      = values[\"Suburb\"] || \"\";\nconst state       = values[\"State\"] || \"\";\nconst enquiryText = values[\"Enquiry\"] || \"\";\nconst timeframe   = values[\"I'd Like To Get My Project Underway...\"] || \"\";\nconst howHeard    = values[\"How did yopu here about us\"] || \"\";\nconst brands      = values[\"Brands\"] || \"\";\nconst services    = values[\"Services\"] || \"\";\nconst quantity    = values[\"Quantity\"] || \"\";\n\n// ---------- 5. MOBILE / PHONE SPLIT (QLD style) ----------\nfunction formatAuLandline(num) {\n  const digits = num.replace(/\\D/g, '');\n  if (digits.startsWith('07') && digits.length === 10) {\n    return `07 ${digits.slice(2, 6)} ${digits.slice(6)}`;\n  }\n  return num;\n}\n\nlet mobileNumber = \"\";\nlet phoneNumber = \"\";\n\nif (phoneRaw) {\n  const compact = phoneRaw.replace(/\\s+/g, '');\n  if (compact.startsWith('+614') || compact.startsWith('04')) {\n    // Mobile\n    mobileNumber = phoneRaw;\n  } else if (compact.startsWith('07')) {\n    // Landline\n    phoneNumber = formatAuLandline(phoneRaw);\n  } else {\n    // Unknown pattern -> treat as mobile by default\n    mobileNumber = phoneRaw;\n  }\n}\n\n// ---------- 6. Build combined Enquiry field ----------\nconst enquiryParts = [];\nif (enquiryText) enquiryParts.push(enquiryText);\nif (services) enquiryParts.push(`Service: ${services}`);\nif (timeframe) enquiryParts.push(`Time frame: ${timeframe}`);\nif (howHeard) enquiryParts.push(`Source: ${howHeard}`);\n\nconst enquiryCombined = enquiryParts.join(\" | \");\n\n// ---------- 7. SPAM DETECTION (Lead Qualifier) ----------\n\nfunction isWeirdName(name) {\n  if (!name) return false;\n\n  const hasDigits = /\\d/.test(name);\n  const cleaned = name.replace(/[^a-z]/gi, \"\");\n  if (cleaned.length < 8) {\n    // Short names are generally fine; only suspicious if they contain digits\n    return hasDigits;\n  }\n\n  const vowels = (cleaned.match(/[aeiou]/gi) || []).length;\n  const vowelRatio = vowels / cleaned.length;\n  const consonantRun = cleaned.match(/[^aeiou]{6,}/gi);\n\n  if (consonantRun) return true;\n  if (cleaned.length >= 12 && vowelRatio < 0.25) return true;\n\n  return hasDigits;\n}\n\nfunction isValidAuPhone(num) {\n  if (!num) return false;\n  const digits = num.replace(/\\D/g, \"\");\n\n  // Normal AU mobile: 04xxxxxxxx\n  if (/^04\\d{8}$/.test(digits)) return true;\n\n  // Some people drop the leading 0: 4xxxxxxxx\n  if (/^4\\d{8}$/.test(digits)) return true;\n\n  // QLD landline: 07xxxxxxxx\n  if (/^07\\d{8}$/.test(digits)) return true;\n\n  // International-style AU mobile: 614xxxxxxxx\n  if (/^614\\d{8}$/.test(digits)) return true;\n\n  return false;\n}\n\nconst spamName   = isWeirdName(firstName) || isWeirdName(lastName);\nconst mainPhone  = mobileNumber || phoneNumber || \"\";\nconst spamPhone  = mainPhone && !isValidAuPhone(mainPhone);\nconst spamEnquiry = !enquiryCombined || enquiryCombined.trim().length < 10;\n\n// Require at least TWO red flags to mark as spam\nlet spamScore = 0;\nif (spamName) spamScore += 1;\nif (spamPhone) spamScore += 1;\nif (spamEnquiry) spamScore += 1;\n\nconst leadIsSpam = spamScore >= 2;\nconst leadQualifier = leadIsSpam ? \"Spam\" : \"Good\";\n\n// ---------- 8. Timestamp (Brisbane) -> Google Sheets friendly ----------\nlet timestamp;\ntry {\n  timestamp = $now\n    .setZone('Australia/Brisbane')\n    .toFormat('yyyy-LL-dd HH:mm:ss'); // Sheets-friendly\n} catch (e) {\n  const d = new Date();\n  const pad = (n) => String(n).padStart(2, '0');\n  timestamp =\n    `${d.getFullYear()}-${pad(d.getMonth() + 1)}-${pad(d.getDate())} ` +\n    `${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\n}\n\n// ---------- 9. Final mapped output ----------\nconst output = {\n  \"Id\": id,\n  \"Timestamp\": timestamp,\n  \"Lead Type\": \"Windowrevival.NET Lead\",\n  \"First Name\": firstName,\n  \"Last Name\": lastName,\n  \"Mobile Number\": mobileNumber,\n  \"Phone Number\": phoneNumber,\n  \"Email Address\": email,\n  \"Address\": \"\",\n  \"State\": state,\n  \"Suburb\": suburb,\n  \"Postal Code\": \"\",\n  \"Enquiry\": enquiryCombined,\n  \"Quantity\": quantity,\n  \"I’d Like To Get My Project Underway\": timeframe,\n  \"How they heard about us\": howHeard || \"Windowrevival.NET\",\n  \"Lead Qualifier\": leadQualifier\n};\n\nreturn [{ json: output }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -96
      ],
      "id": "d0f7320e-724b-4499-9af9-189fcf6737ee",
      "name": "Windowrevival.net Lead Parsing"
    },
    {
      "parameters": {
        "jsCode": "// ---------- 1. Get input ----------\nconst id = $input.first().json.id || \"\";\nconst body = $input.first().json.body || \"\";\n\n// ---------- 2. Normalise body text ----------\nconst text = body\n  .replace(/\\r?\\n/g, \" \")\n  .replace(/\\s+/g, \" \")\n  .trim();\n\n// ---------- 3. Label definitions ----------\nconst labels = [\n  \"First Name\",\n  \"Last Name\",\n  \"Email\",\n  \"Phone Number\",\n  \"Suburb\",\n  \"State\",\n  \"Enquiry\",\n  \"I'd Like To Get My Project Underway...\",\n  \"How did yopu here about us\",\n  \"Brands\",\n  \"Services\",\n  \"Quantity\"\n];\n\n// Helper: clean value (remove leading/trailing \">\" and spaces)\nfunction cleanValue(v) {\n  return (v || \"\")\n    .replace(/^\\s*>+\\s*/, \"\")  // leading >\n    .replace(/\\s*>+\\s*$/, \"\")  // trailing >\n    .trim();\n}\n\n// Helper: extract values between labels\nfunction extractFields(text, labels) {\n  const positions = [];\n\n  for (const label of labels) {\n    const idx = text.indexOf(label);\n    if (idx !== -1) {\n      positions.push({ label, idx });\n    }\n  }\n\n  positions.sort((a, b) => a.idx - b.idx);\n\n  const values = {};\n  for (let i = 0; i < positions.length; i++) {\n    const { label, idx } = positions[i];\n    const start = idx + label.length;\n    const end = i + 1 < positions.length ? positions[i + 1].idx : text.length;\n    const rawValue = text.substring(start, end).trim();\n    values[label] = cleanValue(rawValue);\n  }\n\n  return values;\n}\n\nconst values = extractFields(text, labels);\n\n// ---------- 4. Pull out individual fields ----------\nconst firstName   = values[\"First Name\"] || \"\";\nconst lastName    = values[\"Last Name\"] || \"\";\nconst email       = values[\"Email\"] || \"\";\nconst phoneRaw    = values[\"Phone Number\"] || \"\";\nconst suburb      = values[\"Suburb\"] || \"\";\nconst state       = values[\"State\"] || \"\";\nconst enquiryText = values[\"Enquiry\"] || \"\";\nconst timeframe   = values[\"I'd Like To Get My Project Underway...\"] || \"\";\nconst howHeard    = values[\"How did yopu here about us\"] || \"\";\nconst brands      = values[\"Brands\"] || \"\";\nconst services    = values[\"Services\"] || \"\";\nconst quantity    = values[\"Quantity\"] || \"\";\n\n// ---------- 5. MOBILE / PHONE SPLIT (QLD style) ----------\nfunction formatAuLandline(num) {\n  const digits = num.replace(/\\D/g, '');\n  if (digits.startsWith('07') && digits.length === 10) {\n    return `07 ${digits.slice(2, 6)} ${digits.slice(6)}`;\n  }\n  return num;\n}\n\nlet mobileNumber = \"\";\nlet phoneNumber = \"\";\n\nif (phoneRaw) {\n  const compact = phoneRaw.replace(/\\s+/g, '');\n  if (compact.startsWith('+614') || compact.startsWith('04')) {\n    // Mobile\n    mobileNumber = phoneRaw;\n  } else if (compact.startsWith('07')) {\n    // Landline\n    phoneNumber = formatAuLandline(phoneRaw);\n  } else {\n    // Unknown pattern -> treat as mobile by default\n    mobileNumber = phoneRaw;\n  }\n}\n\n// ---------- 6. Build combined Enquiry field ----------\nconst enquiryParts = [];\nif (enquiryText) enquiryParts.push(enquiryText);\nif (services) enquiryParts.push(`Service: ${services}`);\nif (timeframe) enquiryParts.push(`Time frame: ${timeframe}`);\nif (howHeard) enquiryParts.push(`Source: ${howHeard}`);\n\nconst enquiryCombined = enquiryParts.join(\" | \");\n\n// ---------- 7. SPAM DETECTION (Lead Qualifier) ----------\n\nfunction isWeirdName(name) {\n  if (!name) return false;\n\n  const hasDigits = /\\d/.test(name);\n  const cleaned = name.replace(/[^a-z]/gi, \"\");\n  if (cleaned.length < 8) {\n    // Short names are generally fine; only suspicious if they contain digits\n    return hasDigits;\n  }\n\n  const vowels = (cleaned.match(/[aeiou]/gi) || []).length;\n  const vowelRatio = vowels / cleaned.length;\n  const consonantRun = cleaned.match(/[^aeiou]{6,}/gi);\n\n  if (consonantRun) return true;\n  if (cleaned.length >= 12 && vowelRatio < 0.25) return true;\n\n  return hasDigits;\n}\n\nfunction isValidAuPhone(num) {\n  if (!num) return false;\n  const digits = num.replace(/\\D/g, \"\");\n\n  // Normal AU mobile: 04xxxxxxxx\n  if (/^04\\d{8}$/.test(digits)) return true;\n\n  // Some people drop the leading 0: 4xxxxxxxx\n  if (/^4\\d{8}$/.test(digits)) return true;\n\n  // QLD landline: 07xxxxxxxx\n  if (/^07\\d{8}$/.test(digits)) return true;\n\n  // International-style AU mobile: 614xxxxxxxx\n  if (/^614\\d{8}$/.test(digits)) return true;\n\n  return false;\n}\n\nconst spamName   = isWeirdName(firstName) || isWeirdName(lastName);\nconst mainPhone  = mobileNumber || phoneNumber || \"\";\nconst spamPhone  = mainPhone && !isValidAuPhone(mainPhone);\nconst spamEnquiry = !enquiryCombined || enquiryCombined.trim().length < 10;\n\n// Require at least TWO red flags to mark as spam\nlet spamScore = 0;\nif (spamName) spamScore += 1;\nif (spamPhone) spamScore += 1;\nif (spamEnquiry) spamScore += 1;\n\nconst leadIsSpam = spamScore >= 2;\nconst leadQualifier = leadIsSpam ? \"Spam\" : \"Good\";\n\n// ---------- 8. Timestamp (Brisbane) -> Google Sheets friendly ----------\nlet timestamp;\ntry {\n  timestamp = $now\n    .setZone('Australia/Brisbane')\n    .toFormat('yyyy-LL-dd HH:mm:ss'); // Sheets-friendly\n} catch (e) {\n  const d = new Date();\n  const pad = (n) => String(n).padStart(2, '0');\n  timestamp =\n    `${d.getFullYear()}-${pad(d.getMonth() + 1)}-${pad(d.getDate())} ` +\n    `${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\n}\n\n// ---------- 9. Final mapped output ----------\nconst output = {\n  \"Id\": id,\n  \"Timestamp\": timestamp,\n  \"Lead Type\": \"Sliding Door Lead\",\n  \"First Name\": firstName,\n  \"Last Name\": lastName,\n  \"Mobile Number\": mobileNumber,\n  \"Phone Number\": phoneNumber,\n  \"Email Address\": email,\n  \"Address\": \"\",\n  \"State\": state,\n  \"Suburb\": suburb,\n  \"Postal Code\": \"\",\n  \"Enquiry\": enquiryCombined,\n  \"Quantity\": quantity,\n  \"I’d Like To Get My Project Underway\": timeframe,\n  \"How they heard about us\": howHeard || \"Windowrevival.NET\",\n  \"Lead Qualifier\": leadQualifier\n};\n\nreturn [{ json: output }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -336
      ],
      "id": "255c553f-40fe-471b-9932-dd0cd31a4455",
      "name": "Sliding Door Repairs Lead Parsing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        864,
        192
      ],
      "id": "78bfc058-b7ba-4800-af84-6ed674cb50ca",
      "name": "Send Data to Wrapp",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0877a2a8-0862-4fec-abe3-6f5daeb23722",
              "name": "body",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "0b60a5b7-ebab-4af8-834f-36cd181e2ae1",
              "name": "email",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "1d4b5c7a-76af-4382-86c8-c1cda4f00f5d",
              "name": "name",
              "value": "={{ $json.to.value[0].name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        336
      ],
      "id": "c16bbdae-7185-47e7-8427-c906845f825f",
      "name": "Set Email Enquiry"
    },
    {
      "parameters": {
        "jsCode": "// ===== 1. Inputs from Gmail Trigger & previous node =====\nconst trigger = $('Gmail Trigger').first().json;\nconst messageId = $('Gmail Trigger').first().json.id || \"\";\n\nconst current = $input.first().json;\nconst body = current.body || \"\";\n\n// Prefer structured fields from previous node\nlet rawName = current.name;\nlet rawEmail = current.email;\n\n// Fallback to Gmail \"from\" header if needed\nlet fromHeader =\n  trigger.from ||\n  (trigger.headers && (trigger.headers.from || trigger.headers.From)) ||\n  \"\";\n\n// ===== 2. Helper functions =====\n\nfunction normaliseToString(value) {\n  if (!value) return \"\";\n  if (typeof value === \"string\") return value;\n  if (Array.isArray(value)) return normaliseToString(value[0]);\n  if (typeof value === \"object\") {\n    // Try some common keys first\n    if (value.full) return String(value.full);\n    if (value.display) return String(value.display);\n    if (value.name) return String(value.name);\n    if (value.value) return String(value.value);\n    const firstKey = Object.keys(value)[0];\n    if (firstKey) return String(value[firstKey]);\n  }\n  return String(value);\n}\n\n// Extract name + email from \"Name <email@domain>\" or just \"email@domain\"\nfunction parseFromHeader(from) {\n  let name = \"\";\n  let email = \"\";\n\n  if (!from) return { name, email };\n\n  from = normaliseToString(from);\n\n  const emailMatch = from.match(/<([^>]+)>/);\n  if (emailMatch) {\n    email = emailMatch[1].trim();\n    name = from.replace(emailMatch[0], \"\").trim().replace(/\"/g, \"\");\n  } else {\n    if (from.includes(\"@\")) {\n      email = from.trim();\n    } else {\n      name = from.trim();\n    }\n  }\n\n  return { name, email };\n}\n\n// Split a full name into first + last\nfunction splitName(fullName) {\n  if (!fullName) return { firstName: \"\", lastName: \"\" };\n  const parts = fullName.trim().split(/\\s+/);\n  if (parts.length === 1) {\n    return { firstName: parts[0], lastName: \"\" };\n  }\n  return {\n    firstName: parts[0],\n    lastName: parts.slice(1).join(\" \"),\n  };\n}\n\n// AU phone validation + type\nfunction classifyPhone(num) {\n  if (!num) return { type: \"unknown\", formatted: \"\" };\n  const digits = num.replace(/\\D/g, \"\");\n\n  if (/^04\\d{8}$/.test(digits) || /^614\\d{8}$/.test(digits)) {\n    // Mobile\n    return { type: \"mobile\", formatted: num.trim() };\n  }\n  if (/^07\\d{8}$/.test(digits)) {\n    // QLD landline -> format \"07 1234 5678\"\n    const f = `07 ${digits.slice(2, 6)} ${digits.slice(6)}`;\n    return { type: \"landline\", formatted: f };\n  }\n  return { type: \"unknown\", formatted: num.trim() };\n}\n\n// Extract first AU-style phone number from text\nfunction extractPhone(text) {\n  if (!text) return \"\";\n  const phoneRegex = /(?:\\+61|0)\\s?\\d(?:[\\s-]?\\d){7,10}/g;\n  const matches = text.match(phoneRegex);\n  return matches && matches.length > 0 ? matches[0].trim() : \"\";\n}\n\n// Normalise lines (for address / suburb / enquiry detection)\nconst rawLines = body\n  .split(/\\r?\\n/)\n  .map((l) => l.trim())\n  .filter((l) => l !== \"\");\n\n// ===== 3. Parse basic identity fields =====\n\n// Prefer values from current JSON\nlet fromNameStr = normaliseToString(rawName);\nlet fromEmailStr = normaliseToString(rawEmail);\n\nif (!fromNameStr || !fromEmailStr) {\n  const parsedFrom = parseFromHeader(fromHeader);\n  if (!fromNameStr) fromNameStr = parsedFrom.name;\n  if (!fromEmailStr) fromEmailStr = parsedFrom.email;\n}\n\nlet { firstName, lastName } = splitName(fromNameStr);\n\n// Fallback: if still no email, try to see if body contains an email\nlet primaryEmail = fromEmailStr;\nif (!primaryEmail) {\n  const emailMatch = body.match(\n    /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/\n  );\n  if (emailMatch) primaryEmail = emailMatch[0];\n}\n\n// ===== 4. Phone extraction =====\nconst phoneRaw = extractPhone(body);\nconst phoneInfo = classifyPhone(phoneRaw);\nlet mobileNumber = \"\";\nlet phoneNumber = \"\";\n\nif (phoneInfo.type === \"mobile\") {\n  mobileNumber = phoneInfo.formatted;\n} else if (phoneInfo.type === \"landline\") {\n  phoneNumber = phoneInfo.formatted;\n} else if (phoneInfo.type === \"unknown\" && phoneInfo.formatted) {\n  mobileNumber = phoneInfo.formatted;\n}\n\n// ===== 5. Address / Suburb / State / Postal Code (best effort) =====\nlet address = \"\";\nlet suburb = \"\";\nlet state = \"\";\nlet postalCode = \"\";\n\nconst phoneLineRegex = /(?:\\+61|0)\\s?\\d(?:[\\s-]?\\d){7,10}/i;\n\nfor (let i = 0; i < rawLines.length; i++) {\n  const line = rawLines[i];\n  const lower = line.toLowerCase();\n\n  if (lower.startsWith(\"on \") && lower.includes(\"wrote:\")) break;\n\n  // skip lines that are clearly phone/contact lines for postcode detection\n  const isPhoneLine = phoneLineRegex.test(line) || /mob|phone|tel|contact/i.test(lower);\n\n  // \"We are located at Camp Hill.\"\n  const locMatch = line.match(/located\\s+(?:at|in)\\s+(.+)/i);\n  if (locMatch && !suburb) {\n    suburb = locMatch[1].replace(/\\.$/, \"\").trim();\n    continue;\n  }\n\n  // Address line: \"60 Prospect St\"\n  if (!address && /^\\d{1,4}\\s+\\S+/.test(line)) {\n    address = line;\n    const next = rawLines[i + 1] || \"\";\n    const nextLower = next.toLowerCase();\n    const nextIsPhone = phoneLineRegex.test(next) || /mob|phone|tel|contact/i.test(nextLower);\n    if (next && !suburb && !nextIsPhone) {\n      const stateMatch = next.match(\n        /\\b(qld|queensland|nsw|vic|victoria|sa|wa|tas|act)\\b/i\n      );\n      const postMatch = next.match(/\\b\\d{4}\\b/);\n      if (stateMatch) {\n        state = stateMatch[1].toUpperCase();\n        suburb = next\n          .replace(stateMatch[0], \"\")\n          .replace(postMatch ? postMatch[0] : \"\", \"\")\n          .trim();\n      } else {\n        suburb = next.trim();\n      }\n      if (postMatch) postalCode = postMatch[0];\n    }\n    continue;\n  }\n\n  // Lines that look like \"Wynnum North\" / \"Camp Hill\"\n  if (\n    !suburb &&\n    /^[A-Za-z][A-Za-z\\s'-]+$/.test(line) &&\n    !/kind regards|regards|thanks/i.test(line)\n  ) {\n    if (!/^hi\\b/i.test(lower)) {\n      suburb = line;\n    }\n  }\n\n  // State + postcode only, e.g. \"Qld 4178\", but avoid phone lines\n  if (!isPhoneLine && (!state || !postalCode)) {\n    const sp = line.match(\n      /\\b(qld|queensland|nsw|vic|victoria|sa|wa|tas|act)\\b/i\n    );\n    const pc = line.match(/\\b\\d{4}\\b/);\n    if (sp && !state) state = sp[1].toUpperCase();\n    if (pc && !postalCode) postalCode = pc[0];\n  }\n}\n\n// ===== 6. Build enquiry text (remove signatures, phone lines, quoted headers) =====\nconst enquiryLines = [];\nconst phoneTestRegex = phoneLineRegex;\n\nfor (const line of rawLines) {\n  const lower = line.toLowerCase();\n\n  if (lower.startsWith(\"on \") && lower.includes(\"wrote:\")) break;\n\n  if (/^hi\\b|^hi guys\\b|^hello\\b/i.test(line)) continue;\n  if (/kind regards|regards,|cheers,/i.test(lower)) continue;\n  if (phoneTestRegex.test(line)) continue;\n  if (line === fromNameStr) continue;\n\n  enquiryLines.push(line);\n}\n\nconst enquiryText = enquiryLines.join(\" \").trim();\n\n// ===== 7. Timeframe & \"How they heard about us\" (usually not present) =====\nlet timeframe = \"\";\nlet howHeard = \"\";\n\n// ===== 8. Lead qualifier (Spam / Good) =====\nlet leadIsSpam = false;\n\nif (!enquiryText || enquiryText.length < 5) {\n  if (!mobileNumber && !phoneNumber && !primaryEmail) {\n    leadIsSpam = true;\n  }\n}\n\nconst leadQualifier = leadIsSpam ? \"Spam\" : \"Good\";\n\n// ===== 9. Timestamp (Brisbane) =====\nlet timestamp;\ntry {\n  timestamp = $now.setZone(\"Australia/Brisbane\").toISO();\n} catch (e) {\n  timestamp = new Date().toISOString();\n}\n\n// ===== 10. Final mapped output =====\nconst output = {\n  \"Timestamp\": timestamp,\n  \"Lead Type\": \"Email Enquiry Lead\",\n  \"First Name\": firstName,\n  \"Last Name\": lastName,\n  \"Mobile Number\": mobileNumber,\n  \"Phone Number\": phoneNumber,\n  \"Email Address\": primaryEmail || \"\",\n  \"Address\": address,\n  \"State\": state,\n  \"Suburb\": suburb,\n  \"Postal Code\": postalCode,\n  \"Enquiry\": enquiryText,\n  \"Quantity\": \"\",\n  \"I’d Like To Get My Project Underway\": timeframe,\n  \"How they heard about us\": howHeard,\n  \"Lead Qualifier\": leadQualifier,\n  \"Message Id\": messageId,\n};\n\nreturn [{ json: output }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        336
      ],
      "id": "9cf61169-34ff-4a17-99de-9bdad2ad0a02",
      "name": "Email Parsing"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Set Sliding Door Repair Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Windowrevival.Net Lead",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Set FB Email Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set HiPages ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Email Enquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set FB Email Text": {
      "main": [
        [
          {
            "node": "Facebook Lead Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If Spam Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Data to Wrapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Windowrevival.Net Lead": {
      "main": [
        [
          {
            "node": "Windowrevival.net Lead Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sliding Door Repair Lead": {
      "main": [
        [
          {
            "node": "Sliding Door Repairs Lead Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete spam message by id": {
      "main": [
        []
      ]
    },
    "Set HiPages ": {
      "main": [
        [
          {
            "node": "HiLead Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If HIpages is Good Lead": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If WRnet is Good Lead": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If SDR is a Good Lead": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If FB Lead is Good Lead": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Spam Lead": {
      "main": [
        [
          {
            "node": "Delete spam message by id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HiLead Parsing": {
      "main": [
        [
          {
            "node": "If HIpages is Good Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Lead Parsing": {
      "main": [
        [
          {
            "node": "If FB Lead is Good Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Windowrevival.net Lead Parsing": {
      "main": [
        [
          {
            "node": "If WRnet is Good Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sliding Door Repairs Lead Parsing": {
      "main": [
        [
          {
            "node": "If SDR is a Good Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Email Enquiry": {
      "main": [
        [
          {
            "node": "Email Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "b4cFEFv1eFePOnMh"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1763963720,
        "possibleDuplicates": [
          "19ab46e568f391fa",
          "19ab46d891e151eb"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8345da8c-075e-4eb5-8d28-feb64aab47e6",
  "activeVersionId": null,
  "versionCounter": 880,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-16T21:48:46.126Z",
      "createdAt": "2025-11-16T21:48:46.126Z",
      "role": "workflow:owner",
      "workflowId": "QxHJR6QuGk1QPXMT",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T07:49:25.938Z",
            "createdAt": "2025-11-14T07:49:25.938Z",
            "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
            "projectId": "6TsYTzg0HY92xH2K",
            "user": {
              "updatedAt": "2026-02-10T14:01:06.000Z",
              "createdAt": "2025-11-14T07:49:14.641Z",
              "id": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
              "email": "windowrevival@gmail.com",
              "firstName": "Christine",
              "lastName": "Kam",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T08:34:38.735Z",
                "personalization_survey_n8n_version": "1.119.1",
                "automationGoalDevops": [
                  "reporting",
                  "other"
                ],
                "automationGoalDevopsOther": "Automate all apps",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZwjGOdSLvNlPoB1E",
                "userActivatedAt": 1763281773859,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763554974919
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}