workflows/02. Email Lead Managment v2.json
{
  "updatedAt": "2026-01-18T10:57:59.566Z",
  "createdAt": "2025-11-18T00:29:33.305Z",
  "id": "r5Z0Ar8ey3u78g5d",
  "name": "02. Email Lead Managment v2",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85afdd48-f009-4291-8774-a261bf4a4c79",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "926d5470-19d4-42b4-a438-bd8f828a3346",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -272
      ],
      "id": "7f68beae-ba55-4f18-8ed7-6bad873926da",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_1570154545002388347",
            "Label_236316694232257385"
          ],
          "readStatus": "both"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1088,
        -368
      ],
      "id": "e2932da6-05b8-425c-a083-2a7b6436ea4e",
      "name": "Get 5 SDR messages",
      "webhookId": "33525e05-4264-4caf-bcf9-dfc3e0efddf4",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ",
          "mode": "list",
          "cachedResultName": "Leads Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "raw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.Timestamp }}",
            "Id": "={{ $json.Id }}",
            "Lead Type": "={{ $json['Lead Type'] }}",
            "First Name": "={{ $json['First Name'] }}",
            "Last Name": "={{ $json['Last Name'] }}",
            "Mobile Number": "={{ $json['Mobile Number'] }}",
            "Phone Number": "={{ $json['Phone Number'] }}",
            "Email Address": "={{ $json['Email Address'] }}",
            "Address": "={{ $json.Address }}",
            "State": "={{ $json.State }}",
            "Suburb": "={{ $json.Suburb }}",
            "Postal Code": "={{ $json['Postal Code'] }}",
            "Enquiry": "={{ $json.Enquiry }}",
            "Quantity": "={{ $json.Quantity }}",
            "I’d Like To Get My Project Underway": "={{ $json['I\\'d Like To Get My Project Underway'] }}",
            "How they heard about us": "={{ $json['How they heard about us'] }}",
            "Lead Qualifier": "={{ $json['Lead Qualifier'] }}",
            "Referred By": "={{ $json.referredBy }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Type",
              "displayName": "Lead Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suburb",
              "displayName": "Suburb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Postal Code",
              "displayName": "Postal Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enquiry",
              "displayName": "Enquiry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I’d Like To Get My Project Underway",
              "displayName": "I’d Like To Get My Project Underway",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "How they heard about us",
              "displayName": "How they heard about us",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Qualifier",
              "displayName": "Lead Qualifier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Referred By",
              "displayName": "Referred By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        -368
      ],
      "id": "0057c434-b544-449c-9ec3-44e882908807",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4FmXrss6MgN5rzt",
          "name": "WR: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.Id }}",
        "labelIds": [
          "Label_169"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        -272
      ],
      "id": "bf9ddcf4-4c9a-4878-a88f-8030dcc0c4c7",
      "name": "Add label to message",
      "webhookId": "0c5d8540-7836-4d36-a50c-75740abd570c",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_5972230113927178957",
            "INBOX"
          ],
          "readStatus": "both"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1088,
        -176
      ],
      "id": "5a6af7f1-bcaf-42cb-9674-776ae9cc93f0",
      "name": "Get 5 Windowrevival.NET messages",
      "webhookId": "33525e05-4264-4caf-bcf9-dfc3e0efddf4",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e570add7-64c9-4339-b667-670a56ad8fa0",
              "leftValue": "={{ $json[\"labelIds\"].join(\",\") }}\n\n",
              "rightValue": "=Label_169",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        -272
      ],
      "id": "78f56560-c266-47ad-aad3-76dd76fbe367",
      "name": "Filter \"Label_169\" for SDR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85afdd48-f009-4291-8774-a261bf4a4c79",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "926d5470-19d4-42b4-a438-bd8f828a3346",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -464
      ],
      "id": "8b38e1a5-edc6-41b4-bfe8-de5f618d7afd",
      "name": "Filter \"Label_169\" for Windowrevival.NET"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61b9b0d9-8451-470a-a782-ccf3201f846d",
              "leftValue": "={{ $json['Lead Qualifier'] }}",
              "rightValue": "Good",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        -368
      ],
      "id": "e937efe2-5255-4843-801d-2bb8171c8c2c",
      "name": "If"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -192,
        -384
      ],
      "id": "600e9744-9101-4a63-bd4e-5050477f1264",
      "name": "Merge",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_1570154545002388347",
            "Label_4464659176251527724"
          ],
          "readStatus": "both"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1088,
        16
      ],
      "id": "ed2694cf-1d0b-4596-80be-6e4b6098ae56",
      "name": "Get 5 FB messages",
      "webhookId": "33525e05-4264-4caf-bcf9-dfc3e0efddf4",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e570add7-64c9-4339-b667-670a56ad8fa0",
              "leftValue": "={{ $json[\"labelIds\"].join(\",\") }}\n\n",
              "rightValue": "=Label_169",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        -464
      ],
      "id": "7a53a32b-b5cb-4aa9-929a-51d5292014f0",
      "name": "Filter \"Label_169\" WR.NET"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e570add7-64c9-4339-b667-670a56ad8fa0",
              "leftValue": "={{ $json[\"labelIds\"].join(\",\") }}\n\n",
              "rightValue": "=Label_169",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        16
      ],
      "id": "8f2ee5d4-f415-4549-933c-c5fe0e79cc4d",
      "name": "Filter \"Label_169\" FB"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85afdd48-f009-4291-8774-a261bf4a4c79",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "926d5470-19d4-42b4-a438-bd8f828a3346",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        16
      ],
      "id": "7586b161-9ab2-4498-b2a6-96137bf8a495",
      "name": "Filter \"Label_169\" for FB Leads"
    },
    {
      "parameters": {
        "jsCode": "// =============== Helpers ===============\n\nfunction normalizeDigits(str) {\n  if (!str) return '';\n  return String(str).replace(/\\D+/g, '');\n}\n\n// Normalise any AU-looking phone number to digits starting with 0 and 10 digits if possible\nfunction normalizeAuPhone(raw) {\n  let digits = normalizeDigits(raw);\n  if (!digits) return '';\n\n  // Handle +61 / 61 prefix\n  if (digits.startsWith('61')) {\n    digits = '0' + digits.slice(2); // 61 4xx... -> 04xx...\n  }\n\n  // If it starts with 4 and is 9 digits, assume missing leading 0\n  if (!digits.startsWith('0') && digits.length === 9 && digits.startsWith('4')) {\n    digits = '0' + digits;\n  }\n\n  // At this point, typical AU number is \"0xxxxxxxxx\" (10 digits)\n  return digits;\n}\n\nfunction formatAuPhoneFromDigits(digits) {\n  if (!digits) return '';\n\n  if (digits.length === 10 && digits.startsWith('04')) {\n    // mobile 04xx xxx xxx\n    return digits.replace(/(\\d{4})(\\d{3})(\\d{3})/, '$1 $2 $3');\n  }\n\n  if (digits.length === 10 && digits.startsWith('0')) {\n    // landline 0x xxxx xxxx\n    return digits.replace(/(\\d{2})(\\d{4})(\\d{4})/, '$1 $2 $3');\n  }\n\n  // fall back to raw digits if something odd\n  return digits;\n}\n\n// Execution-time helper used ONLY to generate Timestamp now\nfunction getExecutionTimes() {\n  const now = new Date();\n  return {\n    executionBrisbane: now.toLocaleString('en-AU', {\n      timeZone: 'Australia/Brisbane',\n      hour12: false, // 24h format\n    }),\n    executionUtcIso: now.toISOString(),\n    executionEpochMs: now.getTime(),\n  };\n}\n\n// Simple AU-phone based spam logic\nfunction isSpamLead(parsed) {\n  const first = (parsed.firstName || '').trim();\n  const last  = (parsed.lastName  || '').trim();\n\n  const normPhone = normalizeAuPhone(parsed.phoneNumberRaw || '');\n\n  const hasName  = first.length >= 2 && last.length >= 2;\n  const hasPhone = normPhone.length >= 9; // allow 9–10 digits after normalisation\n\n  const nameCombo = (first + ' ' + last).toLowerCase();\n\n  if (!hasName || !hasPhone) return true;\n  if (nameCombo.includes('test') || nameCombo.includes('asdf')) return true;\n  if (nameCombo.includes('sdr')) return true;\n\n  return false;\n}\n\n// =============== Facebook-specific parser ===============\n\n// Handles strings like:\n// \"... Comments/Questions: ... Email: ... First Name: X Last Name: Y Phone Number: +61... Please Select What You Want Fixing:: ... Quantity: 1 Time Frame For Repairs?: now Which Suburb?: Kurwongbah View this lead in Privyr ...\"\nfunction parseFacebookText(rawText) {\n  if (!rawText) return {};\n\n  // Collapse whitespace so everything is on one line\n  const text = rawText.replace(/\\s+/g, ' ');\n\n  const markerDefs = [\n    { key: 'comments',       marker: 'Comments/Questions:' },\n    { key: 'email',          marker: 'Email:' },\n    { key: 'firstName',      marker: 'First Name:' },\n    { key: 'lastName',       marker: 'Last Name:' },\n    { key: 'phoneNumberRaw', marker: 'Phone Number:' },\n    { key: 'service',        marker: 'Please Select What You Want Fixing::' },\n    { key: 'quantity',       marker: 'Quantity:' },\n    { key: 'timeFrame',      marker: 'Time Frame For Repairs?:' },\n    { key: 'suburb',         marker: 'Which Suburb?:' },\n\n    // Boundary AFTER suburb, so suburb doesn't eat the rest of the email\n    { key: null,             marker: 'View this lead in Privyr' },\n  ];\n\n  const positions = [];\n\n  for (const m of markerDefs) {\n    const idx = text.indexOf(m.marker);\n    if (idx === -1) continue;\n    positions.push({\n      key: m.key,\n      markerIndex: idx,\n      valueStart: idx + m.marker.length,\n    });\n  }\n\n  if (!positions.length) return {};\n\n  positions.sort((a, b) => a.markerIndex - b.markerIndex);\n\n  const result = {};\n\n  for (let i = 0; i < positions.length; i++) {\n    const curr = positions[i];\n    const next = positions[i + 1];\n    const end  = next ? next.markerIndex : text.length;\n    const value = text.slice(curr.valueStart, end).trim();\n    if (curr.key && value) {\n      result[curr.key] = value;\n    }\n  }\n\n  // Fallback in case email marker fails\n  if (!result.email) {\n    const emailMatch = text.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n    if (emailMatch) result.email = emailMatch[0];\n  }\n\n  return result;\n}\n\n// =============== Main mapping ===============\n\n// Snapshot execution time ONCE per Function node run\nconst execTime = getExecutionTimes();\n\nreturn items.map(item => {\n  const json    = item.json || {};\n  const id      = json.id || '';\n  const rawText = json.text || json.textHtml || json.snippet || '';\n\n  const parsed = parseFacebookText(rawText);\n\n  // Normalise & format phone\n  const rawPhone   = parsed.phoneNumberRaw || '';\n  const normDigits = normalizeAuPhone(rawPhone);\n\n  let mobileFormatted = '';\n  let phoneFormatted  = '';\n\n  if (normDigits.startsWith('04') && normDigits.length === 10) {\n    // treat as mobile\n    mobileFormatted = formatAuPhoneFromDigits(normDigits);\n  } else if (normDigits.startsWith('0') && normDigits.length === 10) {\n    // treat as landline\n    phoneFormatted = formatAuPhoneFromDigits(normDigits);\n  } else if (normDigits) {\n    // unknown style but keep it in Phone Number\n    phoneFormatted = normDigits;\n  }\n\n  // Timestamp must match \"Execution Time (Brisbane)\" format\n  const timestamp = execTime.executionBrisbane;\n\n  const leadQualifier = isSpamLead(parsed) ? 'Spam' : 'Good';\n\n  return {\n    json: {\n      // ===== Single timestamp field only =====\n      Timestamp: timestamp,\n\n      // ===== Original fields =====\n      Id: id,\n\n      // Hard-coded for this source\n      'Lead Type': 'Facebook Lead',\n\n      'First Name': parsed.firstName || '',\n      'Last Name':  parsed.lastName  || '',\n      'Mobile Number': mobileFormatted,\n      'Phone Number':  phoneFormatted,\n      'Email Address': parsed.email || '',\n      'Address': '',\n      State: '',\n      Suburb: parsed.suburb || '',\n      'Postal Code': '',\n      Enquiry: parsed.comments || parsed.service || '',\n      Quantity: parsed.quantity || '',\n      \"I'd Like To Get My Project Underway\": parsed.timeFrame || '',\n      'How they heard about us': 'Facebook',\n      'Lead Qualifier': leadQualifier,\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        16
      ],
      "id": "406a01b1-2833-4a58-a2f7-4db46acf0119",
      "name": "FB Parsing"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript) — FULL amended version (copy/paste)\n//\n// Fix: For addresses like \"PO Box 1525, Fortitude Valley, 4006\"\n// ✅ Postal Code must be 4006 (NOT 1525)\n// ✅ Suburb = Fortitude Valley\n// ✅ Address = full address line (kept as-is)\n\nconst BUSINESS_EMAILS = new Set([\n  // add your own company emails here if needed\n]);\n\nconst BUSINESS_DOMAINS = new Set([\n  // add your own domains here if needed\n]);\n\nfunction formatTimestampBrisbane(dateObj = new Date()) {\n  const dtf = new Intl.DateTimeFormat('en-AU', {\n    timeZone: 'Australia/Brisbane',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false\n  });\n  return dtf.format(dateObj); // \"15/01/2026, 17:21:03\"\n}\n\nfunction getTimestamp(itemJson) {\n  const candidates = [\n    itemJson.date,\n    itemJson.internalDate,\n    itemJson.receivedAt,\n    itemJson.timestamp,\n    itemJson.Date\n  ].filter(Boolean);\n\n  if (candidates.length) {\n    const d = new Date(candidates[0]);\n    if (!isNaN(d.getTime())) return formatTimestampBrisbane(d);\n  }\n  return formatTimestampBrisbane(new Date());\n}\n\nfunction stripQuotedHistory(text) {\n  const markers = [\n    '-------- Original message --------',\n    '\\nOn ',\n    '\\r\\nOn ',\n  ];\n\n  let cutIndex = -1;\n\n  for (const mk of markers) {\n    const idx = text.indexOf(mk);\n    if (idx !== -1) cutIndex = (cutIndex === -1) ? idx : Math.min(cutIndex, idx);\n  }\n\n  const onWrote = text.search(/On\\s+\\w{3},\\s+\\d{1,2}\\s+\\w{3}\\s+\\d{4}.*wrote:/i);\n  if (onWrote !== -1) cutIndex = (cutIndex === -1) ? onWrote : Math.min(cutIndex, onWrote);\n\n  const latest = (cutIndex === -1) ? text : text.slice(0, cutIndex);\n  return latest.trim();\n}\n\nfunction extractEmails(text) {\n  const re = /[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/gi;\n  return Array.from(new Set(text.match(re) || []));\n}\n\nfunction extractEmailFromFromField(fromField) {\n  if (!fromField) return \"\";\n  const s = String(fromField);\n  const m = s.match(/<\\s*([^>]+@[^>]+)\\s*>/);\n  if (m) return m[1].trim();\n  const m2 = s.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return m2 ? m2[0].trim() : \"\";\n}\n\nfunction isBusinessEmail(email) {\n  if (!email) return false;\n  const e = email.toLowerCase();\n  if (BUSINESS_EMAILS.has(e)) return true;\n  const parts = e.split(\"@\");\n  if (parts.length !== 2) return false;\n  return BUSINESS_DOMAINS.has(parts[1]);\n}\n\nfunction pickBestLeadEmail(itemJson, text) {\n  const fromEmail = extractEmailFromFromField(itemJson.from);\n  if (fromEmail) return fromEmail;\n\n  const wroteMatch = text.match(/<\\s*([A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,})\\s*>\\s*wrote:/i);\n  if (wroteMatch) {\n    const candidate = wroteMatch[1];\n    if (!isBusinessEmail(candidate)) return candidate;\n  }\n\n  const emails = extractEmails(text);\n  const nonBiz = emails.find(e => !isBusinessEmail(e));\n  return nonBiz || (emails[0] || \"\");\n}\n\nfunction extractPhones(text) {\n  const re = /(\\+?\\d[\\d\\s().-]{6,}\\d)/g;\n  const raw = text.match(re) || [];\n  const cleaned = raw\n    .map(s => s.replace(/[().-]/g, \" \").replace(/\\s+/g, \" \").trim())\n    .filter(s => s.length >= 8);\n  return Array.from(new Set(cleaned));\n}\n\nfunction formatMobileAU(raw) {\n  if (!raw) return \"\";\n  let s = raw.replace(/\\s+/g, \"\").trim();\n\n  if (s.startsWith(\"00\")) s = \"+\" + s.slice(2);\n  if (s.startsWith(\"+61\")) s = \"0\" + s.slice(3);\n\n  const digits = s.replace(/\\D/g, \"\");\n  if (digits.length !== 10) return \"\";\n  if (!digits.startsWith(\"04\")) return \"\";\n\n  return `${digits.slice(0,4)} ${digits.slice(4,7)} ${digits.slice(7,10)}`;\n}\n\nfunction formatPhoneAU(raw) {\n  if (!raw) return \"\";\n  const digits = raw.replace(/\\D/g, \"\");\n\n  if (digits.length === 10 && digits.startsWith(\"1300\")) {\n    return `${digits.slice(0,4)} ${digits.slice(4,7)} ${digits.slice(7,10)}`;\n  }\n\n  if (digits.length === 10 && digits.startsWith(\"0\")) {\n    return `${digits.slice(0,2)} ${digits.slice(2,6)} ${digits.slice(6,10)}`;\n  }\n\n  if (digits.length === 8) {\n    return `${digits.slice(0,4)} ${digits.slice(4,8)}`;\n  }\n\n  return \"\";\n}\n\nfunction pickMobileAndPhone(phones) {\n  let mobile = \"\";\n  let phone = \"\";\n\n  for (const p of phones) {\n    if (!mobile) {\n      const fm = formatMobileAU(p);\n      if (fm) {\n        mobile = fm;\n        continue;\n      }\n    }\n    if (!phone) {\n      const fp = formatPhoneAU(p);\n      if (fp) phone = fp;\n    }\n  }\n  return { mobile, phone };\n}\n\nfunction extractNameFromSignature(text) {\n  const latest = stripQuotedHistory(text);\n\n  const signoffRe = /(Warm Regards,|Regards,|Thanks,)\\s*\\n+([^\\n|]+)(?:\\s*\\|\\s*([^\\n]+))?/i;\n  const m = latest.match(signoffRe);\n  if (m) {\n    const name = (m[2] || \"\").trim();\n    const company = (m[3] || \"\").trim();\n    return { name: name || \"\", company: company || \"\" };\n  }\n\n  const pipeLine = latest\n    .split('\\n')\n    .map(l => l.trim())\n    .find(l => /\\s\\|\\s/.test(l) && l.length <= 90);\n\n  if (pipeLine) {\n    const [left, right] = pipeLine.split('|').map(s => s.trim());\n    return { name: left || \"\", company: right || \"\" };\n  }\n\n  const simple = latest.match(/(Warm Regards,|Regards,|Thanks,)\\s*\\n+([A-Za-z][A-Za-z .'-]{0,60})/i);\n  if (simple) return { name: (simple[2] || \"\").trim(), company: \"\" };\n\n  return { name: \"\", company: \"\" };\n}\n\nfunction splitFirstLast(fullName) {\n  const n = (fullName || \"\").trim();\n  if (!n) return { first: \"\", last: \"\" };\n  const parts = n.split(/\\s+/);\n  if (parts.length === 1) return { first: parts[0], last: \"\" };\n  return { first: parts[0], last: parts.slice(1).join(\" \") };\n}\n\nfunction findAddressLine(latestText) {\n  const lines = latestText.split('\\n').map(l => l.trim()).filter(Boolean);\n\n  const candidates = lines.filter(l =>\n    /\\b\\d{4}\\b/.test(l) &&\n    l.includes(',') &&\n    !/^on\\s+\\w{3},/i.test(l) &&\n    !/^(from:|to:|subject:|date:)/i.test(l)\n  );\n\n  const strong = candidates.find(l => /(po box|street|st\\b|road|rd\\b|ave|avenue|drive|dr\\b|court|ct\\b|lane|ln\\b|blvd|boulevard|cres|crescent|place|pl\\b)/i.test(l));\n  return strong || candidates[0] || \"\";\n}\n\nfunction parseAddressParts(addressLine) {\n  // Key fix: choose the LAST 4-digit number in the line as postcode.\n  // Example: \"PO Box 1525, Fortitude Valley, 4006\" -> postcode = 4006 (last 4-digit)\n  if (!addressLine) return { address: \"\", suburb: \"\", postcode: \"\" };\n\n  const matches = Array.from(addressLine.matchAll(/\\b(\\d{4})\\b/g)).map(m => m[1]);\n  const postcode = matches.length ? matches[matches.length - 1] : \"\";\n\n  const parts = addressLine.split(',').map(p => p.trim());\n  let suburb = \"\";\n\n  // With \"PO Box 1525, Fortitude Valley, 4006\":\n  // parts = [\"PO Box 1525\", \"Fortitude Valley\", \"4006\"]\n  // suburb = parts[1]\n  if (parts.length >= 2) {\n    suburb = parts[parts.length - 2] || \"\";\n  }\n\n  return { address: addressLine, suburb, postcode };\n}\n\nfunction inferSuburbFromBody(latestText) {\n  const t = latestText.replace(/\\s+/g, \" \").trim();\n  if (t.length <= 40 && /^[A-Za-z][A-Za-z\\s'-]+$/.test(t) && !/thanks|regards/i.test(t)) {\n    return t;\n  }\n  return \"\";\n}\n\nfunction removeSignatureAndAddressFromLatest(latestText, addressLine) {\n  let out = latestText;\n\n  if (addressLine) {\n    const escaped = addressLine.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n    out = out.replace(new RegExp(`\\\\n?${escaped}\\\\n?`, \"g\"), \"\\n\");\n  }\n\n  out = out.replace(/\\n(Warm Regards,|Regards,|Thanks,)\\s*\\n[\\s\\S]*$/i, \"\").trim();\n\n  out = out\n    .split('\\n')\n    .filter(line => {\n      const l = line.trim();\n      if (!l) return true;\n      if (/^(m\\.|p\\.|toll free|brisbane|gold coast|email)\\b/i.test(l)) return false;\n      if (/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i.test(l)) return false;\n      if (/^\\[image:|\\[.*\\.(jpg|png|pdf)\\]$/i.test(l)) return false;\n      if (/https?:\\/\\//i.test(l)) return false;\n      return true;\n    })\n    .join('\\n')\n    .trim();\n\n  return out;\n}\n\nfunction extractPostcodeFromEnquiry(latestText) {\n  const m = latestText.match(/(?:\\bpostcode\\b|\\bpost code\\b|,\\s*)(\\d{4})\\b/i);\n  return m ? m[1] : \"\";\n}\n\nfunction choosePostalCode(addrPostcode, enquiryPostcode) {\n  const pc = (addrPostcode || enquiryPostcode || \"\").trim();\n  if (!/^\\d{4}$/.test(pc)) return \"\";\n  return pc;\n}\n\nfunction isSpam(text, fromEmail) {\n  const t = (text || \"\").toLowerCase();\n  const f = (fromEmail || \"\").toLowerCase();\n\n  const keywordHits = [\n    \"winner\", \"won\", \"congratulations\", \"claim now\", \"urgent\",\n    \"act now\", \"limited time\", \"risk-free\", \"100% free\",\n    \"free gift\", \"investment opportunity\", \"crypto\", \"bitcoin\",\n    \"forex\", \"casino\", \"gambling\", \"loan approval\", \"get rich\",\n    \"wire transfer\", \"bank account\", \"porn\", \"adult\", \"escort\"\n  ].some(k => t.includes(k));\n\n  const urlCount = (text.match(/https?:\\/\\/\\S+/gi) || []).length;\n  const manyUrls = urlCount >= 5;\n\n  const unsubscribeHeavy = t.includes(\"unsubscribe\") && (\n    t.includes(\"marketing\") || t.includes(\"promotion\") || t.includes(\"newsletter\") || t.includes(\"offer\")\n  );\n\n  const fromLooksSpammy =\n    f.endsWith(\".xyz\") || f.endsWith(\".top\") || f.endsWith(\".click\");\n\n  if (keywordHits) return true;\n  if (unsubscribeHeavy && manyUrls) return true;\n  if (manyUrls && fromLooksSpammy) return true;\n\n  return false;\n}\n\nreturn items.map(item => {\n  const j = item.json || {};\n  const id = j.id || \"\";\n  const fullText = j.text || \"\";\n\n  const latest = stripQuotedHistory(fullText);\n\n  const addressLine = findAddressLine(latest);\n  const addrParts = parseAddressParts(addressLine);\n\n  const enquiryClean = removeSignatureAndAddressFromLatest(latest, addressLine);\n\n  const suburbFromBody = inferSuburbFromBody(enquiryClean);\n  const suburb = addrParts.suburb || suburbFromBody || \"\";\n\n  const enquiryPc = extractPostcodeFromEnquiry(enquiryClean);\n  const postalCode = choosePostalCode(addrParts.postcode, enquiryPc);\n\n  const phones = extractPhones(latest);\n  const { mobile, phone } = pickMobileAndPhone(phones);\n\n  const sig = extractNameFromSignature(fullText);\n  const nameParts = splitFirstLast(sig.name);\n\n  const leadEmail = pickBestLeadEmail(j, fullText);\n\n  const spam = isSpam(fullText, leadEmail);\n  const leadQualifier = spam ? \"Spam\" : \"Good\";\n\n  const output = {\n    \"Timestamp\": getTimestamp(j),\n    \"Id\": id,\n    \"Lead Type\": \"Email Enquiry Lead\",\n    \"First Name\": nameParts.first,\n    \"Last Name\": nameParts.last,\n    \"Mobile Number\": mobile,\n    \"Phone Number\": phone,\n    \"Email Address\": leadEmail,\n    \"Address\": addrParts.address,\n    \"State\": \"\",\n    \"Suburb\": suburb,\n    \"Postal Code\": postalCode,\n    \"Enquiry\": enquiryClean,\n    \"Quantity\": \"\",\n    \"I’d Like To Get My Project Underway\": \"\",\n    \"How they heard about us\": \"\",\n    \"Lead Qualifier\": leadQualifier,\n    \"Referred By\": \"\"\n  };\n\n  return { json: output };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        432
      ],
      "id": "823a446f-7a20-491f-adf4-59b99f8b1c5e",
      "name": "HiLead Parsing ",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// items: array of input items from Gmail Get Many\n// each item.json has at least: { id, text }\n\nfunction normalizeDigits(str) {\n  if (!str) return '';\n  return String(str).replace(/\\D+/g, '');\n}\n\nfunction formatAuPhone(raw, type) {\n  if (!raw) return '';\n  let digits = normalizeDigits(raw);\n  if (!digits) return '';\n\n  // Handle +61 or 61 prefix\n  if (digits.startsWith('61')) {\n    digits = '0' + digits.slice(2);\n  } else if (!digits.startsWith('0') && digits.length >= 9) {\n    // Assume missing leading 0\n    digits = '0' + digits;\n  }\n\n  // Mobile\n  if (type === 'mobile') {\n    if (digits.length === 10) {\n      // 04xx xxx xxx\n      return digits.replace(/(\\d{4})(\\d{3})(\\d{3})/, '$1 $2 $3');\n    }\n  }\n\n  // Landline\n  if (type === 'landline') {\n    if (digits.length === 10) {\n      // 0x xxxx xxxx\n      return digits.replace(/(\\d{2})(\\d{4})(\\d{4})/, '$1 $2 $3');\n    }\n  }\n\n  // Fallback\n  return digits;\n}\n\nfunction getBrisbaneDate(json) {\n  let date;\n\n  if (json.internalDate) {\n    // Gmail internalDate is ms since epoch as string\n    date = new Date(Number(json.internalDate));\n  } else {\n    // For test payloads (id + text only), just use \"now\"\n    date = new Date();\n  }\n\n  // dd/mm/yyyy, HH:MM:SS in Australia/Brisbane\n  return date.toLocaleString('en-AU', {\n    timeZone: 'Australia/Brisbane',\n    hour12: false,          // 24-hour time\n  });\n}\n\n// Parse both styles:\n// - \"First NameDonLast NamePuertoEmail...\"\n// - \"First Name NENdpIiv... \\nLast Name Dbbd...\"\nfunction parseFormText(rawText) {\n  if (!rawText) return {};\n\n  // Remove newlines so markers are continuous\n  const text = rawText.replace(/\\r?\\n/g, ' ');\n\n  const markerDefs = [\n    { key: 'firstName',      marker: 'First Name' },\n    { key: 'lastName',       marker: 'Last Name' },\n    { key: 'email',          marker: 'Email' },\n    { key: 'phoneNumberRaw', marker: 'Phone Number' },\n    { key: 'suburb',         marker: 'Suburb' },\n    { key: 'state',          marker: 'State' },\n    { key: 'enquiry',        marker: 'Enquiry' },\n    { key: 'projectTiming',  marker: \"I'd Like To Get My Project Underway...\" },\n    { key: 'howHeard',       marker: 'How did yopu here about us' }, // older form\n    // boundaries\n    { key: null,             marker: 'Brands' },\n    { key: null,             marker: 'Services' },\n    { key: 'quantity',       marker: 'Quantity' }\n  ];\n\n  const positions = [];\n\n  for (const m of markerDefs) {\n    const idx = text.indexOf(m.marker);\n    if (idx === -1) continue;\n    positions.push({\n      key: m.key,\n      markerIndex: idx,\n      valueStart: idx + m.marker.length,\n    });\n  }\n\n  if (!positions.length) return {};\n\n  positions.sort((a, b) => a.markerIndex - b.markerIndex);\n\n  const result = {};\n\n  for (let i = 0; i < positions.length; i++) {\n    const curr = positions[i];\n    const next = positions[i + 1];\n    const end = next ? next.markerIndex : text.length;\n    const value = text.slice(curr.valueStart, end).trim();\n\n    if (curr.key && value) {\n      result[curr.key] = value;\n    }\n  }\n\n  // Fallback: email regex if not caught by marker\n  if (!result.email) {\n    const emailMatch = text.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n    if (emailMatch) result.email = emailMatch[0];\n  }\n\n  return result;\n}\n\n// Helper: is this an Australian-style phone number?\nfunction isValidAuPhone(phoneDigits) {\n  if (!phoneDigits) return false;\n\n  // +61 already normalised before this, so we expect 0xxxxxxxxx\n  if (phoneDigits.startsWith('04') && phoneDigits.length === 10) return true; // mobile\n  if (phoneDigits.startsWith('0') && phoneDigits.length === 10) return true;  // landline\n\n  return false;\n}\n\nfunction isSpamLead(parsed) {\n  const first = (parsed.firstName || '').trim();\n  const last  = (parsed.lastName  || '').trim();\n  const phoneRaw    = parsed.phoneNumberRaw || '';\n  const phoneDigits = normalizeDigits(phoneRaw);\n\n  const hasName  = first.length >= 2 && last.length >= 2;\n  const hasPhone = isValidAuPhone(phoneDigits);   // *** AU-only now ***\n\n  const nameCombo = (first + ' ' + last).toLowerCase();\n\n  // Basic spam rules\n  if (!hasName || !hasPhone) return true;           // missing AU phone → spam\n  if (nameCombo.includes('test') || nameCombo.includes('asdf')) return true;\n  if (nameCombo.includes('sdr')) return true;       // your SDR test names\n\n  return false;\n}\n\n// Main mapping over items\nreturn items.map(item => {\n  const json = item.json || {};\n  const id = json.id || '';\n  const rawText = json.text || json.textPlain || json.snippet || '';\n\n  const parsed = parseFormText(rawText);\n\n  // Single \"Phone Number\" field → decide mobile vs landline\n  const phoneRaw    = parsed.phoneNumberRaw || '';\n  const phoneDigits = normalizeDigits(phoneRaw);\n  let mobileFormatted = '';\n  let phoneFormatted  = '';\n\n  if (phoneDigits.startsWith('04') && phoneDigits.length === 10) {\n    // AU mobile\n    mobileFormatted = formatAuPhone(phoneRaw, 'mobile');\n  } else if (phoneDigits.length === 10 && phoneDigits.startsWith('0')) {\n    // AU landline\n    phoneFormatted = formatAuPhone(phoneRaw, 'landline');\n  } else if (phoneDigits) {\n    // Non-AU or weird → keep raw digits in Phone Number (still marked as spam)\n    phoneFormatted = phoneDigits;\n  }\n\n  const timestamp     = getBrisbaneDate(json);\n  const leadQualifier = isSpamLead(parsed) ? 'Spam' : 'Good';\n\n  return {\n    json: {\n      Timestamp: timestamp,\n      Id: id,\n      // *** Hard-coded for this flow ***\n      'Lead Type': 'Windowrevival.NET Lead',\n\n      'First Name': parsed.firstName || '',\n      'Last Name':  parsed.lastName  || '',\n      'Mobile Number': mobileFormatted,\n      'Phone Number':  phoneFormatted,\n      'Email Address': parsed.email || '',\n      'Address': parsed.address || '',\n      State:  parsed.state  || '',\n      Suburb: parsed.suburb || '',\n      'Postal Code': parsed.postalCode || '',\n      Enquiry: parsed.enquiry || '',\n      Quantity: parsed.quantity || '',\n      \"I'd Like To Get My Project Underway\": parsed.projectTiming || '',\n      'How they heard about us': parsed.howHeard || '',\n      'Lead Qualifier': leadQualifier, // \"Good\" or \"Spam\"\n      'referredBy': '',  \n      _rawText: rawText,\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -464
      ],
      "id": "6e0c159c-23a7-49bf-a43a-96622c269d52",
      "name": "Windowrevival.NET Parsing"
    },
    {
      "parameters": {
        "jsCode": "// items: array of input items from Gmail Get Many\n// each item.json has at least: { id, text }\n\nfunction normalizeDigits(str) {\n  if (!str) return '';\n  return String(str).replace(/\\D+/g, '');\n}\n\nfunction formatAuPhone(raw, type) {\n  if (!raw) return '';\n  let digits = normalizeDigits(raw);\n  if (!digits) return '';\n\n  // Handle +61 or 61 prefix\n  if (digits.startsWith('61')) {\n    digits = '0' + digits.slice(2);\n  } else if (!digits.startsWith('0') && digits.length >= 9) {\n    // Assume missing leading 0\n    digits = '0' + digits;\n  }\n\n  // Mobile\n  if (type === 'mobile') {\n    if (digits.length === 10) {\n      // 04xx xxx xxx\n      return digits.replace(/(\\d{4})(\\d{3})(\\d{3})/, '$1 $2 $3');\n    }\n  }\n\n  // Landline\n  if (type === 'landline') {\n    if (digits.length === 10) {\n      // 0x xxxx xxxx\n      return digits.replace(/(\\d{2})(\\d{4})(\\d{4})/, '$1 $2 $3');\n    }\n  }\n\n  // Fallback\n  return digits;\n}\n\nfunction getBrisbaneDate(json) {\n  let date;\n\n  if (json.internalDate) {\n    // Gmail internalDate is ms since epoch as string\n    date = new Date(Number(json.internalDate));\n  } else {\n    // For your test payload (id + text only), just use \"now\"\n    date = new Date();\n  }\n\n  // \"dd/mm/yyyy, HH:MM:SS\" in Australia/Brisbane\n  return date.toLocaleString('en-AU', {\n    timeZone: 'Australia/Brisbane',\n    hour12: false, // 24-hour time\n  });\n}\n\n// Parse \"First NameDonLast NamePuertoEmail...\" style text\nfunction parseFormText(rawText) {\n  if (!rawText) return {};\n\n  // Remove newlines so markers are continuous\n  const text = rawText.replace(/\\r?\\n/g, ' ');\n\n  // Markers in the order they appear in the form\n  const markerDefs = [\n    { key: 'firstName',      marker: 'First Name' },\n    { key: 'lastName',       marker: 'Last Name' },\n    { key: 'email',          marker: 'Email' },\n    { key: 'phoneNumberRaw', marker: 'Phone Number' },\n    { key: 'suburb',         marker: 'Suburb' },\n    { key: 'state',          marker: 'State' },\n    { key: 'enquiry',        marker: 'Enquiry' },\n    { key: 'projectTiming',  marker: \"I'd Like To Get My Project Underway...\" },\n    { key: 'howHeard',       marker: 'How did yopu here about us' },\n    // boundaries\n    { key: null,             marker: 'Brands' },\n    { key: null,             marker: 'Services' },\n    { key: 'quantity',       marker: 'Quantity' }\n  ];\n\n  const positions = [];\n\n  for (const m of markerDefs) {\n    const idx = text.indexOf(m.marker);\n    if (idx === -1) continue;\n    positions.push({\n      key: m.key,\n      markerIndex: idx,\n      valueStart: idx + m.marker.length,\n    });\n  }\n\n  if (!positions.length) return {};\n\n  // Sort by position\n  positions.sort((a, b) => a.markerIndex - b.markerIndex);\n\n  const result = {};\n\n  for (let i = 0; i < positions.length; i++) {\n    const curr = positions[i];\n    const next = positions[i + 1];\n    const end = next ? next.markerIndex : text.length;\n    const value = text.slice(curr.valueStart, end).trim();\n\n    if (curr.key && value) {\n      result[curr.key] = value;\n    }\n  }\n\n  // Fallback: email regex if not caught by marker\n  if (!result.email) {\n    const emailMatch = text.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n    if (emailMatch) result.email = emailMatch[0];\n  }\n\n  return result;\n}\n\nfunction isSpamLead(parsed) {\n  const first = (parsed.firstName || '').trim();\n  const last = (parsed.lastName || '').trim();\n  const phoneRaw = parsed.phoneNumberRaw || '';\n  const phoneDigits = normalizeDigits(phoneRaw);\n\n  const hasName = first.length >= 2 && last.length >= 2;\n  const hasPhone = phoneDigits.length >= 9;\n\n  const nameCombo = (first + ' ' + last).toLowerCase();\n\n  // Basic spam rules\n  if (!hasName || !hasPhone) return true;\n  if (nameCombo.includes('test') || nameCombo.includes('asdf')) return true;\n  if (nameCombo.includes('sdr')) return true; // your SDR test names\n\n  return false;\n}\n\n// Main mapping over items\nreturn items.map(item => {\n  const json = item.json || {};\n  const id = json.id || '';\n  const rawText = json.text || json.textPlain || json.snippet || '';\n\n  const parsed = parseFormText(rawText);\n\n  // Single \"Phone Number\" field → decide mobile vs landline\n  const phoneRaw = parsed.phoneNumberRaw || '';\n  const phoneDigits = normalizeDigits(phoneRaw);\n  let mobileFormatted = '';\n  let phoneFormatted = '';\n\n  if (phoneDigits.startsWith('04') && phoneDigits.length === 10) {\n    // AU mobile\n    mobileFormatted = formatAuPhone(phoneRaw, 'mobile');\n  } else if (phoneDigits.length === 10 && phoneDigits.startsWith('0')) {\n    // AU landline\n    phoneFormatted = formatAuPhone(phoneRaw, 'landline');\n  } else if (phoneDigits) {\n    phoneFormatted = phoneDigits;\n  }\n\n  const timestamp = getBrisbaneDate(json);\n  const leadQualifier = isSpamLead(parsed) ? 'Spam' : 'Good';\n\n  return {\n    json: {\n      Timestamp: timestamp,                     // e.g. \"21/11/2025, 08:25:40\"\n      Id: id,\n      'Lead Type': 'Sliding Door Lead',\n\n      'First Name': parsed.firstName || '',\n      'Last Name': parsed.lastName || '',\n      'Mobile Number': mobileFormatted,\n      'Phone Number': phoneFormatted,\n      'Email Address': parsed.email || '',\n      'Address': parsed.address || '',\n      State: parsed.state || '',\n      Suburb: parsed.suburb || '',\n      'Postal Code': parsed.postalCode || '',\n      Enquiry: parsed.enquiry || '',\n      Quantity: parsed.quantity || '',\n      \"I'd Like To Get My Project Underway\": parsed.projectTiming || '',\n      'How they heard about us': parsed.howHeard || '',\n      'Lead Qualifier': leadQualifier,\n\n      referredBy: '',          // always empty string for Google Sheets\n\n      _rawText: rawText\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -272
      ],
      "id": "c3d46c96-3657-4eb0-a31c-15442aad01c1",
      "name": "SDR Parsing"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "753455160209965106",
          "mode": "list",
          "cachedResultName": "Window Revival",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106"
        },
        "channelId": {
          "__rl": true,
          "value": "912496260823519232",
          "mode": "list",
          "cachedResultName": "leads・new",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106/912496260823519232"
        },
        "content": "===========\nLead Type: {{ $json['Lead Type'] }}\nTimestamp: {{ $json.Timestamp }}\nId: {{ $json.Id }}\nFirst Name: {{ $json['First Name'] }}\nLast Name: {{ $json['Last Name'] }}\nMobile Number: {{ $json['Mobile Number'] }}\nPhone Number: {{ $json['Phone Number'] }}\nEmail Address: {{ $json['Email Address'] }}\nAddress: {{ $json.Address }}\nState: {{ $json.State }}\nSuburb: {{ $json.Suburb }}\nPostal Code: {{ $json['Postal Code'] }}\nEnquiry: {{ $json.Enquiry }}\nQuantity: {{ $json.Quantity }}\nI'd Like To Get my Project Underway: {{ $json['I’d Like To Get My Project Underway'] }}\nHow they heard about us?: {{ $json['How they heard about us'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        704,
        -80
      ],
      "id": "af7693d1-8cbb-47aa-8a3f-b4d1aeb03d01",
      "name": "Send a message",
      "webhookId": "b7d8e17a-a53a-4be1-8bbe-b5d117cfc7fe",
      "credentials": {
        "discordBotApi": {
          "id": "a0FDlWFh8PBA5Add",
          "name": "WR: Discord Bot Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        928,
        112
      ],
      "id": "7d1c99f5-dd11-4ed6-be86-544535333426",
      "name": "Delete spam email",
      "webhookId": "8784515d-aa43-4a99-8f48-8b5411763784",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.Id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        112
      ],
      "id": "66c04729-848c-4a6a-9bee-440ed0cdd7d0",
      "name": "Check id if exist before deleting",
      "webhookId": "712fcf56-16a8-4b1d-b53f-75110ec6b8e0",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        -704
      ],
      "id": "e381342f-5bd1-470d-a1fd-960faa34e1ab",
      "name": "Send to Wrapp",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        112
      ],
      "id": "2757f5f6-a0aa-4c8f-af6d-f9c7e364fc9e",
      "name": "Get Ids"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_5972230113927178957",
            "Label_1570154545002388347"
          ],
          "readStatus": "both"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1088,
        -560
      ],
      "id": "b9294ff6-140c-404f-91e9-9c43d4c170f7",
      "name": "Get 5 Windowrevival.NET messages1",
      "webhookId": "33525e05-4264-4caf-bcf9-dfc3e0efddf4",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        -80
      ],
      "id": "381c3b96-bb3e-4031-9fb2-0d6fa44b8db3",
      "name": "Wait",
      "webhookId": "a9169a86-2ae3-4d4b-9a3c-76693595d3f9"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_4746392800957065361"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1088,
        208
      ],
      "id": "e5ce4347-20e6-4b50-885a-56a6d25e7a88",
      "name": "Get 5 Email Enquire mails",
      "webhookId": "33525e05-4264-4caf-bcf9-dfc3e0efddf4",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e570add7-64c9-4339-b667-670a56ad8fa0",
              "leftValue": "={{ $json[\"labelIds\"].join(\",\") }}\n\n",
              "rightValue": "=Label_169",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        208
      ],
      "id": "7928021e-3e20-4392-89e1-3e66e2a33751",
      "name": "Passed only if there is \"Processed by N8N\" Label (Label_169)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85afdd48-f009-4291-8774-a261bf4a4c79",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "be01890a-0215-41ff-95e9-a172913c9400",
              "name": "from",
              "value": "={{ $json.from.value[0].address }}",
              "type": "object"
            },
            {
              "id": "e672ac68-9984-4a58-aa4a-e4e2ea8f3472",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "64676cf4-8416-43bd-ab62-41ff88554d09",
              "name": "enquiry",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        192
      ],
      "id": "3dda2a68-508a-449d-9b38-278bdc11b1be",
      "name": "Email Enquiries Mapping Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -576,
        192
      ],
      "id": "c66f355d-2008-4121-8e7c-0473cd6a021e",
      "name": "Split Email Enquiries by id"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -352,
        192
      ],
      "id": "3b620f99-177d-4f27-9306-9ae75796918c",
      "name": "Get a message",
      "webhookId": "5641fb7e-39af-4b7e-bc56-519bb5eb1f6f",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": []
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1584,
        240
      ],
      "id": "b15dc28c-0207-441e-b9b2-3b960d2aebd6",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1456,
        -192
      ],
      "id": "512de276-04d0-41f1-a58c-dbf358d531c3",
      "name": "Trigger every 5 minute"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1312,
        208
      ],
      "id": "d5a66aae-19b2-4553-9def-08be3547d7d5",
      "name": "Wait1",
      "webhookId": "9580fedf-822d-4383-afd4-44250ed24bf9"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "SDR Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 5 SDR messages": {
      "main": [
        [
          {
            "node": "Filter \"Label_169\" for SDR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 5 Windowrevival.NET messages": {
      "main": [
        [
          {
            "node": "Filter \"Label_169\" WR.NET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter \"Label_169\" for SDR": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter \"Label_169\" for Windowrevival.NET": {
      "main": [
        [
          {
            "node": "Windowrevival.NET Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send to Wrapp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check id if exist before deleting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 5 FB messages": {
      "main": [
        [
          {
            "node": "Filter \"Label_169\" FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter \"Label_169\" WR.NET": {
      "main": [
        [
          {
            "node": "Filter \"Label_169\" for Windowrevival.NET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter \"Label_169\" FB": {
      "main": [
        [
          {
            "node": "Filter \"Label_169\" for FB Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter \"Label_169\" for FB Leads": {
      "main": [
        [
          {
            "node": "FB Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Parsing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Windowrevival.NET Parsing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SDR Parsing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HiLead Parsing ": {
      "main": [
        []
      ]
    },
    "Delete spam email": {
      "main": [
        []
      ]
    },
    "Check id if exist before deleting": {
      "main": [
        [
          {
            "node": "Get Ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ids": {
      "main": [
        [
          {
            "node": "Delete spam email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 5 Windowrevival.NET messages1": {
      "main": [
        [
          {
            "node": "Filter \"Label_169\" WR.NET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 5 Email Enquire mails": {
      "main": [
        [
          {
            "node": "Passed only if there is \"Processed by N8N\" Label (Label_169)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passed only if there is \"Processed by N8N\" Label (Label_169)": {
      "main": [
        [
          {
            "node": "Split Email Enquiries by id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Enquiries Mapping Fields": {
      "main": [
        []
      ]
    },
    "Split Email Enquiries by id": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Email Enquiries Mapping Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        []
      ]
    },
    "Trigger every 5 minute": {
      "main": [
        [
          {
            "node": "Get 5 SDR messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get 5 Windowrevival.NET messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get 5 FB messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get 5 Windowrevival.NET messages1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get 5 Email Enquire mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "b4cFEFv1eFePOnMh"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1763427141,
        "possibleDuplicates": [
          "19a9472ca8f2fab6",
          "19a946dfe0b61dd3",
          "19a946bd84f6be6e",
          "19a946b0458f4fcf",
          "19a9469cc2a83387",
          "19a9468af00ed599",
          "19a9466cf92938d4",
          "19a945fd86ef412e",
          "19a945eb4bb2f4a8",
          "19a945767d761512",
          "19a9453a3ff698d7",
          "19a94516453f84b8",
          "19a944f7ba65087e",
          "19a944d0f69bd9ed",
          "19a944c587c61090",
          "19a944b1a9d19c7c",
          "19a944a718ca7c8d",
          "19a944939e627a34",
          "19a944784862f3f7",
          "19a94442ba7fdc2e",
          "19a94424a67cdfcd",
          "19a9440842ed2861",
          "19a943ea0493a8f2",
          "19a943cf0ec68dba",
          "19a943ca04569d7f",
          "19a9438df3d9db76",
          "19a94373ea78dc3b",
          "19a943261e82b3c3",
          "19a9429a0936ce4b",
          "19a94236a8815c51",
          "19a9421fbaaa3ea7",
          "19a941d5d1790060"
        ]
      }
    },
    "node:Trigger every 1 minute": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Get 5 Email Enquire mails": [
      {
        "json": {
          "id": "19bbe903a251ed4c",
          "threadId": "19bbe903a251ed4c",
          "labelIds": [
            "Label_4746392800957065361",
            "IMPORTANT",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 35102,
          "headers": {
            "delivered-to": "Delivered-To: windowrevival@gmail.com",
            "received": "Received: from SY4P282MB2442.AUSP282.PROD.OUTLOOK.COM\r\n ([fe80::8af:6ae9:dbd5:118c]) by SY4P282MB2442.AUSP282.PROD.OUTLOOK.COM\r\n ([fe80::8af:6ae9:dbd5:118c%6]) with mapi id 15.20.9520.005; Wed, 14 Jan 2026\r\n 22:09:28 +0000",
            "x-forwarded-encrypted": "X-Forwarded-Encrypted: i=3; AJvYcCWHnF6ucfAZckHBsjmBjoLgf1yGjcaLMM/KuLEpelB9voe162Nu0uM8NjPKJX9g7zho1ox39u8/gI8MALyP@gmail.com",
            "x-received": "X-Received: by 2002:a17:902:c947:b0:2a2:f2e6:cc54 with SMTP id d9443c01a7336-2a599d862bemr46256035ad.4.1768428682189;\r\n        Wed, 14 Jan 2026 14:11:22 -0800 (PST)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; s=arcselector10001; d=microsoft.com; cv=none;\r\n b=BHEwxIgXzA4kC/vS5mc9beAmEmB8T5vmm22uIcKG8ZOSGwWGskpZyYsaajO+ScLOhxsR9SAIbawEL9T1h5ceH7eqqwiHofzPw3sAdgQ19nIESyPu1VxJFRFjVFsqF7UiIsOkoRyVslEY2vEJ+eveJi6B9ITw+1eFoafeHoezBo78T7ijJt906aF4cFT6h3IooqFd1krmSSMzwzCenJsGfoqraceF2n+aG3+hwNtwrr8mEZqSbzMbVHqnulAoBG61AtmMHiSdz7qBvEf3MkKYcARBXqUkPtle/322stF60hNlq24QMcwmL0hONRcPwR/Pp8GPad/M/vWghcw7vxLnQw==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=microsoft.com;\r\n s=arcselector10001;\r\n h=From:Date:Subject:Message-ID:Content-Type:MIME-Version:X-MS-Exchange-AntiSpam-MessageData-ChunkCount:X-MS-Exchange-AntiSpam-MessageData-0:X-MS-Exchange-AntiSpam-MessageData-1;\r\n bh=w4g0k+y3embXOvpWpIRSmYHduTHK0J0gd3aChf+vv1A=;\r\n b=dIIfCGBAz5XGWmWbWPyYusNNa9LiOBLEiYJAmyQ0HQZe+DQKtYoZLhKTEuOczj5qZPQhJtzA1WpNDz5J20Pw/ZfyvQ3HPQpYse3Eig36bziwFnm5gcLJqdNbPXr/jf632+BxS+0BeovpxSc8KMjFgbEJWgXb000bWHqza4FDHa6JvWICk9jBOeCYtejVVcnA9D1LKZVO4+2WQbR6ZS0ikBivdFBXdFDyhGUcKivBc9x39wnr52wxOmkYuscQFhMkn1WQkdlOwfOdeFIm+JN6PSkERin7B1xsGged8XMYu51mtHKlnLoYdboQskwjZp1xsjEnaiW37iVGzTLE6bYFLw==",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.microsoft.com 1; spf=pass\r\n smtp.mailfrom=digitalpulley.com; dmarc=pass action=none\r\n header.from=digitalpulley.com; dkim=pass header.d=digitalpulley.com; arc=none",
            "return-path": "Return-Path: <srs0=cm2n=7t=digitalpulley.com=leighton@bounce.secureserver.net>",
            "received-spf": "Received-SPF: pass (google.com: domain of srs0=cm2n=7t=digitalpulley.com=leighton@bounce.secureserver.net designates 182.50.132.200 as permitted sender) client-ip=182.50.132.200;",
            "authentication-results": "authentication-results: dkim=none (message not signed)\r\n header.d=none;dmarc=none action=none header.from=digitalpulley.com;",
            "x-cmae-analysis": "X-CMAE-Analysis: v=2.4 cv=F6P9sKhN c=1 sm=1 tr=0 ts=6968144b\r\n a=3CalYPD7c+ro3/CVEo5dnQ==:117 a=3CalYPD7c+ro3/CVEo5dnQ==:17\r\n a=z/mQ4Ysz8XfWz/Q5cLBRGdckG28=:19 a=lCpzRmAYbLLaTzLvsPZ7Mbvzbb8=:19\r\n a=xqWC_Br6kY4A:10 a=vUbySO9Y5rIA:10 a=w4c7WCnoWuMA:10 a=xMshevVPb6oA:10\r\n a=7j0FZ4iXMVMA:10 a=-U7mlnc3q3wA:10 a=Lbsm0NKLAAAA:8 a=6berAWIjQ9eKWgGjoRQA:9\r\n a=CjuIK1q_8ugA:10 a=qrAfxiWbG0734qV7:21 a=_W_S_7VecoQA:10 a=lqcHg5cX4UMA:10\r\n a=o7gaBLvHzbzdQys4pkEA:9 a=KQqxNPgzF0kA:10 a=VEiTNn8F7TgA:10\r\n a=kIbTAZRxyuSykcsYDMLi:22",
            "x-secureserver-acct": "X-SECURESERVER-ACCT: pv5jnapr5duc",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed; d=digitalpulley.com;\r\n s=selector1;\r\n h=From:Date:Subject:Message-ID:Content-Type:MIME-Version:X-MS-Exchange-SenderADCheck;\r\n bh=w4g0k+y3embXOvpWpIRSmYHduTHK0J0gd3aChf+vv1A=;\r\n b=L4S3QDYw6GcC2EignL0QFFFb1MoyPaXkl8G8jOXV8suPj/AlWP42AURv5tdZgSN4ZB1kPqXKpTmfT09gZD4ygIlfaQSOFk9/2FTYNGvWzXG9dVw7Y4qW9dFWQc2rKqyrqE+YhmYIOBeAMMhhvqLmOzj9h34OG0CloMuqN7x4qns=",
            "from": "From: \"Leighton @ DP\" <Leighton@digitalpulley.com>",
            "to": "To: \"sales@windowrevival.com.au\" <sales@windowrevival.com.au>",
            "subject": "Subject: Sash",
            "thread-topic": "Thread-Topic: Sash",
            "thread-index": "Thread-Index: AQHchaI0qfW1NtIke0uZW3ZB4q0k1A==",
            "date": "Date: Wed, 14 Jan 2026 22:09:28 +0000",
            "message-id": "Message-ID:\r\n <SY4P282MB2442DC1CE01E871A8F22C02FCC8FA@SY4P282MB2442.AUSP282.PROD.OUTLOOK.COM>",
            "accept-language": "Accept-Language: en-AU, en-US",
            "content-language": "Content-Language: en-AU",
            "x-ms-has-attach": "X-MS-Has-Attach: yes",
            "x-ms-tnef-correlator": "X-MS-TNEF-Correlator:",
            "x-codetwoprocessed": "x-codetwoprocessed: true",
            "x-codetwo-clientsignature-inserted": "x-codetwo-clientsignature-inserted: true",
            "x-ms-reactions": "x-ms-reactions: allow",
            "x-ms-publictraffictype": "x-ms-publictraffictype: Email",
            "x-ms-traffictypediagnostic": "x-ms-traffictypediagnostic: SY4P282MB2442:EE_|ME4P282MB1063:EE_",
            "x-ms-office365-filtering-correlation-id": "x-ms-office365-filtering-correlation-id: 9814bab3-9a14-4300-a6f7-08de53b995e8",
            "x-ms-exchange-senderadcheck": "x-ms-exchange-senderadcheck: 1",
            "x-ms-exchange-antispam-relay": "x-ms-exchange-antispam-relay: 0",
            "x-microsoft-antispam": "x-microsoft-antispam:\r\n BCL:0;ARA:13230040|366016|376014|1800799024|4053099003|8096899003|38070700021;",
            "x-microsoft-antispam-message-info": "x-microsoft-antispam-message-info:\r\n =?us-ascii?Q?JEVfXY0d05CYa2bMA/2CWGYILy7xRF41Pde9Or86H7cF9J59XY8RaWUF61qm?=\r\n =?us-ascii?Q?98XYJHnPpwn863K8LI7/0kTjUf83/4ChEalFr9OcLBQlVrHsg2QbzcLx3Dn0?=\r\n =?us-ascii?Q?HEt8moTeoMlq8kyAt7oh6rsVSnbXX+pshdgsHBkZSErFKQTdjiKUC79Vgw7j?=\r\n =?us-ascii?Q?jlR8PR7ECo/8C5HCGDUhX111jQeKOR3HB72iov2QyxK+ScpKe5hpQZElGYFW?=\r\n =?us-ascii?Q?bI+e5Ds1eYyvrnzV/leUquUZ7KaMzN4XNUKrOgBSYFjUCPKdrFRGxbJYAKNm?=\r\n =?us-ascii?Q?I6fyUgb2+UG55HQrqUh35m8NfG0ZVXuhtqIEtr8zOOJpMUlIFvqrzesCWbH4?=\r\n =?us-ascii?Q?UCjpyyw2Zt+VaoRP5tPYuqja/hcEzcS1ntZhyLZnNvFkMHOCVh0hK0zaYVMB?=\r\n =?us-ascii?Q?4XRI76Pj/29ol679JgW/AB3bC/rGjSWvbzppv0sosrJfBMtCNeWaknbYiYk5?=\r\n =?us-ascii?Q?6aZIgnRYqc7nQu9TH8jvNgRjm7PbLMME//nWwaHMes9WX1rkWNqzGV63WgJm?=\r\n =?us-ascii?Q?xmndx+2ZCtXXyXeZz1lqhku2N64JfAi3xFClY0dTo5JeltuLXgkoRNNgmmvx?=\r\n =?us-ascii?Q?m1k2L67EAR13moEpGPspgPMw19fLqLUljyZXfSQmtHviN17mU5BEFpfmx0hW?=\r\n =?us-ascii?Q?shA3E+a2fnTGpfRWuH0DSw84sbBBbCFmmvM68uDXXVoCGgxgddaebYdEl4qJ?=\r\n =?us-ascii?Q?ajL0jZJX20A9w5EwQr0x3hoH7p5EGIiE2tUAgWI8sFFNO/X1e45GbNmVM13o?=\r\n =?us-ascii?Q?xNT9DqOHCoLahAMDFc8GZxd8f2qZw5q+CCIKNNp1kc7WgUKDoJzgISVPmLWE?=\r\n =?us-ascii?Q?BdfjnDYQbRaefcxmDSM7s2OFUdTL/mbFLVNDTLs1QRBhnJwX2iUTtXiUYVfq?=\r\n =?us-ascii?Q?QfR72M+rl0RvjQFOcTy4bpJDJKsp6rePJoX07qR+ElImYLoqGRl98GBYPCUX?=\r\n =?us-ascii?Q?DPdLh2RLrXl9I/oXxweTGGjKSZJslZUlsEZfrk1OzryOJcaYWg536qpU2L2O?=\r\n =?us-ascii?Q?vW1nueVHZbyGJzViQC9iM0B2ZZHg4T90EwTRv8k1kh7u1mpgAJCJNhzUyjLx?=\r\n =?us-ascii?Q?GEGei7YIEc63U5NScagPHS+m/L/AstMKF3aN8N+05HPvGrRfErg+s00RZSpj?=\r\n =?us-ascii?Q?63mH9i1xGOHB15XN6OiEe0l/v2SBTY9k3HLXNTuPWzky2LEoCCk6NzFvJKU6?=\r\n =?us-ascii?Q?jPZakUuMT9HHrpWLAxFgwq1oF1RtDZhxHiRffd6zlCnCxD6iX25Rs1XDjSQw?=\r\n =?us-ascii?Q?zpi3il+NgjyORKTdGDJhh4HoJr1E2MZ8jrp81BpH9fq8/Dgzf7zYGhUqD37A?=\r\n =?us-ascii?Q?TC891+GmKAqr18jBgsli1lWs/Bzy1U1MKlabIv6WfPArGHeeyytgAK/WXl4S?=\r\n =?us-ascii?Q?sAdDt/ERGCHvOrulBHYU+B69FRVJTg+bysCEmAm6QHA0y2/iCKG4vZNG4b/D?=\r\n =?us-ascii?Q?VYhnrpPUZ2bmFxLB+B2pmqA9Vl66tQeHgd6COr3yevREZBsp0d0sroNF/UCH?=\r\n =?us-ascii?Q?XvciJgPEEz98DpzJFeQFlu3b5Nn5R4uBgsvRjfioqdZAcghKrotrcuNYvf/P?=\r\n =?us-ascii?Q?c6k6lw0TnhUcY4b50x/i6r3b0m0jvZ/y05cRRXES54zOYzoftFoe9xDi9DrE?=\r\n =?us-ascii?Q?M7bj8K3vBZOx+Fc3t1p6AgM=3D?=",
            "x-forefront-antispam-report": "x-forefront-antispam-report:\r\n CIP:255.255.255.255;CTRY:;LANG:en;SCL:1;SRV:;IPV:NLI;SFV:NSPM;H:SY4P282MB2442.AUSP282.PROD.OUTLOOK.COM;PTR:;CAT:NONE;SFS:(13230040)(366016)(376014)(1800799024)(4053099003)(8096899003)(38070700021);DIR:OUT;SFP:1102;",
            "x-ms-exchange-antispam-messagedata-chunkcount": "x-ms-exchange-antispam-messagedata-chunkcount: 1",
            "x-ms-exchange-antispam-messagedata-0": "x-ms-exchange-antispam-messagedata-0:\r\n =?us-ascii?Q?6h0yy2QfOVE1K7xRwvFO1IwMzmtcckBte5myNnKUEcUqY/Ov1BZFQ6qlqWig?=\r\n =?us-ascii?Q?nKFFVIv34XVImhe1QgOmn9q44KZ7P5C1Xrs8BsTSHApV80cy9XuSSf7lKZQu?=\r\n =?us-ascii?Q?Gd3E3BB0IFhoJTsSY0ribePnZ9sK1rlkwAb63ic3yGh4+gYVGDNvwVIFKNuG?=\r\n =?us-ascii?Q?tLAaoOszX/KXwce8s/pvNIQGj+1EucWUd4OwBehtb/p/h+8g+GqTtIvMVH+F?=\r\n =?us-ascii?Q?LiAsy2Ch4n2S0JNkiGWCI82O5VzLVYDh23kbCijIwA/09llHjI/uvKLbSuLq?=\r\n =?us-ascii?Q?9FnrE+uuS4GDkPIBhCOOl1biGVf7rNrA5hreLLioV0PuiiwKbFoOVc+UmS8b?=\r\n =?us-ascii?Q?3yF1to6eH37z/DBEd75ZmMOyetkGIkUxLhHkDaQVpExUIlGgZACZ14l8XXpK?=\r\n =?us-ascii?Q?N5VjhiQvZfZXZxypqM+IhwFlCyWmVxYlGZJnCRHdrI8CKUhe8lbYR+lJr9si?=\r\n =?us-ascii?Q?IbR3HBuKBeKYPPVo/5CiAsae2olSJyvv9YG85cG0gmURYKwPIwjoO0YN4Zto?=\r\n =?us-ascii?Q?1xMliU/QL4xo40s225vrzdZweUIWqrO/9Uj6QqMFzL/o82Ea3KO6SczGuudF?=\r\n =?us-ascii?Q?U8G3PXDNcmpPcNB9iHv9OnzcIR9i0DqA/KNdXGpEqghuSHn+tVS08ANbzwTH?=\r\n =?us-ascii?Q?8AH94wrZxMh1CtlJpXEbEFHjC7NNiVKvn7ZIOegIDu3C/SNhPUqM6jMW8BdP?=\r\n =?us-ascii?Q?hz2Qg/D5lhPytca/VK8YqGbKR77kNiNaktAD6Lr/LQcf/PmcaI30hs0PkN64?=\r\n =?us-ascii?Q?FlR3lV9YknOHKD9R2CnepbqNAp5+hJSLPrS5SRrezOWMMqNTBSuop22zpFtF?=\r\n =?us-ascii?Q?S0F3+9KRYLrRxR7UCEkVZK6Q3MihRNOymYz7IMxjbRDC1b2qtS0duhumuvs4?=\r\n =?us-ascii?Q?Db1xIzAWZfXm2iuS+7iGNNvlep4IxL0TPAEeQyP3JrQQgKfY6gXho2+FzJxO?=\r\n =?us-ascii?Q?bjmZTc0OxRtCXx/Uoc9JZ7yeTDb1+ww2nT7rq532fjfFJtaeo0EhWfVIy1Bm?=\r\n =?us-ascii?Q?6gAjCuIL4ztOjvJVJ5j+iw+6Lij0V+AmhFQsZ+hr5bdMBfuvXszVwLDSx9+M?=\r\n =?us-ascii?Q?UmoPoI1z7+mn/xCPVALGvcm3bPo8qVM9uMTNCxBCs1sN0ewwfKoOPBSWxVgm?=\r\n =?us-ascii?Q?c4+0xU+naJqt7NNDsdXdQA4TLHDUtqn0+Tt4TVm5kgxbVpaXUO5zstJpaFy1?=\r\n =?us-ascii?Q?lWQGitsyhk+1X7yfpm0NvA4MDKOMKKMcKZPYpbAS5TMlBVdBhfkxWetbATR7?=\r\n =?us-ascii?Q?mVqL1PN4/OGhVHLjbIrZpiRm3XcQkE/1WYAle/jqdt1SMu9/oUy28wIciKhb?=\r\n =?us-ascii?Q?nTvLbIsizh1NaqqR17vUZld+GAG710xO050DXucRm9uG1r3daJ840g6RPUCy?=\r\n =?us-ascii?Q?Q0rh1Xq+9hB+JYc6W6AlRRBCqsPEeo6ykGPDQ4HfMy3QrRLnJt6S3nnI1qHF?=\r\n =?us-ascii?Q?cZRwSzoSTB18loaBTvS375DYyAPas3Xn8jaCI3jADR5qB0MUqzaTEqzXnMqD?=\r\n =?us-ascii?Q?htTl7pABOMmxgGegAXqgqa8h/SKf++0bp+B4kdfY1roMDngXtt1QLBDIPtma?=\r\n =?us-ascii?Q?tyU5UMgDWxPJf6BDO6bKZ9DSOOSzlcLDfhpGoPsUamF9jRJiX8oZTY5Npz6O?=\r\n =?us-ascii?Q?afHIW2vc67E4dI5YS5g3lMy/9egFLdoc+qHEhzi7YE6VxHjgRGGwe4I09+XY?=\r\n =?us-ascii?Q?vJGbCPmjjlGuFGRn1we1Ly6Ds5Bsi+jeBwq0nSRYcJic2XIFXm92VSIRd+E+?=\r\n =?us-ascii?Q?2DIc2BqdL8dB8hUpjQDmFPEBE5hwHJw=3D?=",
            "content-type": "Content-Type: multipart/related;\r\n\tboundary=\"_004_SY4P282MB2442DC1CE01E871A8F22C02FCC8FASY4P282MB2442AUSP_\";\r\n\ttype=\"multipart/alternative\"",
            "mime-version": "MIME-Version: 1.0",
            "x-originatororg": "X-OriginatorOrg: digitalpulley.com",
            "x-ms-exchange-crosstenant-authas": "X-MS-Exchange-CrossTenant-AuthAs: Internal",
            "x-ms-exchange-crosstenant-authsource": "X-MS-Exchange-CrossTenant-AuthSource: SY4P282MB2442.AUSP282.PROD.OUTLOOK.COM",
            "x-ms-exchange-crosstenant-network-message-id": "X-MS-Exchange-CrossTenant-Network-Message-Id: 9814bab3-9a14-4300-a6f7-08de53b995e8",
            "x-ms-exchange-crosstenant-originalarrivaltime": "X-MS-Exchange-CrossTenant-originalarrivaltime: 14 Jan 2026 22:09:28.1735\r\n (UTC)",
            "x-ms-exchange-crosstenant-fromentityheader": "X-MS-Exchange-CrossTenant-fromentityheader: Hosted",
            "x-ms-exchange-crosstenant-id": "X-MS-Exchange-CrossTenant-id: e0c0cf21-0426-42d5-a6e2-f4d8ec3f6ac4",
            "x-ms-exchange-crosstenant-mailboxtype": "X-MS-Exchange-CrossTenant-mailboxtype: HOSTED",
            "x-ms-exchange-crosstenant-userprincipalname": "X-MS-Exchange-CrossTenant-userprincipalname: TuMjjxtkZdtKds6EGxrjb+nhb9Hcud81v1VgMHLZWjhPNxULDWK2Sdg+JCYVfVAV2bYC/R/8AVvRWDLwqZWgsS9WVJtOCujEbXEBaggd1gw=",
            "x-ms-exchange-transport-crosstenantheadersstamped": "X-MS-Exchange-Transport-CrossTenantHeadersStamped: ME4P282MB1063",
            "x-antiabuse": "X-AntiAbuse: Sender Address Domain - digitalpulley.com",
            "x-get-message-sender-via": "X-Get-Message-Sender-Via: sg2plzcpnl507423.prod.sin2.secureserver.net: redirect/forwarder owner sales@windowrevival.com.au -> windowrevival@gmail.com",
            "x-authenticated-sender": "X-Authenticated-Sender: sg2plzcpnl507423.prod.sin2.secureserver.net: sales@windowrevival.com.au",
            "x-source": "X-Source: ",
            "x-source-args": "X-Source-Args: ",
            "x-source-dir": "X-Source-Dir: ",
            "x-entitlement-id": "X-ENTITLEMENT-ID: a9ff2ff3-646a-11e8-8132-3417ebe60eb6",
            "x-cmae-envelope": "X-CMAE-Envelope: MS4xfNNpEpC88+UqhmdABGFEyXq4DQRi58sl0TPYysuAtioDF2k2/+2qEbAjAFEALComnoh5NjQiXERY5AVkIg3BN14wNsywlGr4SXH6tFNSE7lXlIsAZFGY\r\n nDcudZdwLNawEsjW/IdmLeuguPXDrJuwaA4i2W1BdTGmMDXDfJg1WQ69fDK3UYBFh1IHvk88w+TCiZgRo3JHo8OP+LJdzFrGkVQeH7CYSnxKKuYD/41z0JTV\r\n GMPyoxn9nNmh8WkGXVxuzg=="
          },
          "html": "<html>\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=us-ascii\">\n</head>\n<body>\n<div dir=\"auto\" style=\"font-family: Aptos, Aptos_MSFontService, -apple-system, Roboto, Arial, Helvetica, sans-serif; font-size: 12pt; color: rgb(33, 33, 33);\">\nHi there,&nbsp;</div>\n<div dir=\"auto\" style=\"font-family: Aptos, Aptos_MSFontService, -apple-system, Roboto, Arial, Helvetica, sans-serif; font-size: 12pt; color: rgb(33, 33, 33);\">\n<br>\n</div>\n<div dir=\"auto\" style=\"font-family: Aptos, Aptos_MSFontService, -apple-system, Roboto, Arial, Helvetica, sans-serif; font-size: 12pt; color: rgb(33, 33, 33);\">\nWe have a window where there is no sliding sash it was broken and thrown out are you able to recreate the sliding window portion for an old stagbar aluminum window?&nbsp;</div>\n<div dir=\"auto\" style=\"font-family: Aptos, Aptos_MSFontService, -apple-system, Roboto, Arial, Helvetica, sans-serif; font-size: 12pt; color: rgb(33, 33, 33);\">\n<br>\n</div>\n<div dir=\"auto\" style=\"font-family: Aptos, Aptos_MSFontService, -apple-system, Roboto, Arial, Helvetica, sans-serif; font-size: 12pt; color: rgb(33, 33, 33);\">\nEst cost?</div>\n<div dir=\"auto\" style=\"font-family: Aptos, Aptos_MSFontService, -apple-system, Roboto, Arial, Helvetica, sans-serif; font-size: 12pt; color: rgb(33, 33, 33);\">\n<br>\n</div>\n<div id=\"ms-outlook-mobile-body-separator-line\" data-applydefaultfontstyles=\"true\" style=\"font-family: Aptos, Aptos_MSFontService, -apple-system, Roboto, Arial, Helvetica, sans-serif; font-size: 12pt;\" dir=\"auto\">\n<div dir=\"auto\" style=\"font-family: Aptos, Aptos_MSFontService, -apple-system, Roboto, Arial, Helvetica, sans-serif; font-size: 12pt;\">\n<br>\n</div>\n</div>\n<div style=\"font-family: Aptos, Aptos_MSFontService, -apple-system, Roboto, Arial, Helvetica, sans-serif; font-size: 12pt;\" id=\"ms-outlook-mobile-signature\" dir=\"auto\">\n<div id=\"c2_mobile_$4aa50090-7841-46f2-9ae4-e84f77a0b714\" style=\"line-height: normal; font-family: Aptos, Aptos_MSFontService, -apple-system, Roboto, Arial, Helvetica, sans-serif; font-size: 12pt;\" dir=\"auto\">\n<p style=\"margin-bottom: 0px; font-family: Calibri; font-size: 11pt;\">Warm Regards,</p>\n<table id=\"0.duxpqx3ae\" cellspacing=\"0\" cellpadding=\"0\" style=\"width: 430px; border-collapse: collapse; border-spacing: 0px; box-sizing: border-box;\">\n<tbody>\n<tr>\n<td style=\"text-align: left; vertical-align: middle; width: 200px;\">\n<div dir=\"auto\" style=\"text-align: left; font-family: Calibri;\"><span style=\"font-size: 10pt;\">Leighton Gruen |\n<b>DIGITAL PULLEY</b></span><span style=\"font-size: 11pt;\"><b><br>\n</b></span><span style=\"font-size: 9pt;\">m. +61 432 995 750</span><span style=\"font-size: 11pt;\"><br>\n</span><span style=\"font-size: 9pt;\">e.&nbsp; Leighton@digitalpulley.com</span><span style=\"font-size: 11pt;\"><br>\n</span><span style=\"font-size: 9pt;\">PO Box 1525, Fortitude Valley, 4006</span></div>\n</td>\n<td style=\"text-align: left; vertical-align: middle; width: 230px;\"><span style=\"font-family: Calibri; font-size: 11pt;\"><img src=\"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wAARCACLAUoDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD9U6KKKACiivFv2l/2tvAH7LXhk6j4r1ES6nMpNlotqQ11dN7L/CuerHgUAezSSpDG0kjrHGoyzMcAD1Jr5g+On/BR74K/A2S4srjxB/wk2txZB03QgJ2VvRpM7F/Ovz78SfGr9pP/AIKOa5e6b4Rt5PCnw9gYi4MM5tbGCP1uLk4MjY5Kj8q5ibwj+y1+y6wXxNqt38efHMP+t07SX8jSIZO6tJn5wD15b6UAev8Aiz/gsB8TviBqD6d8LPhtFCzNtjkmikv7j2yiAKD+dYg8af8ABQX4qL9otLPX9EtZRuVo7aDT0APoXwfzrxzxJ/wUu+IVvatpvw48P+GvhVowG2ODQNOQzKPeVxyfcAV4h4q/ac+LPjaaSTWviL4jvjJ94NqMiKf+AqQKAPs4/Bv9ve63SzeMdTjlbkpJ4ktw35BsVJFoH/BQrwWomgv/ABBq6R9I4r61vc/8B3Emvz5bxr4hdiza9qbN1ybyQn/0KtfQ/jJ498MuG0rxnr2nkHI8jUplGfpuoA+87b/go/8AtTfA+4jh+JHgMX9tGcO2p6TJaMQOv71Btr6L+DP/AAWG+FfjmaCy8ZadfeBb6Q7TcS/6RaZ9d6jKj6ivzt8E/wDBRz46+EI1t7zxTH4t07GGsfElql5Gy+mSA2Pxru0+P37N37RLC2+Kfwzb4Za9Nx/wlHgo/udx43SQY/Ho1AH7beEfG2gePtFg1fw3rFlremTDcl1YzLKhz7g8H2NbdfiBbfAn4w/swwn4m/s9+P1+IfgVT5kl14ek8xhH123Vnk598An6V9i/stf8FY/AvxK00aV8UZbbwF4lt0+a8lJFjdEdSrcmNv8AZPHoaAPvqivC/wDhub4A/wDRWPDX/gX/APWo/wCG5vgD/wBFY8Nf+Bf/ANagD3SivC/+G5vgD/0Vjw1/4F//AFqP+G5vgD/0Vjw1/wCBf/1qAPdKK8L/AOG5vgD/ANFY8Nf+Bf8A9aj/AIbm+AP/AEVjw1/4F/8A1qAPdKK8L/4bm+AP/RWPDX/gX/8AWo/4bm+AP/RWPDX/AIF//WoA90orwv8A4bn+AP8A0Vjw1/4F/wD1qP8Ahuf4A/8ARWPDX/gX/wDWoA90orwv/hub4A/9FY8Nf+Bf/wBaj/hub4A/9FY8Nf8AgX/9agD3SivC/wDhub4A/wDRWPDX/gX/APWo/wCG5vgD/wBFY8Nf+Bf/ANagD3SivC/+G5vgD/0Vjw1/4F//AFqP+G5vgD/0Vjw1/wCBf/1qAPdKK8L/AOG5vgD/ANFY8Nf+Bf8A9aj/AIbn+AP/AEVjw1/4F/8A1qAPdKK8L/4bn+AP/RWPDX/gX/8AWo/4bm+AP/RWPDX/AIF//WoA90orwv8A4bm+AP8A0Vjw1/4F/wD1qP8Ahub4A/8ARWPDX/gX/wDWoA90orwv/hub4A/9FY8Nf+Bf/wBaj/hub4A/9FY8Nf8AgX/9agD3SivC/wDhub4A/wDRWPDX/gX/APWo/wCG5vgD/wBFY8Nf+Bf/ANagD3SivC/+G5vgD/0Vjw1/4F//AFqP+G5vgD/0Vjw1/wCBf/1qAPdKKK8V/a2/aY0b9lr4Q6j4r1HZcanJm30rTy2Gurkj5R/ujqx9BQB59+3R+3Pof7J/hQ2FgYdW+IGoxE2GmFsrbqePPm9FHYfxfSvzj8LfBceKrG4/aG/as8R31toF/J52naI7kajrr9VjjTrHD6YxxzwOS/4Q+FbXXLfXv2rv2iZpNV0b7Uz6Jolwf3mu3wJ2IqH/AJYIRjHT5T2Bz8y/H/8AaA8V/tHePrnxP4pusn/V2WnQki2sIB92KJewA6nqTyaAPQ/2hP21/FPxg09PCfhu1i+H3wytF8qz8LaLiKNoxwDOy4MjHuOnPQ9a+cqKKACiiigAooooAKKKKAO++Dvx28cfAXxNHrngnXrnSLrI86BW3W9yo/hljPyuPrz6EV9Ztofww/4KHafPPoFrp/ww+P6RmR9LUiPTPELAZJj/ALkh/P13DkfB1WNO1G60i/t76xuZbO8t5FlhuIHKPG4OQysOQQe9AGj4y8G638PfE2oeHvEWm3Gkazp8phubO5Ta6MP5juCOCORWNX3voOq6X/wUf+GJ8P609rp37Q/hizLaXqZAjXxHaoMmGT1lA7+pyOCwHwlqulXmh6nd6dqFtLZX9pK0E9vMpV45FOGVgehBFAFWpLVBJcxIwyrOAfzqOprL/j8g/wCui/zoA9eb4d6DyPsrj/tqaYPhzoB4EMhPtPW/q3/INvv+uEn/AKCa8DW5mRgyyupHIIY0Aej+JPhrZR6bNcacZIpoVL+W7bgwHJHsad4X8D6Rqnh+yuriGRppFJYrKQPvEdK63e0mhb2JZmtcknudlUPA/wDyKenf7jf+hGgDhtP8Ew6t4s1KzV2gsLRznHLYzwoNdevw10LbjyJm9/ONM8K/8jN4n/67r/7NWP8AFPUrq1uNPiguJIY2RnIjYrk5xk4oA3k+G+hjA+ySnnvK1ec2elW03jRdPdD9lN2YtoODt3EYzWZ/bF//AM/tx/39b/Gr/g9mk8WaazEsxnUlick0Adp4o8DaPpegXt1bwyLNEoKlpSR1A6Vb0/4e6Jc6daTPBKZJIUdiJSOSMmtPxx/yKmpf7g/9CFeYQ+ONbghSKO/dURQqrgcAdO1AHon/AArfQf8An3m/7/Gj/hW+g/8APvN/3+Nanhe6lvvD9hcTuZJpI8sx7nJrzjXvGms2etX0EN86RRzMqrgcAH6UAWtH8C2+reINTiZ3h0+0l2AKcsx7DNdNJ8PfD0KjzI3jHYvcYzVT4YXUt7Z6pPM++WS4VmY9ztrC+K7N/bVouTtFuCB2+81AHUD4d+H7iNvKWQ9t0c+7Fc1Z+Bre18ZjTLstcWckLSxsDtJGOM+4qx8I2bz9SXJ27FO3tnJ5rpLz/koGnf8AXlJ/WgDmvHXhDS9D0NbmzikSYzKmWkLDGDXn9etfFH/kWU/6+F/ka8loAKKKKACiiigAooooA/qlllSCN5JGCRoCzMxwAB1Jr8afixrt3/wUc/bYOgw3z2nws8JeYbi737Y4bKE/v589A0jDaD6Y9K+9P+CkXx0f4G/sw6/NYz+Rrevf8SixZThlMgPmOPom78xX5rXUzfss/sC2sUJ+zeOvjFO0s0mcSw6RFwFHcB8/+RD6UAeT/tmftFR/HT4iQ6d4ej/s74deF4v7K8OaZF8saQJ8vnbf7z4B+mB618+0UUAFFFeg/D/4B+OvidALjw/oFxd2x+7MRtVvp3P4CtadKpWly04tvyMK1elh489aSivN2PPqACxAAya7H4gfCHxb8MJgniPRp9PVjtErDKE+mR0Psao/D/WLfRfE1rNdxRyQOfLZpFB8vPRh7g/1pVKc6UuSorPzKpVqdePPSkpLutTR8MfC3VNd2TXQ/s6zPO+UfOw9l/xrtNe+Fumx+F54NOgJv4h5qTOcvIR1X6Edh3rvmznk596QHBzWZqfLRBUkEYNFdp8UvDI0PXjdQJts7zMi4HCv/Ev9fxri6ACiiigDX8H+LdW8B+KNL8RaFeyafrGm3C3NrcxHDI6nIP07EdwSK+vf2uPDelftF/B7Q/2lvCNlHaX8zppXjfTbfpbX4AC3GOyvxz7qfWviuvrH/gnj8RNOt/iPrHwp8Uvv8FfEiyfR7qGQ/JHdFT5Eo9CG4z7j0oA+Tqmsv+PyD/rov866L4o/D/UPhX8RfEfhDVUKX+jX0tnJkY3bWIVh7MuGHsa52y/4/IP+ui/zoA961b/kG33/AFwk/wDQTXz/AF9C3kP2m3nhzt8xGTd6ZGM1wifCSDcN2pOVzyBEAT+tAHXr/wAi+v8A16f+yVR8D/8AIp6d/uN/6Ea0r7yrPR7jcdkMUDDJPQBcVm+B/wDkU9O/3G/9CNAFLwr/AMjN4n/67r/7NXPfFv8A4/tO/wCuTf8AoVbvha4RfGHiS3LYleUOq+oBOf51f8VeD4PFHkM87W8sIKh1G4EHsRQBwPw70ez1rU7mK9gE8aQ7lUkjByPSup1Tw9p+i694eeythA0l1hiGJyAPc1e8LeCU8L3k063jXHmR7Npj245znrT/ABR/yGvDX/X2f5CgCfxx/wAipqX+4P8A0IV4nXtnjj/kVNS/3B/6EK8ToA9v8G/8irpf/XL+pryTxR/yMWpf9d3/AJ1634N/5FXS/wDrl/U15J4o/wCRi1L/AK7v/OgDuvhL/wAgvUP+uy/+g1seI/F2neH7yOC7tXnkePeGVVOBkjHP0rH+E3/IL1D/AK7L/wCg1jfFb/kOWv8A17D/ANCagDtfDPiiw8RSTpZ2z25iUFiyqMg/Sorz/koOnf8AXlJ/Wua+Ef8Ax9al/wBc1/ma6W8/5KBp3/XlJ/WgCp8Uf+RZT/r4X+RryWveda0S21+zFrdb/KDh/wB2cHIrE/4Vnof9y4/7+/8A1qAPIaK6vx94dsvDtxZpZLIFlRmbe27kGuUoAKKKKACiiigD9Tf+Cq2rXXxg/aa+E3wdsHZ1LRNNGuTiS5lChse0ak/jXy3/AMFJPG8PiD9pG88MaawXQvBNjb+HrGFD8ieUgMhH1Ykf8BFfS8U3/Cwv+Cxmo3U58238NSSyjd0QW1rhfydga/Or4seIpvFvxQ8W61Ocy3+q3Vwxzn70rGgDlKKKKAN/wBocXibxtoelznEF3eRxSf7pYZH5V/R3+z38L9D+Gfwy0K10myghlms4pZZo0AZtyggZ9ADgD2r+a/StSn0XU7S/tX8u5tZVmjb0ZSCP5V+v37Kf/BUTwYPAdhonjSU2N5ZRiNWLqrYH8I3EBh6EHOOor06CdXDyo0371722uv8AgPp5+R4mKlGhi4YisrwUWk7X5Xfrba669LW6n0h+3J8G/DvxG+COv3moWUIvbSHcLjYAzKSFwT3IJBHoRX89d1D9muZYc7vLcpuHfBxX6k/tv/8ABSzQfGfgu68KeBX84XIIeZWDc9AzEcADqFBOTjNfnp4R+FNxrMKXuqyPZ20nzJGo/eOPXnoKWJvCjTpTd5K/nZO1l+bt0uVgrVMRVr042hLl6Wu1e8rPysr9bHafDHxN/b+gLBM2byzAjfPVl/hb+n4V19cbdeG7PwPHb6tpULJHanbeJuLGWFsAk+6nBrsUdZEV0YOjAMrDoQehrzT2TH8YeHk8T6DcWZA87HmQsezjp+fT8a+dZY3hkeN1KOhKsp6gjtX1HXjnxe8M/wBn6mmqwJi3uziTHRZB1/Mc/nQB57RRRQAVd0TWLrw/rNhqljIYb2xuI7mCReqyIwZT+BAqlRQB9i/8FJNLtPEviv4d/FnTIhHZ+PvDVtfTlVwPtUahZM++Cv5V8gWMM1xeQRW67p3kVY19WJwB+dfY3xOU+Nv+CZ3wq1qRPMufDHiW80gyZyVhcMyj6Z2/lXyN4X/5GXSf+vuH/wBDFAHrzfDn4wBudJOfrB/jSf8ACufi/wD9Ak/nD/jX1pqV0tja3V04LJBG0rBepCgk4/KvHdL/AGqvCOpahbWjWmpWvnOIxLJGpVSTgE4bOKAPAfH3hX4haNp5k8Q6fdQafkbpEVTFntuKcfnV/wAF+EfiRrXhu0utB083GlHckUg8rsTn7xz1r7QvbGHUrO4srmNZra4jaOSNhlWUjFeffs/262fwxtIEyUiu7qNc9cCUgUAfH3irT9e8JeKriPVkew1lCJX2sMgsMg/Lx0ruPC+g/EzxdosWp6RaG9sXZkWb90MspwevNRftNf8AJX9V/wCuUP8A6LFe/fsw/wDJILD/AK+rj/0IUAeGf8Iz8Uf7eOi/YD/af2b7X5GIc+Vu27s5x1rJ8ceHfH/hO2sNT8Q2f2SGKfEEh8s/vMZxhfYd6+n1/wCS/t/2LY/9KDXHftdf8k90r/sI/wDtM0AfM2oeONY1Szltbi4V4ZRhlEajP6U3wj4K1nx1qEllolk19dRxmVo1ZVwoOCeSPWsOvcf2Rv8AkoWof9g9/wD0JaAOb17QfiF8NdBtptTszp+nK4gjZhE/zEEgcEnsa83u7qS+upbiY7pZGLscYyTX1v8Ata/8k3sf+wiv/oDV8h0Adh8ObXxTrV9PpfheH7TcMpneIBM7V4zlvrXUax8EPibr1wk97oTySKuwESRLxnPY+9af7Jf/ACUq5/7B8v8ANa+kPiP8StN+GOm2l9qkFxPDczGFRbAEhgM85I4oA+X9F+CvxQ8PtK1lobxGUANl4mzj6mqtr4P+Iuq+MLy0hsPM1zS4VWaLMQMaP074P4V7T/w1t4R/58NU/wC+E/8Aiq8lk+NVvb/HRvGGnpNHpdwyRTwzABmiKhWBAPbGR9BQBneMLX4ieA7a3uNctTZQXDFI5CkbAsBnHGcGq3g+48eePbi4h0KE3726B5dscahQTgZJxX118QPCdn8SfA95pm9XS6iE9pcdQr43RuPbt9CayPgf8OT8OfBMNpPGo1a7bz7xhzhuipn0A/UmgD5X+IngTxxpOnw6p4nsPs1sjeTHIzxjLHnACnJ6V59Xr/7SnxG/4TLxkdMs5d+laSTCm0/LJL/G/wCfA+nvXkFABRRRQAUUUUAfpX8F5W/4eZ/HadmLSx6XrrqT13BY8V+a88rTzSSPy7sWY+5Nfpp8O7VfDn/BWv4kaPMNi67FqdtEPUSwLIP0U1+bfinTzo/ibV7BlKNa3k0BUjBG1yMfpQBmUUUUAFFFFAHd/CnwpHrmqSX10m+0syCEYcPIeg+g6/lXtVct8MdPWx8G2RA+a4LTMfXJwP0ArqaAEdFkRkdQ6MNrKehB6iuf8MSNpdxdaBOxLWv720Zv47djx+Knj8qZ448ZR+D9PjkEYnu5yVijY4HHVj7DivMX+KGp3Wsafe3EcANq5/1SbSUbhkJz0oA9yrO8QaLF4i0e50+XgSr8jf3XH3T+dXoZkuIY5ozujkUOp9QRkU+gD5furaSzupbeZdksTFGX0IOKirs/i1p62PjCaRBhbmNZvxIwf1FcZQAUUUUAfZehyNcf8Eq/Eyyci38e24iz23RDNfI/hf8A5GXSf+vuH/0MV9dasw8M/wDBK/RoXUpL4i8cSSr/ALSwoRn6fLivkXwv/wAjLpP/AF9w/wDoYoA/QzW7V77TdQto8eZNBJEu44GWUgZ/OvlbRf2UfFsGrWct1d6bDbxyq8jpOXYAEE4GOTX1Zqt39gsby72b/s8Tzbc43bVJx+lfPH/DY9v/ANCs/wD4Gf8A2NAH0duC5YnCqOSfQCvPPgLIsvw3gdGDI17dkMOhBlbmvD/HP7VmqeItGuNO0jS49HFwhjluWlMkoU8ELwAMjv1r2P8AZs/5I/pP/XWb/wBDNAHzz+01/wAlf1X/AK5Q/wDosV7/APsw/wDJILD/AK+rj/0IV4j+0t4d1Sb4q31zFp9zLbzwxNHLHEzKwCAHkD1Fe7/s46bd6X8JtOhvLeS1laeaQRyqVbaW4OD64oAur/yX9v8AsWx/6UGuO/a6/wCSe6V/2Ef/AGma7Ff+S/t/2LY/9HmsP9pbwrq/i7wXp1po2nzajcx3vmNHCMkLsIz+dAHxnXuP7Iv/ACULUP8AsHv/AOhLXDj4G+PD/wAyvff98j/GvUf2bPB+teDfiZc2+tadNp002mSSRpMACy71GR+NAHZfta/8k3sf+wiv/oDV8h19o/tJeF9W8XeBbOz0ewm1C6W+WRooRkhdjDP5kV8zj4HePD/zK99/3yP8aAOy/ZL/AOSlXP8A2D5f5rX0B8YPhafito1hYf2iNNFrOZ95i8zdlSMYyMV4z+zj4N1rwZ8Umg1vTptOln0yZ41mABZQygkfjXqXx88ceI/A2iaVceGwTcXFw0co+z+d8oXI4xxzQB5b4h/ZN/sHQNS1P/hJVm+x20lx5f2QjdtUnGd3GcV89V69qvxv+Jusabd2NzHI1tdRNDKq6djKsMEZ2+hryW4t5bWUxTxPDIvVJFKkfgaAPrr9lrxxL4j8GT6NdFnuNHZVjkbvC2do/wCAkEfTFdT8dPHz/D3wDc3NuSNQvT9ktWH8DMDub8Fz+OK8p/Y5/wBd4n/3If5tXQ/tff8AIi6L/wBhE/8Aos0AfJzMWYknJJySe9JRRQAUUUUAFFFFAH6g/trMfgN/wUw+G/xDZfJ07VHs5ppOikBvImz/AMBIr42/bo+Hx+Gv7VXxB0xE22lxqDajat2aGcCVSP8Avoj8K/TL/gsR8HZPGXwK0nxxYQs1/wCFLzdM8Y+YW0uFY/RWCmviv9r2NPj5+zT8JfjnYqJtTsrUeFfEzIOUuIv9U7fXn/vtaAPimiiigAooooA+hPh9cLc+C9KZTnbH5Z+oJFdDXlnwb8SIv2jRp32sx863z3P8S/1/OvU6AOB+LXhe61qxtL2zjaeS13K8S8kqcHIHfGK8p0vw9qOsXiWtraSvKxwcqQF9ye1fSn0o9ccZ64oAq6VZHTdLtLQtvMESxlvUgVaoqG+voNNs5ru5cRwQqXdj6CgDxz4yzrJ4oijU5Mdsob8ST/WuDrQ8QaxJr+s3d/Lw0zlgvoOgH5YrPoAKOT0or239jP4NN8cv2iPCfh+WPOkQXH9o6pI33I7SH55Cx9DgL/wKgD2H9uJf+FafAv8AZ9+E+dl3p+hNrmoxA/dnuTkZ/wDH6+QfDs0dv4g0yWVxHFHdRO7t0UBwSTX1D8TNetv2tv2wfFmt3KNc+FrSRra2SNyo+yQ/u4QCOgbBb/gVdta/syfDqeeKM6HMPMdUz9tl4yQM/rQAviD4y+BrnRdTii8T2MkkltKiKGOSxQgDp618L1+rP/Dtn4XK2Cbw/wDbd/8AGnL/AME3fhWOqXh/7eJP8aAPykr6G/Z3+OWj+E9Dfw54glazgWVpba82lkG77yNjkc8g19ia/wD8E7/h3pdjJdWOly6gIlLPC97Kj4H93B5pvg39gX4UeKNBi1GTTbq3LuyeWt5KRwcdc0AeWL8a/Au0Y8VWGP8AeP8AhUF98dPAdnA8z+JbWbaM7YQzufYACvdx/wAE5vhGOtjdn/t7k/xqRf8AgnT8IB1067P/AG+S/wCNAHxf4E+Neja98Zdb8QapeR6Npf8AZws7P7U2CVDgjOO5OTXrX/C6/Af/AENVh/303+FewXH7B/wbsvEUGmTaLchJkDCY38vDHoOvSr2sf8E//hDpdg1xF4fubkofnU38wwPXg0AeI/8AC7PAn/Q1WH/fTf4VyNx8VfB7/Fyx1NfEVmbCPRZYGuNx2iQyghenXFfSOgfsKfB/WrhkPhi4jiRctINRn69h1rS1X9gv4K6TbCT/AIRy4lkY4VDqMwz696APCv8AhdfgP/oarD/vpv8ACj/hdfgT/oarD/vpv8K+t7b/AIJc/BGa3ilOlXfzxiTH22bjK5x96vPI/wBhj4KMxB8IzHBI/wCQnP6/WgD5cvvit4Pk+LmkakviKzawh0e4gkuNx2rI0ikL06kA11//AAuzwGP+ZpsPzb/Cvq7wz/wTT+Buv6LBfP4euYTIWHljUJyBg467q11/4Je/Agf8wC6P/cQn/wDiqAPjv/hdngT/AKGqw/M/4V8l/HjXLDxH8UNW1DTLuO+spfL2TxfdbCAGv17X/gmD8Bh18OXR/wC4jP8A/FVWj/4JqfARtYksj4VucLEJfM/tOfJycY+9QB+Yv7LnjTQvCEniE63qtvpgnSIReeSN+C2ccVtftOfEDw34u8H6VbaNrFtqNxFfGR44SSVXyyM9PWv0wX/gmP8AAEdfCtyf+4nP/wDFU9f+CZX7Pw6+Ebk/9xS4/wDiqAPw6or9u7j/AIJufAGzkCv4ImZW6MNWuf8A4qnRf8E4/wBnpuvgWc/9xe5/+KoA/EKiv3Ij/wCCbv7O7Yz4Fn/8G9z/APFVaj/4Jr/s6N18Bz/+Di5/+KoA/C2iv3cj/wCCZ/7OTY/4oKf/AMG9z/8AFVL/AMOy/wBnH/oQ5/8Awb3P/wAXQB9U+PPBem/EXwXrfhjWIRPpmrWklpOjDPyupGfqOo9xX40/AHS4vgx8ZfiX+yv8T5Ps/hTxizWFtdzjCwXg5s7pCem8bRn1C1+2lfBf/BUj9kC4+L/gmH4l+ELZv+E18Mxb547cYlu7RTuOMcl4z8w74yKAPx4+LHwx1v4NfETXPBviK3Nvquk3DQScfLIvVZFPdWXDA+hrkq+9Li2tf+CinwThkgMcX7Q3gWx8qW3bCP4j09OjD1lX+fswx8IXdrPY3U1tcwyW9zC5jlhlUq6MDgqQeQQeMUARUUUUASW9xLZ3Ec8LtFNGwZHU4II717T4O+J1lrcMdvqUiWWoAYLNxHKfUHsfY14lRQB9S9VDDlT0I6GivmzT/E2q6SMWmoXEC/3VkOPyq7L4+8QzIVbVrjB/usB/KgD3nVtasdBtzNf3SWyY4Vj8zewXqa8X8d/ECbxVJ9mt1a302NsrGT80h/vN/QVydxczXUhkmleaQ9WkYsf1qOgAooooAK+5NItz+xT+xze6ndD7J8WfizB9nsoTxPp2jj7znupfP/jy/wB2uM/ZB/Z70NdHvPjj8Wv+Jf8ACzwy/mQW8ww+uXin93bxKfvLuAzjqePXGdeeJNf/AGxPjxqfxA8ToYdEgkC21ln91bwof3NtH04A5OO5J70Adh+zh4Ebwb4HW7uUCajqhE8m7GVT+BfvenP417RprH7ba8r/AK6PuP74/wBqsyB2VQFbaoGAA54H/fdammyN9stPn/5bR/xH++P9qgD7H1i4ez02+njwJIYHkTcMjIUkfyrwix+NniVpIGleykQsu5fIAyO4+9Xvd9breW9xbuSEmjaNivUAjBx+dcFafBHQLWWJ/tF/MIyDseY4bHY0Ad+GEkWccMmcfUV4r4d+JF54Z09tOgs7aWKOaRg0jEHlunDV7Lf3kWm2FxdTMI4IYyzMegAFfNiTNJIzbsbmLfePc5/vUAe8eCfE03irTJ7qeGOBo5fLCxEkYwDnqao+K/G1z4d1ZbSK2glQxK+6QnPOfeq3wjYt4fu8nP8ApPrn+Ee5rG+JTMPEyAHA+zp3+vuKAKWra/Nrl8t26RwSKoUCM9MHg9a9M0HUk13R45XAZiPLmXr82OfzryGFn/vf+PH/AOKrtPh7dSrqE8G7MTx7iCc8jv1PrQB1+kaTFo9q0SHO5izOfTt+QrldZ1I6leSOp/cp8qc9vXr3rpPE109rpErRnazsE3egPWuMRm8s/N2/vf8A2VAH1NY/8g+2/wCvdf8A0AV87xt8zcj7x/mfevoix/5B9t/17r/6AK+d42O9vm/iPf3PvQB2nh3x9daHpcVjFawSpGWId2OTk59a9B8K69L4g017mWJImWQptjJI6CvGIWPHP6//AF69U+Gp/wCJDL3/AH5/kKAJdf8AFk+j6mbWOCKRdituYnPP403w3qj6xrk9xIixt9n27V6cEVjeNif+EgbB/wCWS9/r71c8DE/2lNk/8sfX3HvQBveJLyezhgaCQxFnIJHfiq2h6pc3F4I5ZfMVgetSeLM/Z7b/AK6H+VUvDuf7STnsf5fWgDa1n/Uxf79U4DVzWP8AUx/79U4Sf8n/AOvQBeh7VehqjCTx/j/9er0Pb/GgC9DnirOarw5wOasZ96AOkpGUOpVgGUjBB6GlooA/KH9vD9i/xL8A/Hy/H34Ii4sIra4+26jY6ePnsZc5aVEHWJudy9Bk9jXlWt+FfBP/AAUY0OXxF4RNh4M/aBtYN+qeHZHENp4g2jmaAngSHv8Ar2av2wmhjuIXilRZInUqyOMqwPUEdxX5pftjf8Eu7mbW5/iR8CJG0XxBDIbyXQLeUw5kBz5lq4I2Nn+Hp6YoA/J7xZ4R1rwH4gvNC8Q6XdaNq9m5jns7yMpIjD1B7e/Q1kV9yR/tOeFvivbr8PP2sfB15HrunD7Lb+NrC38jVrIjgeemP3gBHXBB/unrXJ+PP+Cd/iW60Z/FPwc8Q6Z8YfCDfOkmjyqt/Cv92SAnO4Drjn2oA+R6K0vEHhnV/CeoSWGt6XeaRexnDW99bvDIP+AsAazaACiiigAop0cbzSKiKzuxwFUZJPoBXvnwd/Yb+LvxmC3dl4bk8P6APml1zxCfsVrGo6tl8FuPQH60AeA19a/AP9j3TrDwrH8Wfjvev4M+GNtiW3sJcpqGuMOVihj+8Fb+91I6YHNdfb3P7Ov7F+J7WaH49fFe3/1Uirt0PT5R0I6+YQf97/gNU0+Av7Sv7eGuQ+O/FOlajNoLcWnmbLW3jiz9y2hYjC/7WOfU0AcV8XPi54l/bM8Z6bo2jaYvhP4ZeHh9n0nRLVdtvYwDgM+0YaZh+XQdyfYfCfhm08I6LbaXpsJhtYVx0ILt3ZsDkmvTvDH7EvxK8J6XDp+m+B3traMdrm33MfVj3Nb0f7J/xYXGfCMv/gTb0AebQiXjlv1/wrU0/wAz7ba/e/10fr/eFegR/srfFRcZ8JS/+BEH+NXrX9l/4owTwyHwnKfLdXx9og5wQcdfagD3XWpnt9K1CWJiksdvI6MOzBCQfzr52t/iZ4taNC2s3BJH9xP/AImvfL7QfiZqFjdW/wDwrmaLz4Xi3f2jCdu5SM9fevKbf9mf4lxoqnwxJwMf6+CgDldQ8S6zr2wahfTXSr0VuB+QAqOEScfe/Wu6i/Zv+JC9fDMg/wC28NW4/wBnX4irjPhuQf8AbeGgDd+Eef7Au85/4+e/+6Kx/iTu/wCEmXGcfZ06Z9TXY+Dfhr8QfCunzWp8HyXHmS+Zu+1xLjjGOtV/Enwh8feI9TF5/wAIvJbYjEew3ETdM85zQB5vDv8A9r9a6/wDu/tl85x5LevqKuxfAfx4vXQHH/baKtvw78JfHGh3puD4ceXKFNvnxDr+NAB4sz/Y5x18xf51yK79h+90969H1X4e+NdWs/s58NPD8wbd9ojPT8azE+DPjLbg6K4/7ax0Ae42P/IPtR6wIP8AxwV5uvwhvVZj/acHJJ+43rXX21z4sht4Yj4PlPloqZ+2R84AGf0qwt14qPXwlIP+3tKAOF1L4dXekadPdvfxSrCu4oqsCa6f4bZ/sGXP/Pdv5CrWrWvifVtLubP/AIRqSHzk27/tKHH4VD4X0PxJ4f097ZtAebdIX3CdB1A4oAxPG2f+Egb08pf61c8C5/tGbP8Azx/qKn1rwj4i1rUDdf2Q0A2BdvmoelWvD/hXX9FuHlOlNLuTZjzUHcGgDQ8QafPfwwLAAxViTlsdqr6NpNzZ3QlmCqoB6NmthbfWz10Vh/22WnrZ6weuksP+2q0AUdYz5MWP79U4M1o3Og6zeOpeyKKvRQ6mnQ+GdTXran/vpaAIoc8VehzTo/D+oLjNuR/wIVbi0W9XrAfzFADoc8VZoi0u6XrFj8RU/wDZ9x/zz/lQBuUUUUAFFFFAHjH7QX7Ivwy/aW01ofGPh+KTUVXbBrFn+5u4fTDj7w9myK/O3x5/wS3+NPwE16XxJ8D/ABrPqccZ3xxQXJsr4KOikZ2SfT9K/XmigD8S/EH7X3x28AoND+Ovwl03xzZw/IzeKND2SkDgkTqu0n3xXN/8L+/ZK8ZEN4j+AWreGrlhh5PDerHylPsjFa/c7UNLs9Wt2gvrSC8gbrFcRrIp/AjFeX+Jv2S/g14wkeTV/hr4cupGOWcWKRsfxTFAH48PqX7D1wxk/sj4oW3/AExWWBh+BL1OvxK/Yr8MxhrH4WeN/E8oOQNS1NYVP12uePwr9LvEX7BP7P1vqlkkfwv0aNHPzKplAPP+/XbaH+w78BdCkEtn8LPD6Op4MluZf0cmgD8rdH/bgttJuBZfA/8AZ28M+Hr9jtivPsL6nd5PQ9Ov44rrrf8AZt/bF/bQnjfx3ql94d8NyEHy9Zl+yW6r/s2seC34iv188OeAvDXg+FYtC8P6Zo6LwBY2kcX/AKCBW9QB8Xfs2/8ABLP4WfBGW11fxBG3j3xNEQ63GpRgWsLeqQ9Dj1bNfZ0MKW8SRxIscaAKqIMBQOgA7Cn0UAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB//Z\" alt=\"DP Logo.jpg\" id=\"97f999f2-b000-425d-83bd-73609988ad8d\" width=\"225\" height=\"98\" style=\"width: 225px; height: 98px; max-width: 100%;\"><br>\n</span></td>\n</tr>\n</tbody>\n</table>\n</div>\n<div dir=\"auto\" style=\"font-family: Aptos, Aptos_MSFontService, -apple-system, Roboto, Arial, Helvetica, sans-serif; font-size: 12pt;\">\n<br>\n</div>\n</div>\n</body>\n</html>\n",
          "text": "Hi there,\n\nWe have a window where there is no sliding sash it was broken and thrown out are you able to recreate the sliding window portion for an old stagbar aluminum window?\n\nEst cost?\n\n\n\nWarm Regards,\n\nLeighton Gruen | DIGITAL PULLEY\nm. +61 432 995 750\ne.  Leighton@digitalpulley.com\nPO Box 1525, Fortitude Valley, 4006\n[DP Logo.jpg]\n\n",
          "textAsHtml": "<p>Hi there,</p><p>We have a window where there is no sliding sash it was broken and thrown out are you able to recreate the sliding window portion for an old stagbar aluminum window?</p><p>Est cost?</p><p>Warm Regards,</p><p>Leighton Gruen | DIGITAL PULLEY<br/>m. +61 432 995 750<br/>e.  <a href=\"mailto:Leighton@digitalpulley.com\">Leighton@digitalpulley.com</a><br/>PO Box 1525, Fortitude Valley, 4006<br/>[DP Logo.jpg]</p>",
          "subject": "Sash",
          "date": "2026-01-14T22:09:28.000Z",
          "to": {
            "value": [
              {
                "address": "sales@windowrevival.com.au",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:sales@windowrevival.com.au\" class=\"mp_address_email\">sales@windowrevival.com.au</a></span>",
            "text": "sales@windowrevival.com.au"
          },
          "from": {
            "value": [
              {
                "address": "Leighton@digitalpulley.com",
                "name": "Leighton @ DP"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Leighton @ DP</span> &lt;<a href=\"mailto:Leighton@digitalpulley.com\" class=\"mp_address_email\">Leighton@digitalpulley.com</a>&gt;</span>",
            "text": "\"Leighton @ DP\" <Leighton@digitalpulley.com>"
          },
          "messageId": "<SY4P282MB2442DC1CE01E871A8F22C02FCC8FA@SY4P282MB2442.AUSP282.PROD.OUTLOOK.COM>"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "19bb5bb70aa5da34",
          "threadId": "19baf9cc655350f1",
          "labelIds": [
            "Label_4746392800957065361",
            "SENT"
          ],
          "sizeEstimate": 12569,
          "headers": {
            "mime-version": "MIME-Version: 1.0",
            "date": "Date: Tue, 13 Jan 2026 15:01:57 +1000",
            "references": "References: <CAJYAa6zsYRD5OAh+pc0nZw11U3O7FZZhvEa24y7TQxO+CCcFcA@mail.gmail.com>\r\n\t<6965ce3f.170a0220.3045d6.8500@mx.google.com>",
            "in-reply-to": "In-Reply-To: <6965ce3f.170a0220.3045d6.8500@mx.google.com>",
            "message-id": "Message-ID: <CAJYAa6xYpCPBOx6=M1Ct6YH5d4o8HV4s1=tR-rPxTheB1AMMaA@mail.gmail.com>",
            "subject": "Subject: Re: Enquiry",
            "from": "From: Window Revival <sales@windowrevival.com.au>",
            "to": "To: Jay <8hillviewcres@gmail.com>",
            "content-type": "Content-Type: multipart/alternative; boundary=\"0000000000003091f606483de424\""
          },
          "html": "<div dir=\"ltr\"><div class=\"gmail_default\" style=\"font-family:arial,sans-serif;font-size:small\">Hey Jay,</div><div class=\"gmail_default\" style=\"font-family:arial,sans-serif;font-size:small\"><br></div><div class=\"gmail_default\" style=\"font-family:arial,sans-serif;font-size:small\">Thanks for the reply.</div><div class=\"gmail_default\" style=\"font-family:arial,sans-serif;font-size:small\"><br></div><div class=\"gmail_default\" style=\"font-family:arial,sans-serif;font-size:small\"><span style=\"font-family:Arial,Helvetica,sans-serif\">Little Mountain on the Sunshine Coast, correct? If so, we can&#39;t do the job as your area is out of service for us.</span></div><div class=\"gmail_default\" style=\"font-family:arial,sans-serif;font-size:small\"><span style=\"font-family:Arial,Helvetica,sans-serif\"><br></span></div><div class=\"gmail_default\" style=\"font-family:arial,sans-serif;font-size:small\"><span style=\"font-family:Arial,Helvetica,sans-serif\">Regards,</span></div><div class=\"gmail_default\" style=\"font-family:arial,sans-serif;font-size:small\"><span style=\"font-family:Arial,Helvetica,sans-serif\">Brian</span></div><div class=\"gmail_default\" style=\"font-family:arial,sans-serif;font-size:small\"><span style=\"font-family:Arial,Helvetica,sans-serif\"><br></span></div><div class=\"gmail_default\" style=\"font-family:arial,sans-serif;font-size:small\"><br></div><div><div dir=\"ltr\" class=\"gmail_signature\" data-smartmail=\"gmail_signature\"><div dir=\"ltr\"><table style=\"border:1px solid rgb(238,238,238);background-color:rgb(250,251,252);padding:5px 0px 5px 10px;width:544.281px\"><tbody><tr><td style=\"text-align:right;vertical-align:middle;border-right:1px solid rgb(238,238,238);padding:0px 18px 10px\"><img src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_sigTrans.png\" height=\"100\" style=\"margin-right:0px\"><br></td><td style=\"padding-left:18px;padding-top:1px\"><table style=\"vertical-align:middle;font-family:verdana,sans-serif;color:rgb(85,85,85);font-size:10px;line-height:10px;border-spacing:5px\"><tbody><tr><td style=\"width:70px;font-weight:bold;color:rgb(50,60,138)\">Toll Free</td><td style=\"padding-left:10px\"><a href=\"tel:1300+882+482\" style=\"color:rgb(85,85,85)\" target=\"_blank\">1300 882 482</a></td></tr><tr><td style=\"font-weight:bold;color:rgb(50,60,138)\">Brisbane</td><td style=\"padding-left:10px\"><a href=\"tel:07+3088+9788\" style=\"color:rgb(85,85,85)\" target=\"_blank\">07 3088 9788</a></td></tr><tr style=\"padding:0px 0px 20px\"><td style=\"font-weight:bold;color:rgb(50,60,138)\">Gold Coast</td><td style=\"padding-left:10px\"><a href=\"tel:07+5526+1881\" style=\"color:rgb(85,85,85)\" target=\"_blank\">07 5526 1881</a></td></tr><tr><td style=\"font-weight:bold;color:rgb(50,60,138)\">Email</td><td style=\"padding-left:10px\"><a href=\"mailto:sales@windowrevival.com.au\" style=\"color:rgb(85,85,85)\" target=\"_blank\">sales@windowrevival.com.au</a></td></tr></tbody></table><table style=\"padding-top:5px\"><tbody><tr><td><a href=\"http://windowrevival.net.au/\" rel=\"noopener\" target=\"_blank\"><img src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_web.png\" alt=\"Website\" width=\"30\" style=\"margin-right:0px\"></a></td><td><a href=\"http://facebook.com/windowrevival/\" rel=\"noopener\" target=\"_blank\"><img src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_facebook.png\" alt=\"Facebook\" width=\"30\" style=\"margin-right:0px\"></a></td><td><a href=\"http://instagram.com/windowrevivalAUS\" rel=\"noopener\" target=\"_blank\"><img src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_insta.png\" alt=\"Instagram\" width=\"30\" style=\"margin-right:0px\"></a></td><td><a href=\"http://twitter.com/windowrevival\" rel=\"noopener\" target=\"_blank\"><img src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_twitter.png\" alt=\"Twitter\" width=\"30\" style=\"margin-right:0px\"></a></td></tr></tbody></table></td></tr></tbody></table></div></div></div></div><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\">On Tue, 13 Jan 2026 at 14:48, Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\">8hillviewcres@gmail.com</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div dir=\"auto\">Little Mountain <div dir=\"auto\"><br></div><div dir=\"auto\">Thanks</div><div><br></div><div align=\"left\" dir=\"auto\" style=\"font-size:100%;color:rgb(0,0,0)\"><div>-------- Original message --------</div><div>From: Window Revival &lt;<a href=\"mailto:sales@windowrevival.com.au\" target=\"_blank\">sales@windowrevival.com.au</a>&gt; </div><div>Date: 13/1/26  8:44 am  (GMT+10:00) </div><div>To: Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\" target=\"_blank\">8hillviewcres@gmail.com</a>&gt; </div><div>Subject: Re: Enquiry </div><div><br></div></div><div dir=\"ltr\"><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Hi Jay,</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Thanks for sending your email enquiry.</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Can you please send us photos of the glass sliding door and some close ups of the rubber seals &amp; track? Also, which suburb is the door located?</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Regards,</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Brian</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div><div class=\"gmail_signature\" dir=\"ltr\"><div dir=\"ltr\"><table style=\"border:1px solid rgb(238,238,238);background-color:rgb(250,251,252);padding:5px 0px 5px 10px;width:544.281px\"><tbody><tr><td style=\"text-align:right;vertical-align:middle;border-right:1px solid rgb(238,238,238);padding:0px 18px 10px\"><img style=\"margin-right: 0px;\" height=\"100\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_sigTrans.png\"><br></td><td style=\"padding-left:18px;padding-top:1px\"><table style=\"vertical-align:middle;font-family:verdana,sans-serif;color:rgb(85,85,85);font-size:10px;line-height:10px;border-spacing:5px\"><tbody><tr><td style=\"width:70px;font-weight:bold;color:rgb(50,60,138)\">Toll Free</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"tel:1300+882+482\" target=\"_blank\">1300 882 482</a></td></tr><tr><td style=\"font-weight:bold;color:rgb(50,60,138)\">Brisbane</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"tel:07+3088+9788\" target=\"_blank\">07 3088 9788</a></td></tr><tr style=\"padding:0px 0px 20px\"><td style=\"font-weight:bold;color:rgb(50,60,138)\">Gold Coast</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"tel:07+5526+1881\" target=\"_blank\">07 5526 1881</a></td></tr><tr><td style=\"font-weight:bold;color:rgb(50,60,138)\">Email</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"mailto:sales@windowrevival.com.au\" target=\"_blank\">sales@windowrevival.com.au</a></td></tr></tbody></table><table style=\"padding-top:5px\"><tbody><tr><td><a rel=\"noopener\" href=\"http://windowrevival.net.au/\" target=\"_blank\"><img style=\"margin-right: 0px;\" width=\"30\" alt=\"Website\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_web.png\"></a></td><td><a rel=\"noopener\" href=\"http://facebook.com/windowrevival/\" target=\"_blank\"><img style=\"margin-right: 0px;\" width=\"30\" alt=\"Facebook\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_facebook.png\"></a></td><td><a rel=\"noopener\" href=\"http://instagram.com/windowrevivalAUS\" target=\"_blank\"><img style=\"margin-right: 0px;\" width=\"30\" alt=\"Instagram\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_insta.png\"></a></td><td><a rel=\"noopener\" href=\"http://twitter.com/windowrevival\" target=\"_blank\"><img style=\"margin-right: 0px;\" width=\"30\" alt=\"Twitter\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_twitter.png\"></a></td></tr></tbody></table></td></tr></tbody></table></div></div></div></div><br><div class=\"gmail_quote\"><div class=\"gmail_attr\" dir=\"ltr\">On Mon, 12 Jan 2026 at 10:30, Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\" target=\"_blank\">8hillviewcres@gmail.com</a>&gt; wrote:<br></div><blockquote style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\" class=\"gmail_quote\"><div dir=\"auto\">Hi,<div dir=\"auto\"><br></div><div dir=\"auto\">I&#39;ve got a single sliding glass door which needs roller replacement and weather sealing.</div><div dir=\"auto\"><br></div><div dir=\"auto\">Can you give me a approximate price please order do you need more info/pics?</div><div dir=\"auto\"><br></div><div dir=\"auto\">Thanks</div></div></blockquote></div>\n</div></blockquote></div>\n",
          "text": "Hey Jay,\n\nThanks for the reply.\n\nLittle Mountain on the Sunshine Coast, correct? If so, we can't do the job\nas your area is out of service for us.\n\nRegards,\nBrian\n\n\n\nToll Free 1300 882 482\nBrisbane 07 3088 9788\nGold Coast 07 5526 1881\nEmail sales@windowrevival.com.au\n[image: Website] <http://windowrevival.net.au/> [image: Facebook]\n<http://facebook.com/windowrevival/> [image: Instagram]\n<http://instagram.com/windowrevivalAUS> [image: Twitter]\n<http://twitter.com/windowrevival>\n\nOn Tue, 13 Jan 2026 at 14:48, Jay <8hillviewcres@gmail.com> wrote:\n\n> Little Mountain\n>\n> Thanks\n>\n> -------- Original message --------\n> From: Window Revival <sales@windowrevival.com.au>\n> Date: 13/1/26 8:44 am (GMT+10:00)\n> To: Jay <8hillviewcres@gmail.com>\n> Subject: Re: Enquiry\n>\n>\n> Hi Jay,\n>\n> Thanks for sending your email enquiry.\n>\n> Can you please send us photos of the glass sliding door and some close ups\n> of the rubber seals & track? Also, which suburb is the door located?\n>\n> Regards,\n> Brian\n>\n>\n>\n> Toll Free 1300 882 482\n> Brisbane 07 3088 9788\n> Gold Coast 07 5526 1881\n> Email sales@windowrevival.com.au\n> [image: Website] <http://windowrevival.net.au/> [image: Facebook]\n> <http://facebook.com/windowrevival/> [image: Instagram]\n> <http://instagram.com/windowrevivalAUS> [image: Twitter]\n> <http://twitter.com/windowrevival>\n>\n> On Mon, 12 Jan 2026 at 10:30, Jay <8hillviewcres@gmail.com> wrote:\n>\n>> Hi,\n>>\n>> I've got a single sliding glass door which needs roller replacement and\n>> weather sealing.\n>>\n>> Can you give me a approximate price please order do you need more\n>> info/pics?\n>>\n>> Thanks\n>>\n>\n",
          "textAsHtml": "<p>Hey Jay,</p><p>Thanks for the reply.</p><p>Little Mountain on the Sunshine Coast, correct? If so, we can&apos;t do the job<br/>as your area is out of service for us.</p><p>Regards,<br/>Brian</p><p>Toll Free 1300 882 482<br/>Brisbane 07 3088 9788<br/>Gold Coast 07 5526 1881<br/>Email <a href=\"mailto:sales@windowrevival.com.au\">sales@windowrevival.com.au</a><br/>[image: Website] &lt;<a href=\"http://windowrevival.net.au/\">http://windowrevival.net.au/</a>&gt; [image: Facebook]<br/>&lt;<a href=\"http://facebook.com/windowrevival/\">http://facebook.com/windowrevival/</a>&gt; [image: Instagram]<br/>&lt;<a href=\"http://instagram.com/windowrevivalAUS\">http://instagram.com/windowrevivalAUS</a>&gt; [image: Twitter]<br/>&lt;<a href=\"http://twitter.com/windowrevival\">http://twitter.com/windowrevival</a>&gt;</p><p>On Tue, 13 Jan 2026 at 14:48, Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\">8hillviewcres@gmail.com</a>&gt; wrote:</p><p>&gt; Little Mountain<br/>&gt;<br/>&gt; Thanks<br/>&gt;<br/>&gt; -------- Original message --------<br/>&gt; From: Window Revival &lt;<a href=\"mailto:sales@windowrevival.com.au\">sales@windowrevival.com.au</a>&gt;<br/>&gt; Date: 13/1/26 8:44&#x202F;am (GMT+10:00)<br/>&gt; To: Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\">8hillviewcres@gmail.com</a>&gt;<br/>&gt; Subject: Re: Enquiry<br/>&gt;<br/>&gt;<br/>&gt; Hi Jay,<br/>&gt;<br/>&gt; Thanks for sending your email enquiry.<br/>&gt;<br/>&gt; Can you please send us photos of the glass sliding door and some close ups<br/>&gt; of the rubber seals &amp; track? Also, which suburb is the door located?<br/>&gt;<br/>&gt; Regards,<br/>&gt; Brian<br/>&gt;<br/>&gt;<br/>&gt;<br/>&gt; Toll Free 1300 882 482<br/>&gt; Brisbane 07 3088 9788<br/>&gt; Gold Coast 07 5526 1881<br/>&gt; Email <a href=\"mailto:sales@windowrevival.com.au\">sales@windowrevival.com.au</a><br/>&gt; [image: Website] &lt;<a href=\"http://windowrevival.net.au/\">http://windowrevival.net.au/</a>&gt; [image: Facebook]<br/>&gt; &lt;<a href=\"http://facebook.com/windowrevival/\">http://facebook.com/windowrevival/</a>&gt; [image: Instagram]<br/>&gt; &lt;<a href=\"http://instagram.com/windowrevivalAUS\">http://instagram.com/windowrevivalAUS</a>&gt; [image: Twitter]<br/>&gt; &lt;<a href=\"http://twitter.com/windowrevival\">http://twitter.com/windowrevival</a>&gt;<br/>&gt;<br/>&gt; On Mon, 12 Jan 2026 at 10:30, Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\">8hillviewcres@gmail.com</a>&gt; wrote:<br/>&gt;<br/>&gt;&gt; Hi,<br/>&gt;&gt;<br/>&gt;&gt; I&apos;ve got a single sliding glass door which needs roller replacement and<br/>&gt;&gt; weather sealing.<br/>&gt;&gt;<br/>&gt;&gt; Can you give me a approximate price please order do you need more<br/>&gt;&gt; info/pics?<br/>&gt;&gt;<br/>&gt;&gt; Thanks<br/>&gt;&gt;<br/>&gt;</p>",
          "subject": "Re: Enquiry",
          "references": [
            "<CAJYAa6zsYRD5OAh+pc0nZw11U3O7FZZhvEa24y7TQxO+CCcFcA@mail.gmail.com>",
            "<6965ce3f.170a0220.3045d6.8500@mx.google.com>"
          ],
          "date": "2026-01-13T05:01:57.000Z",
          "to": {
            "value": [
              {
                "address": "8hillviewcres@gmail.com",
                "name": "Jay"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Jay</span> &lt;<a href=\"mailto:8hillviewcres@gmail.com\" class=\"mp_address_email\">8hillviewcres@gmail.com</a>&gt;</span>",
            "text": "\"Jay\" <8hillviewcres@gmail.com>"
          },
          "from": {
            "value": [
              {
                "address": "sales@windowrevival.com.au",
                "name": "Window Revival"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Window Revival</span> &lt;<a href=\"mailto:sales@windowrevival.com.au\" class=\"mp_address_email\">sales@windowrevival.com.au</a>&gt;</span>",
            "text": "\"Window Revival\" <sales@windowrevival.com.au>"
          },
          "messageId": "<CAJYAa6xYpCPBOx6=M1Ct6YH5d4o8HV4s1=tR-rPxTheB1AMMaA@mail.gmail.com>",
          "inReplyTo": "<6965ce3f.170a0220.3045d6.8500@mx.google.com>"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "19bb5b031b308817",
          "threadId": "19baf9cc655350f1",
          "labelIds": [
            "Label_4746392800957065361",
            "IMPORTANT",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 27071997,
          "headers": {
            "delivered-to": "Delivered-To: windowrevival@gmail.com",
            "received": "Received: from [10.0.0.2] (118-208-204-156.tpgi.com.au. [118.208.204.156])\r\n        by smtp.gmail.com with ESMTPSA id 98e67ed59e1d1-34f5fb7442asm18785712a91.15.2026.01.12.20.44.01\r\n        for <sales@windowrevival.com.au>\r\n        (version=TLS1_3 cipher=TLS_AES_128_GCM_SHA256 bits=128/128);\r\n        Mon, 12 Jan 2026 20:45:55 -0800 (PST)",
            "x-forwarded-encrypted": "X-Forwarded-Encrypted: i=2; AJvYcCVkc+cuzi5xABn88XQmZBeevnNlVJi0x2jgO/AjyTeCs6bYk/YmWXS0lwWu5qHdBPq5mnpQrrnctatgX8iy@gmail.com",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IGvPT3HrWmFXA61RJKU90DLF0hiCdprt7/lgB2wFfuAZHzXDcfNQmuCExzIb2vakNRtSUT2",
            "x-received": "X-Received: by 2002:a05:6300:210a:b0:334:96ed:7a75 with SMTP id adf61e73a8af0-3898f8cc5cbmr19483762637.24.1768279557808;\r\n        Mon, 12 Jan 2026 20:45:57 -0800 (PST)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1768279781; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=W2BE3cszhEBNmGJKRisjFsBFR8BkVFl7xQdmvxvpe1tBjUBWay250xTUn1MI89EASM\r\n         GWFCa1Tc6iTd1YyaGaFE7EJZhsxjFcoKMyx4K8sDeG9QNPFq7E6lX8vUXtpiHDKfOSWX\r\n         kPQTRaH/ZLjevmt73YEFN/htSY0632WYyejrmV29bOHosodr2KcAxAufhnlQ6TIEBbo/\r\n         qVLPSgSriBEl/+4ggboUOlQeRsH5jf0CZNotUASZAnUz+CMXO707AKBW7ieiK/EKUCZD\r\n         Z7TfMCPpQMEe1fpC69O6w93x22KiDY6MmZSD/9KmtzGiseg7Q3Iz6DFeW6e82yk+Z4A0\r\n         /EGQ==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=mime-version:to:from:importance:in-reply-to:subject:date\r\n         :savedfromemail:message-id:dkim-signature;\r\n        bh=UxrBACK1510sdFKVNtBKLcYx2XOU36SgUNPmaRHiPVg=;\r\n        fh=lMr+5EHlB0KE3Ql2nlTYZpEIXcA+7HWmOnGuYN0ThNU=;\r\n        b=fprwwDqer8Sx03Hkw68ZUFPxfkDbWNe/IaEuUEdABY83lFhRk8FLQyDwkIFoMYTfQS\r\n         b+dP1/1JCMY2OBxH8f4E8sJoL6RUJrUk7thx/v1s6LCCArgHf6dfSfgLyy56jZ9vjOIr\r\n         EVCYIWbLRcEI0n/k0bcf7nLYAm6VvrAlvnoEif+CQrxH6W1yNT4qRQDMwOsjnbI2imeK\r\n         P0mLRAQB+veRg3EZKAcT/FC35wZUbDUJgNiYZUgfJ3Yqvy4ch794LMxVItwehA5s1B5c\r\n         Z3OiBVarJ5KYsgBFcRznAoeqqiVdCSZhTzHr/XwOUR15UZQwDCfATgHt+27ss516PDGY\r\n         HJZQ==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=hjcTZBYY;\r\n       spf=pass (google.com: domain of srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net designates 182.50.132.197 as permitted sender) smtp.mailfrom=\"srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net\";\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=neutral header.i=@gmail.com",
            "return-path": "Return-Path: <srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net>",
            "received-spf": "Received-SPF: pass (google.com: domain of srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net designates 182.50.132.197 as permitted sender) client-ip=182.50.132.197;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=hjcTZBYY;\r\n       spf=pass (google.com: domain of srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net designates 182.50.132.197 as permitted sender) smtp.mailfrom=\"srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net\";\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=neutral header.i=@gmail.com",
            "x-cmae-analysis": "X-CMAE-Analysis: v=2.4 cv=F6P9sKhN c=1 sm=1 tr=0 ts=6965ce34\r\n a=3CalYPD7c+ro3/CVEo5dnQ==:117 a=3CalYPD7c+ro3/CVEo5dnQ==:17\r\n a=vUbySO9Y5rIA:10 a=x7bEGLp0ZPQA:10 a=ecVs4nzuOBIA:10 a=95EFz5htlIgA:10\r\n a=ieA-nmaIAAAA:8 a=pGLkceISAAAA:8 a=0kE1CVdWWlBfTWxFfigA:9 a=QEXdDO2ut3YA:10\r\n a=abQMqkcOAAAA:8 a=3j4BkbkPAAAA:8 a=BkpHzsgbAAAA:8 a=JqEG_dyiAAAA:8\r\n a=dg7CBBsC1pKNZJGj:21 a=_W_S_7VecoQA:10 a=lqcHg5cX4UMA:10\r\n a=-s_oaaOnal30swtS8JQA:9 a=KQqxNPgzF0kA:10 a=VEiTNn8F7TgA:10\r\n a=vA8AaSu1zhTRS9eLmIcA:9 a=vexicnJHVZC5-rvN4z9Y:22 a=aIG0Rv9XPK8fZJcrWQP9:22\r\n a=p6jCq3gc30yYv66_REJH:22 a=S78LE8TGhpAtZlfjDSeF:22",
            "x-secureserver-acct": "X-SECURESERVER-ACCT: pv5jnapr5duc",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20230601; t=1768279559; x=1768884359; darn=windowrevival.com.au;\r\n        h=mime-version:to:from:importance:in-reply-to:subject:date\r\n         :savedfromemail:message-id:from:to:cc:subject:date:message-id\r\n         :reply-to;\r\n        bh=UxrBACK1510sdFKVNtBKLcYx2XOU36SgUNPmaRHiPVg=;\r\n        b=hjcTZBYYZjd9Fb/o8RjdhM01NVcPZlU+tDsJdjxm1SqMSN6zWYQzbfASGph6AyRDSz\r\n         YJV4Zh0AqiLlA2Cx5ObVzzXrD2J+4zTsKgjcJEC5iuk6a4xcdhAQ+tg2CL6wzWX/QTrA\r\n         prLBSSUR7nxFpTal4Z8YeHIuzTSPJ5zlayAJaUnxTrxiHyKzE8q589neUiyk/mqRCmnU\r\n         Mtb01YWL2JazSu0bqLD3tQk5tlshRn1UZ05xHk63mw0e6/uYIXX992R2AxFLqkdUMaOG\r\n         5TWcC+EPzXp9ewr1VKoTnPBKzQIZLKI3tXyj9r9uBMq3dGbdwuRFcn2K2F0JeNpzs9xO\r\n         wUJA==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1768279559; x=1768884359;\r\n        h=mime-version:to:from:importance:in-reply-to:subject:date\r\n         :savedfromemail:message-id:x-gm-gg:x-gm-message-state:from:to:cc\r\n         :subject:date:message-id:reply-to;\r\n        bh=UxrBACK1510sdFKVNtBKLcYx2XOU36SgUNPmaRHiPVg=;\r\n        b=ON7fXULjCPY7lqCHnKiNuAInAkhFBwSCejSH9q54zEtysxgCZO84gWJ8kvhDNWW9tJ\r\n         6TPPDszWZPmB4ZnVRFl+YL12qdkMr9ETuaRywJAI0UoRghgJDIwMSNEL9IncTCrg7PPR\r\n         pC/riWuUWVFPQBNw38hWXhG+KX5veFj2n/VhxWhoIvBqEfwje9pXtXMggCZ0ntnqtUtN\r\n         xkzqG9CxqTbs/TLG8oaAWYgecuu2ICwc4/KSSDzIeuHCVg3Z1bHiCmEslQTAwTYR6yfu\r\n         sqXeXDNHINW1iwtq5oWGU+r1MOsbyjf338wszy2x/6JosJn+u0Cz5b6w4PM4e5jbMmSw\r\n         3Tdw==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0YzrF+8NVCE5RwcrAvbfLg+HJ235LWyOOd4fEYnO8RdqryxvUV4b\r\n\twU3h/NVCwlq4u7DA1zg25CSPTCl4fS5svbP5pmX2mafMp2pnRGgp9C9xDdBDmg==",
            "x-gm-gg": "X-Gm-Gg: AY/fxX7OvqhZ0d0t+JVL/oS4MeqDh/A38TRJ1j//XadbdRUZ3gvn/ds9bakT+UiSAOH\r\n\tGRp1ZKYLYn8//1nvk1Ez7gy0XwVFB5YcXy01XrVY1ovcd4jyl6Nx/JMpBJ6GT8VH2IWyZgu42uH\r\n\tDRM1rU42BSi2SdmRt0rdt2/K4DXOzq/hsysrA4USSCCIAb4uEpJ0nf1nyBsi5/O2iQR66NFUsBk\r\n\tmK/Nj4C62+QvADaRriaBLGvzqEsGhq3vQdnZOhdtpJF2fGXSUjCdGiFBtyRKDTcJ8bIr4K7NCAw\r\n\tatcl2XZrvLKJ5sYTZSBdL3FILqvs6kvpzilvWAgHuFpb6YTugSJ0iRhZ0QLZIDprcD/V5MsoHVx\r\n\tj/lF41DfJVBgl5RZYl7KG9N78xCziRC+Epwu55FnmKVPiH5DM95kDWA+6gee2rK2pfpll+VLvv9\r\n\t7k1xR4AJ/v/3OwyoQPnU0hrMF0RrzXQ/9q95BqVVMJlVY=",
            "message-id": "Message-ID: <6965ce03.170a0220.3045d6.7c45@mx.google.com>",
            "savedfromemail": "SavedFromEmail: 8hillviewcres@gmail.com",
            "date": "Date: Tue, 13 Jan 2026 14:43:58 +1000",
            "subject": "Subject: Re: Enquiry",
            "in-reply-to": "In-Reply-To: <CAJYAa6zsYRD5OAh+pc0nZw11U3O7FZZhvEa24y7TQxO+CCcFcA@mail.gmail.com>",
            "importance": "Importance: normal",
            "from": "From: Jay <8hillviewcres@gmail.com>",
            "to": "To: Window Revival <sales@windowrevival.com.au>",
            "mime-version": "MIME-Version: 1.0",
            "content-type": "Content-Type: multipart/mixed; boundary=\"--_com.samsung.android.email_1991146982122320\"",
            "x-antiabuse": "X-AntiAbuse: Sender Address Domain - gmail.com",
            "x-get-message-sender-via": "X-Get-Message-Sender-Via: sg2plzcpnl507423.prod.sin2.secureserver.net: redirect/forwarder owner sales@windowrevival.com.au -> windowrevival@gmail.com",
            "x-authenticated-sender": "X-Authenticated-Sender: sg2plzcpnl507423.prod.sin2.secureserver.net: sales@windowrevival.com.au",
            "x-source": "X-Source: ",
            "x-source-args": "X-Source-Args: ",
            "x-source-dir": "X-Source-Dir: ",
            "x-entitlement-id": "X-ENTITLEMENT-ID: a9ff2ff3-646a-11e8-8132-3417ebe60eb6",
            "x-cmae-envelope": "X-CMAE-Envelope: MS4xfKL/VjBC4uo3EpP9YfAxhqqJP42zENPS8iR095AidnIwPltjddvbfzwujY7Dw0acId+l6kzCt8VUUCUiWMlYjTjgCmeBRgWNK1KwyXYAXk5HohLXFrIo\r\n BkcVK5YCiUMHTRO4u7qaDovGFvI+95lToy6lbXCoQNsQnklyzl9/CqqXJ5DGDbgXSB4N+4Rz7UoBlv0I9a/YEYrDNIpuxUN6KX7VGLIjhwKLHxUgZ3uG60xs\r\n ytDifXYcDxJIvQyIYMdJ5Q=="
          },
          "html": "<html><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"></head><body dir=\"auto\">Hi Brian,<div dir=\"auto\"><br></div><div dir=\"auto\">Have attached.<br><div dir=\"auto\"><br></div><div dir=\"auto\">The inside track fills quickly with water in a downpour and drains relatively slowly. You can see from the existing damage that it looks to have been flooding previously.&nbsp;</div><div dir=\"auto\"><br></div><div dir=\"auto\">There's also moss on the outside bottom, continual water?</div><div dir=\"auto\"><br></div><div dir=\"auto\">Thanks</div></div><div><br></div><div align=\"left\" dir=\"auto\" style=\"font-size:100%;color:#000000\"><div>-------- Original message --------</div><div>From: Window Revival &lt;sales@windowrevival.com.au&gt; </div><div>Date: 13/1/26  8:44 am  (GMT+10:00) </div><div>To: Jay &lt;8hillviewcres@gmail.com&gt; </div><div>Subject: Re: Enquiry </div><div><br></div></div><div dir=\"ltr\"><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Hi Jay,</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Thanks for sending your&nbsp;email enquiry.</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Can you please send us photos of the glass sliding door and some close ups of the rubber seals &amp; track? Also, which suburb is the door located?</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Regards,</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Brian</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div><div data-smartmail=\"gmail_signature\" class=\"gmail_signature\" dir=\"ltr\"><div dir=\"ltr\"><table style=\"border:1px solid rgb(238,238,238);background-color:rgb(250,251,252);padding:5px 0px 5px 10px;width:544.281px\"><tbody><tr><td style=\"text-align:right;vertical-align:middle;border-right:1px solid rgb(238,238,238);padding:0px 18px 10px\"><img style=\"margin-right:0px\" height=\"100\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_sigTrans.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"><br></td><td style=\"padding-left:18px;padding-top:1px\"><table style=\"vertical-align:middle;font-family:verdana,sans-serif;color:rgb(85,85,85);font-size:10px;line-height:10px;border-spacing:5px\"><tbody><tr><td style=\"width:70px;font-weight:bold;color:rgb(50,60,138)\">Toll Free</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"tel:1300+882+482\">1300 882 482</a></td></tr><tr><td style=\"font-weight:bold;color:rgb(50,60,138)\">Brisbane</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"tel:07+3088+9788\">07 3088 9788</a></td></tr><tr style=\"padding:0px 0px 20px\"><td style=\"font-weight:bold;color:rgb(50,60,138)\">Gold Coast</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"tel:07+5526+1881\">07 5526 1881</a></td></tr><tr><td style=\"font-weight:bold;color:rgb(50,60,138)\">Email</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"mailto:sales@windowrevival.com.au\">sales@windowrevival.com.au</a></td></tr></tbody></table><table style=\"padding-top:5px\"><tbody><tr><td><a rel=\"noopener\" href=\"http://windowrevival.net.au/\"><img style=\"margin-right:0px\" width=\"30\" alt=\"Website\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_web.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"></a></td><td><a rel=\"noopener\" href=\"http://facebook.com/windowrevival/\"><img style=\"margin-right:0px\" width=\"30\" alt=\"Facebook\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_facebook.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"></a></td><td><a rel=\"noopener\" href=\"http://instagram.com/windowrevivalAUS\"><img style=\"margin-right:0px\" width=\"30\" alt=\"Instagram\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_insta.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"></a></td><td><a rel=\"noopener\" href=\"http://twitter.com/windowrevival\"><img style=\"margin-right:0px\" width=\"30\" alt=\"Twitter\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_twitter.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"></a></td></tr></tbody></table></td></tr></tbody></table></div></div></div></div><br><div class=\"gmail_quote gmail_quote_container\"><div class=\"gmail_attr\" dir=\"ltr\">On Mon, 12 Jan 2026 at 10:30, Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\">8hillviewcres@gmail.com</a>&gt; wrote:<br></div><blockquote style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\" class=\"gmail_quote\"><div dir=\"auto\">Hi,<div dir=\"auto\"><br></div><div dir=\"auto\">I've got a single sliding glass door which needs roller replacement and weather sealing.</div><div dir=\"auto\"><br></div><div dir=\"auto\">Can you give me a approximate price please order do you need more info/pics?</div><div dir=\"auto\"><br></div><div dir=\"auto\">Thanks</div></div></blockquote></div>\n</body></html>",
          "text": "Hi Brian,Have attached.The inside track fills quickly with water in a downpour and drains relatively slowly. You can see from the existing damage that it looks to have been flooding previously. There's also moss on the outside bottom, continual water?Thanks\n-------- Original message --------From: Window Revival <sales@windowrevival.com.au> Date: 13/1/26  8:44 am  (GMT+10:00) To: Jay <8hillviewcres@gmail.com> Subject: Re: Enquiry Hi Jay,Thanks for sending your email enquiry.Can you please send us photos of the glass sliding door and some close ups of the rubber seals & track? Also, which suburb is the door located?Regards,BrianToll Free1300 882 482Brisbane07 3088 9788Gold Coast07 5526 1881Emailsales@windowrevival.com.auOn Mon, 12 Jan 2026 at 10:30, Jay <8hillviewcres@gmail.com> wrote:Hi,I've got a single sliding glass door which needs roller replacement and weather sealing.Can you give me a approximate price please order do you need more info/pics?Thanks\n",
          "textAsHtml": "<p>Hi Brian,Have attached.The inside track fills quickly with water in a downpour and drains relatively slowly. You can see from the existing damage that it looks to have been flooding previously.&nbsp;There&apos;s also moss on the outside bottom, continual water?Thanks<br/>-------- Original message --------From: Window Revival &lt;<a href=\"mailto:sales@windowrevival.com.au\">sales@windowrevival.com.au</a>&gt; Date: 13/1/26  8:44&#x202F;am  (GMT+10:00) To: Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\">8hillviewcres@gmail.com</a>&gt; Subject: Re: Enquiry Hi Jay,Thanks for sending your&nbsp;email enquiry.Can you please send us photos of the glass sliding door and some close ups of the rubber seals &amp; track? Also, which suburb is the door located?Regards,BrianToll Free1300 882 482Brisbane07 3088 9788Gold Coast07 5526 1881Emailsales@windowrevival.com.auOn Mon, 12 Jan 2026 at 10:30, Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\">8hillviewcres@gmail.com</a>&gt; wrote:Hi,I&apos;ve got a single sliding glass door which needs roller replacement and weather sealing.Can you give me a approximate price please order do you need more info/pics?Thanks</p>",
          "subject": "Re: Enquiry",
          "date": "2026-01-13T04:43:58.000Z",
          "to": {
            "value": [
              {
                "address": "sales@windowrevival.com.au",
                "name": "Window Revival"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Window Revival</span> &lt;<a href=\"mailto:sales@windowrevival.com.au\" class=\"mp_address_email\">sales@windowrevival.com.au</a>&gt;</span>",
            "text": "\"Window Revival\" <sales@windowrevival.com.au>"
          },
          "from": {
            "value": [
              {
                "address": "8hillviewcres@gmail.com",
                "name": "Jay"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Jay</span> &lt;<a href=\"mailto:8hillviewcres@gmail.com\" class=\"mp_address_email\">8hillviewcres@gmail.com</a>&gt;</span>",
            "text": "\"Jay\" <8hillviewcres@gmail.com>"
          },
          "messageId": "<6965ce03.170a0220.3045d6.7c45@mx.google.com>",
          "inReplyTo": "<CAJYAa6zsYRD5OAh+pc0nZw11U3O7FZZhvEa24y7TQxO+CCcFcA@mail.gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "19bb5b005fab6f65",
          "threadId": "19baf9cc655350f1",
          "labelIds": [
            "Label_4746392800957065361",
            "IMPORTANT",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 12005682,
          "headers": {
            "delivered-to": "Delivered-To: windowrevival@gmail.com",
            "received": "Received: from [10.0.0.2] (118-208-204-156.tpgi.com.au. [118.208.204.156])\r\n        by smtp.gmail.com with ESMTPSA id 98e67ed59e1d1-34f5fb7442asm18785712a91.15.2026.01.12.20.46.00\r\n        for <sales@windowrevival.com.au>\r\n        (version=TLS1_3 cipher=TLS_AES_128_GCM_SHA256 bits=128/128);\r\n        Mon, 12 Jan 2026 20:46:51 -0800 (PST)",
            "x-forwarded-encrypted": "X-Forwarded-Encrypted: i=2; AJvYcCUsCZJVHaz0vhAO2CevDohKYo78ZaZlhhxz9GiSxcY4YNMxiVihkXwud3SmlGYuO+MOGvZu08wP7syfJfIQ@gmail.com",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IE9j7bExe2bmPrOLkGrhhQ3oM/b9bzzGUJmYH3rLN+sq/WQpN0IIZlRxs05aVzcj3a6OKoe",
            "x-received": "X-Received: by 2002:a17:90b:4d01:b0:34c:2f3f:d27e with SMTP id 98e67ed59e1d1-34f68b4e73emr15945991a91.3.1768279613569;\r\n        Mon, 12 Jan 2026 20:46:53 -0800 (PST)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1768279770; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=B8C76sEbeOhQ65WjLofPsdAVXVNNZ3wVMftyLTOlsQcufZRn3Go3/ZBhjezu81xuyW\r\n         T569PpB5mDYrez2PkAFy6Dhei4hH1FdXexk1aky8JTRhL5G6gxA972iJodpW3X0Ou35U\r\n         46jY8Fe8tcDWY1cn6T1iCiuiVGB9nLhuZVMO//zp/TGS5jS1MymKpAW2GBiKpQwCrepD\r\n         8gJadFimvKg79y6lUf1JjnRKMNPd7gtySyICDLpvP+EBOiS3Xw7Uj4cIPuy1YurXJZTq\r\n         WGkad5n9F+0k5mFCWqR6FGA2fDcRR+s/R27nfaWNmaQo7QqfuGoiGmiE8ML8EmsOD4Rw\r\n         KOXQ==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=mime-version:to:from:importance:in-reply-to:subject:date\r\n         :savedfromemail:message-id:dkim-signature;\r\n        bh=dH94ugv//0nM4uRAbDR4PRWhyMNRQHw7fpzJuNoQTNY=;\r\n        fh=lMr+5EHlB0KE3Ql2nlTYZpEIXcA+7HWmOnGuYN0ThNU=;\r\n        b=HfgWVntMYjbKWeOw5h3mYcV/+AmHnVZcJmyoLBbH1lVpnuY+He9xPZUH5fAuezw96h\r\n         UinCuY2j01riZ4/UAXwRALHts6YCjgaC+qfr6gViZIjvdvfXlwlh819xxELJZrAmXBGT\r\n         +jQJeZBRWgYsge3J7aigLjjtFbz9JWNs/Awyf+21hm8f1Xk2xLayug/zxV947n42M+cu\r\n         sen41LL9nglZZTpFRqIpTqje8MxTjubtIa/wnu31ygAHJJ6+/XTv4ejN5x6bTpFXKu9f\r\n         t0TTRlluL1RQYHFHsUoCN154IkqVz6V0fp7yrfTV5Tn2f4YK0YLjL6qK8C7ApApvmF7L\r\n         yM7g==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=APzJXtWX;\r\n       spf=pass (google.com: domain of srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net designates 182.50.132.200 as permitted sender) smtp.mailfrom=\"srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net\";\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=neutral header.i=@gmail.com",
            "return-path": "Return-Path: <srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net>",
            "received-spf": "Received-SPF: pass (google.com: domain of srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net designates 182.50.132.200 as permitted sender) client-ip=182.50.132.200;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=APzJXtWX;\r\n       spf=pass (google.com: domain of srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net designates 182.50.132.200 as permitted sender) smtp.mailfrom=\"srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net\";\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=neutral header.i=@gmail.com",
            "x-cmae-analysis": "X-CMAE-Analysis: v=2.4 cv=F6P9sKhN c=1 sm=1 tr=0 ts=6965ce6a\r\n a=3CalYPD7c+ro3/CVEo5dnQ==:117 a=3CalYPD7c+ro3/CVEo5dnQ==:17\r\n a=vUbySO9Y5rIA:10 a=x7bEGLp0ZPQA:10 a=ecVs4nzuOBIA:10 a=95EFz5htlIgA:10\r\n a=ieA-nmaIAAAA:8 a=pGLkceISAAAA:8 a=7dzLetg-7RhLw-5sPU4A:9 a=QEXdDO2ut3YA:10\r\n a=abQMqkcOAAAA:8 a=3j4BkbkPAAAA:8 a=BkpHzsgbAAAA:8 a=JqEG_dyiAAAA:8\r\n a=iYCjTk-R8D5nCYVL:21 a=_W_S_7VecoQA:10 a=lqcHg5cX4UMA:10\r\n a=wN8xDsezrZjgNBSDUgYA:9 a=KQqxNPgzF0kA:10 a=VEiTNn8F7TgA:10\r\n a=vexicnJHVZC5-rvN4z9Y:22 a=aIG0Rv9XPK8fZJcrWQP9:22 a=p6jCq3gc30yYv66_REJH:22\r\n a=S78LE8TGhpAtZlfjDSeF:22",
            "x-secureserver-acct": "X-SECURESERVER-ACCT: pv5jnapr5duc",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20230601; t=1768279614; x=1768884414; darn=windowrevival.com.au;\r\n        h=mime-version:to:from:importance:in-reply-to:subject:date\r\n         :savedfromemail:message-id:from:to:cc:subject:date:message-id\r\n         :reply-to;\r\n        bh=dH94ugv//0nM4uRAbDR4PRWhyMNRQHw7fpzJuNoQTNY=;\r\n        b=APzJXtWXIRRqzJEkWr6oe2S/8z3QqyBEDfiBJ2qgkILtYOZezyc9da6ndDqi1p7+ew\r\n         JlaMl4SfTErsCDGE5Pu6RAgk1j57OW13iSn+tJKWtQbzaeIoQ9Xe8HkezGFDazndbHlb\r\n         tHEpShvqDs4iAawguKgN3cmG4CwOIQL+opfkQIkSbj0LcP5PZYeP1qHjYWyo+u3heZhg\r\n         Pzi9x9oP3AiMkJKaV2raw01nc9w1mpasKJCdCgfltNXvhAIaSJoIsoHvqMKvgPn/3GQe\r\n         mRzSMki12cD1sVg6hi9gq85uW955NlE8gqpv4JymAaR8/Oqh29lyjedECiDfFT7DGhwU\r\n         Svhg==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1768279614; x=1768884414;\r\n        h=mime-version:to:from:importance:in-reply-to:subject:date\r\n         :savedfromemail:message-id:x-gm-gg:x-gm-message-state:from:to:cc\r\n         :subject:date:message-id:reply-to;\r\n        bh=dH94ugv//0nM4uRAbDR4PRWhyMNRQHw7fpzJuNoQTNY=;\r\n        b=PJLk0dLQbtD/t6pDS271w0ErOOfWchPLuOOrSXMQHzHtrJHvLc6N7lfONS2zmnzoBH\r\n         dQMtfI4AHteCmFQGf2UExD1XmBxU5oHATWCanh8CYImqSIvHaUCu8yUQKn1FS6ZtIvXd\r\n         EZlWVEmZk8nzbJgQOILmt+kP0+TWQEvlpYkvh+SubjSuz1YH0MW2uyPskxTyd2bIy6+s\r\n         RTf69/cdo9ddk7g4VLzITNE9Ap1sb73kvqgxC8r1CDF+NaobzQsoxq+xcb7WGdGH/KJ+\r\n         tLqki1WTM8reuYFV9wBSEaWTJBJ3NJti5pHg0+YSFVTLndKjAiToAmhw/dtLkt4e0izI\r\n         anJw==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0YwlVqHeW1Q8XJKeJD/W2z6XFx3W42t++Jk9Jk+R5s3K4m6CbFY0\r\n\tWcL6+jS17PzaZygRyIVsf0dcEhLvLCk9NfTgioDKwGFlr1PgI2KXwrS6rKfr9A==",
            "x-gm-gg": "X-Gm-Gg: AY/fxX4NgnFp3CII7N433yBw9SMoPRbpBkYEaiZVxuomXZXeYI+Teo5WAl2zFhRPiiL\r\n\t8aGQikyCO9504GGCUmHSt5MxCBUWu2o8+z+6IJMSgn84cGG+cE4TvJgdkq1gJ3pFRBQ7/+jD/Ce\r\n\tjpne+NkoIFW8jSt+EEyM1puDtGHjYBghu9w75C02lN7r1DST0UJM/9MJaMWYxo21x9/vO0omyNk\r\n\t9VX5Bp230PElseR45WwwtWpcUiyzthhAxe3L9CVeLbfKyjYJXxU6T81iilR7iiuXuDIoAUpJQou\r\n\tT9W4B/eDXcj0DhU+ECUdyi1lXmbHoRo/kBVq1bYLLdi2S1IYK9T02ixH5mvAkhej9mca7RRKVGt\r\n\t6KhNwBxwqGbx36btPIM25ocFYoKaAoa5SsEe4fzhc7ucjraLBsk6sFNvX/l+O1mIpKhuNEZ2c5w\r\n\ttbGdECvoWvm4FvAfV7ac/HHGBWH9zOs9ZglEwOpF6KtDM=",
            "message-id": "Message-ID: <6965ce3b.170a0220.3045d6.8487@mx.google.com>",
            "savedfromemail": "SavedFromEmail: 8hillviewcres@gmail.com",
            "date": "Date: Tue, 13 Jan 2026 14:45:59 +1000",
            "subject": "Subject: Re: Enquiry",
            "in-reply-to": "In-Reply-To: <CAJYAa6zsYRD5OAh+pc0nZw11U3O7FZZhvEa24y7TQxO+CCcFcA@mail.gmail.com>",
            "importance": "Importance: normal",
            "from": "From: Jay <8hillviewcres@gmail.com>",
            "to": "To: Window Revival <sales@windowrevival.com.au>",
            "mime-version": "MIME-Version: 1.0",
            "content-type": "Content-Type: multipart/mixed; boundary=\"--_com.samsung.android.email_1992342249606850\"",
            "x-antiabuse": "X-AntiAbuse: Sender Address Domain - gmail.com",
            "x-get-message-sender-via": "X-Get-Message-Sender-Via: sg2plzcpnl507423.prod.sin2.secureserver.net: redirect/forwarder owner sales@windowrevival.com.au -> windowrevival@gmail.com",
            "x-authenticated-sender": "X-Authenticated-Sender: sg2plzcpnl507423.prod.sin2.secureserver.net: sales@windowrevival.com.au",
            "x-source": "X-Source: ",
            "x-source-args": "X-Source-Args: ",
            "x-source-dir": "X-Source-Dir: ",
            "x-entitlement-id": "X-ENTITLEMENT-ID: a9ff2ff3-646a-11e8-8132-3417ebe60eb6",
            "x-cmae-envelope": "X-CMAE-Envelope: MS4xfCFw14BnUAY7WD02DnnkYqVfRIVfqYJdVgJY5eE27KmZc3lG8DMc41WuzxHPLnGrzNMV5M1k1A/zZtsW888IML/wcI94tOMeLTiUZQ+uIgAlKSYQldbF\r\n ja1PlZmlK+2GiME7P0GQRXwmX0KJNO5wDnph6srnzUo6N3t053hkWKjtAfQM+GDPtO2Bps+5RBCASJXi6RDEx03ZvvXHefZN8L+Yu6ORqhHCO2EfziNFafT/\r\n vZi/nFs732buqxY45a153w=="
          },
          "html": "<html><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"></head><body dir=\"auto\">Seal<div><br></div><div align=\"left\" dir=\"auto\" style=\"font-size:100%;color:#000000\"><div>-------- Original message --------</div><div>From: Window Revival &lt;sales@windowrevival.com.au&gt; </div><div>Date: 13/1/26  8:44 am  (GMT+10:00) </div><div>To: Jay &lt;8hillviewcres@gmail.com&gt; </div><div>Subject: Re: Enquiry </div><div><br></div></div><div dir=\"ltr\"><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Hi Jay,</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Thanks for sending your&nbsp;email enquiry.</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Can you please send us photos of the glass sliding door and some close ups of the rubber seals &amp; track? Also, which suburb is the door located?</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Regards,</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Brian</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div><div data-smartmail=\"gmail_signature\" class=\"gmail_signature\" dir=\"ltr\"><div dir=\"ltr\"><table style=\"border:1px solid rgb(238,238,238);background-color:rgb(250,251,252);padding:5px 0px 5px 10px;width:544.281px\"><tbody><tr><td style=\"text-align:right;vertical-align:middle;border-right:1px solid rgb(238,238,238);padding:0px 18px 10px\"><img style=\"margin-right:0px\" height=\"100\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_sigTrans.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"><br></td><td style=\"padding-left:18px;padding-top:1px\"><table style=\"vertical-align:middle;font-family:verdana,sans-serif;color:rgb(85,85,85);font-size:10px;line-height:10px;border-spacing:5px\"><tbody><tr><td style=\"width:70px;font-weight:bold;color:rgb(50,60,138)\">Toll Free</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"tel:1300+882+482\">1300 882 482</a></td></tr><tr><td style=\"font-weight:bold;color:rgb(50,60,138)\">Brisbane</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"tel:07+3088+9788\">07 3088 9788</a></td></tr><tr style=\"padding:0px 0px 20px\"><td style=\"font-weight:bold;color:rgb(50,60,138)\">Gold Coast</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"tel:07+5526+1881\">07 5526 1881</a></td></tr><tr><td style=\"font-weight:bold;color:rgb(50,60,138)\">Email</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"mailto:sales@windowrevival.com.au\">sales@windowrevival.com.au</a></td></tr></tbody></table><table style=\"padding-top:5px\"><tbody><tr><td><a rel=\"noopener\" href=\"http://windowrevival.net.au/\"><img style=\"margin-right:0px\" width=\"30\" alt=\"Website\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_web.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"></a></td><td><a rel=\"noopener\" href=\"http://facebook.com/windowrevival/\"><img style=\"margin-right:0px\" width=\"30\" alt=\"Facebook\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_facebook.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"></a></td><td><a rel=\"noopener\" href=\"http://instagram.com/windowrevivalAUS\"><img style=\"margin-right:0px\" width=\"30\" alt=\"Instagram\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_insta.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"></a></td><td><a rel=\"noopener\" href=\"http://twitter.com/windowrevival\"><img style=\"margin-right:0px\" width=\"30\" alt=\"Twitter\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_twitter.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"></a></td></tr></tbody></table></td></tr></tbody></table></div></div></div></div><br><div class=\"gmail_quote gmail_quote_container\"><div class=\"gmail_attr\" dir=\"ltr\">On Mon, 12 Jan 2026 at 10:30, Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\">8hillviewcres@gmail.com</a>&gt; wrote:<br></div><blockquote style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\" class=\"gmail_quote\"><div dir=\"auto\">Hi,<div dir=\"auto\"><br></div><div dir=\"auto\">I've got a single sliding glass door which needs roller replacement and weather sealing.</div><div dir=\"auto\"><br></div><div dir=\"auto\">Can you give me a approximate price please order do you need more info/pics?</div><div dir=\"auto\"><br></div><div dir=\"auto\">Thanks</div></div></blockquote></div>\n</body></html>",
          "text": "Seal\n-------- Original message --------From: Window Revival <sales@windowrevival.com.au> Date: 13/1/26  8:44 am  (GMT+10:00) To: Jay <8hillviewcres@gmail.com> Subject: Re: Enquiry Hi Jay,Thanks for sending your email enquiry.Can you please send us photos of the glass sliding door and some close ups of the rubber seals & track? Also, which suburb is the door located?Regards,BrianToll Free1300 882 482Brisbane07 3088 9788Gold Coast07 5526 1881Emailsales@windowrevival.com.auOn Mon, 12 Jan 2026 at 10:30, Jay <8hillviewcres@gmail.com> wrote:Hi,I've got a single sliding glass door which needs roller replacement and weather sealing.Can you give me a approximate price please order do you need more info/pics?Thanks\n",
          "textAsHtml": "<p>Seal<br/>-------- Original message --------From: Window Revival &lt;<a href=\"mailto:sales@windowrevival.com.au\">sales@windowrevival.com.au</a>&gt; Date: 13/1/26  8:44&#x202F;am  (GMT+10:00) To: Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\">8hillviewcres@gmail.com</a>&gt; Subject: Re: Enquiry Hi Jay,Thanks for sending your&nbsp;email enquiry.Can you please send us photos of the glass sliding door and some close ups of the rubber seals &amp; track? Also, which suburb is the door located?Regards,BrianToll Free1300 882 482Brisbane07 3088 9788Gold Coast07 5526 1881Emailsales@windowrevival.com.auOn Mon, 12 Jan 2026 at 10:30, Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\">8hillviewcres@gmail.com</a>&gt; wrote:Hi,I&apos;ve got a single sliding glass door which needs roller replacement and weather sealing.Can you give me a approximate price please order do you need more info/pics?Thanks</p>",
          "subject": "Re: Enquiry",
          "date": "2026-01-13T04:45:59.000Z",
          "to": {
            "value": [
              {
                "address": "sales@windowrevival.com.au",
                "name": "Window Revival"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Window Revival</span> &lt;<a href=\"mailto:sales@windowrevival.com.au\" class=\"mp_address_email\">sales@windowrevival.com.au</a>&gt;</span>",
            "text": "\"Window Revival\" <sales@windowrevival.com.au>"
          },
          "from": {
            "value": [
              {
                "address": "8hillviewcres@gmail.com",
                "name": "Jay"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Jay</span> &lt;<a href=\"mailto:8hillviewcres@gmail.com\" class=\"mp_address_email\">8hillviewcres@gmail.com</a>&gt;</span>",
            "text": "\"Jay\" <8hillviewcres@gmail.com>"
          },
          "messageId": "<6965ce3b.170a0220.3045d6.8487@mx.google.com>",
          "inReplyTo": "<CAJYAa6zsYRD5OAh+pc0nZw11U3O7FZZhvEa24y7TQxO+CCcFcA@mail.gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "19bb5af667d8f366",
          "threadId": "19baf9cc655350f1",
          "labelIds": [
            "Label_4746392800957065361",
            "IMPORTANT",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 17356,
          "headers": {
            "delivered-to": "Delivered-To: windowrevival@gmail.com",
            "received": "Received: from [10.0.0.2] (118-208-204-156.tpgi.com.au. [118.208.204.156])\r\n        by smtp.gmail.com with ESMTPSA id 98e67ed59e1d1-34f5fb7442asm18785712a91.15.2026.01.12.20.46.55\r\n        for <sales@windowrevival.com.au>\r\n        (version=TLS1_3 cipher=TLS_AES_128_GCM_SHA256 bits=128/128);\r\n        Mon, 12 Jan 2026 20:46:55 -0800 (PST)",
            "x-forwarded-encrypted": "X-Forwarded-Encrypted: i=2; AJvYcCW5a5MaKPdnlgQ3Ny12asLNqODSPmMVV6tO24/zphWAqiBOxsZpT7Px0nOVXNA4IYXHT6WNxrB/EP8L6AFg@gmail.com",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IGLoZhHr/jzJ7qouPK5OnZ8HgkuAEdsCd4imcem1BeI5Zq8/vxGlFUaDD65bY8lqcgk+z2J",
            "x-received": "X-Received: by 2002:a17:90b:540e:b0:343:5f43:933e with SMTP id 98e67ed59e1d1-34f68cbe0b5mr17303062a91.19.1768279616218;\r\n        Mon, 12 Jan 2026 20:46:56 -0800 (PST)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1768279730; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=jgamJC/qHcD1B7I1pF6cWvwZedZU43VAyrKsJdOl9sWm29Le45YQqg39LKTFokzsm2\r\n         GKm0EXmeMx6R5Z7mJIVzV52Tw6aQUmDDgftlwZGpah445effVVzd7iQTk32/6d96ssiA\r\n         x15VnQPw28mf8nIBPhyXeGPHK2DrSzxpAgq0H77EpHy78/h+lFUdWBJ38/ZrydLzltPc\r\n         0KYNabKiYAMy5pAPVmIPwDD8AQl1GawjJMbdAvw6oz15HI8/X3ZCuHm7MxepIAXEA6hY\r\n         OlA8Abpng6E8l0uBVxSThYMbTLODTtv8nqarYGJPpgZ/hHx8QLrFOiibxGzbzAcXyq6U\r\n         nQUA==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=mime-version:to:from:importance:in-reply-to:subject:date\r\n         :savedfromemail:message-id:dkim-signature;\r\n        bh=rc6AIlLs4zmSY24RxHOTKZ/A9Bt0kYp8A/sxqHZYedc=;\r\n        fh=lMr+5EHlB0KE3Ql2nlTYZpEIXcA+7HWmOnGuYN0ThNU=;\r\n        b=J3Qoeu5tadsUUWQfZBmuVOYtF2Bmh7fnfOpvmKdVAEgSB2wOo6/2oDvcTXkvthevEN\r\n         ON6baiQXm874Gp+QlyBTQRbdLJYL4xY7C2ixhZP23GYPwNG5214/I0DJP2X3glQTAeAM\r\n         IArW0jZB9lKnSs16FLt9hQJJZu8KIoDLGykHuDoqcHyiZK8KQ8ykmuLr8HJLdU7cL1Tx\r\n         wYIm1fyM9fGpaXFG1XNAeRJvMXumf2RTUOsnSh4ZklcybKU2YwTww/nx1BTb2bG69ktq\r\n         QFV8SEopxx016C1BrGGm+Ddf1sihALj9KFixeUPDqJh3bRBXGOA7R9a7aFI+5qKLh9G9\r\n         PtKw==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=g5jhAS8F;\r\n       spf=pass (google.com: domain of srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net designates 182.50.132.195 as permitted sender) smtp.mailfrom=\"srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net\";\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=neutral header.i=@gmail.com",
            "return-path": "Return-Path: <srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net>",
            "received-spf": "Received-SPF: pass (google.com: domain of srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net designates 182.50.132.195 as permitted sender) client-ip=182.50.132.195;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=g5jhAS8F;\r\n       spf=pass (google.com: domain of srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net designates 182.50.132.195 as permitted sender) smtp.mailfrom=\"srs0=s+w+=7s=gmail.com=8hillviewcres@bounce.secureserver.net\";\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=neutral header.i=@gmail.com",
            "x-cmae-analysis": "X-CMAE-Analysis: v=2.4 cv=UonJ8ewB c=1 sm=1 tr=0 ts=6965ce73\r\n a=3CalYPD7c+ro3/CVEo5dnQ==:117 a=3CalYPD7c+ro3/CVEo5dnQ==:17\r\n a=vUbySO9Y5rIA:10 a=x7bEGLp0ZPQA:10 a=ecVs4nzuOBIA:10 a=95EFz5htlIgA:10\r\n a=ieA-nmaIAAAA:8 a=pGLkceISAAAA:8 a=7dzLetg-7RhLw-5sPU4A:9 a=QEXdDO2ut3YA:10\r\n a=abQMqkcOAAAA:8 a=3j4BkbkPAAAA:8 a=BkpHzsgbAAAA:8 a=JqEG_dyiAAAA:8\r\n a=3DdJLv8zP-xL1c_c:21 a=_W_S_7VecoQA:10 a=lqcHg5cX4UMA:10\r\n a=vexicnJHVZC5-rvN4z9Y:22 a=aIG0Rv9XPK8fZJcrWQP9:22 a=p6jCq3gc30yYv66_REJH:22\r\n a=S78LE8TGhpAtZlfjDSeF:22",
            "x-secureserver-acct": "X-SECURESERVER-ACCT: pv5jnapr5duc",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20230601; t=1768279616; x=1768884416; darn=windowrevival.com.au;\r\n        h=mime-version:to:from:importance:in-reply-to:subject:date\r\n         :savedfromemail:message-id:from:to:cc:subject:date:message-id\r\n         :reply-to;\r\n        bh=rc6AIlLs4zmSY24RxHOTKZ/A9Bt0kYp8A/sxqHZYedc=;\r\n        b=g5jhAS8FSlrgRpkG/CqYRiPaeDTAfn2nULdc1mFv2NyF7V6n23+5xEklGR08FdcXLK\r\n         zrOsfCuUA8UW0RJbUbiHYAQrGCanrNi7qPBvGqY7m2MgvIQS1qk1baiFfZbyksJ3I99O\r\n         WPMvbEt43QdrMnuAOVSk19JRViu515LA2THGKNOkLpSfosSeogTxW8/xmTDWMhmhyeh3\r\n         CJotH7TY5NENZz2jeMna9c5AP/Z6tdi3N3yEOA54gH5rLGGFWGNerS6qZVHpKHxILJaE\r\n         9j1Xk1+c3TTiD/pytuy8d3CAAV5hPNXuYP5YWwQXqAKwnyqZs+nibHWYygiplCHFoCiu\r\n         jXrw==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1768279616; x=1768884416;\r\n        h=mime-version:to:from:importance:in-reply-to:subject:date\r\n         :savedfromemail:message-id:x-gm-gg:x-gm-message-state:from:to:cc\r\n         :subject:date:message-id:reply-to;\r\n        bh=rc6AIlLs4zmSY24RxHOTKZ/A9Bt0kYp8A/sxqHZYedc=;\r\n        b=jv+zbmg7BaqI2fqTy6CcfKAyTZYF6DwPe5Fvy1+2ygJ+ieUO/NcrnRtlAqE54gFond\r\n         I9TSEprV7F7euHSPvoRi027E5RxpBhYhg51Td4SZKsoSG66qOcz5sspxrTwWb86igh1p\r\n         0a5TCO89cCu+JhWpR1zTFge1d9PcB7+LU/okGxz7yWDbGPSPaukIOfMx1kKiFYmiXa+l\r\n         jmNknYCUzccO+b7VpE4MPYUJdXz+jCfkPRYCM/enuEfYwSk7KLRmK9Xurm8yQutse1Ib\r\n         56j/WUgcDmZTd0F80zRij4ijQVRDKOmFreqvop+DIM3lXmUasX6YVwdXAOgyzNvGshIn\r\n         r/0w==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0YzcUka9a06H1GRDg5FxnrJ4sOnE1WViRWbzZ29D2Il+Lqa0laBA\r\n\t0hkD8+XqtjnKXoZIHG0nr4/xuhmpar+gJot8TCj7K/a9rbCX6Z8bvLQAFP1PdA==",
            "x-gm-gg": "X-Gm-Gg: AY/fxX6k/poJAkC11PRonaRtB2Hlf+DXvRuWZn4Cg0DOfdO6nGrVHIASDSQ1u4Yar3l\r\n\tj0PLNrYIvQ1JqYlfzrD3Eu14s4D5mlCmtOkrc8uyYvclKavBWjJ6+HllaCTk8lgumc8sZy4riTl\r\n\tqdLyVfYQyoCFOVsadCpeDr5H1sFq6OL1Qs7O6xOjnjTecuI6uIMSPtT1GZpi2XGxchz40djhR3m\r\n\tuv79gmAWVfUs8gb45sH+DIJrtfEDL7bTWAYeCY9qE7u6BIY0ddzyt9sRKUc1MlRh7jKcxy3l0iS\r\n\t2G76m4PfNweHNzWmRPsDK1vaObLWINzCMqTlLME4IwLMk73f1w7A8u1A9niYEL6IGK07CyCOff4\r\n\t3LgChcZmtN953TnXWWJdnLsejibyIpguRM03x+0/B5y1jGX6bjmZwuRVteqK2tcgzJwvU9SuD/V\r\n\ttzymLlzRi095B8LPORFqtgmblNIKnFwIJpAPWqaCzToKA=",
            "message-id": "Message-ID: <6965ce3f.170a0220.3045d6.8500@mx.google.com>",
            "savedfromemail": "SavedFromEmail: 8hillviewcres@gmail.com",
            "date": "Date: Tue, 13 Jan 2026 14:46:53 +1000",
            "subject": "Subject: Re: Enquiry",
            "in-reply-to": "In-Reply-To: <CAJYAa6zsYRD5OAh+pc0nZw11U3O7FZZhvEa24y7TQxO+CCcFcA@mail.gmail.com>",
            "importance": "Importance: normal",
            "from": "From: Jay <8hillviewcres@gmail.com>",
            "to": "To: Window Revival <sales@windowrevival.com.au>",
            "mime-version": "MIME-Version: 1.0",
            "content-type": "Content-Type: multipart/alternative; boundary=\"--_com.samsung.android.email_1992887125431460\"",
            "x-antiabuse": "X-AntiAbuse: Sender Address Domain - gmail.com",
            "x-get-message-sender-via": "X-Get-Message-Sender-Via: sg2plzcpnl507423.prod.sin2.secureserver.net: redirect/forwarder owner sales@windowrevival.com.au -> windowrevival@gmail.com",
            "x-authenticated-sender": "X-Authenticated-Sender: sg2plzcpnl507423.prod.sin2.secureserver.net: sales@windowrevival.com.au",
            "x-source": "X-Source: ",
            "x-source-args": "X-Source-Args: ",
            "x-source-dir": "X-Source-Dir: ",
            "x-entitlement-id": "X-ENTITLEMENT-ID: a9ff2ff3-646a-11e8-8132-3417ebe60eb6",
            "x-cmae-envelope": "X-CMAE-Envelope: MS4xfLVbAJMPfAv4QJHDYGh4Oweuh/tjq99NNabTaEJBnDe4qjpqJF+kwY5ah6F9ZrXJyrlNMl+hvx6FlupblM0bVMB7FVozwBvMGVb3JWhTbA3o6DAMmFKl\r\n CkF7GXq1RSQsBfYW/8WkuPZ+xrp2ylMkWYaKUU4E5YNjIfF8li9uwXPBtkjg2A87pa0uYQZfpWilK4DxDPafRoC2WkpVs8r5eprSszmPJlxUYsJdd0LsIIBX\r\n XCJPdnaznNBXUoUaEJtcFQ=="
          },
          "html": "<html><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"></head><body dir=\"auto\">Little Mountain&nbsp;<div dir=\"auto\"><br></div><div dir=\"auto\">Thanks</div><div><br></div><div align=\"left\" dir=\"auto\" style=\"font-size:100%;color:#000000\"><div>-------- Original message --------</div><div>From: Window Revival &lt;sales@windowrevival.com.au&gt; </div><div>Date: 13/1/26  8:44 am  (GMT+10:00) </div><div>To: Jay &lt;8hillviewcres@gmail.com&gt; </div><div>Subject: Re: Enquiry </div><div><br></div></div><div dir=\"ltr\"><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Hi Jay,</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Thanks for sending your&nbsp;email enquiry.</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Can you please send us photos of the glass sliding door and some close ups of the rubber seals &amp; track? Also, which suburb is the door located?</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Regards,</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\">Brian</div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div style=\"font-family:arial,sans-serif;font-size:small\" class=\"gmail_default\"><br></div><div><div data-smartmail=\"gmail_signature\" class=\"gmail_signature\" dir=\"ltr\"><div dir=\"ltr\"><table style=\"border:1px solid rgb(238,238,238);background-color:rgb(250,251,252);padding:5px 0px 5px 10px;width:544.281px\"><tbody><tr><td style=\"text-align:right;vertical-align:middle;border-right:1px solid rgb(238,238,238);padding:0px 18px 10px\"><img style=\"margin-right:0px\" height=\"100\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_sigTrans.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"><br></td><td style=\"padding-left:18px;padding-top:1px\"><table style=\"vertical-align:middle;font-family:verdana,sans-serif;color:rgb(85,85,85);font-size:10px;line-height:10px;border-spacing:5px\"><tbody><tr><td style=\"width:70px;font-weight:bold;color:rgb(50,60,138)\">Toll Free</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"tel:1300+882+482\">1300 882 482</a></td></tr><tr><td style=\"font-weight:bold;color:rgb(50,60,138)\">Brisbane</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"tel:07+3088+9788\">07 3088 9788</a></td></tr><tr style=\"padding:0px 0px 20px\"><td style=\"font-weight:bold;color:rgb(50,60,138)\">Gold Coast</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"tel:07+5526+1881\">07 5526 1881</a></td></tr><tr><td style=\"font-weight:bold;color:rgb(50,60,138)\">Email</td><td style=\"padding-left:10px\"><a style=\"color:rgb(85,85,85)\" href=\"mailto:sales@windowrevival.com.au\">sales@windowrevival.com.au</a></td></tr></tbody></table><table style=\"padding-top:5px\"><tbody><tr><td><a rel=\"noopener\" href=\"http://windowrevival.net.au/\"><img style=\"margin-right:0px\" width=\"30\" alt=\"Website\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_web.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"></a></td><td><a rel=\"noopener\" href=\"http://facebook.com/windowrevival/\"><img style=\"margin-right:0px\" width=\"30\" alt=\"Facebook\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_facebook.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"></a></td><td><a rel=\"noopener\" href=\"http://instagram.com/windowrevivalAUS\"><img style=\"margin-right:0px\" width=\"30\" alt=\"Instagram\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_insta.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"></a></td><td><a rel=\"noopener\" href=\"http://twitter.com/windowrevival\"><img style=\"margin-right:0px\" width=\"30\" alt=\"Twitter\" src=\"https://windowrevival.net.au/wp-content/uploads/2023/06/Brand-Kit-2_SM_twitter.png\" onmouseover=\"imageMousePointerUpdate(true)\" onmouseout=\"imageMousePointerUpdate(false)\"></a></td></tr></tbody></table></td></tr></tbody></table></div></div></div></div><br><div class=\"gmail_quote gmail_quote_container\"><div class=\"gmail_attr\" dir=\"ltr\">On Mon, 12 Jan 2026 at 10:30, Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\">8hillviewcres@gmail.com</a>&gt; wrote:<br></div><blockquote style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\" class=\"gmail_quote\"><div dir=\"auto\">Hi,<div dir=\"auto\"><br></div><div dir=\"auto\">I've got a single sliding glass door which needs roller replacement and weather sealing.</div><div dir=\"auto\"><br></div><div dir=\"auto\">Can you give me a approximate price please order do you need more info/pics?</div><div dir=\"auto\"><br></div><div dir=\"auto\">Thanks</div></div></blockquote></div>\n</body></html>",
          "text": "Little Mountain Thanks\n-------- Original message --------From: Window Revival <sales@windowrevival.com.au> Date: 13/1/26  8:44 am  (GMT+10:00) To: Jay <8hillviewcres@gmail.com> Subject: Re: Enquiry Hi Jay,Thanks for sending your email enquiry.Can you please send us photos of the glass sliding door and some close ups of the rubber seals & track? Also, which suburb is the door located?Regards,BrianToll Free1300 882 482Brisbane07 3088 9788Gold Coast07 5526 1881Emailsales@windowrevival.com.auOn Mon, 12 Jan 2026 at 10:30, Jay <8hillviewcres@gmail.com> wrote:Hi,I've got a single sliding glass door which needs roller replacement and weather sealing.Can you give me a approximate price please order do you need more info/pics?Thanks\n",
          "textAsHtml": "<p>Little Mountain&nbsp;Thanks<br/>-------- Original message --------From: Window Revival &lt;<a href=\"mailto:sales@windowrevival.com.au\">sales@windowrevival.com.au</a>&gt; Date: 13/1/26  8:44&#x202F;am  (GMT+10:00) To: Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\">8hillviewcres@gmail.com</a>&gt; Subject: Re: Enquiry Hi Jay,Thanks for sending your&nbsp;email enquiry.Can you please send us photos of the glass sliding door and some close ups of the rubber seals &amp; track? Also, which suburb is the door located?Regards,BrianToll Free1300 882 482Brisbane07 3088 9788Gold Coast07 5526 1881Emailsales@windowrevival.com.auOn Mon, 12 Jan 2026 at 10:30, Jay &lt;<a href=\"mailto:8hillviewcres@gmail.com\">8hillviewcres@gmail.com</a>&gt; wrote:Hi,I&apos;ve got a single sliding glass door which needs roller replacement and weather sealing.Can you give me a approximate price please order do you need more info/pics?Thanks</p>",
          "subject": "Re: Enquiry",
          "date": "2026-01-13T04:46:53.000Z",
          "to": {
            "value": [
              {
                "address": "sales@windowrevival.com.au",
                "name": "Window Revival"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Window Revival</span> &lt;<a href=\"mailto:sales@windowrevival.com.au\" class=\"mp_address_email\">sales@windowrevival.com.au</a>&gt;</span>",
            "text": "\"Window Revival\" <sales@windowrevival.com.au>"
          },
          "from": {
            "value": [
              {
                "address": "8hillviewcres@gmail.com",
                "name": "Jay"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Jay</span> &lt;<a href=\"mailto:8hillviewcres@gmail.com\" class=\"mp_address_email\">8hillviewcres@gmail.com</a>&gt;</span>",
            "text": "\"Jay\" <8hillviewcres@gmail.com>"
          },
          "messageId": "<6965ce3f.170a0220.3045d6.8500@mx.google.com>",
          "inReplyTo": "<CAJYAa6zsYRD5OAh+pc0nZw11U3O7FZZhvEa24y7TQxO+CCcFcA@mail.gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "6f71a572-ca4a-4533-a501-cd13b9ab21fd",
  "activeVersionId": null,
  "versionCounter": 390,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-18T00:29:33.310Z",
      "createdAt": "2025-11-18T00:29:33.310Z",
      "role": "workflow:owner",
      "workflowId": "r5Z0Ar8ey3u78g5d",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T07:49:25.938Z",
            "createdAt": "2025-11-14T07:49:25.938Z",
            "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
            "projectId": "6TsYTzg0HY92xH2K",
            "user": {
              "updatedAt": "2026-02-10T14:01:06.000Z",
              "createdAt": "2025-11-14T07:49:14.641Z",
              "id": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
              "email": "windowrevival@gmail.com",
              "firstName": "Christine",
              "lastName": "Kam",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T08:34:38.735Z",
                "personalization_survey_n8n_version": "1.119.1",
                "automationGoalDevops": [
                  "reporting",
                  "other"
                ],
                "automationGoalDevopsOther": "Automate all apps",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZwjGOdSLvNlPoB1E",
                "userActivatedAt": 1763281773859,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763554974919
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-25T13:05:18.454Z",
      "createdAt": "2025-11-25T13:05:18.454Z",
      "id": "xn6seEX74pkTOLqC",
      "name": "@lead"
    }
  ],
  "activeVersion": null
}