workflows/02. Error Alert.json
{
  "updatedAt": "2025-12-01T05:25:07.000Z",
  "createdAt": "2025-11-16T13:31:38.598Z",
  "id": "b4cFEFv1eFePOnMh",
  "name": "02. Error Alert",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        0
      ],
      "id": "2fd8461c-cb9d-4a10-abf7-83f7c8a0ac84",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "sendTo": "windowrevival@gmail.com",
        "subject": "N8N - Error Alert!! ",
        "emailType": "text",
        "message": "=** Error Alert!! **  \n\nTimestamp: {{ $now.setZone('Australia/Brisbane').toFormat('dd/LL/yyyy') }}  \nWorkflow: {{ $json.workflow.name }}  \nURL: {{ $json.execution.url }}  \nNode: : {{ $json.execution.error.node.name }}  Error \nMessage: {{ $json.execution.error.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -64,
        0
      ],
      "id": "4fbd285d-5d66-40a3-8810-e35c1749b894",
      "name": "Send error message WR  account",
      "webhookId": "824c6d78-b011-4c00-a02a-a58cd9449f25",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1S3zT5c86JJRZsImXRfWHbShp0nz8B-LOYiNh3geMLm8",
          "mode": "list",
          "cachedResultName": "Error Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S3zT5c86JJRZsImXRfWHbShp0nz8B-LOYiNh3geMLm8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S3zT5c86JJRZsImXRfWHbShp0nz8B-LOYiNh3geMLm8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.setZone('Australia/Brisbane').toFormat('dd/LL/yyyy') }}\n",
            "Worflow": "={{ $json.workflow.name }}",
            "URL": "={{ $json.execution.url }}",
            "Error Message": "={{ $json.execution.error.message }}",
            "Node": "={{ $json.execution.error.node.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Worflow",
              "displayName": "Worflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Node",
              "displayName": "Node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        192
      ],
      "id": "3f7fcf23-11d6-4e4d-b5b9-6378ed7906a2",
      "name": "Logs error into Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4FmXrss6MgN5rzt",
          "name": "WR: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "753455160209965106",
          "mode": "list",
          "cachedResultName": "Window Revival",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106"
        },
        "channelId": {
          "__rl": true,
          "value": "1444913129501884466",
          "mode": "list",
          "cachedResultName": "workflow-error-notification",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106/1444913129501884466"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -64,
        -192
      ],
      "id": "4db2ffd7-a886-4cc9-a7aa-9ee243ba8c80",
      "name": "Send a message",
      "webhookId": "f76ef8fa-4668-4a8c-845b-8fe4d991b457",
      "credentials": {
        "discordBotApi": {
          "id": "a0FDlWFh8PBA5Add",
          "name": "WR: Discord Bot Account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Logs error into Google Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send error message WR  account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a80df72e-33ce-4e4c-b3d6-4ea0f3cd68fa",
  "activeVersionId": "a80df72e-33ce-4e4c-b3d6-4ea0f3cd68fa",
  "versionCounter": 28,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-16T13:31:38.600Z",
      "createdAt": "2025-11-16T13:31:38.600Z",
      "role": "workflow:owner",
      "workflowId": "b4cFEFv1eFePOnMh",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T07:49:25.938Z",
            "createdAt": "2025-11-14T07:49:25.938Z",
            "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
            "projectId": "6TsYTzg0HY92xH2K",
            "user": {
              "updatedAt": "2026-02-10T14:01:06.000Z",
              "createdAt": "2025-11-14T07:49:14.641Z",
              "id": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
              "email": "windowrevival@gmail.com",
              "firstName": "Christine",
              "lastName": "Kam",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T08:34:38.735Z",
                "personalization_survey_n8n_version": "1.119.1",
                "automationGoalDevops": [
                  "reporting",
                  "other"
                ],
                "automationGoalDevopsOther": "Automate all apps",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZwjGOdSLvNlPoB1E",
                "userActivatedAt": 1763281773859,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763554974919
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-01T05:25:07.576Z",
    "createdAt": "2025-12-01T05:25:07.576Z",
    "versionId": "a80df72e-33ce-4e4c-b3d6-4ea0f3cd68fa",
    "workflowId": "b4cFEFv1eFePOnMh",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -288,
          0
        ],
        "id": "2fd8461c-cb9d-4a10-abf7-83f7c8a0ac84",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "sendTo": "windowrevival@gmail.com",
          "subject": "N8N - Error Alert!! ",
          "emailType": "text",
          "message": "=** Error Alert!! **  \n\nTimestamp: {{ $now.setZone('Australia/Brisbane').toFormat('dd/LL/yyyy') }}  \nWorkflow: {{ $json.workflow.name }}  \nURL: {{ $json.execution.url }}  \nNode: : {{ $json.execution.error.node.name }}  Error \nMessage: {{ $json.execution.error.message }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -64,
          0
        ],
        "id": "4fbd285d-5d66-40a3-8810-e35c1749b894",
        "name": "Send error message WR  account",
        "webhookId": "824c6d78-b011-4c00-a02a-a58cd9449f25",
        "credentials": {
          "gmailOAuth2": {
            "id": "Iacb6DlpUsfDqQMK",
            "name": "WR: Gmail Account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1S3zT5c86JJRZsImXRfWHbShp0nz8B-LOYiNh3geMLm8",
            "mode": "list",
            "cachedResultName": "Error Logs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S3zT5c86JJRZsImXRfWHbShp0nz8B-LOYiNh3geMLm8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Dashboard",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S3zT5c86JJRZsImXRfWHbShp0nz8B-LOYiNh3geMLm8/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Timestamp": "={{ $now.setZone('Australia/Brisbane').toFormat('dd/LL/yyyy') }}\n",
              "Worflow": "={{ $json.workflow.name }}",
              "URL": "={{ $json.execution.url }}",
              "Error Message": "={{ $json.execution.error.message }}",
              "Node": "={{ $json.execution.error.node.name }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Worflow",
                "displayName": "Worflow",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Node",
                "displayName": "Node",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Error Message",
                "displayName": "Error Message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -64,
          192
        ],
        "id": "3f7fcf23-11d6-4e4d-b5b9-6378ed7906a2",
        "name": "Logs error into Google Sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "S4FmXrss6MgN5rzt",
            "name": "WR: Google Sheets Account"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "753455160209965106",
            "mode": "list",
            "cachedResultName": "Window Revival",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106"
          },
          "channelId": {
            "__rl": true,
            "value": "1444913129501884466",
            "mode": "list",
            "cachedResultName": "workflow-error-notification",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106/1444913129501884466"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          -64,
          -192
        ],
        "id": "4db2ffd7-a886-4cc9-a7aa-9ee243ba8c80",
        "name": "Send a message",
        "webhookId": "f76ef8fa-4668-4a8c-845b-8fe4d991b457",
        "credentials": {
          "discordBotApi": {
            "id": "a0FDlWFh8PBA5Add",
            "name": "WR: Discord Bot Account"
          }
        }
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Logs error into Google Sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send error message WR  account",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Christine Kam",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": []
  }
}