workflows/03. Discord File Upload v1.json
{
  "updatedAt": "2026-01-01T03:52:28.237Z",
  "createdAt": "2025-11-19T11:16:07.747Z",
  "id": "IXspPE8nYhHtrqYA",
  "name": "03. Discord File Upload v1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ",
          "mode": "list",
          "cachedResultName": "Leads Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "raw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.setZone('Australia/Brisbane').toFormat('yyyy-LL-dd') }}\n",
            "Id": "={{ $json.id }}",
            "Lead Type": "={{ $json.leadType }}",
            "First Name": "={{ $json.firstName }}",
            "Last Name": "={{ $json.lastName }}",
            "Mobile Number": "={{ $json.mobileNumber }}",
            "Email Address": "={{ $json.emailAddress }}",
            "Phone Number": "={{ $json.phoneNumber }}",
            "Address": "={{ $json.address }}",
            "State": "={{ $json.state }}",
            "Postal Code": "={{ $json.postalCode }}",
            "Suburb": "={{ $json.suburb }}",
            "Enquiry": "={{ $json.enquiry }}",
            "Quantity": "={{ $json.quantity }}",
            "I’d Like To Get My Project Underway": "={{ $json.IdLikeToGetMyProjectUnderway }}",
            "How they heard about us": "={{ $json.howTheyHeardAboutUs }}",
            "Lead Qualifier": "={{ $json.leadQualifier }}",
            "Referred By": "={{ $json.referredBy }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Type",
              "displayName": "Lead Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suburb",
              "displayName": "Suburb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Postal Code",
              "displayName": "Postal Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enquiry",
              "displayName": "Enquiry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I’d Like To Get My Project Underway",
              "displayName": "I’d Like To Get My Project Underway",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "How they heard about us",
              "displayName": "How they heard about us",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Qualifier",
              "displayName": "Lead Qualifier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Referred By",
              "displayName": "Referred By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        -480
      ],
      "id": "2bd7938d-9763-4772-92c7-9af02e710835",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4FmXrss6MgN5rzt",
          "name": "WR: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{\n  [\n    $now.setZone('Australia/Brisbane').toFormat('dd-MM-yy') || '',\n    $json.leadType || '',\n    $json.firstName || '',\n    $json.lastName || '',\n    $json.attachmentName || '',\n    \n  ]\n    .filter(p => p && p !== '')\n    .join('_')\n}}\n",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "13LLScY5KwHtjVa94gCIQhdK4o9Ruc2-e",
          "mode": "list",
          "cachedResultName": "HiPages Lead",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13LLScY5KwHtjVa94gCIQhdK4o9Ruc2-e"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        -96
      ],
      "id": "53dd379a-03ee-4f25-86f0-dbd01debf11d",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cO0NLqiTRlyGeXAH",
          "name": "WR: Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Convert the content of the provided image URL(s) into text and use it to fill in the JSON template below.\n\nNote: For referral leads, the information about the job/enquiry may be spread across multiple images. Some images might also be unrelated (e.g. extra photos, reference images, or other files). Use any image that clearly contains text about the customer, job details, or contact information. Ignore images that do not contain relevant text.\n\nKeep the values that are already pre-filled from the input (id, leadType, howTheyHeardAboutUs, referredBy).\nFor every other field, use the information you can clearly read in the images.\nIf a field is not present or not readable in any of the images, leave it as an empty string.\nRespond with the completed JSON only, with no extra text.\n\n{\n  \"id\": \"{{ $json.messageId }}\",\n  \"leadType\": \"{{ $json.leadType }}\",\n  \"firstName\": \"\",\n  \"lastName\": \"\",\n  \"mobileNumber\": \"\",\n  \"phoneNumber\": \"\",\n  \"emailAddress\": \"\",\n  \"address\": \"\",\n  \"state\": \"\",\n  \"suburb\": \"\",\n  \"postalCode\": \"\",\n  \"enquiry\": \"\",\n  \"quantity\": \"\",\n  \"IdLikeToGetMyProjectUnderway\": \"\",\n  \"howTheyHeardAboutUs\": \"{{ $json.message }}\",\n  \"leadQualifier\": \"Good\",\n  \"referredBy\": \"{{ $json.referredBy }}\"\n}\n",
        "imageUrls": "={{ $json.imageAttachments.map(img => img.attachment) }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        512,
        -384
      ],
      "id": "285df3d9-2892-45c6-8d14-284e2d552817",
      "name": "convert images to text",
      "credentials": {
        "openAiApi": {
          "id": "oQQrCQWqdo1CuRzx",
          "name": "WRai: OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hasImage }}",
                    "rightValue": "HiPages Lead",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "31a7688f-55da-4268-8ea4-84ffd728fdfe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "images"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7caa828b-fa28-42da-b390-60b588bb31c1",
                    "leftValue": "={{ $json.hasAudio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee7e2ce4-721c-4a99-a458-f86a79c78c4e",
                    "leftValue": "={{ $json.hasPdf }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eab75ce2-b3b6-470b-8181-5e631b70abbd",
                    "leftValue": "={{ $json.hasOther }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "combination"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        288,
        -320
      ],
      "id": "ea37d9cc-6e96-46d8-84a2-b068288fcb62",
      "name": "Identify which file type was uploaded"
    },
    {
      "parameters": {
        "guildIds": [
          "753455160209965106"
        ],
        "channelIds": [
          "1210410694688641055"
        ],
        "roleIds": [
          "901010019900882994",
          "901010696152698890"
        ],
        "pattern": "every",
        "additionalFields": {
          "attachmentsRequired": true
        }
      },
      "type": "n8n-nodes-discord-trigger-new.discordTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -288
      ],
      "id": "524b8e19-45f8-472a-960b-bde971c0cd32",
      "name": "Listen to Discord messages",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "bWnCMGqUZEPKKfgs",
          "name": "WR: Discord Bot Trigger Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ---------- Levenshtein distance for fuzzy matching ----------\nfunction levenshtein(a, b) {\n  if (a === b) return 0;\n  if (!a || !b) return (a || b).length;\n\n  const matrix = [];\n\n  for (let i = 0; i <= b.length; i++) {\n    matrix[i] = [i];\n  }\n  for (let j = 0; j <= a.length; j++) {\n    matrix[0][j] = j;\n  }\n\n  for (let i = 1; i <= b.length; i++) {\n    for (let j = 1; j <= a.length; j++) {\n      const cost = b.charAt(i - 1) === a.charAt(j - 1) ? 0 : 1;\n\n      matrix[i][j] = Math.min(\n        matrix[i - 1][j] + 1,       // deletion\n        matrix[i][j - 1] + 1,       // insertion\n        matrix[i - 1][j - 1] + cost // substitution\n      );\n    }\n  }\n\n  return matrix[b.length][a.length];\n}\n\n// ---------- Fuzzy \"HiPages\" detection ----------\nfunction looksLikeHiPages(text) {\n  const target = 'hipages';\n  const normalized = (text || '').toLowerCase().replace(/[^a-z]/g, ' ');\n  const words = normalized.split(/\\s+/).filter(Boolean);\n\n  for (const w of words) {\n    if (levenshtein(w, target) <= 2) {\n      return true;\n    }\n  }\n\n  return false;\n}\n\n// ---------- Fuzzy \"Referral Lead\" detection ----------\nfunction looksLikeReferralLead(text) {\n  const normalized = (text || '').toLowerCase().replace(/[^a-z\\s-]/g, ' ');\n  const prefix = normalized.split('-')[0]; // part before \"-\" (e.g. \"referral lead\")\n  const words = prefix.split(/\\s+/).filter(Boolean);\n\n  let hasReferral = false;\n  let hasLead = false;\n\n  for (const w of words) {\n    if (levenshtein(w, 'referral') <= 2 || w.startsWith('refer')) {\n      hasReferral = true;\n    }\n    if (levenshtein(w, 'lead') <= 1 || w === 'ld') {\n      hasLead = true;\n    }\n  }\n\n  return hasReferral && hasLead;\n}\n\n// ---------- Technician list & extraction ----------\nconst TECHNICIANS = ['Paul', 'Jimmy', 'Cody', 'Phil', 'Rhys', 'Taylor'];\nconst TECHNICIANS_LOWER = TECHNICIANS.map(t => t.toLowerCase());\n\n// Words to ignore when falling back (e.g. \"By\", \"From\", etc.)\nconst STOPWORDS = [\n  'by',\n  'from',\n  'via',\n  'for',\n  'the',\n  'a',\n  'an',\n  'of',\n  'lead',\n  'ref',\n  'referral',\n];\n\nfunction extractTechnicianFromText(text) {\n  // From strings like:\n  // - \"Referral Lead -Paul\"\n  // - \"Referral Lead - Paul\"\n  // - \"Referral Lead - By Paul\"\n  // we want { name: \"Paul\", technician: \"Paul\" } if it's a known tech.\n\n  let suffix = '';\n  const raw = text || '';\n\n  if (raw.includes('-')) {\n    // Everything after the first \"-\"\n    suffix = raw.split('-').slice(1).join('-');\n  } else {\n    // No hyphen: try everything after the word \"lead\"\n    const lower = raw.toLowerCase();\n    const idx = lower.lastIndexOf('lead');\n    if (idx !== -1) {\n      suffix = raw.slice(idx + 4); // after \"lead\"\n    }\n  }\n\n  suffix = suffix.replace(/[^a-zA-Z\\s]/g, ' ').trim();\n  if (!suffix) {\n    return { name: null, technician: null };\n  }\n\n  const words = suffix.split(/\\s+/).filter(Boolean);\n  if (!words.length) {\n    return { name: null, technician: null };\n  }\n\n  // --- NEW: scan ALL words to find best match to a known technician ---\n  let bestTech = null;\n  let bestDistance = Infinity;\n\n  for (const w of words) {\n    const lower = w.toLowerCase();\n    for (let i = 0; i < TECHNICIANS_LOWER.length; i++) {\n      const techLower = TECHNICIANS_LOWER[i];\n      const dist = levenshtein(lower, techLower);\n      if (dist < bestDistance) {\n        bestDistance = dist;\n        bestTech = TECHNICIANS[i]; // keep canonical casing\n      }\n    }\n  }\n\n  // Allow small typos, e.g. \"Pual\" for \"Paul\"\n  if (bestDistance <= 2 && bestTech) {\n    return { name: bestTech, technician: bestTech };\n  }\n\n  // --- Fallback: first non-stopword as referredBy (but NOT \"By\") ---\n  const fallbackWord = words.find(\n    w => !STOPWORDS.includes(w.toLowerCase())\n  );\n\n  if (!fallbackWord) {\n    return { name: null, technician: null };\n  }\n\n  const cleanedName =\n    fallbackWord.charAt(0).toUpperCase() + fallbackWord.slice(1).toLowerCase();\n\n  return { name: cleanedName, technician: null };\n}\n\n// ---------- Classify attachment type ----------\nfunction classifyAttachment(att) {\n  const ct = (att.contentType || '').toLowerCase();\n  const name = (att.name || '').toLowerCase();\n\n  if (ct.startsWith('image/')) {\n    return 'image';\n  }\n  if (ct.startsWith('audio/')) {\n    return 'audio';\n  }\n  if (ct === 'application/pdf' || name.endsWith('.pdf')) {\n    return 'pdf';\n  }\n  return 'other';\n}\n\n// ---------- Determine overall file scenario ----------\nfunction determineFileScenario(hasImage, hasAudio, hasPdf, hasOther) {\n  if (hasImage && hasAudio && hasPdf) return 'image_audio_pdf';\n  if (hasImage && hasAudio) return 'image_and_audio';\n  if (hasImage && hasPdf) return 'image_and_pdf';\n  if (hasAudio && hasPdf) return 'audio_and_pdf';\n  if (hasImage) return 'image_only';\n  if (hasAudio) return 'audio_only';\n  if (hasPdf) return 'pdf_only';\n  if (hasOther) return 'other_only';\n  return 'other_or_none';\n}\n\nfunction determinePrimaryFileType(hasImage, hasAudio, hasPdf, hasOther) {\n  // Priority: image > audio > pdf > other\n  if (hasImage) return 'image';\n  if (hasAudio) return 'audio';\n  if (hasPdf) return 'pdf';\n  if (hasOther) return 'other';\n  return null;\n}\n\n// ---------- Main ----------\nconst message = $input.first().json;\n\n// From your raw data example:\nconst rawMessage = message.content ?? '';\nconst attachments = message.attachments || [];\n\n// 1) Decide leadType, referredBy, technician from content\nlet leadType = rawMessage || '';\nlet referredBy = null;\nlet technician = null;\n\nif (looksLikeHiPages(rawMessage)) {\n  leadType = 'HiPages Lead';\n} else if (looksLikeReferralLead(rawMessage)) {\n  leadType = 'Referral Lead';\n\n  const { name, technician: tech } = extractTechnicianFromText(rawMessage);\n  if (name) {\n    referredBy = name; // who referred the lead\n  }\n  if (tech) {\n    technician = tech; // validated technician name from the list\n  }\n}\n\n// 2) Classify attachments by fileType\nconst typedAttachments = attachments.map(att => {\n  const fileType = classifyAttachment(att);\n  return { ...att, fileType };\n});\n\n// Counts & flags\nconst imageAttachments = typedAttachments.filter(a => a.fileType === 'image');\nconst audioAttachments = typedAttachments.filter(a => a.fileType === 'audio');\nconst pdfAttachments   = typedAttachments.filter(a => a.fileType === 'pdf');\nconst otherAttachments = typedAttachments.filter(a => a.fileType === 'other');\n\nconst hasImage = imageAttachments.length > 0;\nconst hasAudio = audioAttachments.length > 0;\nconst hasPdf   = pdfAttachments.length > 0;\nconst hasOther = otherAttachments.length > 0;\n\n// Overall scenario + primary file type\nconst fileScenario = determineFileScenario(hasImage, hasAudio, hasPdf, hasOther);\nconst primaryFileType = determinePrimaryFileType(hasImage, hasAudio, hasPdf, hasOther);\n\n// ----- Build meta object (FIRST ITEM ONLY) -----\nconst meta = {\n  // message/meta info\n  messageId: message.id,\n  guildId: message.guildId ?? null,\n  channelId: message.channelId ?? null,\n  authorId: message.authorId ?? null,\n  authorName: message.authorName ?? null,\n  rawMessage,\n  message: leadType,    // for your Switch node\n  leadType,\n  referredBy,\n\n  // attachment summary\n  attachmentsSummary: {\n    total: typedAttachments.length,\n    imageCount: imageAttachments.length,\n    audioCount: audioAttachments.length,\n    pdfCount: pdfAttachments.length,\n    otherCount: otherAttachments.length,\n  },\n  hasImage,\n  hasAudio,\n  hasPdf,\n  hasOther,\n\n  // scenario & primary type\n  fileScenario,       // e.g. \"image_only\", \"image_and_audio\", ...\n  primaryFileType,    // e.g. \"image\", \"audio\", \"pdf\", \"other\" or null\n\n  // grouped arrays\n  imageAttachments,\n  audioAttachments,\n  pdfAttachments,\n  otherAttachments,\n};\n\n// ----- Output items -----\n// Item 0: meta only\n// Item 1..N: each attachment only (with fileType)\n\nconst items = [];\n\n// 1) Meta item\nitems.push({ json: meta });\n\n// 2) One item per attachment\nfor (const att of typedAttachments) {\n  items.push({\n    json: att, // pure attachment + fileType\n  });\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -288
      ],
      "id": "d96f1609-9b52-4e58-a51e-29499a996655",
      "name": "Sanitize output"
    },
    {
      "parameters": {
        "jsCode": "// This Code node should run \"Once for All Items\".\n// It will parse the AI JSON, merge with attachment info, and add a fileName.\n\nconst inputItems = $input.all();\nconst outputItems = [];\n\nfor (const item of inputItems) {\n  const data = item.json;\n\n  // --- 1. Get the AI message object (from merged branch) ---\n  const aiMsg = data[\"0\"];\n  if (\n    !aiMsg ||\n    !Array.isArray(aiMsg.content) ||\n    !aiMsg.content[0] ||\n    typeof aiMsg.content[0].text !== 'string'\n  ) {\n    throw new Error('Could not find 0.content[0].text in incoming data.');\n  }\n\n  const rawText = aiMsg.content[0].text;\n\n  // --- 2. Strip ```json ... ``` fences ---\n  const cleaned = rawText\n    .replace(/^```json\\s*/i, '')  // remove leading ```json\n    .replace(/^```\\s*/i, '')      // or plain ```\n    .replace(/```$/i, '')         // remove trailing ```\n    .trim();\n\n  // --- 3. Parse the JSON returned by the model ---\n  const lead = JSON.parse(cleaned);\n\n  // --- 4. Build a nice filename: HiPagesLead-FirstName-LastName-Image_5.jpg ---\n  // Lead type without spaces (e.g. \"HiPagesLead\")\n  const leadTypeSlug = (lead.leadType || data.leadType || 'Lead')\n    .replace(/\\s+/g, '');\n\n  const firstName = (lead.firstName || '').trim();\n  const lastName = (lead.lastName || '').trim();\n  const attachmentName = data.attachmentName || 'file';\n\n  // Join parts and clean up extra dashes/spaces\n  const parts = [\n    leadTypeSlug,\n    firstName || null,\n    lastName || null,\n    attachmentName,\n  ].filter(Boolean);\n\n  const fileName = parts\n    .join('-')\n    .replace(/[\\s]+/g, '-')     // spaces → dashes\n    .replace(/-+/g, '-');       // collapse repeated dashes\n\n  // --- 5. Merge everything into one clean object ---\n  const merged = {\n    // lead fields\n    ...lead,\n\n    // original meta (optional, but useful)\n    messageId: data.messageId,\n    guildId: data.guildId,\n    channelId: data.channelId,\n    authorName: data.authorName,\n    rawMessage: data.rawMessage,\n    referredBy: data.referredBy,\n    technician: data.technician,\n\n    // attachment info\n    attachmentName: data.attachmentName,\n    attachmentUrl: data.attachmentUrl,\n    attachmentId: data.attachmentId,\n    attachmentContentType: data.attachmentContentType,\n    attachmentSize: data.attachmentSize,\n\n    // new: final filename to use in Google Drive\n    fileName,\n  };\n\n  outputItems.push({ json: merged });\n}\n\nreturn outputItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -288
      ],
      "id": "405ac331-bf7f-4dbc-9c19-fa85837a6e30",
      "name": "Parse Text"
    },
    {
      "parameters": {
        "url": "={{ $json.attachmentUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        -96
      ],
      "id": "48978e06-579d-441d-b74d-af4d851721a9",
      "name": "Download Image(s)"
    },
    {
      "parameters": {
        "jsCode": "const parent = $json;\nconst images = parent.imageAttachments || [];\n\nconst items = [];\n\nfor (const img of images) {\n  items.push({\n    json: {\n      // meta (for naming / joining later)\n      messageId: parent.messageId,\n      guildId: parent.guildId,\n      channelId: parent.channelId,\n      authorName: parent.authorName,\n      leadType: parent.leadType,\n      rawMessage: parent.rawMessage,\n      referredBy: parent.referredBy,\n      technician: parent.technician,\n\n      // attachment data\n      attachmentName: img.name,\n      attachmentUrl: img.url,\n      attachmentId: img.id,\n      attachmentContentType: img.contentType,\n      attachmentSize: img.size,\n    },\n  });\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -192
      ],
      "id": "7efe0163-f2b2-4739-b4ad-5155deb89462",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "753455160209965106",
          "mode": "list",
          "cachedResultName": "Window Revival",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Parse Text').item.json.channelId }}",
          "mode": "id"
        },
        "content": "=this image has been uploaded {{ $('Parse Text').item.json.attachmentName }}",
        "options": {
          "message_reference": "={{ $('Parse Text').item.json.messageId }}"
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1408,
        -288
      ],
      "id": "3a5378f4-69fe-442f-aee7-ed27991f7333",
      "name": "Send back message for confirmation ",
      "webhookId": "cffddd91-b0f3-41a5-91a8-74a33782c5c9",
      "credentials": {
        "discordBotApi": {
          "id": "a0FDlWFh8PBA5Add",
          "name": "WR: Discord Bot Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        736,
        -288
      ],
      "id": "59f3b004-2883-4cc5-8bf1-8d0b11ad667c",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "753455160209965106",
          "mode": "list",
          "cachedResultName": "Window Revival",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Parse Text').item.json.channelId }}",
          "mode": "id"
        },
        "messageId": "={{ $('Parse Text').item.json.messageId }}",
        "emoji": "👍"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1408,
        -480
      ],
      "id": "a4388a23-823b-4601-910b-d62719823ba8",
      "name": "React with an emoji to a message",
      "webhookId": "4a6eba97-94ef-4cad-8bf5-9d3cc05f8754",
      "credentials": {
        "discordBotApi": {
          "id": "a0FDlWFh8PBA5Add",
          "name": "WR: Discord Bot Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "753455160209965106",
          "mode": "list",
          "cachedResultName": "Window Revival",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106"
        },
        "channelId": {
          "__rl": true,
          "value": "912496260823519232",
          "mode": "list",
          "cachedResultName": "leads・new",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106/912496260823519232"
        },
        "content": "===========\nLead Type: {{ $json['Lead Type'] }}\nTimestamp: {{ $json.Timestamp }}\nId: {{ $json.Id }}\nFirst Name: {{ $json['First Name'] }}\nLast Name: {{ $json['Last Name'] }}\nMobile Number: {{ $json['Mobile Number'] }}\nPhone Number: {{ $json['Phone Number'] }}\nEmail Address: {{ $json['Email Address'] }}\nAddress: {{ $json.Address }}\nState: {{ $json.State }}\nSuburb: {{ $json.Suburb }}\nEnquiry: {{ $json.Enquiry }}\nQuantity: {{ $json.Quantity }}\nI'd Like to Get My Project Underway:{{ $json['I’d Like To Get My Project Underway'] }}\nHow they heard about us?: {{ $json['How they heard about us'] }}\nLead Qualifier: {{ $json['Lead Qualifier'] }}\nReferred by: {{ $json['Referred By'] }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1408,
        -672
      ],
      "id": "f0c13e93-f5bb-4f46-9b42-0d9fb5265f60",
      "name": "Send a message",
      "webhookId": "e54879b0-d2b6-4f90-ba10-cea624343c02",
      "credentials": {
        "discordBotApi": {
          "id": "a0FDlWFh8PBA5Add",
          "name": "WR: Discord Bot Account"
        }
      }
    }
  ],
  "connections": {
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send back message for confirmation ",
            "type": "main",
            "index": 0
          },
          {
            "node": "React with an emoji to a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        []
      ]
    },
    "convert images to text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify which file type was uploaded": {
      "main": [
        [
          {
            "node": "convert images to text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        []
      ]
    },
    "Listen to Discord messages": {
      "main": [
        [
          {
            "node": "Sanitize output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize output": {
      "main": [
        [
          {
            "node": "Identify which file type was uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Text": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Image(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image(s)": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Parse Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send back message for confirmation ": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4a204cb5-0599-4946-a728-716e3f33b644",
  "activeVersionId": "4a204cb5-0599-4946-a728-716e3f33b644",
  "versionCounter": 74,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-19T11:16:07.750Z",
      "createdAt": "2025-11-19T11:16:07.750Z",
      "role": "workflow:owner",
      "workflowId": "IXspPE8nYhHtrqYA",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T07:49:25.938Z",
            "createdAt": "2025-11-14T07:49:25.938Z",
            "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
            "projectId": "6TsYTzg0HY92xH2K",
            "user": {
              "updatedAt": "2026-02-10T14:01:06.000Z",
              "createdAt": "2025-11-14T07:49:14.641Z",
              "id": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
              "email": "windowrevival@gmail.com",
              "firstName": "Christine",
              "lastName": "Kam",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T08:34:38.735Z",
                "personalization_survey_n8n_version": "1.119.1",
                "automationGoalDevops": [
                  "reporting",
                  "other"
                ],
                "automationGoalDevopsOther": "Automate all apps",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZwjGOdSLvNlPoB1E",
                "userActivatedAt": 1763281773859,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763554974919
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-25T13:05:18.454Z",
      "createdAt": "2025-11-25T13:05:18.454Z",
      "id": "xn6seEX74pkTOLqC",
      "name": "@lead"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-08T09:45:02.001Z",
    "createdAt": "2025-12-08T09:45:02.001Z",
    "versionId": "4a204cb5-0599-4946-a728-716e3f33b644",
    "workflowId": "IXspPE8nYhHtrqYA",
    "nodes": [
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ",
            "mode": "list",
            "cachedResultName": "Leads Logs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "raw",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Timestamp": "={{ $now.setZone('Australia/Brisbane').toFormat('yyyy-LL-dd') }}\n",
              "Id": "={{ $json.id }}",
              "Lead Type": "={{ $json.leadType }}",
              "First Name": "={{ $json.firstName }}",
              "Last Name": "={{ $json.lastName }}",
              "Mobile Number": "={{ $json.mobileNumber }}",
              "Email Address": "={{ $json.emailAddress }}",
              "Phone Number": "={{ $json.phoneNumber }}",
              "Address": "={{ $json.address }}",
              "State": "={{ $json.state }}",
              "Postal Code": "={{ $json.postalCode }}",
              "Suburb": "={{ $json.suburb }}",
              "Enquiry": "={{ $json.enquiry }}",
              "Quantity": "={{ $json.quantity }}",
              "I’d Like To Get My Project Underway": "={{ $json.IdLikeToGetMyProjectUnderway }}",
              "How they heard about us": "={{ $json.howTheyHeardAboutUs }}",
              "Lead Qualifier": "={{ $json.leadQualifier }}",
              "Referred By": "={{ $json.referredBy }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Id",
                "displayName": "Id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Lead Type",
                "displayName": "Lead Type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "First Name",
                "displayName": "First Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last Name",
                "displayName": "Last Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Mobile Number",
                "displayName": "Mobile Number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Phone Number",
                "displayName": "Phone Number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email Address",
                "displayName": "Email Address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Address",
                "displayName": "Address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "State",
                "displayName": "State",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Suburb",
                "displayName": "Suburb",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Postal Code",
                "displayName": "Postal Code",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Enquiry",
                "displayName": "Enquiry",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Quantity",
                "displayName": "Quantity",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "I’d Like To Get My Project Underway",
                "displayName": "I’d Like To Get My Project Underway",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "How they heard about us",
                "displayName": "How they heard about us",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Lead Qualifier",
                "displayName": "Lead Qualifier",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Referred By",
                "displayName": "Referred By",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1184,
          -480
        ],
        "id": "2bd7938d-9763-4772-92c7-9af02e710835",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "S4FmXrss6MgN5rzt",
            "name": "WR: Google Sheets Account"
          }
        }
      },
      {
        "parameters": {
          "name": "={{\n  [\n    $now.setZone('Australia/Brisbane').toFormat('dd-MM-yy') || '',\n    $json.leadType || '',\n    $json.firstName || '',\n    $json.lastName || '',\n    $json.attachmentName || '',\n    \n  ]\n    .filter(p => p && p !== '')\n    .join('_')\n}}\n",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "13LLScY5KwHtjVa94gCIQhdK4o9Ruc2-e",
            "mode": "list",
            "cachedResultName": "HiPages Lead",
            "cachedResultUrl": "https://drive.google.com/drive/folders/13LLScY5KwHtjVa94gCIQhdK4o9Ruc2-e"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1408,
          -96
        ],
        "id": "53dd379a-03ee-4f25-86f0-dbd01debf11d",
        "name": "Upload file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "cO0NLqiTRlyGeXAH",
            "name": "WR: Google Drive Account"
          }
        }
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "text": "=Convert the content of the provided image URL(s) into text and use it to fill in the JSON template below.\n\nNote: For referral leads, the information about the job/enquiry may be spread across multiple images. Some images might also be unrelated (e.g. extra photos, reference images, or other files). Use any image that clearly contains text about the customer, job details, or contact information. Ignore images that do not contain relevant text.\n\nKeep the values that are already pre-filled from the input (id, leadType, howTheyHeardAboutUs, referredBy).\nFor every other field, use the information you can clearly read in the images.\nIf a field is not present or not readable in any of the images, leave it as an empty string.\nRespond with the completed JSON only, with no extra text.\n\n{\n  \"id\": \"{{ $json.messageId }}\",\n  \"leadType\": \"{{ $json.leadType }}\",\n  \"firstName\": \"\",\n  \"lastName\": \"\",\n  \"mobileNumber\": \"\",\n  \"phoneNumber\": \"\",\n  \"emailAddress\": \"\",\n  \"address\": \"\",\n  \"state\": \"\",\n  \"suburb\": \"\",\n  \"postalCode\": \"\",\n  \"enquiry\": \"\",\n  \"quantity\": \"\",\n  \"IdLikeToGetMyProjectUnderway\": \"\",\n  \"howTheyHeardAboutUs\": \"{{ $json.message }}\",\n  \"leadQualifier\": \"Good\",\n  \"referredBy\": \"{{ $json.referredBy }}\"\n}\n",
          "imageUrls": "={{ $json.imageAttachments.map(img => img.attachment) }}\n",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2,
        "position": [
          512,
          -384
        ],
        "id": "285df3d9-2892-45c6-8d14-284e2d552817",
        "name": "convert images to text",
        "credentials": {
          "openAiApi": {
            "id": "oQQrCQWqdo1CuRzx",
            "name": "WRai: OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.hasImage }}",
                      "rightValue": "HiPages Lead",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "31a7688f-55da-4268-8ea4-84ffd728fdfe"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "images"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "7caa828b-fa28-42da-b390-60b588bb31c1",
                      "leftValue": "={{ $json.hasAudio }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "audio"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ee7e2ce4-721c-4a99-a458-f86a79c78c4e",
                      "leftValue": "={{ $json.hasPdf }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "pdf"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "eab75ce2-b3b6-470b-8181-5e631b70abbd",
                      "leftValue": "={{ $json.hasOther }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "combination"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          288,
          -320
        ],
        "id": "ea37d9cc-6e96-46d8-84a2-b068288fcb62",
        "name": "Identify which file type was uploaded"
      },
      {
        "parameters": {
          "guildIds": [
            "753455160209965106"
          ],
          "channelIds": [
            "1210410694688641055"
          ],
          "roleIds": [
            "901010019900882994",
            "901010696152698890"
          ],
          "pattern": "every",
          "additionalFields": {
            "attachmentsRequired": true
          }
        },
        "type": "n8n-nodes-discord-trigger-new.discordTrigger",
        "typeVersion": 1,
        "position": [
          -160,
          -288
        ],
        "id": "524b8e19-45f8-472a-960b-bde971c0cd32",
        "name": "Listen to Discord messages",
        "credentials": {
          "discordBotTriggerApi": {
            "id": "bWnCMGqUZEPKKfgs",
            "name": "WR: Discord Bot Trigger Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ---------- Levenshtein distance for fuzzy matching ----------\nfunction levenshtein(a, b) {\n  if (a === b) return 0;\n  if (!a || !b) return (a || b).length;\n\n  const matrix = [];\n\n  for (let i = 0; i <= b.length; i++) {\n    matrix[i] = [i];\n  }\n  for (let j = 0; j <= a.length; j++) {\n    matrix[0][j] = j;\n  }\n\n  for (let i = 1; i <= b.length; i++) {\n    for (let j = 1; j <= a.length; j++) {\n      const cost = b.charAt(i - 1) === a.charAt(j - 1) ? 0 : 1;\n\n      matrix[i][j] = Math.min(\n        matrix[i - 1][j] + 1,       // deletion\n        matrix[i][j - 1] + 1,       // insertion\n        matrix[i - 1][j - 1] + cost // substitution\n      );\n    }\n  }\n\n  return matrix[b.length][a.length];\n}\n\n// ---------- Fuzzy \"HiPages\" detection ----------\nfunction looksLikeHiPages(text) {\n  const target = 'hipages';\n  const normalized = (text || '').toLowerCase().replace(/[^a-z]/g, ' ');\n  const words = normalized.split(/\\s+/).filter(Boolean);\n\n  for (const w of words) {\n    if (levenshtein(w, target) <= 2) {\n      return true;\n    }\n  }\n\n  return false;\n}\n\n// ---------- Fuzzy \"Referral Lead\" detection ----------\nfunction looksLikeReferralLead(text) {\n  const normalized = (text || '').toLowerCase().replace(/[^a-z\\s-]/g, ' ');\n  const prefix = normalized.split('-')[0]; // part before \"-\" (e.g. \"referral lead\")\n  const words = prefix.split(/\\s+/).filter(Boolean);\n\n  let hasReferral = false;\n  let hasLead = false;\n\n  for (const w of words) {\n    if (levenshtein(w, 'referral') <= 2 || w.startsWith('refer')) {\n      hasReferral = true;\n    }\n    if (levenshtein(w, 'lead') <= 1 || w === 'ld') {\n      hasLead = true;\n    }\n  }\n\n  return hasReferral && hasLead;\n}\n\n// ---------- Technician list & extraction ----------\nconst TECHNICIANS = ['Paul', 'Jimmy', 'Cody', 'Phil', 'Rhys', 'Taylor'];\nconst TECHNICIANS_LOWER = TECHNICIANS.map(t => t.toLowerCase());\n\n// Words to ignore when falling back (e.g. \"By\", \"From\", etc.)\nconst STOPWORDS = [\n  'by',\n  'from',\n  'via',\n  'for',\n  'the',\n  'a',\n  'an',\n  'of',\n  'lead',\n  'ref',\n  'referral',\n];\n\nfunction extractTechnicianFromText(text) {\n  // From strings like:\n  // - \"Referral Lead -Paul\"\n  // - \"Referral Lead - Paul\"\n  // - \"Referral Lead - By Paul\"\n  // we want { name: \"Paul\", technician: \"Paul\" } if it's a known tech.\n\n  let suffix = '';\n  const raw = text || '';\n\n  if (raw.includes('-')) {\n    // Everything after the first \"-\"\n    suffix = raw.split('-').slice(1).join('-');\n  } else {\n    // No hyphen: try everything after the word \"lead\"\n    const lower = raw.toLowerCase();\n    const idx = lower.lastIndexOf('lead');\n    if (idx !== -1) {\n      suffix = raw.slice(idx + 4); // after \"lead\"\n    }\n  }\n\n  suffix = suffix.replace(/[^a-zA-Z\\s]/g, ' ').trim();\n  if (!suffix) {\n    return { name: null, technician: null };\n  }\n\n  const words = suffix.split(/\\s+/).filter(Boolean);\n  if (!words.length) {\n    return { name: null, technician: null };\n  }\n\n  // --- NEW: scan ALL words to find best match to a known technician ---\n  let bestTech = null;\n  let bestDistance = Infinity;\n\n  for (const w of words) {\n    const lower = w.toLowerCase();\n    for (let i = 0; i < TECHNICIANS_LOWER.length; i++) {\n      const techLower = TECHNICIANS_LOWER[i];\n      const dist = levenshtein(lower, techLower);\n      if (dist < bestDistance) {\n        bestDistance = dist;\n        bestTech = TECHNICIANS[i]; // keep canonical casing\n      }\n    }\n  }\n\n  // Allow small typos, e.g. \"Pual\" for \"Paul\"\n  if (bestDistance <= 2 && bestTech) {\n    return { name: bestTech, technician: bestTech };\n  }\n\n  // --- Fallback: first non-stopword as referredBy (but NOT \"By\") ---\n  const fallbackWord = words.find(\n    w => !STOPWORDS.includes(w.toLowerCase())\n  );\n\n  if (!fallbackWord) {\n    return { name: null, technician: null };\n  }\n\n  const cleanedName =\n    fallbackWord.charAt(0).toUpperCase() + fallbackWord.slice(1).toLowerCase();\n\n  return { name: cleanedName, technician: null };\n}\n\n// ---------- Classify attachment type ----------\nfunction classifyAttachment(att) {\n  const ct = (att.contentType || '').toLowerCase();\n  const name = (att.name || '').toLowerCase();\n\n  if (ct.startsWith('image/')) {\n    return 'image';\n  }\n  if (ct.startsWith('audio/')) {\n    return 'audio';\n  }\n  if (ct === 'application/pdf' || name.endsWith('.pdf')) {\n    return 'pdf';\n  }\n  return 'other';\n}\n\n// ---------- Determine overall file scenario ----------\nfunction determineFileScenario(hasImage, hasAudio, hasPdf, hasOther) {\n  if (hasImage && hasAudio && hasPdf) return 'image_audio_pdf';\n  if (hasImage && hasAudio) return 'image_and_audio';\n  if (hasImage && hasPdf) return 'image_and_pdf';\n  if (hasAudio && hasPdf) return 'audio_and_pdf';\n  if (hasImage) return 'image_only';\n  if (hasAudio) return 'audio_only';\n  if (hasPdf) return 'pdf_only';\n  if (hasOther) return 'other_only';\n  return 'other_or_none';\n}\n\nfunction determinePrimaryFileType(hasImage, hasAudio, hasPdf, hasOther) {\n  // Priority: image > audio > pdf > other\n  if (hasImage) return 'image';\n  if (hasAudio) return 'audio';\n  if (hasPdf) return 'pdf';\n  if (hasOther) return 'other';\n  return null;\n}\n\n// ---------- Main ----------\nconst message = $input.first().json;\n\n// From your raw data example:\nconst rawMessage = message.content ?? '';\nconst attachments = message.attachments || [];\n\n// 1) Decide leadType, referredBy, technician from content\nlet leadType = rawMessage || '';\nlet referredBy = null;\nlet technician = null;\n\nif (looksLikeHiPages(rawMessage)) {\n  leadType = 'HiPages Lead';\n} else if (looksLikeReferralLead(rawMessage)) {\n  leadType = 'Referral Lead';\n\n  const { name, technician: tech } = extractTechnicianFromText(rawMessage);\n  if (name) {\n    referredBy = name; // who referred the lead\n  }\n  if (tech) {\n    technician = tech; // validated technician name from the list\n  }\n}\n\n// 2) Classify attachments by fileType\nconst typedAttachments = attachments.map(att => {\n  const fileType = classifyAttachment(att);\n  return { ...att, fileType };\n});\n\n// Counts & flags\nconst imageAttachments = typedAttachments.filter(a => a.fileType === 'image');\nconst audioAttachments = typedAttachments.filter(a => a.fileType === 'audio');\nconst pdfAttachments   = typedAttachments.filter(a => a.fileType === 'pdf');\nconst otherAttachments = typedAttachments.filter(a => a.fileType === 'other');\n\nconst hasImage = imageAttachments.length > 0;\nconst hasAudio = audioAttachments.length > 0;\nconst hasPdf   = pdfAttachments.length > 0;\nconst hasOther = otherAttachments.length > 0;\n\n// Overall scenario + primary file type\nconst fileScenario = determineFileScenario(hasImage, hasAudio, hasPdf, hasOther);\nconst primaryFileType = determinePrimaryFileType(hasImage, hasAudio, hasPdf, hasOther);\n\n// ----- Build meta object (FIRST ITEM ONLY) -----\nconst meta = {\n  // message/meta info\n  messageId: message.id,\n  guildId: message.guildId ?? null,\n  channelId: message.channelId ?? null,\n  authorId: message.authorId ?? null,\n  authorName: message.authorName ?? null,\n  rawMessage,\n  message: leadType,    // for your Switch node\n  leadType,\n  referredBy,\n\n  // attachment summary\n  attachmentsSummary: {\n    total: typedAttachments.length,\n    imageCount: imageAttachments.length,\n    audioCount: audioAttachments.length,\n    pdfCount: pdfAttachments.length,\n    otherCount: otherAttachments.length,\n  },\n  hasImage,\n  hasAudio,\n  hasPdf,\n  hasOther,\n\n  // scenario & primary type\n  fileScenario,       // e.g. \"image_only\", \"image_and_audio\", ...\n  primaryFileType,    // e.g. \"image\", \"audio\", \"pdf\", \"other\" or null\n\n  // grouped arrays\n  imageAttachments,\n  audioAttachments,\n  pdfAttachments,\n  otherAttachments,\n};\n\n// ----- Output items -----\n// Item 0: meta only\n// Item 1..N: each attachment only (with fileType)\n\nconst items = [];\n\n// 1) Meta item\nitems.push({ json: meta });\n\n// 2) One item per attachment\nfor (const att of typedAttachments) {\n  items.push({\n    json: att, // pure attachment + fileType\n  });\n}\n\nreturn items;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          64,
          -288
        ],
        "id": "d96f1609-9b52-4e58-a51e-29499a996655",
        "name": "Sanitize output"
      },
      {
        "parameters": {
          "jsCode": "// This Code node should run \"Once for All Items\".\n// It will parse the AI JSON, merge with attachment info, and add a fileName.\n\nconst inputItems = $input.all();\nconst outputItems = [];\n\nfor (const item of inputItems) {\n  const data = item.json;\n\n  // --- 1. Get the AI message object (from merged branch) ---\n  const aiMsg = data[\"0\"];\n  if (\n    !aiMsg ||\n    !Array.isArray(aiMsg.content) ||\n    !aiMsg.content[0] ||\n    typeof aiMsg.content[0].text !== 'string'\n  ) {\n    throw new Error('Could not find 0.content[0].text in incoming data.');\n  }\n\n  const rawText = aiMsg.content[0].text;\n\n  // --- 2. Strip ```json ... ``` fences ---\n  const cleaned = rawText\n    .replace(/^```json\\s*/i, '')  // remove leading ```json\n    .replace(/^```\\s*/i, '')      // or plain ```\n    .replace(/```$/i, '')         // remove trailing ```\n    .trim();\n\n  // --- 3. Parse the JSON returned by the model ---\n  const lead = JSON.parse(cleaned);\n\n  // --- 4. Build a nice filename: HiPagesLead-FirstName-LastName-Image_5.jpg ---\n  // Lead type without spaces (e.g. \"HiPagesLead\")\n  const leadTypeSlug = (lead.leadType || data.leadType || 'Lead')\n    .replace(/\\s+/g, '');\n\n  const firstName = (lead.firstName || '').trim();\n  const lastName = (lead.lastName || '').trim();\n  const attachmentName = data.attachmentName || 'file';\n\n  // Join parts and clean up extra dashes/spaces\n  const parts = [\n    leadTypeSlug,\n    firstName || null,\n    lastName || null,\n    attachmentName,\n  ].filter(Boolean);\n\n  const fileName = parts\n    .join('-')\n    .replace(/[\\s]+/g, '-')     // spaces → dashes\n    .replace(/-+/g, '-');       // collapse repeated dashes\n\n  // --- 5. Merge everything into one clean object ---\n  const merged = {\n    // lead fields\n    ...lead,\n\n    // original meta (optional, but useful)\n    messageId: data.messageId,\n    guildId: data.guildId,\n    channelId: data.channelId,\n    authorName: data.authorName,\n    rawMessage: data.rawMessage,\n    referredBy: data.referredBy,\n    technician: data.technician,\n\n    // attachment info\n    attachmentName: data.attachmentName,\n    attachmentUrl: data.attachmentUrl,\n    attachmentId: data.attachmentId,\n    attachmentContentType: data.attachmentContentType,\n    attachmentSize: data.attachmentSize,\n\n    // new: final filename to use in Google Drive\n    fileName,\n  };\n\n  outputItems.push({ json: merged });\n}\n\nreturn outputItems;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          -288
        ],
        "id": "405ac331-bf7f-4dbc-9c19-fa85837a6e30",
        "name": "Parse Text"
      },
      {
        "parameters": {
          "url": "={{ $json.attachmentUrl }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1184,
          -96
        ],
        "id": "48978e06-579d-441d-b74d-af4d851721a9",
        "name": "Download Image(s)"
      },
      {
        "parameters": {
          "jsCode": "const parent = $json;\nconst images = parent.imageAttachments || [];\n\nconst items = [];\n\nfor (const img of images) {\n  items.push({\n    json: {\n      // meta (for naming / joining later)\n      messageId: parent.messageId,\n      guildId: parent.guildId,\n      channelId: parent.channelId,\n      authorName: parent.authorName,\n      leadType: parent.leadType,\n      rawMessage: parent.rawMessage,\n      referredBy: parent.referredBy,\n      technician: parent.technician,\n\n      // attachment data\n      attachmentName: img.name,\n      attachmentUrl: img.url,\n      attachmentId: img.id,\n      attachmentContentType: img.contentType,\n      attachmentSize: img.size,\n    },\n  });\n}\n\nreturn items;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          512,
          -192
        ],
        "id": "7efe0163-f2b2-4739-b4ad-5155deb89462",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "753455160209965106",
            "mode": "list",
            "cachedResultName": "Window Revival",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106"
          },
          "channelId": {
            "__rl": true,
            "value": "={{ $('Parse Text').item.json.channelId }}",
            "mode": "id"
          },
          "content": "=this image has been uploaded {{ $('Parse Text').item.json.attachmentName }}",
          "options": {
            "message_reference": "={{ $('Parse Text').item.json.messageId }}"
          }
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1408,
          -288
        ],
        "id": "3a5378f4-69fe-442f-aee7-ed27991f7333",
        "name": "Send back message for confirmation ",
        "webhookId": "cffddd91-b0f3-41a5-91a8-74a33782c5c9",
        "credentials": {
          "discordBotApi": {
            "id": "a0FDlWFh8PBA5Add",
            "name": "WR: Discord Bot Account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          736,
          -288
        ],
        "id": "59f3b004-2883-4cc5-8bf1-8d0b11ad667c",
        "name": "Merge"
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "react",
          "guildId": {
            "__rl": true,
            "value": "753455160209965106",
            "mode": "list",
            "cachedResultName": "Window Revival",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106"
          },
          "channelId": {
            "__rl": true,
            "value": "={{ $('Parse Text').item.json.channelId }}",
            "mode": "id"
          },
          "messageId": "={{ $('Parse Text').item.json.messageId }}",
          "emoji": "👍"
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1408,
          -480
        ],
        "id": "a4388a23-823b-4601-910b-d62719823ba8",
        "name": "React with an emoji to a message",
        "webhookId": "4a6eba97-94ef-4cad-8bf5-9d3cc05f8754",
        "credentials": {
          "discordBotApi": {
            "id": "a0FDlWFh8PBA5Add",
            "name": "WR: Discord Bot Account"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "753455160209965106",
            "mode": "list",
            "cachedResultName": "Window Revival",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106"
          },
          "channelId": {
            "__rl": true,
            "value": "912496260823519232",
            "mode": "list",
            "cachedResultName": "leads・new",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106/912496260823519232"
          },
          "content": "===========\nLead Type: {{ $json['Lead Type'] }}\nTimestamp: {{ $json.Timestamp }}\nId: {{ $json.Id }}\nFirst Name: {{ $json['First Name'] }}\nLast Name: {{ $json['Last Name'] }}\nMobile Number: {{ $json['Mobile Number'] }}\nPhone Number: {{ $json['Phone Number'] }}\nEmail Address: {{ $json['Email Address'] }}\nAddress: {{ $json.Address }}\nState: {{ $json.State }}\nSuburb: {{ $json.Suburb }}\nEnquiry: {{ $json.Enquiry }}\nQuantity: {{ $json.Quantity }}\nI'd Like to Get My Project Underway:{{ $json['I’d Like To Get My Project Underway'] }}\nHow they heard about us?: {{ $json['How they heard about us'] }}\nLead Qualifier: {{ $json['Lead Qualifier'] }}\nReferred by: {{ $json['Referred By'] }}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1408,
          -672
        ],
        "id": "f0c13e93-f5bb-4f46-9b42-0d9fb5265f60",
        "name": "Send a message",
        "webhookId": "e54879b0-d2b6-4f90-ba10-cea624343c02",
        "credentials": {
          "discordBotApi": {
            "id": "a0FDlWFh8PBA5Add",
            "name": "WR: Discord Bot Account"
          }
        }
      }
    ],
    "connections": {
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Send back message for confirmation ",
              "type": "main",
              "index": 0
            },
            {
              "node": "React with an emoji to a message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload file": {
        "main": [
          []
        ]
      },
      "convert images to text": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Identify which file type was uploaded": {
        "main": [
          [
            {
              "node": "convert images to text",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ],
          [],
          [],
          []
        ]
      },
      "Listen to Discord messages": {
        "main": [
          [
            {
              "node": "Sanitize output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sanitize output": {
        "main": [
          [
            {
              "node": "Identify which file type was uploaded",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Text": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Download Image(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Image(s)": {
        "main": [
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Parse Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send back message for confirmation ": {
        "main": [
          []
        ]
      }
    },
    "authors": "Christine Kam",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-12-08T09:45:02.000Z",
        "id": 3,
        "workflowId": "IXspPE8nYhHtrqYA",
        "versionId": "4a204cb5-0599-4946-a728-716e3f33b644",
        "event": "activated",
        "userId": null
      }
    ]
  }
}