workflows/03. Discord File Upload v2 - Hi Pages Lead.json
{
  "updatedAt": "2026-02-03T10:06:08.301Z",
  "createdAt": "2026-01-01T03:52:58.551Z",
  "id": "Dm34kcocvPR7PllT",
  "name": "03. Discord File Upload v2 - Hi Pages Lead",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ",
          "mode": "list",
          "cachedResultName": "Leads Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "raw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.setZone('Australia/Brisbane').toFormat('LL/dd/yyyy, HH:mm:ss') }}\n",
            "Id": "={{ $json.id }}",
            "Lead Type": "={{ $json.leadType }}",
            "First Name": "={{ $json.firstName }}",
            "Last Name": "={{ $json.lastName }}",
            "Mobile Number": "={{ $json.mobileNumber }}",
            "Email Address": "={{ $json.emailAddress }}",
            "Phone Number": "={{ $json.phoneNumber }}",
            "Address": "={{ $json.address }}",
            "State": "={{ $json.state }}",
            "Postal Code": "={{ $json.postalCode }}",
            "Suburb": "={{ $json.suburb }}",
            "Enquiry": "={{ $json.enquiry }}",
            "Quantity": "={{ $json.quantity }}",
            "I’d Like To Get My Project Underway": "={{ $json.IdLikeToGetMyProjectUnderway }}",
            "How they heard about us": "={{ $json.howTheyHeardAboutUs }}",
            "Lead Qualifier": "={{ $json.leadQualifier }}",
            "Referred By": "={{ $json.referredBy }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Type",
              "displayName": "Lead Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suburb",
              "displayName": "Suburb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Postal Code",
              "displayName": "Postal Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enquiry",
              "displayName": "Enquiry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I’d Like To Get My Project Underway",
              "displayName": "I’d Like To Get My Project Underway",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "How they heard about us",
              "displayName": "How they heard about us",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Qualifier",
              "displayName": "Lead Qualifier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Referred By",
              "displayName": "Referred By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        -528
      ],
      "id": "7698d334-dc37-4f05-9913-60bd061a1d33",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4FmXrss6MgN5rzt",
          "name": "WR: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{\n  [\n    $now.setZone('Australia/Brisbane').toFormat('dd-MM-yy') || '',\n    $json.leadType || '',\n    $json.firstName || '',\n    $json.lastName || '',\n    $json.attachmentName || '',\n    \n  ]\n    .filter(p => p && p !== '')\n    .join('_')\n}}\n",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "13LLScY5KwHtjVa94gCIQhdK4o9Ruc2-e",
          "mode": "list",
          "cachedResultName": "HiPages Lead",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13LLScY5KwHtjVa94gCIQhdK4o9Ruc2-e"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        -216
      ],
      "id": "21367576-9c77-4f88-8a91-0a4aced02ba7",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cO0NLqiTRlyGeXAH",
          "name": "WR: Google Drive Account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=HiPages parsing rules (IMPORTANT):\n\n- Use ALL provided image URL(s). The job/enquiry details may be spread across multiple images/pages.\n- Extract any clearly readable text that helps fill the fields (name, contact details, address, job/enquiry details).\n- Ignore images that don’t contain relevant lead text (e.g., extra photos, reference images, unrelated files).\n- Keep the values already pre-filled from the input (id, leadType, referredBy).\n- For every other field, use only information you can clearly read in the images.\n- If a field is not present or not readable, leave it as an empty string.\n- Respond with the completed JSON only, with no extra text.\n\nName (IMPORTANT):\n- Always try to extract the customer’s name from the images.\n- If the full name is shown, put the first word in \"firstName\" and the last word in \"lastName\".\n- If only one name is shown, put it in \"firstName\" and leave \"lastName\" as an empty string.\n- Do NOT copy business names into first/last name unless it clearly identifies a person.\n\nAddress & State classification rules (IMPORTANT – HiPages only):\n- Extract address information from all images that contain customer or job details.\n- If a full street address is visible, set \"address\" to the full street address.\n- If only a suburb/locality is visible, set \"address\" to the suburb/locality name.\n\nSuburb:\n- Always fill \"suburb\" with the suburb/locality name when it is visible.\n- If \"address\" contains only a suburb/locality (no street name/number), copy that value into \"suburb\".\n\nState:\n- Classify \"state\" using ONLY the following values:\n  - \"NSW\"\n  - \"Brisbane\"\n  - \"Gold Coast\"\n- If the suburb or postcode clearly belongs to New South Wales, set \"state\" to \"NSW\".\n- If the suburb or postcode clearly belongs to Brisbane (QLD – Brisbane metro), set \"state\" to \"Brisbane\".\n- If the suburb or postcode clearly belongs to the Gold Coast (QLD – Gold Coast region), set \"state\" to \"Gold Coast\".\n- If the state/region cannot be confidently determined from the images, leave \"state\" as an empty string.\n\nPostcode:\n- Fill \"postalCode\" only if a valid postcode is clearly visible in the images.\n\n{\n  \"id\": \"{{ $json.messageId }}\",\n  \"leadType\": \"{{ $json.leadType }}\",\n  \"firstName\": \"\",\n  \"lastName\": \"\",\n  \"mobileNumber\": \"\",\n  \"phoneNumber\": \"\",\n  \"emailAddress\": \"\",\n  \"address\": \"\",\n  \"state\": \"\",\n  \"suburb\": \"\",\n  \"postalCode\": \"\",\n  \"enquiry\": \"\",\n  \"quantity\": \"\",\n  \"IdLikeToGetMyProjectUnderway\": \"\",\n  \"howTheyHeardAboutUs\": \"\",\n  \"leadQualifier\": \"Good\",\n  \"referredBy\": \"{{ $json.referredBy }}\"\n}\n",
        "imageUrls": "={{ $json.imageAttachments.map(img => img.url) }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        288,
        -504
      ],
      "id": "4a2b36d3-25e0-4631-ad60-ce9c8c9fc461",
      "name": "convert images to text",
      "credentials": {
        "openAiApi": {
          "id": "oQQrCQWqdo1CuRzx",
          "name": "WRai: OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "guildIds": [
          "753455160209965106"
        ],
        "channelIds": [
          "1456133270352822373"
        ],
        "roleIds": [
          "901010019900882994",
          "901010696152698890"
        ],
        "pattern": "every",
        "additionalFields": {
          "attachmentsRequired": true
        }
      },
      "type": "n8n-nodes-discord-trigger-new.discordTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -360
      ],
      "id": "78ab2641-1382-43dc-912a-2a9dad4e8136",
      "name": "Listen to Discord messages",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "bWnCMGqUZEPKKfgs",
          "name": "WR: Discord Bot Trigger Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Function node\n * Output ONLY:\n * messageId, guildId, channelId, authorId, authorName, leadType, referredBy, imageAttachments[]\n * (supports multiple images)\n */\n\n// ---------- Helpers ----------\nfunction isImageAttachment(att) {\n  const ct = (att.contentType || '').toLowerCase();\n  const name = (att.name || '').toLowerCase();\n\n  if (ct.startsWith('image/')) return true;\n\n  // fallback if contentType is missing\n  return /\\.(png|jpe?g|gif|webp|bmp|tiff?)$/i.test(name);\n}\n\nfunction pickImageFields(att) {\n  // keep only useful image fields (no raw / extra)\n  return {\n    id: att.id ?? null,\n    name: att.name ?? null,\n    url: att.url ?? att.attachment ?? null,\n    proxyURL: att.proxyURL ?? null,\n    size: att.size ?? null,\n    width: att.width ?? null,\n    height: att.height ?? null,\n    contentType: att.contentType ?? null,\n    title: att.title ?? null,\n    description: att.description ?? null,\n  };\n}\n\n// ---------- Main ----------\nconst message = $input.first().json;\n\nconst attachments = Array.isArray(message.attachments) ? message.attachments : [];\n\nconst imageAttachments = attachments\n  .filter(isImageAttachment)\n  .map(pickImageFields);\n\nconst output = {\n  messageId: message.id ?? null,\n  guildId: message.guildId ?? null,\n  channelId: message.channelId ?? null,\n  authorId: message.authorId ?? null,\n  authorName: message.authorName ?? null,\n  leadType: \"HiPages Lead\",\n  referredBy: null,\n  imageAttachments,\n};\n\nreturn [{ json: output }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -360
      ],
      "id": "904c6a3a-b84b-4668-a309-4886089fbaf9",
      "name": "Sanitize output"
    },
    {
      "parameters": {
        "url": "={{ $json.imageAttachments[0].proxyURL }}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        -216
      ],
      "id": "8541b89e-68b2-4f6a-b385-f4db14fb1da8",
      "name": "Download Image(s)",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "753455160209965106",
          "mode": "list",
          "cachedResultName": "Window Revival",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channelId }}",
          "mode": "id"
        },
        "messageId": "={{ $json.messageId }}",
        "emoji": "👍"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1408,
        -432
      ],
      "id": "988bfb9f-465e-4e92-b273-97dc446e3455",
      "name": "React with an emoji to a message",
      "webhookId": "78d6b1b5-2d88-4a5b-aaaa-4c7a5e59edfc",
      "credentials": {
        "discordBotApi": {
          "id": "a0FDlWFh8PBA5Add",
          "name": "WR: Discord Bot Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "753455160209965106",
          "mode": "list",
          "cachedResultName": "Window Revival",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106"
        },
        "channelId": {
          "__rl": true,
          "value": "912496260823519232",
          "mode": "list",
          "cachedResultName": "leads・new",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106/912496260823519232"
        },
        "content": "===========\nLead Type: {{ $json.leadType }}\nTimestamp: {{ $now.setZone('Australia/Brisbane').toFormat('LL/dd/yyyy, HH:mm:ss') }}\nId: {{ $json.id }}\nFirst Name: {{ $json.firstName }}\nLast Name: {{ $json.lastName }}\nMobile Number: {{ $json.mobileNumber }}\nPhone Number: {{ $json.phoneNumber }}\nEmail Address: {{ $json.emailAddress }}\nAddress: {{ $json.address }}\nState: {{ $json.state }}\nSuburb: {{ $json.suburb }}\nEnquiry: {{ $json.enquiry }}\nQuantity: {{ $json.quantity }}\nI'd Like to Get My Project Underway: {{ $json.IdLikeToGetMyProjectUnderway }}\nHow they heard about us?: {{ $json.howTheyHeardAboutUs }}\nLead Qualifier: {{ $json.leadQualifier }}\nReferred by: {{ $json.leadQualifier }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1408,
        -624
      ],
      "id": "85a55159-3e0a-4822-bf8d-5bae880f586a",
      "name": "Send a message",
      "webhookId": "d2e978df-db4f-4b19-b1e8-31948398a217",
      "credentials": {
        "discordBotApi": {
          "id": "a0FDlWFh8PBA5Add",
          "name": "WR: Discord Bot Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c753874-2708-4658-9211-ab1a07be7f81",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "59c5c353-8830-4285-9b9d-f3b53888cb50",
              "name": "authorId",
              "value": "={{ $json.authorId }}",
              "type": "string"
            },
            {
              "id": "265db7eb-7687-476b-96f5-11d030f8251a",
              "name": "channelId",
              "value": "={{ $json.channelId }}",
              "type": "string"
            },
            {
              "id": "4814f4f1-cea7-4c83-94c9-691ed2a48b65",
              "name": "messageId",
              "value": "={{ $json.messageId }}",
              "type": "string"
            },
            {
              "id": "7fd6c372-a574-46eb-b8a8-4ca5514c2bb4",
              "name": "leadType",
              "value": "={{ $json.leadType }}",
              "type": "string"
            },
            {
              "id": "319cbc2f-686c-4690-b0da-99edb563a4d9",
              "name": "firstName",
              "value": "={{ $json.firstName }}",
              "type": "string"
            },
            {
              "id": "e318f933-3a86-4e92-8d45-fdd5c9d6db45",
              "name": "lastName",
              "value": "={{ $json.lastName }}",
              "type": "string"
            },
            {
              "id": "1033f6f6-ff3d-462c-a819-0253ba1097a9",
              "name": "mobileNumber",
              "value": "={{ $json.mobileNumber }}",
              "type": "string"
            },
            {
              "id": "42c58a65-dab0-4938-a047-f6beba67e9d3",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "75060d69-eaa3-4924-b9f6-b7cf159502d4",
              "name": "emailAddress",
              "value": "={{ $json.emailAddress }}",
              "type": "string"
            },
            {
              "id": "2420ae52-e6a5-4d5e-889a-014ad00b28b2",
              "name": "address",
              "value": "={{ $json.address }}",
              "type": "string"
            },
            {
              "id": "421623c8-2db6-4b40-a102-f6dc36ff61ed",
              "name": "state",
              "value": "={{ $json.state }}",
              "type": "string"
            },
            {
              "id": "7cc111a4-9134-4fe3-97eb-75b5e81c8d31",
              "name": "suburb",
              "value": "={{ $json.suburb }}",
              "type": "string"
            },
            {
              "id": "518ce6f1-f3a0-4e61-b483-c85feb63ae15",
              "name": "postalCode",
              "value": "={{ $json.postalCode }}",
              "type": "string"
            },
            {
              "id": "fb3af799-02a3-4669-97b7-5616f9bc8d93",
              "name": "enquiry",
              "value": "={{ $json.enquiry }}",
              "type": "string"
            },
            {
              "id": "e76aa2b3-3c3f-43d7-b9e2-8dfe2c4ecad3",
              "name": "quantity",
              "value": "={{ $json.quantity }}",
              "type": "string"
            },
            {
              "id": "193cbe77-7015-40c3-95b1-eba1fd89481c",
              "name": "leadQualifier",
              "value": "={{ $json.leadQualifier }}",
              "type": "string"
            },
            {
              "id": "6c8b740a-0f64-4828-bc0a-f71e2bf6621b",
              "name": "referredBy",
              "value": "={{ $json.referredBy }}",
              "type": "string"
            },
            {
              "id": "33a52d4e-10f1-4357-90d4-de70e6873925",
              "name": "IdLikeToGetMyProjectUnderway",
              "value": "={{ $json.IdLikeToGetMyProjectUnderway }}",
              "type": "string"
            },
            {
              "id": "9c3726e2-0e35-4a55-8fb3-2cfc97653e48",
              "name": "howTheyHeardAboutUs",
              "value": "={{ $json.howTheyHeardAboutUs }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -432
      ],
      "id": "ab255258-d600-49f3-a68f-9bdc9b93bafc",
      "name": "Set HiPages Lead"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        736,
        -432
      ],
      "id": "5c8638b3-daa1-4f8b-ad64-817370202c76",
      "name": "Merge Image Meta and Text Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eSdWCK7MPonSrTuzU7-wK",
          "mode": "list",
          "cachedResultUrl": "/workflow/eSdWCK7MPonSrTuzU7-wK",
          "cachedResultName": "[SW] Wrapp: New Lead - Create Contact & Opportunities"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1408,
        -240
      ],
      "id": "89db1a48-84c0-47cd-97a5-02d3827f510e",
      "name": "Call '[SW] Wrapp: New Lead - Create Contact & Opportunities'"
    },
    {
      "parameters": {
        "jsCode": "// This Code node should run \"Once for All Items\".\n// It will parse the AI JSON, merge with attachment info, and add a date-based fileName.\n// Format: DD-MM-YYYY-HiLead-file1 (or file2, file3...) per lead/type for that date.\n\nconst inputItems = $input.all();\nconst outputItems = [];\n\n// ---- Date formatter (DD-MM-YYYY) ----\nfunction formatDDMMYYYY(dateInput) {\n  const d = dateInput ? new Date(dateInput) : new Date();\n  if (Number.isNaN(d.getTime())) {\n    // fallback to \"now\" if invalid\n    const now = new Date();\n    const dd = String(now.getDate()).padStart(2, '0');\n    const mm = String(now.getMonth() + 1).padStart(2, '0');\n    const yyyy = String(now.getFullYear());\n    return `${dd}-${mm}-${yyyy}`;\n  }\n  const dd = String(d.getDate()).padStart(2, '0');\n  const mm = String(d.getMonth() + 1).padStart(2, '0');\n  const yyyy = String(d.getFullYear());\n  return `${dd}-${mm}-${yyyy}`;\n}\n\n// ---- Lead short tag ----\nfunction leadTag(leadType) {\n  const lt = (leadType || '').toLowerCase();\n  // user example: \"HiLead\"\n  if (lt.includes('hipages')) return 'HiLead';\n  // keep something sensible for other values\n  if (lt.includes('referral')) return 'RefLead';\n  return 'Lead';\n}\n\n// Count files per (date + leadTag) so file1/file2 increments correctly\nconst counterByGroup = new Map();\n\nfor (const item of inputItems) {\n  const data = item.json;\n\n  // --- 1. Get the AI message object (from merged branch) ---\n  const aiMsg = data[\"0\"];\n  if (\n    !aiMsg ||\n    !Array.isArray(aiMsg.content) ||\n    !aiMsg.content[0] ||\n    typeof aiMsg.content[0].text !== 'string'\n  ) {\n    throw new Error('Could not find 0.content[0].text in incoming data.');\n  }\n\n  const rawText = aiMsg.content[0].text;\n\n  // --- 2. Strip ```json ... ``` fences ---\n  const cleaned = rawText\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```$/i, '')\n    .trim();\n\n  // --- 3. Parse the JSON returned by the model ---\n  const lead = JSON.parse(cleaned);\n\n  // --- 4. Build date-based filename: DD-MM-YYYY-HiLead-fileN ---\n  // Prefer message timestamp if present; else use current date\n  // (Discord timestamp in ms is common; ISO string also works)\n  const dateStr = formatDDMMYYYY(data.timestamp ?? data.messageTimestamp ?? Date.now());\n\n  const tag = leadTag(lead.leadType || data.leadType);\n\n  const groupKey = `${dateStr}-${tag}`;\n  const nextIndex = (counterByGroup.get(groupKey) || 0) + 1;\n  counterByGroup.set(groupKey, nextIndex);\n\n  const fileName = `${dateStr}-${tag}-file${nextIndex}`;\n\n  // --- 5. Merge everything into one clean object ---\n  const merged = {\n    // lead fields\n    ...lead,\n\n    // original meta (optional, but useful)\n    messageId: data.messageId,\n    guildId: data.guildId,\n    channelId: data.channelId,\n    authorName: data.authorName,\n    rawMessage: data.rawMessage,\n    referredBy: data.referredBy,\n    technician: data.technician,\n\n    // attachment info\n    attachmentName: data.attachmentName,\n    attachmentUrl: data.attachmentUrl,\n    attachmentId: data.attachmentId,\n    attachmentContentType: data.attachmentContentType,\n    attachmentSize: data.attachmentSize,\n\n    // new: final filename to use in Google Drive\n    //fileName,\n  };\n\n  outputItems.push({ json: merged });\n}\n\nreturn outputItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -504
      ],
      "id": "644b3571-ae90-4e8a-99d4-7b0ebab87245",
      "name": "Parse Fields"
    }
  ],
  "connections": {
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "React with an emoji to a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        []
      ]
    },
    "convert images to text": {
      "main": [
        [
          {
            "node": "Parse Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listen to Discord messages": {
      "main": [
        [
          {
            "node": "Sanitize output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize output": {
      "main": [
        [
          {
            "node": "convert images to text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Image(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Image Meta and Text Input",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download Image(s)": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set HiPages Lead": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call '[SW] Wrapp: New Lead - Create Contact & Opportunities'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Image Meta and Text Input": {
      "main": [
        [
          {
            "node": "Set HiPages Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Fields": {
      "main": [
        [
          {
            "node": "Merge Image Meta and Text Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Listen to Discord messages": [
      {
        "json": {
          "id": "1468130579185930417",
          "content": "",
          "guildId": "753455160209965106",
          "channelId": "1456133270352822373",
          "authorId": "325664446103945217",
          "authorName": "donpuerto",
          "timestamp": 1770100006625,
          "listenValue": "",
          "authorIsBot": false,
          "memberRoles": [
            {
              "id": "753455160209965106",
              "name": "@everyone"
            },
            {
              "id": "901010696152698890",
              "name": "CSR Agent"
            }
          ],
          "referenceId": null,
          "referenceContent": null,
          "referenceAuthorId": null,
          "referenceAuthorName": null,
          "referenceTimestamp": null,
          "attachments": [
            {
              "attachment": "https://cdn.discordapp.com/attachments/1456133270352822373/1468130578904780956/HI_Sample_Test.png?ex=6982e6a6&is=69819526&hm=1eca7a49dd415e5d56d6311dd1a071b5235489fbc9b81f9764309e8df98e8863&",
              "name": "HI_Sample_Test.png",
              "id": "1468130578904780956",
              "size": 67718,
              "url": "https://cdn.discordapp.com/attachments/1456133270352822373/1468130578904780956/HI_Sample_Test.png?ex=6982e6a6&is=69819526&hm=1eca7a49dd415e5d56d6311dd1a071b5235489fbc9b81f9764309e8df98e8863&",
              "proxyURL": "https://media.discordapp.net/attachments/1456133270352822373/1468130578904780956/HI_Sample_Test.png?ex=6982e6a6&is=69819526&hm=1eca7a49dd415e5d56d6311dd1a071b5235489fbc9b81f9764309e8df98e8863&",
              "height": 768,
              "width": 371,
              "contentType": "image/webp",
              "description": null,
              "ephemeral": false,
              "duration": null,
              "waveform": null,
              "flags": 0,
              "title": "HI Sample Test"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "2fa4e511-8eb2-4df8-88bc-1f1fd9879813",
  "activeVersionId": "fb8484ce-e7a0-4aa7-9234-4b6bc2bb1104",
  "versionCounter": 148,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-01T03:52:58.556Z",
      "createdAt": "2026-01-01T03:52:58.556Z",
      "role": "workflow:owner",
      "workflowId": "Dm34kcocvPR7PllT",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T07:49:25.938Z",
            "createdAt": "2025-11-14T07:49:25.938Z",
            "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
            "projectId": "6TsYTzg0HY92xH2K",
            "user": {
              "updatedAt": "2026-02-10T14:01:06.000Z",
              "createdAt": "2025-11-14T07:49:14.641Z",
              "id": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
              "email": "windowrevival@gmail.com",
              "firstName": "Christine",
              "lastName": "Kam",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T08:34:38.735Z",
                "personalization_survey_n8n_version": "1.119.1",
                "automationGoalDevops": [
                  "reporting",
                  "other"
                ],
                "automationGoalDevopsOther": "Automate all apps",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZwjGOdSLvNlPoB1E",
                "userActivatedAt": 1763281773859,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763554974919
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-25T13:05:18.454Z",
      "createdAt": "2025-11-25T13:05:18.454Z",
      "id": "xn6seEX74pkTOLqC",
      "name": "@lead"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-03T06:43:08.000Z",
    "createdAt": "2026-02-03T06:37:37.051Z",
    "versionId": "fb8484ce-e7a0-4aa7-9234-4b6bc2bb1104",
    "workflowId": "Dm34kcocvPR7PllT",
    "nodes": [
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ",
            "mode": "list",
            "cachedResultName": "Leads Logs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "raw",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Timestamp": "={{ $now.setZone('Australia/Brisbane').toFormat('LL/dd/yyyy, HH:mm:ss') }}\n",
              "Id": "={{ $json.id }}",
              "Lead Type": "={{ $json.leadType }}",
              "First Name": "={{ $json.firstName }}",
              "Last Name": "={{ $json.lastName }}",
              "Mobile Number": "={{ $json.mobileNumber }}",
              "Email Address": "={{ $json.emailAddress }}",
              "Phone Number": "={{ $json.phoneNumber }}",
              "Address": "={{ $json.address }}",
              "State": "={{ $json.state }}",
              "Postal Code": "={{ $json.postalCode }}",
              "Suburb": "={{ $json.suburb }}",
              "Enquiry": "={{ $json.enquiry }}",
              "Quantity": "={{ $json.quantity }}",
              "I’d Like To Get My Project Underway": "={{ $json.IdLikeToGetMyProjectUnderway }}",
              "How they heard about us": "={{ $json.howTheyHeardAboutUs }}",
              "Lead Qualifier": "={{ $json.leadQualifier }}",
              "Referred By": "={{ $json.referredBy }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Id",
                "displayName": "Id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Lead Type",
                "displayName": "Lead Type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "First Name",
                "displayName": "First Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last Name",
                "displayName": "Last Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Mobile Number",
                "displayName": "Mobile Number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Phone Number",
                "displayName": "Phone Number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email Address",
                "displayName": "Email Address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Address",
                "displayName": "Address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "State",
                "displayName": "State",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Suburb",
                "displayName": "Suburb",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Postal Code",
                "displayName": "Postal Code",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Enquiry",
                "displayName": "Enquiry",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Quantity",
                "displayName": "Quantity",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "I’d Like To Get My Project Underway",
                "displayName": "I’d Like To Get My Project Underway",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "How they heard about us",
                "displayName": "How they heard about us",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Lead Qualifier",
                "displayName": "Lead Qualifier",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Referred By",
                "displayName": "Referred By",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1184,
          -528
        ],
        "id": "7698d334-dc37-4f05-9913-60bd061a1d33",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "S4FmXrss6MgN5rzt",
            "name": "WR: Google Sheets Account"
          }
        }
      },
      {
        "parameters": {
          "name": "={{\n  [\n    $now.setZone('Australia/Brisbane').toFormat('dd-MM-yy') || '',\n    $json.leadType || '',\n    $json.firstName || '',\n    $json.lastName || '',\n    $json.attachmentName || '',\n    \n  ]\n    .filter(p => p && p !== '')\n    .join('_')\n}}\n",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "13LLScY5KwHtjVa94gCIQhdK4o9Ruc2-e",
            "mode": "list",
            "cachedResultName": "HiPages Lead",
            "cachedResultUrl": "https://drive.google.com/drive/folders/13LLScY5KwHtjVa94gCIQhdK4o9Ruc2-e"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          512,
          -216
        ],
        "id": "21367576-9c77-4f88-8a91-0a4aced02ba7",
        "name": "Upload file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "cO0NLqiTRlyGeXAH",
            "name": "WR: Google Drive Account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "text": "=HiPages parsing rules (IMPORTANT):\n\n- Use ALL provided image URL(s). The job/enquiry details may be spread across multiple images/pages.\n- Extract any clearly readable text that helps fill the fields (name, contact details, address, job/enquiry details).\n- Ignore images that don’t contain relevant lead text (e.g., extra photos, reference images, unrelated files).\n- Keep the values already pre-filled from the input (id, leadType, referredBy).\n- For every other field, use only information you can clearly read in the images.\n- If a field is not present or not readable, leave it as an empty string.\n- Respond with the completed JSON only, with no extra text.\n\nName (IMPORTANT):\n- Always try to extract the customer’s name from the images.\n- If the full name is shown, put the first word in \"firstName\" and the last word in \"lastName\".\n- If only one name is shown, put it in \"firstName\" and leave \"lastName\" as an empty string.\n- Do NOT copy business names into first/last name unless it clearly identifies a person.\n\nAddress & State classification rules (IMPORTANT – HiPages only):\n- Extract address information from all images that contain customer or job details.\n- If a full street address is visible, set \"address\" to the full street address.\n- If only a suburb/locality is visible, set \"address\" to the suburb/locality name.\n\nSuburb:\n- Always fill \"suburb\" with the suburb/locality name when it is visible.\n- If \"address\" contains only a suburb/locality (no street name/number), copy that value into \"suburb\".\n\nState:\n- Classify \"state\" using ONLY the following values:\n  - \"NSW\"\n  - \"Brisbane\"\n  - \"Gold Coast\"\n- If the suburb or postcode clearly belongs to New South Wales, set \"state\" to \"NSW\".\n- If the suburb or postcode clearly belongs to Brisbane (QLD – Brisbane metro), set \"state\" to \"Brisbane\".\n- If the suburb or postcode clearly belongs to the Gold Coast (QLD – Gold Coast region), set \"state\" to \"Gold Coast\".\n- If the state/region cannot be confidently determined from the images, leave \"state\" as an empty string.\n\nPostcode:\n- Fill \"postalCode\" only if a valid postcode is clearly visible in the images.\n\n{\n  \"id\": \"{{ $json.messageId }}\",\n  \"leadType\": \"{{ $json.leadType }}\",\n  \"firstName\": \"\",\n  \"lastName\": \"\",\n  \"mobileNumber\": \"\",\n  \"phoneNumber\": \"\",\n  \"emailAddress\": \"\",\n  \"address\": \"\",\n  \"state\": \"\",\n  \"suburb\": \"\",\n  \"postalCode\": \"\",\n  \"enquiry\": \"\",\n  \"quantity\": \"\",\n  \"IdLikeToGetMyProjectUnderway\": \"\",\n  \"howTheyHeardAboutUs\": \"\",\n  \"leadQualifier\": \"Good\",\n  \"referredBy\": \"{{ $json.referredBy }}\"\n}\n",
          "imageUrls": "={{ $json.imageAttachments.map(img => img.url) }}\n",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2,
        "position": [
          288,
          -504
        ],
        "id": "4a2b36d3-25e0-4631-ad60-ce9c8c9fc461",
        "name": "convert images to text",
        "credentials": {
          "openAiApi": {
            "id": "oQQrCQWqdo1CuRzx",
            "name": "WRai: OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "guildIds": [
            "753455160209965106"
          ],
          "channelIds": [
            "1456133270352822373"
          ],
          "roleIds": [
            "901010019900882994",
            "901010696152698890"
          ],
          "pattern": "every",
          "additionalFields": {
            "attachmentsRequired": true
          }
        },
        "type": "n8n-nodes-discord-trigger-new.discordTrigger",
        "typeVersion": 1,
        "position": [
          -160,
          -360
        ],
        "id": "78ab2641-1382-43dc-912a-2a9dad4e8136",
        "name": "Listen to Discord messages",
        "credentials": {
          "discordBotTriggerApi": {
            "id": "bWnCMGqUZEPKKfgs",
            "name": "WR: Discord Bot Trigger Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "/**\n * n8n Function node\n * Output ONLY:\n * messageId, guildId, channelId, authorId, authorName, leadType, referredBy, imageAttachments[]\n * (supports multiple images)\n */\n\n// ---------- Helpers ----------\nfunction isImageAttachment(att) {\n  const ct = (att.contentType || '').toLowerCase();\n  const name = (att.name || '').toLowerCase();\n\n  if (ct.startsWith('image/')) return true;\n\n  // fallback if contentType is missing\n  return /\\.(png|jpe?g|gif|webp|bmp|tiff?)$/i.test(name);\n}\n\nfunction pickImageFields(att) {\n  // keep only useful image fields (no raw / extra)\n  return {\n    id: att.id ?? null,\n    name: att.name ?? null,\n    url: att.url ?? att.attachment ?? null,\n    proxyURL: att.proxyURL ?? null,\n    size: att.size ?? null,\n    width: att.width ?? null,\n    height: att.height ?? null,\n    contentType: att.contentType ?? null,\n    title: att.title ?? null,\n    description: att.description ?? null,\n  };\n}\n\n// ---------- Main ----------\nconst message = $input.first().json;\n\nconst attachments = Array.isArray(message.attachments) ? message.attachments : [];\n\nconst imageAttachments = attachments\n  .filter(isImageAttachment)\n  .map(pickImageFields);\n\nconst output = {\n  messageId: message.id ?? null,\n  guildId: message.guildId ?? null,\n  channelId: message.channelId ?? null,\n  authorId: message.authorId ?? null,\n  authorName: message.authorName ?? null,\n  leadType: \"HiPages Lead\",\n  referredBy: null,\n  imageAttachments,\n};\n\nreturn [{ json: output }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          64,
          -360
        ],
        "id": "904c6a3a-b84b-4668-a309-4886089fbaf9",
        "name": "Sanitize output"
      },
      {
        "parameters": {
          "url": "={{ $json.imageAttachments[0].proxyURL }}\n",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          288,
          -216
        ],
        "id": "8541b89e-68b2-4f6a-b385-f4db14fb1da8",
        "name": "Download Image(s)",
        "disabled": true
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "react",
          "guildId": {
            "__rl": true,
            "value": "753455160209965106",
            "mode": "list",
            "cachedResultName": "Window Revival",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106"
          },
          "channelId": {
            "__rl": true,
            "value": "={{ $json.channelId }}",
            "mode": "id"
          },
          "messageId": "={{ $json.messageId }}",
          "emoji": "👍"
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1408,
          -432
        ],
        "id": "988bfb9f-465e-4e92-b273-97dc446e3455",
        "name": "React with an emoji to a message",
        "webhookId": "78d6b1b5-2d88-4a5b-aaaa-4c7a5e59edfc",
        "credentials": {
          "discordBotApi": {
            "id": "a0FDlWFh8PBA5Add",
            "name": "WR: Discord Bot Account"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "753455160209965106",
            "mode": "list",
            "cachedResultName": "Window Revival",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106"
          },
          "channelId": {
            "__rl": true,
            "value": "912496260823519232",
            "mode": "list",
            "cachedResultName": "leads・new",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106/912496260823519232"
          },
          "content": "===========\nLead Type: {{ $json.leadType }}\nTimestamp: {{ $now.setZone('Australia/Brisbane').toFormat('LL/dd/yyyy, HH:mm:ss') }}\nId: {{ $json.id }}\nFirst Name: {{ $json.firstName }}\nLast Name: {{ $json.lastName }}\nMobile Number: {{ $json.mobileNumber }}\nPhone Number: {{ $json.phoneNumber }}\nEmail Address: {{ $json.emailAddress }}\nAddress: {{ $json.address }}\nState: {{ $json.state }}\nSuburb: {{ $json.suburb }}\nEnquiry: {{ $json.enquiry }}\nQuantity: {{ $json.quantity }}\nI'd Like to Get My Project Underway: {{ $json.IdLikeToGetMyProjectUnderway }}\nHow they heard about us?: {{ $json.howTheyHeardAboutUs }}\nLead Qualifier: {{ $json.leadQualifier }}\nReferred by: {{ $json.leadQualifier }}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1408,
          -624
        ],
        "id": "85a55159-3e0a-4822-bf8d-5bae880f586a",
        "name": "Send a message",
        "webhookId": "d2e978df-db4f-4b19-b1e8-31948398a217",
        "credentials": {
          "discordBotApi": {
            "id": "a0FDlWFh8PBA5Add",
            "name": "WR: Discord Bot Account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7c753874-2708-4658-9211-ab1a07be7f81",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "7fd6c372-a574-46eb-b8a8-4ca5514c2bb4",
                "name": "leadType",
                "value": "={{ $json.leadType }}",
                "type": "string"
              },
              {
                "id": "319cbc2f-686c-4690-b0da-99edb563a4d9",
                "name": "firstName",
                "value": "={{ $json.firstName }}",
                "type": "string"
              },
              {
                "id": "e318f933-3a86-4e92-8d45-fdd5c9d6db45",
                "name": "lastName",
                "value": "={{ $json.lastName }}",
                "type": "string"
              },
              {
                "id": "1033f6f6-ff3d-462c-a819-0253ba1097a9",
                "name": "mobileNumber",
                "value": "={{ $json.mobileNumber }}",
                "type": "string"
              },
              {
                "id": "42c58a65-dab0-4938-a047-f6beba67e9d3",
                "name": "phoneNumber",
                "value": "={{ $json.phoneNumber }}",
                "type": "string"
              },
              {
                "id": "75060d69-eaa3-4924-b9f6-b7cf159502d4",
                "name": "emailAddress",
                "value": "={{ $json.emailAddress }}",
                "type": "string"
              },
              {
                "id": "2420ae52-e6a5-4d5e-889a-014ad00b28b2",
                "name": "address",
                "value": "={{ $json.address }}",
                "type": "string"
              },
              {
                "id": "421623c8-2db6-4b40-a102-f6dc36ff61ed",
                "name": "state",
                "value": "={{ $json.state }}",
                "type": "string"
              },
              {
                "id": "7cc111a4-9134-4fe3-97eb-75b5e81c8d31",
                "name": "suburb",
                "value": "={{ $json.suburb }}",
                "type": "string"
              },
              {
                "id": "518ce6f1-f3a0-4e61-b483-c85feb63ae15",
                "name": "postalCode",
                "value": "={{ $json.postalCode }}",
                "type": "string"
              },
              {
                "id": "fb3af799-02a3-4669-97b7-5616f9bc8d93",
                "name": "enquiry",
                "value": "={{ $json.enquiry }}",
                "type": "string"
              },
              {
                "id": "e76aa2b3-3c3f-43d7-b9e2-8dfe2c4ecad3",
                "name": "quantity",
                "value": "={{ $json.quantity }}",
                "type": "string"
              },
              {
                "id": "193cbe77-7015-40c3-95b1-eba1fd89481c",
                "name": "leadQualifier",
                "value": "={{ $json.leadQualifier }}",
                "type": "string"
              },
              {
                "id": "6c8b740a-0f64-4828-bc0a-f71e2bf6621b",
                "name": "referredBy",
                "value": "={{ $json.referredBy }}",
                "type": "string"
              },
              {
                "id": "265db7eb-7687-476b-96f5-11d030f8251a",
                "name": "channelId",
                "value": "={{ $json.channelId }}",
                "type": "string"
              },
              {
                "id": "59c5c353-8830-4285-9b9d-f3b53888cb50",
                "name": "authorId",
                "value": "={{ $json.authorId }}",
                "type": "string"
              },
              {
                "id": "33a52d4e-10f1-4357-90d4-de70e6873925",
                "name": "IdLikeToGetMyProjectUnderway",
                "value": "={{ $json.IdLikeToGetMyProjectUnderway }}",
                "type": "string"
              },
              {
                "id": "9c3726e2-0e35-4a55-8fb3-2cfc97653e48",
                "name": "howTheyHeardAboutUs",
                "value": "={{ $json.howTheyHeardAboutUs }}",
                "type": "string"
              },
              {
                "id": "4814f4f1-cea7-4c83-94c9-691ed2a48b65",
                "name": "messageId",
                "value": "={{ $json.messageId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          -432
        ],
        "id": "ab255258-d600-49f3-a68f-9bdc9b93bafc",
        "name": "Set HiPages Lead"
      },
      {
        "parameters": {
          "jsCode": "// n8n Function / Code node\n// Build search candidates from email, mobile, phone\n\nconst candidates = [];\n\nconst clean = (v) => String(v ?? \"\").trim();\n\nconst normalizeAuNumber9 = (v) => {\n  let digits = clean(v).replace(/\\D/g, \"\"); // digits only\n  if (!digits) return \"\";\n\n  // Remove AU prefixes\n  if (digits.startsWith(\"61\")) digits = digits.slice(2);\n  if (digits.startsWith(\"0\")) digits = digits.slice(1);\n\n  // Keep last 9 digits\n  if (digits.length > 9) digits = digits.slice(-9);\n\n  return digits;\n};\n\n// ✅ Email candidate (use emailAddress)\nif (clean($json.emailAddress)) {\n  candidates.push({\n    q: clean($json.emailAddress),\n    by: \"email\"\n  });\n}\n\n// ✅ Mobile candidate\nconst mobile9 = normalizeAuNumber9($json.mobileNumber);\nif (mobile9) {\n  candidates.push({\n    q: mobile9,\n    by: \"mobile\"\n  });\n}\n\n// ✅ Phone candidate\nconst phone9 = normalizeAuNumber9($json.phoneNumber);\nif (phone9) {\n  candidates.push({\n    q: phone9,\n    by: \"phone\"\n  });\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n      candidates,\n      found: false\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          -176
        ],
        "id": "6e6fa740-83df-43d1-986d-f308ca5be612",
        "name": "Search by Email, Mobile, Phone",
        "disabled": true
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          736,
          -432
        ],
        "id": "5c8638b3-daa1-4f8b-ad64-817370202c76",
        "name": "Merge Image Meta and Text Input"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "eSdWCK7MPonSrTuzU7-wK",
            "mode": "list",
            "cachedResultUrl": "/workflow/eSdWCK7MPonSrTuzU7-wK",
            "cachedResultName": "[SW] Wrapp: New Lead - Create Contact & Opportunities"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1408,
          -240
        ],
        "id": "89db1a48-84c0-47cd-97a5-02d3827f510e",
        "name": "Call '[SW] Wrapp: New Lead - Create Contact & Opportunities'"
      },
      {
        "parameters": {
          "jsCode": "// This Code node should run \"Once for All Items\".\n// It will parse the AI JSON, merge with attachment info, and add a date-based fileName.\n// Format: DD-MM-YYYY-HiLead-file1 (or file2, file3...) per lead/type for that date.\n\nconst inputItems = $input.all();\nconst outputItems = [];\n\n// ---- Date formatter (DD-MM-YYYY) ----\nfunction formatDDMMYYYY(dateInput) {\n  const d = dateInput ? new Date(dateInput) : new Date();\n  if (Number.isNaN(d.getTime())) {\n    // fallback to \"now\" if invalid\n    const now = new Date();\n    const dd = String(now.getDate()).padStart(2, '0');\n    const mm = String(now.getMonth() + 1).padStart(2, '0');\n    const yyyy = String(now.getFullYear());\n    return `${dd}-${mm}-${yyyy}`;\n  }\n  const dd = String(d.getDate()).padStart(2, '0');\n  const mm = String(d.getMonth() + 1).padStart(2, '0');\n  const yyyy = String(d.getFullYear());\n  return `${dd}-${mm}-${yyyy}`;\n}\n\n// ---- Lead short tag ----\nfunction leadTag(leadType) {\n  const lt = (leadType || '').toLowerCase();\n  // user example: \"HiLead\"\n  if (lt.includes('hipages')) return 'HiLead';\n  // keep something sensible for other values\n  if (lt.includes('referral')) return 'RefLead';\n  return 'Lead';\n}\n\n// Count files per (date + leadTag) so file1/file2 increments correctly\nconst counterByGroup = new Map();\n\nfor (const item of inputItems) {\n  const data = item.json;\n\n  // --- 1. Get the AI message object (from merged branch) ---\n  const aiMsg = data[\"0\"];\n  if (\n    !aiMsg ||\n    !Array.isArray(aiMsg.content) ||\n    !aiMsg.content[0] ||\n    typeof aiMsg.content[0].text !== 'string'\n  ) {\n    throw new Error('Could not find 0.content[0].text in incoming data.');\n  }\n\n  const rawText = aiMsg.content[0].text;\n\n  // --- 2. Strip ```json ... ``` fences ---\n  const cleaned = rawText\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```$/i, '')\n    .trim();\n\n  // --- 3. Parse the JSON returned by the model ---\n  const lead = JSON.parse(cleaned);\n\n  // --- 4. Build date-based filename: DD-MM-YYYY-HiLead-fileN ---\n  // Prefer message timestamp if present; else use current date\n  // (Discord timestamp in ms is common; ISO string also works)\n  const dateStr = formatDDMMYYYY(data.timestamp ?? data.messageTimestamp ?? Date.now());\n\n  const tag = leadTag(lead.leadType || data.leadType);\n\n  const groupKey = `${dateStr}-${tag}`;\n  const nextIndex = (counterByGroup.get(groupKey) || 0) + 1;\n  counterByGroup.set(groupKey, nextIndex);\n\n  const fileName = `${dateStr}-${tag}-file${nextIndex}`;\n\n  // --- 5. Merge everything into one clean object ---\n  const merged = {\n    // lead fields\n    ...lead,\n\n    // original meta (optional, but useful)\n    messageId: data.messageId,\n    guildId: data.guildId,\n    channelId: data.channelId,\n    authorName: data.authorName,\n    rawMessage: data.rawMessage,\n    referredBy: data.referredBy,\n    technician: data.technician,\n\n    // attachment info\n    attachmentName: data.attachmentName,\n    attachmentUrl: data.attachmentUrl,\n    attachmentId: data.attachmentId,\n    attachmentContentType: data.attachmentContentType,\n    attachmentSize: data.attachmentSize,\n\n    // new: final filename to use in Google Drive\n    //fileName,\n  };\n\n  outputItems.push({ json: merged });\n}\n\nreturn outputItems;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          512,
          -504
        ],
        "id": "644b3571-ae90-4e8a-99d4-7b0ebab87245",
        "name": "Parse Fields"
      }
    ],
    "connections": {
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "React with an emoji to a message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload file": {
        "main": [
          []
        ]
      },
      "convert images to text": {
        "main": [
          [
            {
              "node": "Parse Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Listen to Discord messages": {
        "main": [
          [
            {
              "node": "Sanitize output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sanitize output": {
        "main": [
          [
            {
              "node": "convert images to text",
              "type": "main",
              "index": 0
            },
            {
              "node": "Download Image(s)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Image Meta and Text Input",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Download Image(s)": {
        "main": [
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set HiPages Lead": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Search by Email, Mobile, Phone",
              "type": "main",
              "index": 0
            },
            {
              "node": "Call '[SW] Wrapp: New Lead - Create Contact & Opportunities'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search by Email, Mobile, Phone": {
        "main": [
          []
        ]
      },
      "Merge Image Meta and Text Input": {
        "main": [
          [
            {
              "node": "Set HiPages Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Fields": {
        "main": [
          [
            {
              "node": "Merge Image Meta and Text Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Christine Kam",
    "name": "Version fb8484ce",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-03T06:43:08.526Z",
        "id": 121,
        "workflowId": "Dm34kcocvPR7PllT",
        "versionId": "fb8484ce-e7a0-4aa7-9234-4b6bc2bb1104",
        "event": "activated",
        "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b"
      }
    ]
  }
}