workflows/03. Monitor Website Downtime.json
{
  "updatedAt": "2025-12-01T05:28:08.000Z",
  "createdAt": "2025-11-17T11:22:02.266Z",
  "id": "KBKFiFIVbSc323b5",
  "name": "03. Monitor Website Downtime",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        -32
      ],
      "id": "2dee824a-264b-4aaa-a246-107db63063ff",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// All items coming from the HTTP Request node (status, codes, etc.)\nconst httpItems = $input.all();\n\n// All items from the \"Websites List\" node (name + url)\n// Name must match the node label EXACTLY\nconst siteItems = $(\"Websites List\").all();\n\nreturn httpItems.map((item, index) => {\n  const j = item.json;\n\n  // Match the corresponding site by array index\n  const site = siteItems[index]?.json || {};\n\n  // Site name & URL: from Websites List first, then HTTP item, then fallback\n  const siteName =\n    site.name ||\n    site.siteName ||\n    j.name ||\n    j.siteName ||\n    'Unknown site';\n\n  const siteUrl =\n    site.url ||\n    site.siteUrl ||\n    j.url ||\n    j.siteUrl ||\n    'Unknown URL';\n\n  // --- HTTP status from current item ---\n  const rawStatus = j.statusCode ?? j.responseCode ?? j.status ?? j.code ?? 0;\n  const statusCode = Number(rawStatus) || 0;\n\n  // Try to get a human-readable status message from several places\n  const rawStatusMessage =\n    j.statusMessage ??\n    j.responseMessage ??\n    j.statusText ??\n    j.body?.message ??\n    j.body?.statusMessage ??\n    j.body?.status ??\n    null;\n\n  let statusMessage = '';\n  if (rawStatusMessage != null) {\n    statusMessage =\n      typeof rawStatusMessage === 'string'\n        ? rawStatusMessage\n        : JSON.stringify(rawStatusMessage);\n  }\n\n  // Decide UP or DOWN (2xx + 3xx = UP)\n  let status = 'DOWN';\n  if (statusCode >= 200 && statusCode < 400) {\n    status = 'UP';\n  }\n\n  // --- Build error message if DOWN ---\n  const rawError =\n    j.error ??\n    j.body?.error ??\n    j.body?.errors ??\n    null;\n\n  let errorMessage = '';\n  if (status === 'DOWN') {\n    if (rawError) {\n      errorMessage =\n        typeof rawError === 'string'\n          ? rawError\n          : JSON.stringify(rawError);\n    } else if (statusMessage) {\n      // fall back to statusMessage if that exists\n      errorMessage = statusMessage;\n    } else if (!statusCode) {\n      errorMessage = 'No response / unknown error';\n    } else {\n      errorMessage = `HTTP ${statusCode}`;\n    }\n  }\n\n  // --- Brisbane time, formatted dd/MMM/yyyy HH:mm:ss ---\n  const now = new Date();\n  const brisbaneNow = new Date(\n    now.toLocaleString('en-US', { timeZone: 'Australia/Brisbane' })\n  );\n\n  const dd = String(brisbaneNow.getDate()).padStart(2, '0');\n  const monthNames = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\n  const mmm = monthNames[brisbaneNow.getMonth()];\n  const yyyy = brisbaneNow.getFullYear();\n  const hh = String(brisbaneNow.getHours()).padStart(2, '0');\n  const min = String(brisbaneNow.getMinutes()).padStart(2, '0');\n  const ss = String(brisbaneNow.getSeconds()).padStart(2, '0');\n\n  const formattedTimestamp = `${dd}/${mmm}/${yyyy} ${hh}:${min}:${ss}`;\n\n  return {\n    json: {\n      siteName,\n      siteUrl,\n      status,          // \"UP\" or \"DOWN\"\n      statusCode,      // numeric HTTP code\n      statusMessage,   // stringified if it was an object\n      errorMessage,    // only filled when DOWN\n      timestamp: formattedTimestamp,\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -32
      ],
      "id": "9f98681e-b604-4a52-9d35-ee2dd5334882",
      "name": "Send HTTP Requests to Websites"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rahnM5pxgDRSWarey-HS7EekCJjd-iHNbg47SYYlFD4",
          "mode": "list",
          "cachedResultName": "Websites Monitoring",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rahnM5pxgDRSWarey-HS7EekCJjd-iHNbg47SYYlFD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1679820029,
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rahnM5pxgDRSWarey-HS7EekCJjd-iHNbg47SYYlFD4/edit#gid=1679820029"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "StatusCode": "={{ $json.statusCode }}",
            "ErrorMessage": "={{ $json.errorMessage }}",
            "SiteName": "={{ $json.siteName }}",
            "URL": "={{ $json.siteUrl }}",
            "Status Message": "={{ $json.statusMessage }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SiteName",
              "displayName": "SiteName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "StatusCode",
              "displayName": "StatusCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Message",
              "displayName": "Status Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ErrorMessage",
              "displayName": "ErrorMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        -320
      ],
      "id": "03d201ae-78d7-4f77-a7c2-e5d5df91d8e0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4FmXrss6MgN5rzt",
          "name": "WR: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16bdfe92-f7f9-4cb6-8cc3-793b040f0122",
              "leftValue": "={{ $json.status }}",
              "rightValue": "DOWN",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        -32
      ],
      "id": "59bb2603-a5d6-4020-bff4-35cb0e29ca1c",
      "name": "If Wesbites is down"
    },
    {
      "parameters": {
        "jsCode": "// One item per website\nconst sites = [\n  {\n    name: 'Wrapp',\n    url: 'https://wrapp2.windowrevival.com.au/index.php/login'\n  },\n  {\n    name: 'Sliding Door & Window Repairs',\n    url: 'https://slidingdoorandwindowrepairs.com.au/'\n  },\n  {\n    name: 'Window Revival',\n    url: 'https://windowrevival.net.au/'\n  },\n];\n\nreturn sites.map(site => ({ json: site }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -32
      ],
      "id": "a2f9e571-ecc5-4794-980d-45c1c64e0c6f",
      "name": "Websites List"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        -32
      ],
      "id": "3a98b05b-7103-4a70-b499-80e0d5b6dd12",
      "name": "Send HTTP Requests to Websites2"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "753455160209965106",
          "mode": "list",
          "cachedResultName": "Window Revival",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106"
        },
        "channelId": {
          "__rl": true,
          "value": "1440964376147529788",
          "mode": "list",
          "cachedResultName": "websites-down",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106/1440964376147529788"
        },
        "content": "=ALERT!! - Websites is Down\n* Timestamp: {{ $json.timestamp }}\n* Site Name: {{ $json.siteName }}\n* Site URL: {{ $json.siteUrl }}\n* Status: {{ $json.status }}\n* Status Code: {{ $json.statusCode }}\n* Status Message: {{ $json.statusMessage }}\n* Error Message: {{ $json.errorMessage }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        720,
        256
      ],
      "id": "c04f7cf2-6b47-460e-ab53-2cef554c8fd6",
      "name": "Send alert message to Discord",
      "webhookId": "6fa70afb-ce94-4bf9-876c-89e798726bda",
      "credentials": {
        "discordBotApi": {
          "id": "a0FDlWFh8PBA5Add",
          "name": "WR: Discord Bot Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "windowrevival@gmail.com",
        "subject": "ALERT!! - Website is Down",
        "emailType": "text",
        "message": "=Websites is Down\n* Timestamp: {{ $json.timestamp }}\n* Site Name: {{ $json.siteName }}\n* Site URL: {{ $json.siteUrl }}\n* Status: {{ $json.status }}\n* Status Code: {{ $json.statusCode }}\n* Error Message: {{ $json.errorMessage }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -128
      ],
      "id": "071c9f02-d987-47e0-8f01-e0a76855151e",
      "name": "Send alert message to gmail",
      "webhookId": "2dac667c-c23c-4427-a6ab-427e1c96ddb6",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "[\n  { \"phone\": \"+61414469331\" },\n  { \"phone\": \"+61416031750\" }\n]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        64
      ],
      "id": "bb71dd53-369e-4cc1-8ff8-21164ba13d08",
      "name": "Set Multiple Numbers"
    },
    {
      "parameters": {
        "from": "={{$json[\"phone\"]}}",
        "to": "0416031750",
        "message": "=Websites is Down \n* Timestamp: {{ $json.timestamp }} \n* Site Name: {{ $json.siteName }} \n* Site URL: {{ $json.siteUrl }} \n* Status: {{ $json.status }} \n* Status Code: {{ $json.statusCode }} \n* Error Message: {{ $json.errorMessage }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        944,
        64
      ],
      "id": "d70ee15c-7ecd-438c-9621-0385276c1eff",
      "name": "Send SMS to CK and Chris",
      "credentials": {
        "twilioApi": {
          "id": "fL6K4bYjJzUodKaq",
          "name": "WR: Twilio account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Websites List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send HTTP Requests to Websites": {
      "main": [
        [
          {
            "node": "If Wesbites is down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Wesbites is down": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send alert message to gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send alert message to Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Multiple Numbers",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Websites List": {
      "main": [
        [
          {
            "node": "Send HTTP Requests to Websites2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send HTTP Requests to Websites2": {
      "main": [
        [
          {
            "node": "Send HTTP Requests to Websites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send alert message to gmail": {
      "main": [
        []
      ]
    },
    "Set Multiple Numbers": {
      "main": [
        [
          {
            "node": "Send SMS to CK and Chris",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS to CK and Chris": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "b4cFEFv1eFePOnMh"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "360f823d-c714-4a4a-8c43-a88a6db6f6b6",
  "activeVersionId": "360f823d-c714-4a4a-8c43-a88a6db6f6b6",
  "versionCounter": 88,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-17T11:22:02.269Z",
      "createdAt": "2025-11-17T11:22:02.269Z",
      "role": "workflow:owner",
      "workflowId": "KBKFiFIVbSc323b5",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T07:49:25.938Z",
            "createdAt": "2025-11-14T07:49:25.938Z",
            "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
            "projectId": "6TsYTzg0HY92xH2K",
            "user": {
              "updatedAt": "2026-02-10T14:01:06.000Z",
              "createdAt": "2025-11-14T07:49:14.641Z",
              "id": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
              "email": "windowrevival@gmail.com",
              "firstName": "Christine",
              "lastName": "Kam",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T08:34:38.735Z",
                "personalization_survey_n8n_version": "1.119.1",
                "automationGoalDevops": [
                  "reporting",
                  "other"
                ],
                "automationGoalDevopsOther": "Automate all apps",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZwjGOdSLvNlPoB1E",
                "userActivatedAt": 1763281773859,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763554974919
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-01T05:28:08.545Z",
    "createdAt": "2025-12-01T05:28:08.545Z",
    "versionId": "360f823d-c714-4a4a-8c43-a88a6db6f6b6",
    "workflowId": "KBKFiFIVbSc323b5",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 1
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -400,
          -32
        ],
        "id": "2dee824a-264b-4aaa-a246-107db63063ff",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "jsCode": "// All items coming from the HTTP Request node (status, codes, etc.)\nconst httpItems = $input.all();\n\n// All items from the \"Websites List\" node (name + url)\n// Name must match the node label EXACTLY\nconst siteItems = $(\"Websites List\").all();\n\nreturn httpItems.map((item, index) => {\n  const j = item.json;\n\n  // Match the corresponding site by array index\n  const site = siteItems[index]?.json || {};\n\n  // Site name & URL: from Websites List first, then HTTP item, then fallback\n  const siteName =\n    site.name ||\n    site.siteName ||\n    j.name ||\n    j.siteName ||\n    'Unknown site';\n\n  const siteUrl =\n    site.url ||\n    site.siteUrl ||\n    j.url ||\n    j.siteUrl ||\n    'Unknown URL';\n\n  // --- HTTP status from current item ---\n  const rawStatus = j.statusCode ?? j.responseCode ?? j.status ?? j.code ?? 0;\n  const statusCode = Number(rawStatus) || 0;\n\n  // Try to get a human-readable status message from several places\n  const rawStatusMessage =\n    j.statusMessage ??\n    j.responseMessage ??\n    j.statusText ??\n    j.body?.message ??\n    j.body?.statusMessage ??\n    j.body?.status ??\n    null;\n\n  let statusMessage = '';\n  if (rawStatusMessage != null) {\n    statusMessage =\n      typeof rawStatusMessage === 'string'\n        ? rawStatusMessage\n        : JSON.stringify(rawStatusMessage);\n  }\n\n  // Decide UP or DOWN (2xx + 3xx = UP)\n  let status = 'DOWN';\n  if (statusCode >= 200 && statusCode < 400) {\n    status = 'UP';\n  }\n\n  // --- Build error message if DOWN ---\n  const rawError =\n    j.error ??\n    j.body?.error ??\n    j.body?.errors ??\n    null;\n\n  let errorMessage = '';\n  if (status === 'DOWN') {\n    if (rawError) {\n      errorMessage =\n        typeof rawError === 'string'\n          ? rawError\n          : JSON.stringify(rawError);\n    } else if (statusMessage) {\n      // fall back to statusMessage if that exists\n      errorMessage = statusMessage;\n    } else if (!statusCode) {\n      errorMessage = 'No response / unknown error';\n    } else {\n      errorMessage = `HTTP ${statusCode}`;\n    }\n  }\n\n  // --- Brisbane time, formatted dd/MMM/yyyy HH:mm:ss ---\n  const now = new Date();\n  const brisbaneNow = new Date(\n    now.toLocaleString('en-US', { timeZone: 'Australia/Brisbane' })\n  );\n\n  const dd = String(brisbaneNow.getDate()).padStart(2, '0');\n  const monthNames = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\n  const mmm = monthNames[brisbaneNow.getMonth()];\n  const yyyy = brisbaneNow.getFullYear();\n  const hh = String(brisbaneNow.getHours()).padStart(2, '0');\n  const min = String(brisbaneNow.getMinutes()).padStart(2, '0');\n  const ss = String(brisbaneNow.getSeconds()).padStart(2, '0');\n\n  const formattedTimestamp = `${dd}/${mmm}/${yyyy} ${hh}:${min}:${ss}`;\n\n  return {\n    json: {\n      siteName,\n      siteUrl,\n      status,          // \"UP\" or \"DOWN\"\n      statusCode,      // numeric HTTP code\n      statusMessage,   // stringified if it was an object\n      errorMessage,    // only filled when DOWN\n      timestamp: formattedTimestamp,\n    },\n  };\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          -32
        ],
        "id": "9f98681e-b604-4a52-9d35-ee2dd5334882",
        "name": "Send HTTP Requests to Websites"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1rahnM5pxgDRSWarey-HS7EekCJjd-iHNbg47SYYlFD4",
            "mode": "list",
            "cachedResultName": "Websites Monitoring",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rahnM5pxgDRSWarey-HS7EekCJjd-iHNbg47SYYlFD4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1679820029,
            "mode": "list",
            "cachedResultName": "logs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rahnM5pxgDRSWarey-HS7EekCJjd-iHNbg47SYYlFD4/edit#gid=1679820029"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Timestamp": "={{ $json.timestamp }}",
              "StatusCode": "={{ $json.statusCode }}",
              "ErrorMessage": "={{ $json.errorMessage }}",
              "SiteName": "={{ $json.siteName }}",
              "URL": "={{ $json.siteUrl }}",
              "Status Message": "={{ $json.statusMessage }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "SiteName",
                "displayName": "SiteName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "StatusCode",
                "displayName": "StatusCode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status Message",
                "displayName": "Status Message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ErrorMessage",
                "displayName": "ErrorMessage",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          720,
          -320
        ],
        "id": "03d201ae-78d7-4f77-a7c2-e5d5df91d8e0",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "S4FmXrss6MgN5rzt",
            "name": "WR: Google Sheets Account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "16bdfe92-f7f9-4cb6-8cc3-793b040f0122",
                "leftValue": "={{ $json.status }}",
                "rightValue": "DOWN",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          496,
          -32
        ],
        "id": "59bb2603-a5d6-4020-bff4-35cb0e29ca1c",
        "name": "If Wesbites is down"
      },
      {
        "parameters": {
          "jsCode": "// One item per website\nconst sites = [\n  {\n    name: 'Wrapp',\n    url: 'https://wrapp2.windowrevival.com.au/index.php/login'\n  },\n  {\n    name: 'Sliding Door & Window Repairs',\n    url: 'https://slidingdoorandwindowrepairs.com.au/'\n  },\n  {\n    name: 'Window Revival',\n    url: 'https://windowrevival.net.au/'\n  },\n];\n\nreturn sites.map(site => ({ json: site }));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          -32
        ],
        "id": "a2f9e571-ecc5-4794-980d-45c1c64e0c6f",
        "name": "Websites List"
      },
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "options": {
            "allowUnauthorizedCerts": true,
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true,
                "responseFormat": "text"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          48,
          -32
        ],
        "id": "3a98b05b-7103-4a70-b499-80e0d5b6dd12",
        "name": "Send HTTP Requests to Websites2"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "753455160209965106",
            "mode": "list",
            "cachedResultName": "Window Revival",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106"
          },
          "channelId": {
            "__rl": true,
            "value": "1440964376147529788",
            "mode": "list",
            "cachedResultName": "websites-down",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106/1440964376147529788"
          },
          "content": "=ALERT!! - Websites is Down\n* Timestamp: {{ $json.timestamp }}\n* Site Name: {{ $json.siteName }}\n* Site URL: {{ $json.siteUrl }}\n* Status: {{ $json.status }}\n* Status Code: {{ $json.statusCode }}\n* Status Message: {{ $json.statusMessage }}\n* Error Message: {{ $json.errorMessage }}",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          720,
          256
        ],
        "id": "c04f7cf2-6b47-460e-ab53-2cef554c8fd6",
        "name": "Send alert message to Discord",
        "webhookId": "6fa70afb-ce94-4bf9-876c-89e798726bda",
        "credentials": {
          "discordBotApi": {
            "id": "a0FDlWFh8PBA5Add",
            "name": "WR: Discord Bot Account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "windowrevival@gmail.com",
          "subject": "ALERT!! - Website is Down",
          "emailType": "text",
          "message": "=Websites is Down\n* Timestamp: {{ $json.timestamp }}\n* Site Name: {{ $json.siteName }}\n* Site URL: {{ $json.siteUrl }}\n* Status: {{ $json.status }}\n* Status Code: {{ $json.statusCode }}\n* Error Message: {{ $json.errorMessage }}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          720,
          -128
        ],
        "id": "071c9f02-d987-47e0-8f01-e0a76855151e",
        "name": "Send alert message to gmail",
        "webhookId": "2dac667c-c23c-4427-a6ab-427e1c96ddb6",
        "credentials": {
          "gmailOAuth2": {
            "id": "Iacb6DlpUsfDqQMK",
            "name": "WR: Gmail Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "[\n  { \"phone\": \"+61414469331\" },\n  { \"phone\": \"+61416031750\" }\n]\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          64
        ],
        "id": "bb71dd53-369e-4cc1-8ff8-21164ba13d08",
        "name": "Set Multiple Numbers"
      },
      {
        "parameters": {
          "from": "={{$json[\"phone\"]}}",
          "to": "0416031750",
          "message": "=Websites is Down \n* Timestamp: {{ $json.timestamp }} \n* Site Name: {{ $json.siteName }} \n* Site URL: {{ $json.siteUrl }} \n* Status: {{ $json.status }} \n* Status Code: {{ $json.statusCode }} \n* Error Message: {{ $json.errorMessage }}",
          "options": {}
        },
        "type": "n8n-nodes-base.twilio",
        "typeVersion": 1,
        "position": [
          944,
          64
        ],
        "id": "d70ee15c-7ecd-438c-9621-0385276c1eff",
        "name": "Send SMS to CK and Chris",
        "credentials": {
          "twilioApi": {
            "id": "fL6K4bYjJzUodKaq",
            "name": "WR: Twilio account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Websites List",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send HTTP Requests to Websites": {
        "main": [
          [
            {
              "node": "If Wesbites is down",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Wesbites is down": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send alert message to gmail",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send alert message to Discord",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set Multiple Numbers",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Websites List": {
        "main": [
          [
            {
              "node": "Send HTTP Requests to Websites2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send HTTP Requests to Websites2": {
        "main": [
          [
            {
              "node": "Send HTTP Requests to Websites",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send alert message to gmail": {
        "main": [
          []
        ]
      },
      "Set Multiple Numbers": {
        "main": [
          [
            {
              "node": "Send SMS to CK and Chris",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send SMS to CK and Chris": {
        "main": [
          []
        ]
      }
    },
    "authors": "Christine Kam",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-12-01T05:28:08.000Z",
        "id": 1,
        "workflowId": "KBKFiFIVbSc323b5",
        "versionId": "360f823d-c714-4a4a-8c43-a88a6db6f6b6",
        "event": "activated",
        "userId": null
      }
    ]
  }
}