workflows/04 Facebook Auto Posting.json
{
  "updatedAt": "2025-12-07T15:43:51.000Z",
  "createdAt": "2025-12-07T00:04:58.689Z",
  "id": "KZzKDj69bIXRwbf2",
  "name": "04 Facebook Auto Posting",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "DP: Facebook Credentials\nClient ID:\n705578682586438\n\nUser Id\n25413663644921390\n\nPage ID\n109068850509624\n\nSystem Token\nEAAKBuFa8lUYBQFJTZBogPqpdcpZAougTMbjN92TMpqjtcgxqbOYfbQNlncKkiRNNWZBhlajr84a1rzeVu7ZAzeC4sQTZAuu111snuw4r2UzDlpM53v2UbhIguh2gH2Gna9x3afE18FZCY5YPRW5tBDTBXXbx6DnRZAIQlUJAAQhby4InmeFro99EKjsZBmymWZBMw0QZDZD\n\nUser Token\nEAAKBuFa8lUYBQOUO5cPZCuWOrfozkKTQaD5hEISS4nXLGZBljsxsAU8iBwZBh8lNH40ikXNiyQUczr3PUKYGWl1wCZAKzJNY3Mge1dnqIDDvUmzTkgDZCk0iZBLKToOJNtVaZAPkjbGPpOM0Y90BtcKVXoXU5wLWeE7cpEgrMgP6vGJD86Yrwcs3N5N3SR1XIdhtlemqexZBkdLf\n\nAccess Token\nEAAKBuFa8lUYBQBF87AopcZB7gGjQ5k8ZACo1dZC6TCdWZAzPibqabUHpYQPgT7ZArTIBdqcxcZAdRw7VNzNZCwnDCC7drKZA2wzZBj6ohgDxnnIL5dAR9decoWEHUbSZBdof72iHw6WV8zsUeB9eInZCeqqMozhVY981v2SVogvZC58yg3uh5CkOT7xV19S2XUM1yMRjZBVAUEzMdCIRXupucYRYZD",
        "height": 464,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3424,
        -1328
      ],
      "typeVersion": 1,
      "id": "387f5dbc-5e8d-4f51-a816-9e2b545634cd",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3056,
        -496
      ],
      "id": "e71a0128-b169-4cfa-8074-a2d0af72697b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a359c3c6-f4e5-4635-84f4-179c92d6ac40",
              "name": "post_type",
              "value": "reel",
              "type": "string"
            },
            {
              "id": "a4245254-7e5e-4f00-b2cc-3b475b9d9a91",
              "name": "page_id",
              "value": "109068850509624",
              "type": "string"
            },
            {
              "id": "b8b4ee34-137f-41dc-b880-f1ad7329af6a",
              "name": "image_url",
              "value": "https://blog.disane.dev/content/images/2023/11/n8n.io.png",
              "type": "string"
            },
            {
              "id": "5eea9338-245e-4daf-964c-a91e2aece0c8",
              "name": "video_url",
              "value": "https://filesamples.com/samples/video/mp4/sample_640x360.mp4",
              "type": "string"
            },
            {
              "id": "13499918-e57d-434a-916c-cdb87f40f01a",
              "name": "reel_url",
              "value": "https://videos.pexels.com/video-files/4830364/4830364-uhd_1440_2732_25fps.mp4",
              "type": "string"
            },
            {
              "id": "15a7680c-36a8-49c4-a0c6-0cc9e892000a",
              "name": "node_type",
              "value": "http",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2832,
        -400
      ],
      "id": "52ebef4f-e792-4039-8e44-612156ca6da2",
      "name": "Configure Post"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "74b8d625-9b90-4809-94a8-751748fda968"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e8f69c10-0683-4989-8cbd-24f09a57cbb3",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94147f9e-1241-4d38-83ae-34c8b67f1162",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5605805c-77a9-4663-ae17-00ebf555dbe3",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2d378966-8fb0-4641-927a-ffb7c310ed92",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "carousel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Carousel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2560,
        -448
      ],
      "id": "d3ef41f8-b9a1-4648-ab2d-008979a7757b",
      "name": "Smart Content Router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d6ecb18-9957-41fe-9ac8-a879f671d16f",
              "leftValue": "={{ $json.node_type }}",
              "rightValue": "=http",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2176,
        -1296
      ],
      "id": "7b30c617-8340-4edf-b56c-5f4ac76f7a92",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Text Posting\n### Configuration\n\n\n\n\n\n\n\n#### Generic Auth Type\nHeader Auth\n\n#### Header Auth\nName: Authorization\nValue: OAuth EAAKBuFa8lUYBQBF87AopcZB7gGjQ5k8ZACo1dZC6TCdWZAzPibqabUHpYQPgT7ZArTIBdqcxcZAdRw7VNzNZCwnDCC7drKZA2wzZBj6ohgDxnnIL5dAR9decoWEHUbSZBdof72iHw6WV8zsUeB9eInZCeqqMozhVY981v2SVogvZC58yg3uh5CkOT7xV19S2XUM1yMRjZBVAUEzMdCIRXupucYRYZD\n\n\n",
        "height": 416,
        "width": 838
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2416,
        -1328
      ],
      "typeVersion": 1,
      "id": "8eb0d13d-b415-4e21-986c-88e6381c9d35",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/109068850509624/feed?fields=id,message,created_time,permalink_url&limit=25",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2832,
        -592
      ],
      "id": "24a44c46-78cc-4aae-b25e-19eabb0149fa",
      "name": "Get Post ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CaZij5fkjtFUt5xH",
          "name": "DP: Facebook User Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{$json.id}}/comments?fields=from{name},message,created_time,like_count\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1456,
        -1152
      ],
      "id": "0f5d29d9-10fa-4c69-b6d4-614c9c980e5e",
      "name": "Reply on a comment on a POST",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CaZij5fkjtFUt5xH",
          "name": "DP: Facebook User Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $json.page_id }}/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"message\": \"Automated Post via n8n\",\n  \"link\": \"https://youtu.be/LCX1Skd_Q4M?si=K1q0tka7HMcM0hSB\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1792,
        -1312
      ],
      "id": "7b0703f5-2f3e-44fc-834e-0af3ad364d00",
      "name": "Post Text on Facebook Page",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CaZij5fkjtFUt5xH",
          "name": "DP: Facebook User Access Token"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "Automated Post via n8n Facebook Graph API"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1792,
        -1152
      ],
      "id": "4c5045c2-89c3-49e5-a38b-20ca34d01d78",
      "name": "Post Text on Facebook Page using Graph API node",
      "credentials": {
        "facebookGraphApi": {
          "id": "jXHp9AAl9mDlV9YY",
          "name": "DP: Facebook Graph Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $json.page_id }}/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"url\": \" {{ $json.image_url }}\",\n   \"message\": \"Autmated Image Post via n8n\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1808,
        -848
      ],
      "id": "e9f935d6-d478-41c5-a823-2df848b9ebb8",
      "name": "Post Image on Facebook Page",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CaZij5fkjtFUt5xH",
          "name": "DP: Facebook User Access Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d6ecb18-9957-41fe-9ac8-a879f671d16f",
              "leftValue": "={{ $json.node_type }}",
              "rightValue": "=http",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2192,
        -784
      ],
      "id": "b3e516c0-ec97-4e92-a6ba-f2de8e4c9d15",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "## Image Posting\n",
        "height": 352,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2416,
        -880
      ],
      "typeVersion": 1,
      "id": "8b000df8-26e6-453b-85f8-7bb5ed2d0406",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "Automated Image Post via n8n Facebook Graph API"
              },
              {
                "name": "url",
                "value": "={{ $json.image_url }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1808,
        -688
      ],
      "id": "e2a9f393-417f-4571-8d2d-dd70e1ca063a",
      "name": "Post Image on Facebook Page using Graph API node",
      "credentials": {
        "facebookGraphApi": {
          "id": "jXHp9AAl9mDlV9YY",
          "name": "DP: Facebook Graph Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Video Posting",
        "height": 384,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2416,
        -528
      ],
      "typeVersion": 1,
      "id": "0780f260-32ff-4716-9d44-b8709c5c92e0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d6ecb18-9957-41fe-9ac8-a879f671d16f",
              "leftValue": "={{ $json.node_type }}",
              "rightValue": "=http",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2176,
        -400
      ],
      "id": "b72522cf-c3ab-4c7b-8330-97d95dff4748",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $json.page_id }}/videos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"file_url\": \"{{ $json.video_url }}\",\n   \"description\": \"Automated Video Post via n8n\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1808,
        -480
      ],
      "id": "39d72647-c7f3-41e7-a604-f27f936f18da",
      "name": "Post Video on Facebook Page",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CaZij5fkjtFUt5xH",
          "name": "DP: Facebook User Access Token"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "videos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "Automated Image Post via n8n Facebook Graph API"
              },
              {
                "name": "file_url",
                "value": "={{ $json.video_url }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1792,
        -304
      ],
      "id": "5696ed33-5c0e-47a0-8a7e-9fea31202a35",
      "name": "Post Video on Facebook Page using Graph API node",
      "credentials": {
        "facebookGraphApi": {
          "id": "jXHp9AAl9mDlV9YY",
          "name": "DP: Facebook Graph Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Carousel Posting",
        "height": 384,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2416,
        -112
      ],
      "typeVersion": 1,
      "id": "9a5112b8-44f6-4aba-8dc7-c9232b8a3c66",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d6ecb18-9957-41fe-9ac8-a879f671d16f",
              "leftValue": "={{ $json.node_type }}",
              "rightValue": "=http",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2304,
        16
      ],
      "id": "6087a7a2-5227-443d-ab21-ad9a81672022",
      "name": "If3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $json.page_id }}/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"url\": \" {{ $json.image_url }}\",\n   \"published\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2064,
        0
      ],
      "id": "89cabb0f-d2f4-4746-8427-2fef0dff3c87",
      "name": "Post Image 1 Carousel on Facebook Page",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CaZij5fkjtFUt5xH",
          "name": "DP: Facebook User Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('If3').item.json.page_id }}/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"url\": \"{{ $('If3').item.json.image_url }}\",\n   \"published\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1872,
        0
      ],
      "id": "b313d32f-9b13-42d1-88d2-8dd300990439",
      "name": "Post Image 2 Carousel on Facebook Page",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CaZij5fkjtFUt5xH",
          "name": "DP: Facebook User Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('If3').item.json.page_id }}/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"url\": \"{{ $('If3').item.json.image_url }}\",\n   \"published\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1552,
        0
      ],
      "id": "73587448-fcc7-4483-a3ca-54113cb3d1ad",
      "name": "Post Image 3 Carousel on Facebook Page",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CaZij5fkjtFUt5xH",
          "name": "DP: Facebook User Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('If3').item.json.page_id }}/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"url\": \"{{ $('If3').item.json.image_url }}\",\n   \"published\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1328,
        0
      ],
      "id": "658520a0-b08e-427e-b9ba-1419cb629bfd",
      "name": "Post Image 4 Carousel on Facebook Page",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CaZij5fkjtFUt5xH",
          "name": "DP: Facebook User Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $json.page_id }}/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Automated Carousel Post via n8n https://www.youtube.com/watch?v=l2evdYF9tis\",\n  \"attached_media\": [\n    { \"media_fbid\": {{ $('Post Image 1 Carousel on Facebook Page').item.json.id }} },\n    { \"media_fbid\": {{ $('Post Image 2 Carousel on Facebook Page').item.json.id }} },\n    { \"media_fbid\": {{ $('Post Image 3 Carousel on Facebook Page').item.json.id }} }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1120,
        0
      ],
      "id": "a96db722-b803-458c-877a-b7477537c6fb",
      "name": "Post Carousel on Facebook Page",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CaZij5fkjtFUt5xH",
          "name": "DP: Facebook User Access Token"
        }
      }
    },
    {
      "parameters": {
        "content": "## Reel Posting",
        "height": 384,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2416,
        304
      ],
      "typeVersion": 1,
      "id": "f341f61b-f6ff-4eba-ad82-32d1967a0699",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d6ecb18-9957-41fe-9ac8-a879f671d16f",
              "leftValue": "={{ $json.node_type }}",
              "rightValue": "=http",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2320,
        416
      ],
      "id": "7b69a6ff-6d1f-4838-bf54-fde092a907a9",
      "name": "If4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $json.page_id }}/video_reels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"upload_phase\": \"start\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2048,
        400
      ],
      "id": "f1bfb619-5294-47fe-846b-2bc2fa3e712d",
      "name": "Video upload url",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CaZij5fkjtFUt5xH",
          "name": "DP: Facebook User Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('Video upload url').item.json.video_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1728,
        400
      ],
      "id": "4a3c936e-8cff-499e-8834-bd37fc54bbfd",
      "name": "video status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CaZij5fkjtFUt5xH",
          "name": "DP: Facebook User Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.upload_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $('If4').item.json.reel_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1888,
        400
      ],
      "id": "b19c0e34-e44b-463c-8245-e4e4b6c55373",
      "name": "uploading video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CaZij5fkjtFUt5xH",
          "name": "DP: Facebook User Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('If4').item.json.page_id }}/video_reels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_id\": \"{{ $('Video upload url').item.json.video_id }}\",\n  \"upload_phase\": \"finish\",\n  \"video_state\": \"PUBLISHED\",\n  \"description\": \"This is automated post via n8n\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1536,
        400
      ],
      "id": "cbdf0b4b-91a8-4f7b-9522-7f4f7c16226f",
      "name": "Publish video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CaZij5fkjtFUt5xH",
          "name": "DP: Facebook User Access Token"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Configure Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Post ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Post": {
      "main": [
        [
          {
            "node": "Smart Content Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Content Router": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Post Text on Facebook Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Text on Facebook Page using Graph API node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Text on Facebook Page using Graph API node": {
      "main": [
        [
          {
            "node": "Reply on a comment on a POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Post Image on Facebook Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Image on Facebook Page using Graph API node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Post Video on Facebook Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Video on Facebook Page using Graph API node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Post Image 1 Carousel on Facebook Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Image 1 Carousel on Facebook Page": {
      "main": [
        [
          {
            "node": "Post Image 2 Carousel on Facebook Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Image 2 Carousel on Facebook Page": {
      "main": [
        [
          {
            "node": "Post Image 3 Carousel on Facebook Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Image 3 Carousel on Facebook Page": {
      "main": [
        [
          {
            "node": "Post Image 4 Carousel on Facebook Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Image 4 Carousel on Facebook Page": {
      "main": [
        [
          {
            "node": "Post Carousel on Facebook Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Video upload url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video upload url": {
      "main": [
        [
          {
            "node": "uploading video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uploading video": {
      "main": [
        [
          {
            "node": "video status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "video status": {
      "main": [
        [
          {
            "node": "Publish video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Facebook Trigger": {
      "verifyToken": "49c22796-17a7-43a2-9111-bcbcc1b24ed7"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "87000e46-e1d7-40fa-9404-f61e2f7f3d7d",
  "activeVersionId": null,
  "versionCounter": 178,
  "triggerCount": 4,
  "shared": [
    {
      "updatedAt": "2025-12-07T00:04:58.694Z",
      "createdAt": "2025-12-07T00:04:58.694Z",
      "role": "workflow:owner",
      "workflowId": "KZzKDj69bIXRwbf2",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T07:49:25.938Z",
            "createdAt": "2025-11-14T07:49:25.938Z",
            "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
            "projectId": "6TsYTzg0HY92xH2K",
            "user": {
              "updatedAt": "2026-02-10T14:01:06.000Z",
              "createdAt": "2025-11-14T07:49:14.641Z",
              "id": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
              "email": "windowrevival@gmail.com",
              "firstName": "Christine",
              "lastName": "Kam",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T08:34:38.735Z",
                "personalization_survey_n8n_version": "1.119.1",
                "automationGoalDevops": [
                  "reporting",
                  "other"
                ],
                "automationGoalDevopsOther": "Automate all apps",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZwjGOdSLvNlPoB1E",
                "userActivatedAt": 1763281773859,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763554974919
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}