workflows/04. Backup & Restore WF.json
{
  "updatedAt": "2026-02-11T15:19:25.522Z",
  "createdAt": "2026-01-13T05:57:44.356Z",
  "id": "VO009CqRh4IAVzmP",
  "name": "04. Backup & Restore WF",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2736,
        688
      ],
      "id": "98ef7108-be81-4eab-ba28-eaea18f6c5aa",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2000,
        624
      ],
      "id": "02776dc4-9074-47af-9d37-c3e4c2983aa4",
      "name": "Wait",
      "webhookId": "4e6da3b8-0f5e-418c-9d2d-12d53e17bbcf"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2736,
        496
      ],
      "id": "6639090a-b67c-4bbc-a12c-3f51d04b3ab5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -400,
        592
      ],
      "id": "d81585cf-916c-4397-bd7a-9ebb712d2558",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -192,
        592
      ],
      "id": "03fd3e27-b8c8-495f-b1e8-ce2e17240375",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ",
          "mode": "list",
          "cachedResultName": "Backups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('n8n → Get Workflow by ID').item.json.name }}",
            "Last modified": "={{ $('n8n → Get Workflow by ID').item.json.updatedAt }}",
            "Shared Url": "=https://drive.google.com/file/d/{{ $json.id }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tag",
              "displayName": "Tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last modified",
              "displayName": "Last modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "N8N Url",
              "displayName": "N8N Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Github Url",
              "displayName": "Github Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shared Url",
              "displayName": "Shared Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1120,
        -32
      ],
      "id": "0e5bbdfe-0a34-4531-8132-9242a41beaff",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iNsBYYAG0CoB29qK",
          "name": "WR: Google Sheets Shop"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA",
          "mode": "list",
          "cachedResultName": "Backups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Github Url": "={{ $json.github_url }}",
            "Title": "={{ $json.name }}",
            "Date Created": "={{ $json.createdAt }}",
            "Last Modified": "={{ $json.updatedAt }}",
            "N8N Url": "=https://n8n.srv1127913.hstgr.cloud/workflow/{{ $json.id }}",
            "Shared Url": "=https://drive.google.com/file/d/{{ $json.drive_id }}/view?usp=drive_link ",
            "Id": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "N8N Url",
              "displayName": "N8N Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Github Url",
              "displayName": "Github Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shared Url",
              "displayName": "Shared Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        288,
        592
      ],
      "id": "c7273ce5-072e-454c-b22d-257b8fce43be",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4FmXrss6MgN5rzt",
          "name": "WR: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2272,
        608
      ],
      "id": "4cd79763-8bbc-4f70-9fae-9a31aef9b186",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1344,
        -32
      ],
      "id": "69a35516-a8df-4457-9e0f-80802b5db48b",
      "name": "Wait1",
      "webhookId": "801c9260-f7a8-4b73-afba-6a8c61e280a1"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2512,
        608
      ],
      "id": "bab6ee88-351d-46f8-920f-24bbe9e09865",
      "name": "Get many n8n workflows",
      "credentials": {
        "n8nApi": {
          "id": "ct9VygkZ0SbgQP2e",
          "name": "WR: n8n account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8195660-b59a-440c-8114-ff6377a536b0",
              "leftValue": "={{ Object.keys($json).length === 0 }}\n",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1504,
        624
      ],
      "id": "af4d7956-9a31-4d8a-9106-a22ba7df594d",
      "name": "Route if Workflow Exists"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('Wait').item.json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1248,
        608
      ],
      "id": "946b3599-509d-4ea5-b6ac-99e9b34410e6",
      "name": "Get Workflow by ID",
      "alwaysOutputData": true,
      "credentials": {
        "n8nApi": {
          "id": "ct9VygkZ0SbgQP2e",
          "name": "WR: n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n\n  // Get workflow name safely\n  const workflowName = item.json.name || 'workflow';\n\n  // Optional: sanitize filename (remove illegal characters)\n  const safeName = workflowName.replace(/[<>:\"/\\\\|?*]+/g, '');\n\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: `${safeName}.json`\n    }\n  };\n\n  return item;\n});\n"
      },
      "id": "ed52f4d3-ee48-482a-9455-e073cad4df8d",
      "name": "Convert JSON to Binary File",
      "type": "n8n-nodes-base.code",
      "position": [
        -1040,
        608
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "name": "={{ $json.name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Z4HA5yq63bNvoDnFS8zd2HPDvWI7TtT3",
          "mode": "list",
          "cachedResultName": "Workflow JSON Files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Z4HA5yq63bNvoDnFS8zd2HPDvWI7TtT3"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -848,
        608
      ],
      "id": "c8f92e69-be7d-4d84-9be6-c211b9e2c26d",
      "name": "Upload JSON to Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cO0NLqiTRlyGeXAH",
          "name": "WR: Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5dffcc1f-5136-4ae0-826b-b8d73dc56e18",
              "name": "n8n_id",
              "value": "={{ $('Convert JSON to Binary File').item.json.id }}",
              "type": "string"
            },
            {
              "id": "b187d35a-9ae3-46c9-bb08-bd3e07d9d0b8",
              "name": "drive_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "e76b5251-6955-4f7a-a986-35dae2912e2e",
              "name": "name",
              "value": "={{ $('Convert JSON to Binary File').item.json.name }}",
              "type": "string"
            },
            {
              "id": "09e140c2-9de6-4ede-b9e0-15689f941e1f",
              "name": "createdAt",
              "value": "={{ $('Convert JSON to Binary File').item.json.createdAt }}",
              "type": "string"
            },
            {
              "id": "eb108deb-01c6-4d70-9448-c093867d42f1",
              "name": "updatedAt",
              "value": "={{ $('Convert JSON to Binary File').item.json.updatedAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        608
      ],
      "id": "1e09a39c-63b8-4e58-a0fe-f8261a90f66b",
      "name": "Set Fields from JSON Binary to Google Drive"
    },
    {
      "parameters": {
        "jsCode": "const wf = items[0].json;\n\n// 1) Build filename from workflow name\nconst workflowName = wf.name || 'workflow';\nconst safeName = workflowName.replace(/[<>:\"/\\\\|?*]+/g, '').trim();\n\n// 2) JSON string (pretty format)\nconst jsonString = JSON.stringify(wf, null, 2);\n\n// 3) Convert to base64\nconst base64 = Buffer.from(jsonString, 'utf8').toString('base64');\n\n// 4) Return as binary \"data\"\nreturn [\n  {\n    json: {\n      workflowId: wf.id,\n      workflowName: wf.name,\n      fileName: `${safeName}.json`,\n      path: `workflows/${safeName}.json`,\n    },\n    binary: {\n      data: {\n        data: base64,\n        mimeType: 'application/json',\n        fileName: `${safeName}.json`,\n      },\n    },\n  },\n];\n"
      },
      "id": "f9aca105-0a32-475f-a363-f644a689c544",
      "name": "Prepare workflow JSON for GitHub commit",
      "type": "n8n-nodes-base.code",
      "position": [
        -1056,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=https://github.com/wr-group",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "=n8n-workflows\n",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "binaryData": true,
        "commitMessage": "first commit"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -848,
        352
      ],
      "id": "d7208511-99fc-4e05-981b-6608c55246d6",
      "name": "Upload JSON File to GitHub",
      "webhookId": "16e5f2e5-4072-4f0a-b013-a1d2b5e9b390",
      "credentials": {
        "githubOAuth2Api": {
          "id": "AyHRWMWHtltG24kr",
          "name": "WR: GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34775986-2867-4e53-b4b3-f6392d652107",
              "name": "github",
              "value": "={{ $json.content.html_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        352
      ],
      "id": "01bdceaa-5279-443a-a922-b7e00ce0854e",
      "name": "Set Field for GitHub URL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2c60222-d8ef-4753-b4a6-97ee1d55b6ab",
              "name": "drive_id",
              "value": "={{ $json.data[1].drive_id }}",
              "type": "string"
            },
            {
              "id": "6000cea5-f98c-4d75-9d38-e09d104bafb2",
              "name": "id",
              "value": "={{ $json.data[1].n8n_id }}",
              "type": "string"
            },
            {
              "id": "f7d93c15-f265-4ce5-96ff-1bdc1818c166",
              "name": "name",
              "value": "={{ $json.data[1].name }}",
              "type": "string"
            },
            {
              "id": "b7c6c7d4-ac5d-4964-9a33-d792393ef210",
              "name": "github_url",
              "value": "={{ $json.data[0].github }}",
              "type": "string"
            },
            {
              "id": "1c699d7d-6c69-4b92-a664-084513dfc879",
              "name": "createdAt",
              "value": "={{ $json.data[1].createdAt }}",
              "type": "string"
            },
            {
              "id": "69b38d9f-7ddd-40ef-a391-ce44cb480055",
              "name": "updatedAt",
              "value": "={{ $json.data[1].updatedAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        592
      ],
      "id": "46f0dde7-7c34-4dc4-bf7b-536b532caede",
      "name": "Final Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA",
          "mode": "list",
          "cachedResultName": "Backups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Title",
              "lookupValue": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1728,
        624
      ],
      "id": "490badd3-e789-45c9-b9cb-26f9621c4d92",
      "name": "Check Title If Exist in Workflow Sheet Tab",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4FmXrss6MgN5rzt",
          "name": "WR: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get all workflows and store in Google Drive and Github",
        "height": 608,
        "width": 3280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2816,
        288
      ],
      "typeVersion": 1,
      "id": "b34d76b2-992c-43af-8b3f-9be5916ee31a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA",
          "mode": "list",
          "cachedResultName": "Backups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Id",
              "lookupValue": "={{ $json.workflow_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2560,
        -416
      ],
      "id": "1dd48dc0-2970-47fd-97ee-60ff95878254",
      "name": "Check Title/Name Existence in Workflow Sheet Tab1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4FmXrss6MgN5rzt",
          "name": "WR: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "wr-group",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "=n8n-workflows"
        },
        "filePath": "={{ $json.path }}",
        "binaryData": true,
        "commitMessage": "=Backup workflow {{ $json.workflowName }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -2048,
        112
      ],
      "id": "0799d178-0195-4746-b7b2-359c02398c71",
      "name": "Workflow → GitHub File Builder",
      "webhookId": "6d34e561-d4d8-45ad-bad5-b38b775c223d",
      "credentials": {
        "githubOAuth2Api": {
          "id": "AyHRWMWHtltG24kr",
          "name": "WR: GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const wf = items[0].json;\n\n// Build filename from workflow name\nconst workflowName = wf.name || 'workflow';\nconst safeName = workflowName.replace(/[<>:\"/\\\\|?*]+/g, '').trim();\n\n// Convert full workflow JSON to formatted string\nconst jsonString = JSON.stringify(wf, null, 2);\n\n// Convert to base64\nconst base64 = Buffer.from(jsonString, 'utf8').toString('base64');\n\nreturn [\n  {\n    json: {\n      workflowId: wf.id,\n      workflowName: workflowName,\n      createdAt: wf.createdAt,\n      updatedAt: wf.updatedAt,\n    },\n    binary: {\n      data: {\n        data: base64,\n        mimeType: 'application/json',\n        fileName: `${safeName}.json`,\n      },\n    },\n  },\n];\n"
      },
      "id": "108d4404-35f6-41ec-849d-92486b3c181d",
      "name": "Prepare Workflow JSON for Google Drive",
      "type": "n8n-nodes-base.code",
      "position": [
        -2272,
        -160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const wf = items[0].json;\n\nconst workflowName = wf.name || 'workflow';\nconst safeName = workflowName.replace(/[<>:\"/\\\\|?*]+/g, '').trim();\n\nconst jsonString = JSON.stringify(wf, null, 2);\nconst base64 = Buffer.from(jsonString, 'utf8').toString('base64');\n\nreturn [\n  {\n    json: {\n      workflowId: wf.id,\n      workflowName: wf.name,\n      fileName: `${safeName}.json`,\n      path: `workflows/${safeName}.json`,\n    },\n    binary: {\n      data: {\n        data: base64,\n        mimeType: 'application/json',\n        fileName: `${safeName}.json`,\n      },\n    },\n  },\n];\n"
      },
      "id": "f549f253-edd0-4d5f-a0c6-a5dfa8bcdd7f",
      "name": "Prepare Workflow JSON for GitHub",
      "type": "n8n-nodes-base.code",
      "position": [
        -2272,
        112
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "name": "={{ $('n8n → Get Workflow by ID').item.json.name }}",
        "driveId": {
          "__rl": true,
          "value": "1HmBSAtGgcZLSbO2BxikQbvbzAcZzY7u9",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhnhttps://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhn",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2016,
        -160
      ],
      "id": "e84446a6-a51f-4837-bf6e-afd8620b843d",
      "name": "Google Drive File Builder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ukMqhBlcAttN3yTg",
          "name": "WR: Google Drive account Shop"
        }
      }
    },
    {
      "parameters": {
        "events": [
          "update"
        ]
      },
      "type": "n8n-nodes-base.n8nTrigger",
      "typeVersion": 1,
      "position": [
        -2768,
        -16
      ],
      "id": "e274d276-3b6d-40fd-9267-d2bab64689b7",
      "name": "n8n → Workflow Update Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.workflow_id }}"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2544,
        -16
      ],
      "id": "f7328883-e5a9-41d5-be6e-5f3b51683ef4",
      "name": "n8n → Get Workflow by ID",
      "credentials": {
        "n8nApi": {
          "id": "ct9VygkZ0SbgQP2e",
          "name": "WR: n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6252d26a-956d-48e5-8d55-7ae0cc10dca8",
              "name": "Id",
              "value": "={{ $json.Id }}",
              "type": "string"
            },
            {
              "id": "61467e1d-380e-41c1-bfd6-58cf1e9cabcc",
              "name": "Title",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "b1b03e7a-4b58-4e4d-bd9c-f5c906c476e6",
              "name": "N8N Url",
              "value": "={{ $json[\"N8N Url\"] }}",
              "type": "string"
            },
            {
              "id": "ffd58f13-1f8b-4f93-bbbe-b0704d697e6c",
              "name": "Github Url",
              "value": "={{ $json[\"Github Url\"] }}",
              "type": "string"
            },
            {
              "id": "cfa7919f-9ffe-4664-9137-51b896a4973a",
              "name": "Shared Url",
              "value": "={{ $json[\"Shared Url\"] }}",
              "type": "string"
            },
            {
              "id": "22559843-9588-4eb3-87cf-712b18b25b0a",
              "name": "Date Created",
              "value": "={{ $json[\"Date Created\"] }}",
              "type": "string"
            },
            {
              "id": "325ee922-cb84-4899-8bb8-e0a720bd2363",
              "name": "Last Modified",
              "value": "={{ $json[\"Last Modified\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2304,
        -416
      ],
      "id": "511a8d3d-7181-4a41-b594-a9ec59964f4a",
      "name": "Extract Drive File ID from Sheet"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json[\"Shared Url\"] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2064,
        -416
      ],
      "id": "4439b808-3c60-47c4-9edb-6abc3dcc3345",
      "name": "Delete Existing Drive Backup",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ukMqhBlcAttN3yTg",
          "name": "WR: Google Drive account Shop"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1760,
        -32
      ],
      "id": "ffaca69a-c406-4319-bcfa-1e0910e5e238",
      "name": "Merge1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1552,
        -32
      ],
      "id": "9f3cdb51-8b7a-4f72-adad-96168b7b689c",
      "name": "Aggregate1"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get many n8n workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Title If Exist in Workflow Sheet Tab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many n8n workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Final Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many n8n workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route if Workflow Exists": {
      "main": [
        [
          {
            "node": "Get Workflow by ID",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Workflow by ID": {
      "main": [
        [
          {
            "node": "Prepare workflow JSON for GitHub commit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert JSON to Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert JSON to Binary File": {
      "main": [
        [
          {
            "node": "Upload JSON to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload JSON to Google Drive": {
      "main": [
        [
          {
            "node": "Set Fields from JSON Binary to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields from JSON Binary to Google Drive": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare workflow JSON for GitHub commit": {
      "main": [
        [
          {
            "node": "Upload JSON File to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload JSON File to GitHub": {
      "main": [
        [
          {
            "node": "Set Field for GitHub URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Field for GitHub URL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Title If Exist in Workflow Sheet Tab": {
      "main": [
        [
          {
            "node": "Route if Workflow Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Title/Name Existence in Workflow Sheet Tab1": {
      "main": [
        [
          {
            "node": "Extract Drive File ID from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow → GitHub File Builder": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Workflow JSON for Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive File Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Workflow JSON for GitHub": {
      "main": [
        [
          {
            "node": "Workflow → GitHub File Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Builder": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n → Workflow Update Trigger": {
      "main": [
        [
          {
            "node": "n8n → Get Workflow by ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Title/Name Existence in Workflow Sheet Tab1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n → Get Workflow by ID": {
      "main": [
        [
          {
            "node": "Prepare Workflow JSON for GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Workflow JSON for Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Drive File ID from Sheet": {
      "main": [
        [
          {
            "node": "Delete Existing Drive Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Existing Drive Backup": {
      "main": [
        []
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "aa2e97d2-25bb-465a-807f-9201b48f561f",
  "activeVersionId": "1af24fc7-1c21-474e-b9d4-cc5745bbd061",
  "versionCounter": 467,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-13T05:57:44.364Z",
      "createdAt": "2026-01-13T05:57:44.364Z",
      "role": "workflow:owner",
      "workflowId": "VO009CqRh4IAVzmP",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T07:49:25.938Z",
            "createdAt": "2025-11-14T07:49:25.938Z",
            "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
            "projectId": "6TsYTzg0HY92xH2K",
            "user": {
              "updatedAt": "2026-02-11T14:10:56.000Z",
              "createdAt": "2025-11-14T07:49:14.641Z",
              "id": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
              "email": "windowrevival@gmail.com",
              "firstName": "Christine",
              "lastName": "Kam",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T08:34:38.735Z",
                "personalization_survey_n8n_version": "1.119.1",
                "automationGoalDevops": [
                  "reporting",
                  "other"
                ],
                "automationGoalDevopsOther": "Automate all apps",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZwjGOdSLvNlPoB1E",
                "userActivatedAt": 1763281773859,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763554974919
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-01-13T05:57:42.279Z",
      "createdAt": "2026-01-13T05:57:42.279Z",
      "id": "5XsA5sivBhdIUy04",
      "name": "YouTube"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-11T05:47:23.000Z",
    "createdAt": "2026-02-11T05:46:50.137Z",
    "versionId": "1af24fc7-1c21-474e-b9d4-cc5745bbd061",
    "workflowId": "VO009CqRh4IAVzmP",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -2832,
          832
        ],
        "id": "98ef7108-be81-4eab-ba28-eaea18f6c5aa",
        "name": "When clicking ‘Test workflow’"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "23044feb-1e63-4888-994c-f2a2248551fc",
                "leftValue": "={{ $json[\"Last Modified\"] }}",
                "rightValue": "={{ $('Get many n8n workflows').item.json.updatedAt }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1664,
          512
        ],
        "id": "f7667d50-dc98-4d94-ac85-774f78a6aaae",
        "name": "updated or not",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "={{ $('updated or not').item.json['N8N Url'] }}",
            "mode": "url"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -1248,
          608
        ],
        "id": "f7328883-e5a9-41d5-be6e-5f3b51683ef4",
        "name": "n8n2",
        "credentials": {
          "n8nApi": {
            "id": "ct9VygkZ0SbgQP2e",
            "name": "WR: n8n account"
          }
        }
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -2224,
          752
        ],
        "id": "02776dc4-9074-47af-9d37-c3e4c2983aa4",
        "name": "Wait",
        "webhookId": "4e6da3b8-0f5e-418c-9d2d-12d53e17bbcf"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 1
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -2832,
          656
        ],
        "id": "6639090a-b67c-4bbc-a12c-3f51d04b3ab5",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -800,
          960
        ],
        "id": "d81585cf-916c-4397-bd7a-9ebb712d2558",
        "name": "Merge"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -608,
          960
        ],
        "id": "03fd3e27-b8c8-495f-b1e8-ce2e17240375",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "name": "={{ $('n8n2').item.json.name }}",
          "driveId": {
            "__rl": true,
            "value": "1HmBSAtGgcZLSbO2BxikQbvbzAcZzY7u9",
            "mode": "id"
          },
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhnhttps://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhn",
            "mode": "url"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -800,
          704
        ],
        "id": "e84446a6-a51f-4837-bf6e-afd8620b843d",
        "name": "Upload file1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "ukMqhBlcAttN3yTg",
            "name": "WR: Google Drive account Shop"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "https://github.com/Peter-Aistralis",
            "mode": "url"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Route if Workflow Exists').first()\n.json.Tag }}",
            "mode": "name"
          },
          "filePath": "={{ $('n8n2').first().json.name }}",
          "binaryData": true,
          "commitMessage": "Change commit by Peter"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -800,
          528
        ],
        "id": "0799d178-0195-4746-b7b2-359c02398c71",
        "name": "Edit a file",
        "webhookId": "6d34e561-d4d8-45ad-bad5-b38b775c223d",
        "credentials": {
          "githubOAuth2Api": {
            "id": "AyHRWMWHtltG24kr",
            "name": "WR: GitHub account"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ",
            "mode": "list",
            "cachedResultName": "Backups",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Title": "={{ $('n8n2').item.json.name }}",
              "Last modified": "={{ $('n8n2').item.json.updatedAt }}",
              "Shared Url": "=https://drive.google.com/file/d/{{ $json.id }}"
            },
            "matchingColumns": [
              "Title"
            ],
            "schema": [
              {
                "id": "Title",
                "displayName": "Title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Tag",
                "displayName": "Tag",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Date Created",
                "displayName": "Date Created",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last modified",
                "displayName": "Last modified",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "N8N Url",
                "displayName": "N8N Url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Github Url",
                "displayName": "Github Url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Shared Url",
                "displayName": "Shared Url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -416,
          704
        ],
        "id": "0e5bbdfe-0a34-4531-8132-9242a41beaff",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "iNsBYYAG0CoB29qK",
            "name": "WR: Google Sheets Shop"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA",
            "mode": "list",
            "cachedResultName": "Backups",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Workflow",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Github Url": "={{ $json.github }}",
              "Title": "={{ $json.data[1].name }}",
              "Tag": "={{ $json.data[1].tag }}",
              "Date Created": "={{ $json.data[1].createdAt }}",
              "Last Modified": "={{ $json.data[1].updatedAt }}",
              "N8N Url": "=https://n8n.srv1127913.hstgr.cloud/workflow/{{ $json.data[1].n8n_id }}",
              "Shared Url": "=https://drive.google.com/file/d/{{ $json.data[1].drive_id }}/view?usp=drive_link "
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Title",
                "displayName": "Title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Tag",
                "displayName": "Tag",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Date Created",
                "displayName": "Date Created",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last Modified",
                "displayName": "Last Modified",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "N8N Url",
                "displayName": "N8N Url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Github Url",
                "displayName": "Github Url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Shared Url",
                "displayName": "Shared Url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -224,
          960
        ],
        "id": "c7273ce5-072e-454c-b22d-257b8fce43be",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "S4FmXrss6MgN5rzt",
            "name": "WR: Google Sheets Account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -2448,
          736
        ],
        "id": "4cd79763-8bbc-4f70-9fae-9a31aef9b186",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "amount": 0.5
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -608,
          704
        ],
        "id": "69a35516-a8df-4457-9e0f-80802b5db48b",
        "name": "Wait1",
        "webhookId": "801c9260-f7a8-4b73-afba-6a8c61e280a1"
      },
      {
        "parameters": {
          "operation": "deleteFile",
          "fileId": {
            "__rl": true,
            "value": "={{ $json['Shared Url'] }}",
            "mode": "url"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -1456,
          608
        ],
        "id": "4439b808-3c60-47c4-9edb-6abc3dcc3345",
        "name": "Delete a file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "ukMqhBlcAttN3yTg",
            "name": "WR: Google Drive account Shop"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const jsonString = JSON.stringify(items[0].json, null, 2); // keeps indentation\nconst dataBuffer = Buffer.from(jsonString);\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: dataBuffer.toString('base64'),\n        fileName: 'workflow.json',\n        mimeType: 'application/json',\n      },\n    },\n    json: {}, // optional, can include metadata\n  },\n];\n"
        },
        "id": "f549f253-edd0-4d5f-a0c6-a5dfa8bcdd7f",
        "name": "Code6",
        "type": "n8n-nodes-base.code",
        "position": [
          -1040,
          528
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"
        },
        "id": "108d4404-35f6-41ec-849d-92486b3c181d",
        "name": "Code",
        "type": "n8n-nodes-base.code",
        "position": [
          -1040,
          704
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -2640,
          736
        ],
        "id": "bab6ee88-351d-46f8-920f-24bbe9e09865",
        "name": "Get many n8n workflows",
        "credentials": {
          "n8nApi": {
            "id": "ct9VygkZ0SbgQP2e",
            "name": "WR: n8n account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA",
            "mode": "list",
            "cachedResultName": "Backups",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Workflow",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Title",
                "lookupValue": "={{ $json.name }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -2032,
          752
        ],
        "id": "490badd3-e789-45c9-b9cb-26f9621c4d92",
        "name": "Check Title/Name Existence in Workflow Sheet Tab",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "S4FmXrss6MgN5rzt",
            "name": "WR: Google Sheets Account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "a8195660-b59a-440c-8114-ff6377a536b0",
                "leftValue": "={{ Object.keys($json).length > 0 }}\n",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1824,
          752
        ],
        "id": "af4d7956-9a31-4d8a-9106-a22ba7df594d",
        "name": "Route if Workflow Exists"
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "={{ $('Wait').item.json.id }}",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -1664,
          976
        ],
        "id": "946b3599-509d-4ea5-b6ac-99e9b34410e6",
        "name": "Get Workflow by ID",
        "alwaysOutputData": true,
        "credentials": {
          "n8nApi": {
            "id": "ct9VygkZ0SbgQP2e",
            "name": "WR: n8n account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n\n  // Get workflow name safely\n  const workflowName = item.json.name || 'workflow';\n\n  // Optional: sanitize filename (remove illegal characters)\n  const safeName = workflowName.replace(/[<>:\"/\\\\|?*]+/g, '');\n\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: `${safeName}.json`\n    }\n  };\n\n  return item;\n});\n"
        },
        "id": "ed52f4d3-ee48-482a-9455-e073cad4df8d",
        "name": "Convert JSON to Binary File",
        "type": "n8n-nodes-base.code",
        "position": [
          -1456,
          1104
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "name": "={{ $json.name }}",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1Z4HA5yq63bNvoDnFS8zd2HPDvWI7TtT3",
            "mode": "list",
            "cachedResultName": "Workflow JSON Files",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Z4HA5yq63bNvoDnFS8zd2HPDvWI7TtT3"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -1248,
          1104
        ],
        "id": "c8f92e69-be7d-4d84-9be6-c211b9e2c26d",
        "name": "Upload JSON to Google Drive",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "cO0NLqiTRlyGeXAH",
            "name": "WR: Google Drive Account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b187d35a-9ae3-46c9-bb08-bd3e07d9d0b8",
                "name": "drive_id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "09e140c2-9de6-4ede-b9e0-15689f941e1f",
                "name": "createdAt",
                "value": "={{ $('Convert JSON to Binary File').item.json.createdAt }}",
                "type": "string"
              },
              {
                "id": "eb108deb-01c6-4d70-9448-c093867d42f1",
                "name": "updatedAt",
                "value": "={{ $('Convert JSON to Binary File').item.json.updatedAt }}",
                "type": "string"
              },
              {
                "id": "5dffcc1f-5136-4ae0-826b-b8d73dc56e18",
                "name": "n8n_id",
                "value": "={{ $('Convert JSON to Binary File').item.json.id }}",
                "type": "string"
              },
              {
                "id": "e76b5251-6955-4f7a-a986-35dae2912e2e",
                "name": "name",
                "value": "={{ $('Convert JSON to Binary File').item.json.name }}",
                "type": "string"
              },
              {
                "id": "c537c5d0-8d23-41a9-975b-81296ac030a6",
                "name": "tag",
                "value": "={{ $('Convert JSON to Binary File').item.json.shared[0].project.projectRelations[0].user.personalizationAnswers.reportedSource }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1040,
          1104
        ],
        "id": "1e09a39c-63b8-4e58-a0fe-f8261a90f66b",
        "name": "Set Fields from JSON Binary to Google Drive"
      },
      {
        "parameters": {
          "jsCode": "const wf = items[0].json;\n\n// 1) Build filename from workflow name\nconst workflowName = wf.name || 'workflow';\nconst safeName = workflowName.replace(/[<>:\"/\\\\|?*]+/g, '').trim();\n\n// 2) JSON string (pretty format)\nconst jsonString = JSON.stringify(wf, null, 2);\n\n// 3) Convert to base64\nconst base64 = Buffer.from(jsonString, 'utf8').toString('base64');\n\n// 4) Return as binary \"data\"\nreturn [\n  {\n    json: {\n      workflowId: wf.id,\n      workflowName: wf.name,\n      fileName: `${safeName}.json`,\n      path: `workflows/${safeName}.json`,\n    },\n    binary: {\n      data: {\n        data: base64,\n        mimeType: 'application/json',\n        fileName: `${safeName}.json`,\n      },\n    },\n  },\n];\n"
        },
        "id": "f9aca105-0a32-475f-a363-f644a689c544",
        "name": "Prepare workflow JSON for GitHub commit",
        "type": "n8n-nodes-base.code",
        "position": [
          -1456,
          848
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "=https://github.com/wr-group",
            "mode": "url"
          },
          "repository": {
            "__rl": true,
            "value": "=n8n-workflows\n",
            "mode": "name"
          },
          "filePath": "={{ $json.path }}",
          "binaryData": true,
          "commitMessage": "first commit"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1248,
          848
        ],
        "id": "d7208511-99fc-4e05-981b-6608c55246d6",
        "name": "Upload JSON File to GitHub",
        "webhookId": "16e5f2e5-4072-4f0a-b013-a1d2b5e9b390",
        "credentials": {
          "githubOAuth2Api": {
            "id": "AyHRWMWHtltG24kr",
            "name": "WR: GitHub account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "34775986-2867-4e53-b4b3-f6392d652107",
                "name": "github",
                "value": "={{ $json.content.html_url }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1040,
          848
        ],
        "id": "01bdceaa-5279-443a-a922-b7e00ce0854e",
        "name": "Set Field for GitHub URL"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b7c6c7d4-ac5d-4964-9a33-d792393ef210",
                "name": "github",
                "value": "={{ $json.data[0].github }}",
                "type": "string"
              },
              {
                "id": "b2c60222-d8ef-4753-b4a6-97ee1d55b6ab",
                "name": "data[1].drive_id",
                "value": "={{ $json.data[1].drive_id }}",
                "type": "string"
              },
              {
                "id": "1c699d7d-6c69-4b92-a664-084513dfc879",
                "name": "data[1].createdAt",
                "value": "={{ $json.data[1].createdAt }}",
                "type": "string"
              },
              {
                "id": "69b38d9f-7ddd-40ef-a391-ce44cb480055",
                "name": "data[1].updatedAt",
                "value": "={{ $json.data[1].updatedAt }}",
                "type": "string"
              },
              {
                "id": "6000cea5-f98c-4d75-9d38-e09d104bafb2",
                "name": "data[1].n8n_id",
                "value": "={{ $json.data[1].n8n_id }}",
                "type": "string"
              },
              {
                "id": "f7d93c15-f265-4ce5-96ff-1bdc1818c166",
                "name": "data[1].name",
                "value": "={{ $json.data[1].name }}",
                "type": "string"
              },
              {
                "id": "09d3b016-c290-4b09-aba1-5f6db4fd61a7",
                "name": "data[1].tag",
                "value": "={{ $json.data[1].tag }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -416,
          960
        ],
        "id": "46f0dde7-7c34-4dc4-bf7b-536b532caede",
        "name": "Final Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d25bc78-5383-43fc-997a-6f110714385f",
                "name": "ok",
                "value": "okay",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          0
        ],
        "id": "2287f891-4d24-4181-8aa1-34b868198896",
        "name": "Response Fields"
      },
      {
        "parameters": {
          "events": [
            "init"
          ]
        },
        "type": "n8n-nodes-base.n8nTrigger",
        "typeVersion": 1,
        "position": [
          -912,
          944
        ],
        "id": "e274d276-3b6d-40fd-9267-d2bab64689b7",
        "name": "n8n Trigger"
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Get many n8n workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "updated or not": {
        "main": [
          [
            {
              "node": "Response Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Delete a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n2": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Check Title/Name Existence in Workflow Sheet Tab",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many n8n workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Final Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload file1": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit a file": {
        "main": [
          [
            {
              "node": "Response Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet": {
        "main": [
          [
            {
              "node": "Response Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Response Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete a file": {
        "main": [
          [
            {
              "node": "n8n2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Upload file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code6": {
        "main": [
          [
            {
              "node": "Edit a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many n8n workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Title/Name Existence in Workflow Sheet Tab": {
        "main": [
          [
            {
              "node": "Route if Workflow Exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route if Workflow Exists": {
        "main": [
          [
            {
              "node": "updated or not",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Workflow by ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Workflow by ID": {
        "main": [
          [
            {
              "node": "Prepare workflow JSON for GitHub commit",
              "type": "main",
              "index": 0
            },
            {
              "node": "Convert JSON to Binary File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert JSON to Binary File": {
        "main": [
          [
            {
              "node": "Upload JSON to Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload JSON to Google Drive": {
        "main": [
          [
            {
              "node": "Set Fields from JSON Binary to Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Fields from JSON Binary to Google Drive": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Prepare workflow JSON for GitHub commit": {
        "main": [
          [
            {
              "node": "Upload JSON File to GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload JSON File to GitHub": {
        "main": [
          [
            {
              "node": "Set Field for GitHub URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Field for GitHub URL": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Final Fields": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Response Fields": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Christine Kam",
    "name": "Version 1af24fc7",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-11T05:47:23.053Z",
        "id": 147,
        "workflowId": "VO009CqRh4IAVzmP",
        "versionId": "1af24fc7-1c21-474e-b9d4-cc5745bbd061",
        "event": "activated",
        "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b"
      }
    ]
  }
}