workflows/06 Webforms.json
{
  "updatedAt": "2025-12-23T15:59:02.660Z",
  "createdAt": "2025-12-23T12:49:31.632Z",
  "id": "yqapTUQMIUnzdVkI",
  "name": "06 Webforms",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/contact",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        256
      ],
      "id": "24fdbac1-b0dd-46be-becd-13b10fb18f1b",
      "name": "Webhook",
      "webhookId": "2a56bb91-d1c0-4d46-a563-06a53559e908",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OQFGuXyVksyRgtdR",
          "name": "DP Webform: Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ensure body exists\nif (!$json.body || typeof $json.body !== \"object\") {\n  throw new Error(\"Invalid request: body is missing or not an object\");\n}\n\n// Destructure only what we need from body\nconst {\n  name = \"\",\n  email = \"\",\n  message = \"\",\n} = $json.body;\n\n// Return ONLY the body fields (clean)\nreturn [\n  {\n    name: String(name).trim(),\n    email: String(email).trim().toLowerCase(),\n    message: String(message).trim(),\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        256
      ],
      "id": "c44ebf50-6ba6-45a9-9af9-633fb780bc14",
      "name": "Normalize incoming data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f48ba569-c4e1-45e2-9393-be4d5070679e",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "364747f4-3bda-4add-85bf-87ce8105a042",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        256
      ],
      "id": "2f70cb75-eece-4138-91c9-16a93e3b37c3",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "258a99bc-35ba-4a4b-b86f-111b2a3b4e2a",
              "name": "body.name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "58b876ef-ad56-4b43-9d40-a965dc47a33b",
              "name": "body.email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "3c499856-3e9f-4d78-9d8e-82392893dc41",
              "name": "body.message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        160
      ],
      "id": "e85546c2-9b14-459c-9562-9026b6d1f653",
      "name": "Map Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a JSON object with the following structure and nothing else:\n\n{\n  \"customer\": {\n    \"name\": \"<customer full name>\",\n    \"email\": \"<customer email>\",\n    \"message\": \"<customer original message>\"\n  },\n  \"reply\": {\n    \"subject\": \"<email subject line>\",\n    \"greeting\": \"<short greeting using first name>\",\n    \"body\": \"<main reply content>\",\n    \"closing\": \"<short friendly closing line>\",\n    \"signature\": {\n      \"name\": \"Don Puerto\",\n      \"title\": \"CEO & Marketing Manager\"\n    }\n  }\n}\n\nRules for the subject:\n- 4–10 words\n- Friendly and professional\n- Acknowledge message received\n- Vary wording naturally\n\nRules for the greeting:\n- Must address the customer by first name\n- Example: \"Hi John,\"\n\nRules for the body:\n- 2–3 short paragraphs worth of content\n- Acknowledge receipt of the inquiry\n- Thank the customer for reaching out\n- Inform them the team will follow up soon\n- Professional, friendly, human tone\n- Do NOT mention automation tools or systems\n\nRules for the closing:\n- One short friendly sentence\n- Example: \"Looking forward to connecting with you.\"\n\nRules for the signature:\n- Use exactly:\n  Name: Don Puerto\n  Title: CEO & Marketing Manager\n\nCustomer input:\nName: {{ $json.body.name }}\nEmail: {{ $json.body.email }}\nMessage: {{ $json.body.message }}\n",
        "options": {
          "systemMessage": "You are a helpful marketing agency assistant. Write short, friendly, professional replies.\nDo not mention automation tools. Do not promise timelines. Keep it human.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        576,
        160
      ],
      "id": "2515552b-d688-41a7-a466-a0550054a45c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        584,
        384
      ],
      "id": "b1364c85-c4e5-4acb-9999-68dfd2113449",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oQQrCQWqdo1CuRzx",
          "name": "WRai: OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        712,
        384
      ],
      "id": "cb56855a-f40f-4cb6-8e54-b03bb86b9319",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customerEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "text",
        "message": "={{ $json.replyText }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        352
      ],
      "id": "6138d48d-f24a-48f3-a4fd-75327f343156",
      "name": "Send a message",
      "webhookId": "0edb7d9b-dce4-46a8-8f3d-b5e796782fbe",
      "credentials": {
        "gmailOAuth2": {
          "id": "tvZNiokteyY9YL2F",
          "name": "DP: Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HwxGab8irpLQJOfwp9PMyUM6CRKvvOJev5ZFZ8aQbx4",
          "mode": "list",
          "cachedResultName": "AI Automation Agency Philippines",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HwxGab8irpLQJOfwp9PMyUM6CRKvvOJev5ZFZ8aQbx4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HwxGab8irpLQJOfwp9PMyUM6CRKvvOJev5ZFZ8aQbx4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestampPH }}",
            "Name": "={{ $json.customerName }}",
            "Email": "={{ $json.customerEmail }}",
            "Customer Message": "={{ $json.customerMessage }}",
            "Reply Message": "={{ $json.replyText }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Message",
              "displayName": "Customer Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reply Message",
              "displayName": "Reply Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        160
      ],
      "id": "ed11a9fb-eb26-487a-9b34-789ea3b5bad6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RRNmKm9jykjmWDBq",
          "name": "DP: Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": false,\n  \"message\": \"Workflow failed\",\n  \"debug\": {\n    \"node\": \"{{ $json._debugNode || $node.name }}\",\n    \"errorMessage\": \"{{ $json.message || $json.error?.message || 'unknown' }}\",\n    \"errorType\": \"{{ $json.error?.name || $json.name || 'Error' }}\",\n    \"stack\": \"{{ $json.error?.stack || '' }}\",\n    \"statusCode\": \"{{ $json.statusCode || $json.error?.statusCode || '' }}\"\n  }\n}\n",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        352,
        352
      ],
      "id": "3be6026e-a769-4f5f-bec4-1b5a59b002b3",
      "name": "Fail Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \n  \"ok\": true, \n  \"message\": \"Thanks! We received your inquiry.\" \n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1152,
        -32
      ],
      "id": "8dd62326-5565-4da4-93d6-22134e6d7f66",
      "name": "Success Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.output;\n\n// Safety check\nif (!raw) {\n  throw new Error(\"AI output is empty\");\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (err) {\n  throw new Error(\"Failed to parse AI JSON output: \" + err.message);\n}\n\n// Extract fields safely\nconst customer = parsed.customer || {};\nconst reply = parsed.reply || {};\n\n// Pull structured parts\nconst greeting = String(reply.greeting || \"\").trim();\nconst body = String(reply.body || \"\").trim();\nconst closing = String(reply.closing || \"\").trim();\nconst sig = reply.signature || {};\n\nconst sigName = String(sig.name || \"Don Puerto\").trim();\nconst sigTitle = String(sig.title || \"CEO & Marketing Manager\").trim();\n\n// Build clean TEXT email body\nlet replyText = [greeting, body, closing]\n  .filter(Boolean)\n  .join(\"\\n\\n\")\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\n{3,}/g, \"\\n\\n\")\n  .trim();\n\n// Append signature (EXACT format requested)\nreplyText = `${replyText}\n\nBest regards,\n${sigName}\n${sigTitle}`;\n\n// Philippines / Davao City timestamp (for logs only)\nconst timestampPH = new Intl.DateTimeFormat(\"en-PH\", {\n  timeZone: \"Asia/Manila\",\n  year: \"numeric\",\n  month: \"2-digit\",\n  day: \"2-digit\",\n  hour: \"2-digit\",\n  minute: \"2-digit\",\n  second: \"2-digit\",\n  hour12: false,\n}).format(new Date());\n\nreturn [\n  {\n    customerName: customer.name || \"\",\n    customerEmail: customer.email || \"\",\n    customerMessage: customer.message || \"\",\n    emailSubject: reply.subject || \"Thanks for reaching out\",\n    replyText, // ✅ plain-text email body\n    timestampPH,\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        160
      ],
      "id": "7b6dc0be-400f-4455-81ad-bdce0a435df7",
      "name": "Parse AI Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize incoming data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize incoming data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Map Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Fail Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Success Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1617cf13-bb5a-475e-b6a1-a74c26a12e33",
  "activeVersionId": "1617cf13-bb5a-475e-b6a1-a74c26a12e33",
  "versionCounter": 54,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-23T12:49:31.639Z",
      "createdAt": "2025-12-23T12:49:31.639Z",
      "role": "workflow:owner",
      "workflowId": "yqapTUQMIUnzdVkI",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T07:49:25.938Z",
            "createdAt": "2025-11-14T07:49:25.938Z",
            "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
            "projectId": "6TsYTzg0HY92xH2K",
            "user": {
              "updatedAt": "2026-02-10T14:01:06.000Z",
              "createdAt": "2025-11-14T07:49:14.641Z",
              "id": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
              "email": "windowrevival@gmail.com",
              "firstName": "Christine",
              "lastName": "Kam",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T08:34:38.735Z",
                "personalization_survey_n8n_version": "1.119.1",
                "automationGoalDevops": [
                  "reporting",
                  "other"
                ],
                "automationGoalDevopsOther": "Automate all apps",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZwjGOdSLvNlPoB1E",
                "userActivatedAt": 1763281773859,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763554974919
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-24T01:38:31.000Z",
    "createdAt": "2025-12-23T15:46:10.231Z",
    "versionId": "1617cf13-bb5a-475e-b6a1-a74c26a12e33",
    "workflowId": "yqapTUQMIUnzdVkI",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "api/contact",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -320,
          256
        ],
        "id": "24fdbac1-b0dd-46be-becd-13b10fb18f1b",
        "name": "Webhook",
        "webhookId": "2a56bb91-d1c0-4d46-a563-06a53559e908",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OQFGuXyVksyRgtdR",
            "name": "DP Webform: Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Ensure body exists\nif (!$json.body || typeof $json.body !== \"object\") {\n  throw new Error(\"Invalid request: body is missing or not an object\");\n}\n\n// Destructure only what we need from body\nconst {\n  name = \"\",\n  email = \"\",\n  message = \"\",\n} = $json.body;\n\n// Return ONLY the body fields (clean)\nreturn [\n  {\n    name: String(name).trim(),\n    email: String(email).trim().toLowerCase(),\n    message: String(message).trim(),\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -96,
          256
        ],
        "id": "c44ebf50-6ba6-45a9-9af9-633fb780bc14",
        "name": "Normalize incoming data"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f48ba569-c4e1-45e2-9393-be4d5070679e",
                "leftValue": "={{ $json.email }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "364747f4-3bda-4add-85bf-87ce8105a042",
                "leftValue": "={{ $json.message }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          128,
          256
        ],
        "id": "2f70cb75-eece-4138-91c9-16a93e3b37c3",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "258a99bc-35ba-4a4b-b86f-111b2a3b4e2a",
                "name": "body.name",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "58b876ef-ad56-4b43-9d40-a965dc47a33b",
                "name": "body.email",
                "value": "={{ $json.email }}",
                "type": "string"
              },
              {
                "id": "3c499856-3e9f-4d78-9d8e-82392893dc41",
                "name": "body.message",
                "value": "={{ $json.message }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          352,
          160
        ],
        "id": "e85546c2-9b14-459c-9562-9026b6d1f653",
        "name": "Map Fields"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Generate a JSON object with the following structure and nothing else:\n\n{\n  \"customer\": {\n    \"name\": \"<customer full name>\",\n    \"email\": \"<customer email>\",\n    \"message\": \"<customer original message>\"\n  },\n  \"reply\": {\n    \"subject\": \"<email subject line>\",\n    \"greeting\": \"<short greeting using first name>\",\n    \"body\": \"<main reply content>\",\n    \"closing\": \"<short friendly closing line>\",\n    \"signature\": {\n      \"name\": \"Don Puerto\",\n      \"title\": \"CEO & Marketing Manager\"\n    }\n  }\n}\n\nRules for the subject:\n- 4–10 words\n- Friendly and professional\n- Acknowledge message received\n- Vary wording naturally\n\nRules for the greeting:\n- Must address the customer by first name\n- Example: \"Hi John,\"\n\nRules for the body:\n- 2–3 short paragraphs worth of content\n- Acknowledge receipt of the inquiry\n- Thank the customer for reaching out\n- Inform them the team will follow up soon\n- Professional, friendly, human tone\n- Do NOT mention automation tools or systems\n\nRules for the closing:\n- One short friendly sentence\n- Example: \"Looking forward to connecting with you.\"\n\nRules for the signature:\n- Use exactly:\n  Name: Don Puerto\n  Title: CEO & Marketing Manager\n\nCustomer input:\nName: {{ $json.body.name }}\nEmail: {{ $json.body.email }}\nMessage: {{ $json.body.message }}\n",
          "options": {
            "systemMessage": "You are a helpful marketing agency assistant. Write short, friendly, professional replies.\nDo not mention automation tools. Do not promise timelines. Keep it human.\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          576,
          160
        ],
        "id": "2515552b-d688-41a7-a466-a0550054a45c",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          584,
          384
        ],
        "id": "b1364c85-c4e5-4acb-9999-68dfd2113449",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "oQQrCQWqdo1CuRzx",
            "name": "WRai: OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "1"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          712,
          384
        ],
        "id": "cb56855a-f40f-4cb6-8e54-b03bb86b9319",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "sendTo": "={{ $json.customerEmail }}",
          "subject": "={{ $json.emailSubject }}",
          "emailType": "text",
          "message": "={{ $json.replyText }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1152,
          352
        ],
        "id": "6138d48d-f24a-48f3-a4fd-75327f343156",
        "name": "Send a message",
        "webhookId": "0edb7d9b-dce4-46a8-8f3d-b5e796782fbe",
        "credentials": {
          "gmailOAuth2": {
            "id": "tvZNiokteyY9YL2F",
            "name": "DP: Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1HwxGab8irpLQJOfwp9PMyUM6CRKvvOJev5ZFZ8aQbx4",
            "mode": "list",
            "cachedResultName": "AI Automation Agency Philippines",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HwxGab8irpLQJOfwp9PMyUM6CRKvvOJev5ZFZ8aQbx4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HwxGab8irpLQJOfwp9PMyUM6CRKvvOJev5ZFZ8aQbx4/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Timestamp": "={{ $json.timestampPH }}",
              "Name": "={{ $json.customerName }}",
              "Email": "={{ $json.customerEmail }}",
              "Customer Message": "={{ $json.customerMessage }}",
              "Reply Message": "={{ $json.replyText }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Name",
                "displayName": "Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Customer Message",
                "displayName": "Customer Message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Reply Message",
                "displayName": "Reply Message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1152,
          160
        ],
        "id": "ed11a9fb-eb26-487a-9b34-789ea3b5bad6",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RRNmKm9jykjmWDBq",
            "name": "DP: Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"ok\": false,\n  \"message\": \"Workflow failed\",\n  \"debug\": {\n    \"node\": \"{{ $json._debugNode || $node.name }}\",\n    \"errorMessage\": \"{{ $json.message || $json.error?.message || 'unknown' }}\",\n    \"errorType\": \"{{ $json.error?.name || $json.name || 'Error' }}\",\n    \"stack\": \"{{ $json.error?.stack || '' }}\",\n    \"statusCode\": \"{{ $json.statusCode || $json.error?.statusCode || '' }}\"\n  }\n}\n",
          "options": {
            "responseCode": 500
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          352,
          352
        ],
        "id": "3be6026e-a769-4f5f-bec4-1b5a59b002b3",
        "name": "Fail Respond to Webhook"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{ \n  \"ok\": true, \n  \"message\": \"Thanks! We received your inquiry.\" \n}\n",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1152,
          -32
        ],
        "id": "8dd62326-5565-4da4-93d6-22134e6d7f66",
        "name": "Success Respond to Webhook"
      },
      {
        "parameters": {
          "jsCode": "let raw = $json.output;\n\n// Safety check\nif (!raw) {\n  throw new Error(\"AI output is empty\");\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (err) {\n  throw new Error(\"Failed to parse AI JSON output: \" + err.message);\n}\n\n// Extract fields safely\nconst customer = parsed.customer || {};\nconst reply = parsed.reply || {};\n\n// Pull structured parts\nconst greeting = String(reply.greeting || \"\").trim();\nconst body = String(reply.body || \"\").trim();\nconst closing = String(reply.closing || \"\").trim();\nconst sig = reply.signature || {};\n\nconst sigName = String(sig.name || \"Don Puerto\").trim();\nconst sigTitle = String(sig.title || \"CEO & Marketing Manager\").trim();\n\n// Build clean TEXT email body\nlet replyText = [greeting, body, closing]\n  .filter(Boolean)\n  .join(\"\\n\\n\")\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\n{3,}/g, \"\\n\\n\")\n  .trim();\n\n// Append signature (EXACT format requested)\nreplyText = `${replyText}\n\nBest regards,\n${sigName}\n${sigTitle}`;\n\n// Philippines / Davao City timestamp (for logs only)\nconst timestampPH = new Intl.DateTimeFormat(\"en-PH\", {\n  timeZone: \"Asia/Manila\",\n  year: \"numeric\",\n  month: \"2-digit\",\n  day: \"2-digit\",\n  hour: \"2-digit\",\n  minute: \"2-digit\",\n  second: \"2-digit\",\n  hour12: false,\n}).format(new Date());\n\nreturn [\n  {\n    customerName: customer.name || \"\",\n    customerEmail: customer.email || \"\",\n    customerMessage: customer.message || \"\",\n    emailSubject: reply.subject || \"Thanks for reaching out\",\n    replyText, // ✅ plain-text email body\n    timestampPH,\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          928,
          160
        ],
        "id": "7b6dc0be-400f-4455-81ad-bdce0a435df7",
        "name": "Parse AI Response"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Normalize incoming data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize incoming data": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Map Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fail Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map Fields": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Parse AI Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          []
        ]
      },
      "Fail Respond to Webhook": {
        "main": [
          []
        ]
      },
      "Parse AI Response": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Success Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Christine Kam",
    "name": "Version 1617cf13",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-12-23T16:24:20.266Z",
        "id": 91,
        "workflowId": "yqapTUQMIUnzdVkI",
        "versionId": "1617cf13-bb5a-475e-b6a1-a74c26a12e33",
        "event": "activated",
        "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b"
      },
      {
        "createdAt": "2025-12-24T01:38:31.347Z",
        "id": 93,
        "workflowId": "yqapTUQMIUnzdVkI",
        "versionId": "1617cf13-bb5a-475e-b6a1-a74c26a12e33",
        "event": "activated",
        "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b"
      },
      {
        "createdAt": "2025-12-23T16:33:56.144Z",
        "id": 92,
        "workflowId": "yqapTUQMIUnzdVkI",
        "versionId": "1617cf13-bb5a-475e-b6a1-a74c26a12e33",
        "event": "deactivated",
        "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b"
      }
    ]
  }
}