workflows/Credentials 02- Slack.json
{
  "updatedAt": "2025-11-16T13:31:02.000Z",
  "createdAt": "2025-11-16T01:33:57.307Z",
  "id": "ZwjGOdSLvNlPoB1E",
  "name": "Credentials/ 02- Slack",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        -208
      ],
      "id": "65e69f08-deeb-4665-9ca7-6d2305b8a415",
      "name": "Slack Trigger",
      "webhookId": "ca5ebc65-4365-4e36-8e8f-6f47e59e055a",
      "credentials": {
        "slackApi": {
          "id": "2f880opdk3SzZNJg",
          "name": "WR: Slack Trigger Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI assistant that lives in a Slack workspace.\n\nYour job:\n- Have friendly, helpful conversations with users.\n- Always respond as a helpful coworker, not a robot.\n- Your answer will be sent as a *thread reply* to the user’s original message.\n\nAvailable tool:\n- \"Get Thread Messages\": use this tool to fetch the existing Slack thread so you can see previous messages and maintain context.\n  - Call this when the user’s message seems to be a follow-up, unclear, or missing context.\n  - After you read the thread, respond based on the full conversation, not just the last message.\n\nReply rules:\n1. **Always assume your reply will be posted in the same thread** as the message with the given timestamp.\n   - Do NOT output channel IDs, thread_ts, or any metadata — only the message text itself.\n2. Be concise and clear. Prefer short paragraphs and bullet points when helpful.\n3. If something is ambiguous, ask a short clarifying question instead of guessing.\n4. Use the user’s name naturally once at the start if it feels appropriate.\n5. Do not mention tools or internal implementation details in your reply.\n\nContext:\n- User Id: {{ $json.user }}\n- User first name: {{ $json.profile.first_name }}\n- Channel ID: {{ $json.channel }}\n- Thread user timestamp: {{ $json.ts }}\n- User message: {{ $json.text }}\n- \n\nGiven the user message and the context above, decide whether you need to call \"Get Thread Messages\". \nThen, write the best possible reply that should be posted as a Slack thread message.\n\n\n",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        96,
        -208
      ],
      "id": "25c4b9a2-0ea3-4358-828b-1516b12c05fb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -64,
        96
      ],
      "id": "a699437e-302f-495a-ba4d-20084017456e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "y50JkhvigpefblfD",
          "name": "WR: Google Gemini(PaLM) API Cccount"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "266f36f3-796e-4bb1-b176-679ce846e4c9",
              "leftValue": "={{ $json.bot_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        -80
      ],
      "id": "ecf77259-2e27-46d9-b377-c18fe506229d",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09T54VDHC6",
          "mode": "list",
          "cachedResultName": "new-channel"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Edit Fields').item.json.timestamp }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        448,
        -208
      ],
      "id": "36143e67-adff-42e0-a6a3-a610a1076036",
      "name": "send message and reply to a thread",
      "webhookId": "4c0e1b93-3ffb-40c5-b5c0-97fea5887d93",
      "credentials": {
        "slackOAuth2Api": {
          "id": "QijDqsPqSpMnEZMR",
          "name": "WR: Slack Send Acount"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4804c23-17f9-421c-b83d-999c37b995fc",
              "name": "ts",
              "value": "={{ $('Slack Trigger').item.json.ts }}",
              "type": "string"
            },
            {
              "id": "737c2960-5b6d-4038-9fb5-8be3264ad104",
              "name": "user",
              "value": "={{ $('Slack Trigger').item.json.user }}",
              "type": "string"
            },
            {
              "id": "48c2e380-aff8-4e9b-ba3e-8ad84408d3c5",
              "name": "channel",
              "value": "={{ $('Slack Trigger').item.json.channel }}",
              "type": "string"
            },
            {
              "id": "d3fdad1d-c371-4dc3-b3f6-c27c27090099",
              "name": "text",
              "value": "={{ $('Slack Trigger').item.json.text }}",
              "type": "string"
            },
            {
              "id": "71dca8bb-2fea-49e4-82cf-ddf5ea411423",
              "name": "profile.first_name",
              "value": "={{ $json.profile.first_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -208
      ],
      "id": "f442f133-af8c-4e0c-b067-b0f7dfc943fe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "user",
        "user": {
          "__rl": true,
          "value": "={{ $json.user }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -352,
        -208
      ],
      "id": "552a3afc-9aca-4d93-869b-51d90f6523e6",
      "name": "Get information about a user",
      "webhookId": "5d9c050a-7ac9-4325-a06e-4b828f954c69",
      "credentials": {
        "slackOAuth2Api": {
          "id": "QijDqsPqSpMnEZMR",
          "name": "WR: Slack Send Acount"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Slack Trigger').item.json.user }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        144
      ],
      "id": "fec7c275-e163-40e6-9412-5c66f3a1df79",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "send message and reply to a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get information about a user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send message and reply to a thread": {
      "main": [
        []
      ]
    },
    "Get information about a user": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fd9a76cc-ad78-4481-84cc-ec1f669e1f96",
  "activeVersionId": null,
  "versionCounter": 71,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-16T01:33:57.309Z",
      "createdAt": "2025-11-16T01:33:57.309Z",
      "role": "workflow:owner",
      "workflowId": "ZwjGOdSLvNlPoB1E",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T07:49:25.938Z",
            "createdAt": "2025-11-14T07:49:25.938Z",
            "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
            "projectId": "6TsYTzg0HY92xH2K",
            "user": {
              "updatedAt": "2026-02-10T14:01:06.000Z",
              "createdAt": "2025-11-14T07:49:14.641Z",
              "id": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
              "email": "windowrevival@gmail.com",
              "firstName": "Christine",
              "lastName": "Kam",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T08:34:38.735Z",
                "personalization_survey_n8n_version": "1.119.1",
                "automationGoalDevops": [
                  "reporting",
                  "other"
                ],
                "automationGoalDevopsOther": "Automate all apps",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZwjGOdSLvNlPoB1E",
                "userActivatedAt": 1763281773859,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763554974919
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}