workflows/shopifyOrderProcessing.json
{
  "updatedAt": "2026-02-11T02:54:46.738Z",
  "createdAt": "2026-02-06T02:20:23.306Z",
  "id": "yav83o77JqsrDHYfDUUE1",
  "name": "shopifyOrderProcessing",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "topic": "orders/create"
      },
      "type": "n8n-nodes-base.shopifyTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "efd33a50-0eab-46f9-82a1-289f3f120214",
      "name": "Shopify Trigger",
      "webhookId": "83c233d3-89f5-43b4-a2f6-01e51de3d057",
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "GM2UhKe3UQoTJHft",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const order = $json;\n\nconst orderDate = new Date(order.created_at).toLocaleDateString('en-AU', {\n  day: '2-digit',\n  month: 'long',\n  year: 'numeric',\n});\n\nconst shipping = order.shipping_address || {};\nconst billing = order.billing_address || {};\n\nconst CHARS_PER_LINE = 55;\n\n// Wrap text into exactly N lines (word-wrapping), each up to CHARS_PER_LINE.\n// Truncates anything beyond N lines.\nfunction wrapToFixedLines(text, charsPerLine, maxLines) {\n  const words = String(text || '')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .split(' ')\n    .filter(Boolean);\n\n  const lines = [];\n  let current = '';\n\n  for (const w of words) {\n    const next = current ? `${current} ${w}` : w;\n    if (next.length <= charsPerLine) {\n      current = next;\n    } else {\n      lines.push(current || w);\n      current = w;\n      if (lines.length === maxLines) break;\n    }\n  }\n\n  if (lines.length < maxLines && current) lines.push(current);\n\n  // Pad with blanks to exactly maxLines\n  while (lines.length < maxLines) lines.push('');\n\n  // Truncate to exactly maxLines\n  return lines.slice(0, maxLines);\n}\n\nconst lineItems = [];\nconst skus = [];\nconst quantities = [];\nconst variantIds = [];          // <- NEW (formatted 2-line blocks)\nconst variantIdsRaw = [];       // <- NEW (raw list, handy for GraphQL later)\n\n(order.line_items || []).forEach((li) => {\n  const title = li.title || li.name || '';\n  const sku = li.sku && li.sku.trim() ? li.sku.trim() : 'n/a';\n  const qty = String(li.quantity ?? '');\n\n  // Shopify line_item.variant_id can be null (e.g., custom items)\n  const variantId =\n    li.variant_id !== null && li.variant_id !== undefined && String(li.variant_id).trim() !== ''\n      ? String(li.variant_id).trim()\n      : 'n/a';\n\n  // Title column: exactly 2 lines per item\n  const titleLines = wrapToFixedLines(title, CHARS_PER_LINE, 2);\n  lineItems.push(`${titleLines[0]}\\n${titleLines[1]}`);\n\n  // SKU column: exactly 2 lines per item (SKU then blank)\n  skus.push(`${sku}\\n`);\n\n  // Quantity column: exactly 2 lines per item (qty then blank)\n  quantities.push(`${qty}\\n`);\n\n  // Variant ID column: exactly 2 lines per item (variant_id then blank)\n  variantIds.push(`${variantId}\\n`);\n\n  // Raw list for GraphQL mapping (keep original numeric/string if present, else null)\n  variantIdsRaw.push(\n    li.variant_id !== null && li.variant_id !== undefined ? li.variant_id : null\n  );\n});\n\nreturn {\n  json: {\n    order_number: order.name,\n    order_date: orderDate,\n\n    shipping_name: shipping.name || '',\n    shipping_address: [\n      shipping.address1,\n      shipping.address2,\n      [shipping.city, shipping.province, shipping.zip].filter(Boolean).join(' '),\n      shipping.country,\n    ]\n      .filter(Boolean)\n      .join('\\n'),\n\n    billing_name: billing.name || '',\n    billing_address: [\n      billing.address1,\n      billing.address2,\n      [billing.city, billing.province, billing.province, billing.zip].filter(Boolean).join(' '),\n      billing.country,\n    ]\n      .filter(Boolean)\n      .join('\\n'),\n\n    // Each item block is exactly 2 lines (titles), with SKU + QTY + VariantID aligned to 2 lines too\n    line_items: lineItems.join('\\n\\n'),\n    line_item_sku: skus.join('\\n\\n'),\n    line_item_quantities: quantities.join('\\n\\n'),\n\n    // NEW outputs\n    line_item_variant_ids: variantIds.join('\\n\\n'),\n    line_item_variant_ids_raw: variantIdsRaw,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "6d34b5fd-3ec3-4b25-aa58-7f2e334eb004",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "=1n-mW2zeZ9gxowNPQA7Lr2X6R-VjDJUdl70eKXxmqbqU"
        },
        "name": "={{ $json.order_number }} Packing Slip",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/14aUnJ12fJfTE3XkBpvEIZneJsgNibl4S",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        -272
      ],
      "id": "fd59165a-b4f3-428e-9c18-394a887c5e52",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ukMqhBlcAttN3yTg",
          "name": "WR: Google Drive account Shop"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{order_number}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.order_number }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{order_date}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.order_date }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{shipping_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.shipping_name }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{shipping_address}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.shipping_address }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{billing_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.billing_name }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{billing_address}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.billing_address }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{line_items}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.line_items }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{line_item_quantities}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.line_item_quantities }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{line_item_sku}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.line_item_sku }}",
              "matchCase": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        640,
        -272
      ],
      "id": "616c6c56-47e0-414b-a8dc-3657e0b3e3a3",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7hqPnkkybGiEUtlG",
          "name": "WR: Google Docs account Shop"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          },
          "fileName": "={{ $('Copy file').item.json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        -272
      ],
      "id": "f7d4deb1-5e7a-44a0-919f-e24249940f58",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ukMqhBlcAttN3yTg",
          "name": "WR: Google Drive account Shop"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Copy file').item.json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/14aUnJ12fJfTE3XkBpvEIZneJsgNibl4S",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        928,
        -272
      ],
      "id": "15bc8ae3-b609-4bc5-8d39-998ac94ac1d6",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ukMqhBlcAttN3yTg",
          "name": "WR: Google Drive account Shop"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        -272
      ],
      "id": "b8e80338-c701-401f-a310-c8937889b37e",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ukMqhBlcAttN3yTg",
          "name": "WR: Google Drive account Shop"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Saoy_4dBYP6pOevexzFizFDmkFt-6ARlmwRvYPzGtWU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "2095084692"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_no": "={{ $('Code in JavaScript').item.json.order_number }}",
            "status": "⚫ Pending",
            "ordered": "={{ $('Code in JavaScript').item.json.order_date }}",
            "name": "={{ $('Code in JavaScript').item.json.shipping_name }}",
            "packing_slip": "={{ $('Upload file').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "order_no"
          ],
          "schema": [
            {
              "id": "ordered",
              "displayName": "ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order_no",
              "displayName": "order_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "track",
              "displayName": "track",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "label_created",
              "displayName": "label_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dispatched_date",
              "displayName": "dispatched_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fulfilled_date",
              "displayName": "fulfilled_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tracking_number",
              "displayName": "tracking_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "delivered_date",
              "displayName": "delivered_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "packing_slip",
              "displayName": "packing_slip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "shipping_label",
              "displayName": "shipping_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tax_invoice",
              "displayName": "tax_invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tracking_link",
              "displayName": "tracking_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "working_days_to_resolve",
              "displayName": "working_days_to_resolve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "working_days_to_deliver",
              "displayName": "working_days_to_deliver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "send_by",
              "displayName": "send_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 3,
              "firstDataRow": 6
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        -272
      ],
      "id": "ec017923-839a-4eea-9b68-cf2f996143a8",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iNsBYYAG0CoB29qK",
          "name": "WR: Google Sheets Shop"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1360,
        -272
      ],
      "id": "3ad774c7-6f4b-44df-bc41-15537cf8af95",
      "name": "Send a message",
      "webhookId": "2762130f-381e-41a1-aba9-8acfecc791ff",
      "credentials": {
        "discordBotApi": {
          "id": "a0FDlWFh8PBA5Add",
          "name": "WR: Discord Bot Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "product",
        "operation": "get",
        "productId": "={{ $json.line_items[0].product_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.shopify",
      "typeVersion": 1,
      "position": [
        256,
        272
      ],
      "id": "b0c139ca-8e92-46c4-9c39-c654b9d8cac1",
      "name": "Get a product",
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "GM2UhKe3UQoTJHft",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://window-revival-shop.myshopify.com/admin/api/2026-01/graphql.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=={{\n  query: `query VariantMainImages($ids: [ID!]!) {\n    nodes(ids: $ids) {\n      ... on ProductVariant {\n        id\n        product {\n          featuredMedia {\n            __typename\n            ... on MediaImage {\n              image { url }\n            }\n          }\n        }\n      }\n    }\n  }`,\n  variables: {\n    ids: $json.variant_gids\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        0
      ],
      "id": "83af7e0c-2aef-40c8-86c3-d957c383423d",
      "name": "HTTP Request",
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "GM2UhKe3UQoTJHft",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const variantIds = $json.line_item_variant_ids_raw || [];\n\nconst gids = variantIds.map(id => \n  `gid://shopify/ProductVariant/${id}`\n);\n\nreturn {\n  json: {\n    ...$json,\n    variant_gids: gids\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        0
      ],
      "id": "6121cb5b-1189-4075-8c4b-8114ab924e99",
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "Shopify Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "baf9e567-7d65-4908-831e-ac53d1a9e2aa",
  "activeVersionId": null,
  "versionCounter": 452,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-06T02:20:23.309Z",
      "createdAt": "2026-02-06T02:20:23.309Z",
      "role": "workflow:owner",
      "workflowId": "yav83o77JqsrDHYfDUUE1",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T07:49:25.938Z",
            "createdAt": "2025-11-14T07:49:25.938Z",
            "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
            "projectId": "6TsYTzg0HY92xH2K",
            "user": {
              "updatedAt": "2026-02-10T14:01:06.000Z",
              "createdAt": "2025-11-14T07:49:14.641Z",
              "id": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
              "email": "windowrevival@gmail.com",
              "firstName": "Christine",
              "lastName": "Kam",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T08:34:38.735Z",
                "personalization_survey_n8n_version": "1.119.1",
                "automationGoalDevops": [
                  "reporting",
                  "other"
                ],
                "automationGoalDevopsOther": "Automate all apps",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZwjGOdSLvNlPoB1E",
                "userActivatedAt": 1763281773859,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763554974919
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}