workflows/shopifyOrderProcessing.json
{
  "updatedAt": "2026-02-11T06:01:40.791Z",
  "createdAt": "2026-02-06T02:20:23.306Z",
  "id": "yav83o77JqsrDHYfDUUE1",
  "name": "shopifyOrderProcessing",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "topic": "orders/create"
      },
      "type": "n8n-nodes-base.shopifyTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -64
      ],
      "id": "efd33a50-0eab-46f9-82a1-289f3f120214",
      "name": "Shopify Trigger",
      "webhookId": "83c233d3-89f5-43b4-a2f6-01e51de3d057",
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "GM2UhKe3UQoTJHft",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const order = $json;\n\nconst orderDate = new Date(order.created_at).toLocaleDateString('en-AU', {\n  day: '2-digit',\n  month: 'long',\n  year: 'numeric',\n});\n\nconst shipping = order.shipping_address || {};\nconst billing = order.billing_address || {};\n\n// Structured items array (this drives everything now)\nconst line_items_structured = [];\nconst variant_ids = [];\n\n(order.line_items || []).forEach((li) => {\n\n  const title = (li.title || li.name || '').trim();\n  const sku = li.sku && String(li.sku).trim() ? String(li.sku).trim() : 'n/a';\n  const quantity = li.quantity ?? 0;\n\n  const variant_id =\n    li.variant_id !== null &&\n    li.variant_id !== undefined &&\n    Number.isFinite(Number(li.variant_id))\n      ? Number(li.variant_id)\n      : null;\n\n  if (variant_id) {\n    variant_ids.push(variant_id);\n  }\n\n  line_items_structured.push({\n    title,\n    sku,\n    quantity,\n    variant_id,\n    variant_gid: variant_id\n      ? `gid://shopify/ProductVariant/${variant_id}`\n      : null,\n    image_url: null // will be added later\n  });\n});\n\n// Deduplicate variant IDs for GraphQL\nconst variant_ids_unique = [...new Set(variant_ids)];\nconst variant_gids_unique = variant_ids_unique.map(\n  id => `gid://shopify/ProductVariant/${id}`\n);\n\nreturn {\n  json: {\n    order_id: order.id,\n    order_number: order.name,\n    order_date: orderDate,\n\n    shipping_name: shipping.name || '',\n    shipping_address: [\n      shipping.address1,\n      shipping.address2,\n      [shipping.city, shipping.province, shipping.zip].filter(Boolean).join(' '),\n      shipping.country,\n    ]\n      .filter(Boolean)\n      .join('\\n'),\n\n    billing_name: billing.name || '',\n    billing_address: [\n      billing.address1,\n      billing.address2,\n      [billing.city, billing.province, billing.zip].filter(Boolean).join(' '),\n      billing.country,\n    ]\n      .filter(Boolean)\n      .join('\\n'),\n\n    // This is now your single source of truth\n    line_items_structured,\n\n    // For Shopify GraphQL step\n    variant_ids_unique,\n    variant_gids_unique,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -64
      ],
      "id": "6d34b5fd-3ec3-4b25-aa58-7f2e334eb004",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "=1n-mW2zeZ9gxowNPQA7Lr2X6R-VjDJUdl70eKXxmqbqU"
        },
        "name": "={{ $json.order_number }} Packing Slip",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/14aUnJ12fJfTE3XkBpvEIZneJsgNibl4S",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        368,
        -64
      ],
      "id": "fd59165a-b4f3-428e-9c18-394a887c5e52",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ukMqhBlcAttN3yTg",
          "name": "WR: Google Drive account Shop"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{order_number}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.order_number }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{order_date}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.order_date }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{shipping_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.shipping_name }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{shipping_address}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.shipping_address }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{billing_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.billing_name }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{billing_address}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.billing_address }}",
              "matchCase": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        512,
        -64
      ],
      "id": "616c6c56-47e0-414b-a8dc-3657e0b3e3a3",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7hqPnkkybGiEUtlG",
          "name": "WR: Google Docs account Shop"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          },
          "fileName": "={{ $('Copy file').item.json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1232,
        -64
      ],
      "id": "f7d4deb1-5e7a-44a0-919f-e24249940f58",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ukMqhBlcAttN3yTg",
          "name": "WR: Google Drive account Shop"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Copy file').item.json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/14aUnJ12fJfTE3XkBpvEIZneJsgNibl4S",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1376,
        -64
      ],
      "id": "15bc8ae3-b609-4bc5-8d39-998ac94ac1d6",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ukMqhBlcAttN3yTg",
          "name": "WR: Google Drive account Shop"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        -64
      ],
      "id": "b8e80338-c701-401f-a310-c8937889b37e",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ukMqhBlcAttN3yTg",
          "name": "WR: Google Drive account Shop"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Saoy_4dBYP6pOevexzFizFDmkFt-6ARlmwRvYPzGtWU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "2095084692"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_no": "={{ $('Code in JavaScript').item.json.order_number }}",
            "status": "⚫ Pending",
            "ordered": "={{ $('Code in JavaScript').item.json.order_date }}",
            "name": "={{ $('Code in JavaScript').item.json.shipping_name }}",
            "packing_slip": "={{ $('Upload file').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "order_no"
          ],
          "schema": [
            {
              "id": "ordered",
              "displayName": "ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order_no",
              "displayName": "order_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "track",
              "displayName": "track",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "label_created",
              "displayName": "label_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dispatched_date",
              "displayName": "dispatched_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fulfilled_date",
              "displayName": "fulfilled_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tracking_number",
              "displayName": "tracking_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "delivered_date",
              "displayName": "delivered_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "packing_slip",
              "displayName": "packing_slip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "shipping_label",
              "displayName": "shipping_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tax_invoice",
              "displayName": "tax_invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tracking_link",
              "displayName": "tracking_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "working_days_to_resolve",
              "displayName": "working_days_to_resolve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "working_days_to_deliver",
              "displayName": "working_days_to_deliver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "send_by",
              "displayName": "send_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 3,
              "firstDataRow": 6
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1664,
        -64
      ],
      "id": "ec017923-839a-4eea-9b68-cf2f996143a8",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iNsBYYAG0CoB29qK",
          "name": "WR: Google Sheets Shop"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1808,
        -64
      ],
      "id": "3ad774c7-6f4b-44df-bc41-15537cf8af95",
      "name": "Send a message",
      "webhookId": "2762130f-381e-41a1-aba9-8acfecc791ff",
      "credentials": {
        "discordBotApi": {
          "id": "a0FDlWFh8PBA5Add",
          "name": "WR: Discord Bot Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://window-revival-shop.myshopify.com/admin/api/2026-01/graphql.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query VariantMainImages($ids: [ID!]!) { nodes(ids: $ids) { ... on ProductVariant { id product { id title featuredMedia { __typename ... on MediaImage { image { url } } } } } } }\",\n  \"variables\": {\n    \"ids\": {{ $json.variant_gids_unique.toJsonString() }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        -64
      ],
      "id": "83af7e0c-2aef-40c8-86c3-d957c383423d",
      "name": "HTTP Request",
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "GM2UhKe3UQoTJHft",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1) Get the original extracted order payload from your earlier Code node\n// IMPORTANT: use the exact node name as shown in your workflow\nconst base = $('Code in JavaScript').first().json;\n\n// 2) Get GraphQL nodes from the HTTP Request output (this node’s $json)\nconst nodes = $json?.data?.nodes || [];\n\n// 3) Build map: variant_gid -> image_url\nconst variantImageMap = {};\n\nfor (const n of nodes) {\n  if (!n?.id) continue;\n\n  const media = n.product?.featuredMedia;\n  let url = null;\n\n  if (media?.__typename === 'MediaImage') {\n    url = media.image?.url ?? null;\n  }\n\n  variantImageMap[n.id] = url;\n}\n\n// 4) Enrich structured items\nconst enriched = (base.line_items_structured || []).map((li) => ({\n  ...li,\n  image_url: li.variant_gid ? (variantImageMap[li.variant_gid] ?? null) : null,\n}));\n\n// 5) Return the original payload + enriched items\nreturn [\n  {\n    json: {\n      ...base,\n      line_items_structured: enriched,\n      variantImageMap, // optional (handy for debugging)\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -64
      ],
      "id": "b9fb878c-97d6-446a-8f52-ac058b063ed5",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.documentId }}",
        "simple": false
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        656,
        -64
      ],
      "id": "b5f44dc5-d89d-43e4-8788-8447d97b3c01",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7hqPnkkybGiEUtlG",
          "name": "WR: Google Docs account Shop"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node\n// Inputs expected on $json / via selectors you already use:\n// - documentId (string)\n// - anchorStartIndex (number)\n// - anchorEndIndex (number)\n// - items array (line_items_structured)\n\nconst documentId = $('Update a document').first().json.documentId;\n\n// NOTE: you are currently hardcoding content[8] — keep if that's stable,\n// but it’s safer to find the {{anchor}} paragraph dynamically.\n// Leaving your existing approach as requested:\nconst anchorStartIndex = $input.first().json.body.content[8].paragraph.elements[0].startIndex;\nconst anchorEndIndex = $input.first().json.body.content[8].paragraph.elements[0].endIndex;\n\nconst items = $('Code in JavaScript2').first().json.line_items_structured || [];\n\nif (!documentId) throw new Error(\"Missing documentId\");\nif (!anchorStartIndex || !anchorEndIndex) throw new Error(\"Missing anchor indices\");\n\nconst requests = [];\nconst reversed = [...items].reverse();\n\n// Helper: decide whether SKU should be shown\nfunction hasRealSku(rawSku) {\n  if (rawSku === null || rawSku === undefined) return false;\n  const s = String(rawSku).trim();\n  if (!s) return false;\n  // treat these as \"no sku\"\n  const lowered = s.toLowerCase();\n  if (lowered === \"n/a\" || lowered === \"na\" || lowered === \"none\" || lowered === \"null\" || lowered === \"-\") return false;\n  return true;\n}\n\nfor (const item of reversed) {\n  const qty = (item.quantity ?? \"\").toString().trim() || \"0\";\n  const title = (item.title ?? \"\").toString().trim() || \"\";\n  const imageUrl = (item.image_url ?? \"\").toString().trim();\n\n  // Build the first line (SKU optional)\n  const skuLine = hasRealSku(item.sku)\n    ? `SKU: ${String(item.sku).trim()}     QTY: ${qty}\\n`\n    : `QTY: ${qty}\\n`;\n\n  // Insert at a single index. To get final visual order:\n  // SKU/QTY line\n  // TITLE\n  // IMAGE\n  // (SPACE)\n  // ...we add in reverse: SPACE, IMAGE(+newline), TITLE, SKU/QTY\n  requests.push({\n    insertText: {\n      location: { index: anchorStartIndex },\n      text: \"\\n\", // (SPACE)\n    },\n  });\n\n  if (imageUrl) {\n    requests.push({\n      insertText: {\n        location: { index: anchorStartIndex },\n        text: \"\\n\", // newline after image\n      },\n    });\n    requests.push({\n      insertInlineImage: {\n        location: { index: anchorStartIndex },\n        uri: imageUrl,\n        objectSize: {\n          height: { magnitude: 100, unit: \"PT\" },\n          width: { magnitude: 100, unit: \"PT\" },\n        },\n      },\n    });\n  }\n\n  requests.push({\n    insertText: {\n      location: { index: anchorStartIndex },\n      text: `${title}\\n`,\n    },\n  });\n\n  requests.push({\n    insertText: {\n      location: { index: anchorStartIndex },\n      text: skuLine,\n    },\n  });\n}\n\nreturn [\n  {\n    json: {\n      documentId,\n      requests,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -64
      ],
      "id": "9afa97bd-1991-43cc-9e8f-e01dd8ed6dc0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{$json.documentId}}:batchUpdate\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requests: $json.requests }) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        944,
        -64
      ],
      "id": "0d202316-f7d5-4633-9166-8bfa77741bd0",
      "name": "HTTP Request1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7hqPnkkybGiEUtlG",
          "name": "WR: Google Docs account Shop"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Update a document').item.json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{anchor}}",
              "matchCase": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1088,
        -64
      ],
      "id": "e927030a-e1c5-4ae0-bc69-9f9fcd2bd8bc",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7hqPnkkybGiEUtlG",
          "name": "WR: Google Docs account Shop"
        }
      }
    }
  ],
  "connections": {
    "Shopify Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bd432df1-572e-4022-ae3a-bb8f814a3169",
  "activeVersionId": null,
  "versionCounter": 598,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-06T02:20:23.309Z",
      "createdAt": "2026-02-06T02:20:23.309Z",
      "role": "workflow:owner",
      "workflowId": "yav83o77JqsrDHYfDUUE1",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T07:49:25.938Z",
            "createdAt": "2025-11-14T07:49:25.938Z",
            "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
            "projectId": "6TsYTzg0HY92xH2K",
            "user": {
              "updatedAt": "2026-02-10T14:01:06.000Z",
              "createdAt": "2025-11-14T07:49:14.641Z",
              "id": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
              "email": "windowrevival@gmail.com",
              "firstName": "Christine",
              "lastName": "Kam",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T08:34:38.735Z",
                "personalization_survey_n8n_version": "1.119.1",
                "automationGoalDevops": [
                  "reporting",
                  "other"
                ],
                "automationGoalDevopsOther": "Automate all apps",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZwjGOdSLvNlPoB1E",
                "userActivatedAt": 1763281773859,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763554974919
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}